<i18n>
{
  "fr": {
    "titre": " Décryptage #1",
    "date": "10 décembre 2020",
    "intro1": "Le collectif <em>Labos 1point5</em>, avec pour objectif de <strong>faire progresser la réflexion individuelle et collective</strong>, se penche sur des publications scientifiques.<br/>Retrouvez dans cette rubrique les décryptages de publications scientifiques sur l'empreinte environnementale des activités de recherche.",
    "intro2": "Ce décryptage #1 s'intéresse aux <strong>déplacements</strong>, la \"publication\" étudiée est accessible <a class='link' target='_blank' href='https://biblio.ugent.be/publication/8563942'>ici</a>, il est consultable ci-dessous ou téléchargeable au format <a class='link' href='/static/decryptages/201210_L1P5_Decryptage1.pdf'>PDF</a>.",
    "sous_title1": "Etudier la mobilité durable... des autres ?",
    "1_decryp_pdf": "/static/decryptages/201210_L1P5_Decryptage1.pdf",
    "sous_title2": "Décryptage #1 - Carte mentale",
    "1_decryp_png": "/static/decryptages/201210_L1P5_Decryptage1_CarteMentale.png"
  },
  "en": {
    "titre": " Decyphering #1",
    "date": "10 december 2020",
    "intro1": "The <em>Labos 1point5</em> collective, with the aim of <strong>advancing individual and collective reflection</strong>, is looking at scientific publications. <br/>Find in this section the decyphering of scientific publications on the environmental footprint of research activities.",
    "intro2": "This decyphering #1 focuses on <strong>travel</strong>, the \"publication\" studied is accessible <a class='link' target='_blank' href='https://biblio.ugent.be/publication/8563942'>here</a>, it can be consulted below or downloaded in <a class='link' href='/static/decryptages/201210_L1P5_Decryptage1_ENG.pdf'>PDF</a> format.",
    "sous_title1": "Studying sustainable mobility... but whose mobility?",
    "1_decryp_pdf": "/static/decryptages/201210_L1P5_Decryptage1_ENG.pdf",
    "sous_title2": "Decyphering #1 - Mind map",
    "1_decryp_png": "/static/decryptages/201210_L1P5_Decryptage1_MindMap.png"
  }
}
</i18n>

<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            <div class="columns">
              <div class="column" v-html="$t('intro1')"></div>
              <div class="column" v-html="$t('intro2')"></div>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-search"></i> <span v-html="$t('sous_title1')"/>
          </h2>
          <object
            :data="$t('1_decryp_pdf')"
            type='application/pdf'
            style='min-height:1200px;width:100%;border:1px solid lightgray;border-radius:10px;'>
            <p>
              It appears you don't have a PDF plugin for this browser... <br/>
              You can <a class='link' :href="$t('1_decryp_pdf')">click here to download the PDF file.</a>
            </p>
          </object>

          <h2 class="title is-4 h2-news" style="margin-top:40px">
            <i class="sui sui-map"></i> <span v-html="$t('sous_title2')"/>
          </h2>
          <div class="column" style="height: 600px;border:1px solid lightgray;border-radius:10px;background-color: #f9f9f9;">
            <a @click="displayN1_carte=true" style="cursor:zoom-in">
              <img :src="$t('1_decryp_png')"/>
            </a>
          </div>
           <b-modal
            :active.sync="displayN1_carte"
            has-modal-card
            style="z-index:9999"
            width="1500px"
          >
            <div class="modal-card" style="width:1500px;z-index:9999">
              <header class="modal-card-head">
                <p class="modal-card-title" v-html="$t('sous_title2')"></p>
              </header>
              <section class="modal-card-body">
                <img :src="$t('1_decryp_png')"/>
              </section>
            </div>
          </b-modal>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> <span v-html="$t('titre')"></span>
            - <em>Labos 1point5</em> - <span v-html="$t('date')"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'PosterEcoInfo',
  data () {
    return {
      displayN1_carte: false
    }
  }
}
</script>

<style>
</style>
