<template>
  <div>
    <su-service :icon="'database'">
      <template #title>
        Demandes d'accès aux données de <em>GES 1point5</em>
      </template>
      <p>
        L'ensemble des demandes d'accès aux données de <em>GES 1point5</em> par des membres
        du GDR sont listées dans le tableau suivant. A la validation, un email est envoyé
        au membre avec l'ensemble des informations lui permettant d'accèder aux données.
      </p>
    </su-service>
    <br />
    <b-table
      :data="members"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="50"
    >
      <b-table-column field= "hasDataAccess" sortable label="Validité" centered v-slot="props">
        <b-tag rounded v-if="props.row.hasDataAccess" type="is-success">Accepté</b-tag>
        <b-tag rounded v-else>En attente</b-tag>
      </b-table-column>
      <b-table-column field= "email" sortable label="Email" centered v-slot="props">
        {{ props.row.email }}
      </b-table-column>
      <b-table-column field= "nom" sortable label="Nom" centered v-slot="props">
        {{ props.row.nom }}
      </b-table-column>
      <b-table-column field= "prenom" sortable label="Prénom" centered v-slot="props">
        {{ props.row.prenom }}
      </b-table-column>
      <b-table-column field= "equipes" sortable label="Equipes" centered v-slot="props">
        {{ props.row.equipes.join(', ') }}
      </b-table-column>
      <b-table-column field= "dataAccessMsg" sortable label="Motivation de la demande" centered v-slot="props">
        {{ props.row.dataAccessMsg }}
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-button
            size="is-small"
            icon-left="check"
            :disabled="props.row.hasDataAccess"
            @click="validateAccess(props.row)"
          />
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>Aucun membre</p>
        </div>
      </section>
    </b-table>
  </div>
</template>

<script>
import userService from '@/services/userService'
import { mapGetters } from 'vuex'

export default {
  name: 'DataAccessAdmin',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  data () {
    return {
      members: []
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated'])
  },
  methods: {
    validateAccess (member) {
      let self = this
      this.$buefy.dialog.confirm({
        title: 'Validation',
        message: 'Êtes vous sûr de vouloir valider l\'accès aux données de ce membre ?',
        confirmText: 'Valider',
        cancelText: 'Annuler',
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          userService.validateAccess({
            email: member.email
          })
            .then(data => {
              self.members = data
              loadingComponent.close()
            })
            .catch((erreur) => {
              loadingComponent.close()
            })
        }
      })
    }
  },
  mounted () {
    if (this.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      userService.getDataAccess()
        .then(data => {
          this.members = data
          loadingComponent.close()
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    }
  }
}
</script>

<style lang="css">
.table td {
  vertical-align: middle !important;
}
</style>
