<template>
  <div>
    <su-service :icon="'users'">
      <template #title>
        Membres du GDR
      </template>
      <p>
        L'ensemble des membres du GDR sont listés dans le tableau suivant.
      </p>
    </su-service>
    <br />
    <b-table
      :data="allGDRMembres"
      :striped="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="50"
      default-sort="isValid"
      detailed
      detail-transition="fade"
    >
      <b-table-column field= "valid" sortable label="Validité" centered v-slot="props">
        <b-tag rounded v-if="props.row.unaccepted" type="is-danger">Refusé</b-tag>
        <b-tag rounded v-else-if="props.row.valid" type="is-success">Valide</b-tag>
        <b-tag rounded v-else type="is-warning">Non valide</b-tag>
      </b-table-column>
      <b-table-column field= "date" sortable label="Date" centered v-slot="props">
        {{ props.row.date }}
      </b-table-column>
      <b-table-column field= "email" searchable sortable label="Email" centered v-slot="props">
        {{ props.row.email }}
      </b-table-column>
      <b-table-column field= "nom" searchable sortable label="Nom" centered v-slot="props">
        {{ props.row.nom }}
      </b-table-column>
      <b-table-column field= "prenom" searchable sortable label="Prénom" centered v-slot="props">
        {{ props.row.prenom }}
      </b-table-column>
      <b-table-column field= "percETP" searchable sortable label="% ETP" centered v-slot="props">
        {{ props.row.percETP }}
      </b-table-column>
      <b-table-column field= "equipes" searchable sortable label="Equipes" centered v-slot="props">
        {{ props.row.equipes.join(', ') }}
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-button
            :disabled="props.row.valid || props.row.unaccepted"
            size="is-small"
            @click="validateMembre(props.row)"
          >
            <i class="sui sui-check" style="font-size: 16px;"></i>
          </b-button>
          <b-button
            :disabled="props.row.unaccepted"
            size="is-small"
            @click="unacceptMembre(props.row)"
          >
            <i class="sui sui-times" style="font-size: 16px;"></i>
          </b-button>
        </div>
      </b-table-column>
      <template #detail="props">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Statut :</strong> {{ props.row.statut.nom }}
                <br />
                <strong>Discipline :</strong> {{ props.row.disciplineCNU.nom }}
                <br />
                <strong>Laboratoire :</strong> {{ props.row.laboratoire }}
                <br />
                <strong>Tutelles :</strong> {{ props.row.tutelles.map(obj => obj.nom).join(', ') }}
              </p>
              <p v-if="props.row.msgEmpreinte">
                <strong>Message « Empreinte » :</strong> {{ props.row.msgEmpreinte }}
              </p>
              <p v-if="props.row.msgEnquete">
                <strong>Message « Enquêtes » :</strong> {{ props.row.msgEnquete }}
              </p>
              <p v-if="props.row.msgExperimentation">
                <strong>Message « Expérimentation » :</strong> {{ props.row.msgExperimentation }}
              </p>
              <p v-if="props.row.msgCommunication">
                <strong>Message « Communication » :</strong> {{ props.row.msgCommunication }}
              </p>
              <p v-if="props.row.msgTechnique">
                <strong>Message « Technique » :</strong> {{ props.row.msgTechnique }}
              </p>
              <p v-if="props.row.msgEnseignement">
                <strong>Message « Enseignement » :</strong> {{ props.row.msgEnseignement }}
              </p>
            </div>
          </div>
        </article>
      </template>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>Aucun membre</p>
        </div>
      </section>
    </b-table>
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="level-item"
            icon-left="download"
            type="is-primary"
            @click="exporter()"
          >
            Exporter
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import SUService from '@/components/SUService.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'GDRMembresAdmin',
  components: {
    'su-service': SUService
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    allGDRMembres: function () {
      return this.$store.getters['admin/allGDRMembres']
    }
  },
  mounted () {
    if (this.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.$store.dispatch('admin/getAllGDRMembres')
        .then(data => {
          loadingComponent.close()
        })
    }
  },
  methods: {
    unacceptMembre (membre) {
      let self = this
      this.$buefy.dialog.confirm({
        title: 'Refus',
        message: 'Êtes vous sûr de vouloir refuser l\'inscription de ce membre ?',
        confirmText: 'Valider',
        cancelText: 'Annuler',
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.$store.dispatch('admin/unacceptMembreGDR', membre)
            .then(data => {
              loadingComponent.close()
            })
        }
      })
    },
    validateMembre (membre) {
      let self = this
      this.$buefy.dialog.confirm({
        title: 'Validation',
        message: 'Êtes vous sûr de vouloir valider l\'inscription de ce membre ?',
        confirmText: 'Valider',
        cancelText: 'Annuler',
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.$store.dispatch('admin/validateMembreGDR', membre)
            .then(data => {
              loadingComponent.close()
            })
        }
      })
    },
    exporter: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += ['date', 'email', 'nom', 'prenom', 'ville', 'pays', 'percETP',
        'equipes', 'statut', 'disciplineCNU', 'tutelles', 'genre', 'anneeNaissance',
        'laboratoire', 'isInAnnuaire', 'valid', 'unaccepted'].join('\t') + '\n'
      csvContent += this.allGDRMembres.map(obj => {
        let value = obj.date + '\t' + obj.email + '\t' + obj.nom + '\t' + obj.prenom + '\t' + obj.ville
        value += '\t' + obj.pays + '\t' + obj.percETP + '\t' + obj.equipes.join(', ')
        try {
          value += '\t' + obj.statut.nom
        } catch {
          value += '\t'
        }
        try {
          value += '\t' + obj.disciplineCNU.nom
        } catch {
          value += '\t'
        }
        value += '\t' + obj.tutelles.map(obj => obj.nom).join(', ')
        try {
          value += '\t' + obj.genre.nom
        } catch {
          value += '\t'
        }
        value += '\t' + obj.anneeNaissance + '\t' + obj.laboratoire
        value += '\t' + obj.isInAnnuaire + '\t' + obj.valid + '\t' + obj.unaccepted
        return value
      })
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'membresGDRexport_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    }
  }
}
</script>
