<template>
  <div>
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          Charger les BGES pour lesquels les modules ont été soumis en sélectionnant sur
          votre droite les modules d'interêts.
          Pour charger l'ensemble des BGES, ne selectionnez aucun module.
          <br />
          Les données des BGES chargés peuvent alors être téléchargées en sélectionnant le
          type de données que vous souhaitez.
        </b-notification>
        <div class="columns">
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    #Bilans GES
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span>{{ allBGES.length }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column is-vcentered">
            <b-notification :closable="false">
              <b-dropdown
                :disabled="allBGES.length==0"
                v-model="cModule"
                aria-role="list"
                expanded
              >
                <template #trigger>
                  <b-button
                    :label="'Exporter ('+allBGES.length+' BGES)'"
                    expanded
                    icon-left="download"
                    icon-right="caret-down"
                  />
                </template>
                <b-dropdown-item
                  v-for="(module, index) in modules"
                  :key="index"
                  :value="module" aria-role="listitem">
                  <div class="media">
                    <b-icon class="media-left" :icon="module.icon"></b-icon>
                    <div class="media-content">
                      <h3>{{ module.text }}</h3>
                    </div>
                  </div>
                </b-dropdown-item>
              </b-dropdown>
            </b-notification>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <b-notification :closable="false">
          <b-checkbox v-model="buildingsSubmitted">
            Les batiments
          </b-checkbox>
          <br />
          <b-checkbox v-model="devicesSubmitted">
            Matériel informatique
          </b-checkbox>
          <br />
          <b-checkbox v-model="purchasesSubmitted">
            Les achats
          </b-checkbox>
          <br />
          <b-checkbox v-model="vehiclesSubmitted">
            Les véhicules
          </b-checkbox>
          <br />
          <b-checkbox v-model="travelsSubmitted">
            Les Missions
          </b-checkbox>
          <br />
          <b-checkbox v-model="commutesSubmitted">
            Les dpts domicile / travail
          </b-checkbox>
        </b-notification>
        <b-button
          label="Charger"
          type="is-primary"
          icon-left="cloud-download"
          @click="loadData"
          expanded
        />
      </div>
    </div>
    <br />
    <b-table
      :data="allBGES"
      :striped="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="50"
      default-sort="submitted"
      detailed
      detail-transition="fade"
    >
      <b-table-column field="annee" sortable label="Année" centered v-slot="props">
        {{ props.row.annee }}
      </b-table-column>
      <b-table-column field="laboratoire.nom" sortable label="Laboratoire" centered v-slot="props">
        {{ props.row.laboratoire.nom }}
      </b-table-column>
      <b-table-column field="laboratoire.sitePrincipal" sortable label="Localisation" centered v-slot="props">
        {{ props.row.laboratoire.sitePrincipal }}
      </b-table-column>
      <b-table-column field="referant" sortable label="Référant" centered v-slot="props">
        {{ props.row.referant }}
      </b-table-column>
      <b-table-column field="budget" sortable label="Budget" centered v-slot="props">
        {{ props.row.budget }}
      </b-table-column>
      <b-table-column label="Effectifs" centered v-slot="props">
        {{ props.row.nbChercheurs + props.row.nbEnseignants + props.row.nbITA + props.row.nbPostDoc }}
      </b-table-column>
      <b-table-column :label="$t('emissions.kg.co2e.short')" centered v-slot="props">
        <b-tag v-if="isNaN(getTotal(props))" rounded type="is-danger">Error</b-tag>
        <b-tag v-else rounded type="is-success">{{ getTotal(props) }}</b-tag>
      </b-table-column>
      <template #detail="props">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Véhicules :</strong> {{ Math.round(props.row.emissions.vehicles['total']) }} kg eCO2 &plusmn; {{ Math.round(props.row.emissions.vehicles['totali']) }} kg eCO2
                <br />
                <strong>Chauffage :</strong> {{ Math.round(props.row.emissions.buildings['chauffage']['total']) }} kg eCO2 &plusmn; {{ Math.round(props.row.emissions.buildings['chauffage']['totali']) }} kg eCO2
                <br />
                <strong>Electricite :</strong> {{ Math.round(props.row.emissions.buildings['electricite']['total']) }} kg eCO2 &plusmn; {{ Math.round(props.row.emissions.buildings['electricite']['totali']) }} kg eCO2
                <br />
                <strong>Gaz Réfrigerant :</strong> {{ Math.round(props.row.emissions.buildings['gazRefrigerant']['total']) }} kg eCO2 &plusmn; {{ Math.round(props.row.emissions.buildings['gazRefrigerant']['totali']) }} kg eCO2
                <br />
                <strong>Missions :</strong> {{ Math.round(props.row.emissions.missions['total']) }} kg eCO2 &plusmn; {{ Math.round(props.row.emissions.missions['totali']) }} kg eCO2
                <br />
                <strong>Dpts domicile / travail :</strong> {{ Math.round(props.row.emissions.deplacements_dt['total']) }} kg eCO2 &plusmn; {{ Math.round(props.row.emissions.deplacements_dt['totali']) }} kg eCO2
                <br />
                <strong>Matériel informatique :</strong> {{ Math.round(props.row.emissions.devices['total']) }} kg eCO2 &plusmn; {{ Math.round(props.row.emissions.devices['totali']) }} kg eCO2
                <br />
                <strong>Achats :</strong> {{ Math.round(props.row.emissions.purchases['total']) }} kg eCO2 &plusmn; {{ Math.round(props.row.emissions.purchases['totali']) }} kg eCO2
              </p>
            </div>
          </div>
        </article>
      </template>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>Aucun BGES</p>
        </div>
      </section>
    </b-table>
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="buttons level-right">
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'GES1point5Admin',
  data () {
    return {
      cModule: { icon: '', text: '' },
      buildingsSubmitted: false,
      vehiclesSubmitted: false,
      devicesSubmitted: false,
      travelsSubmitted: false,
      commutesSubmitted: false,
      purchasesSubmitted: false,
      error: '',
      modules: [
        { icon: 'flask', text: 'BGES laboratoire (admin)', func: this.exportAllLabsEmissionsFull },
        { icon: 'flask', text: 'BGES laboratoire', func: this.exportAllLabsEmissions },
        { icon: 'building', text: 'Les batiments', func: this.exportBuildings },
        { icon: 'eur', text: 'Les achats', func: this.exportPurchases },
        { icon: 'desktop', text: 'Matériel informatique', func: this.exportComputerDevices },
        { icon: 'car', text: 'Les véhicules', func: this.exportVehicles },
        { icon: 'train', text: 'Les Missions', func: this.exportTravels },
        { icon: 'bicycle', text: 'Les dpts domicile / travail', func: this.exportCommutes }
      ]
    }
  },
  watch: {
    cModule: function () {
      this.cModule.func()
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    allBGES: function () {
      return this.$store.getters['admin/allBGES']
    }
  },
  methods: {
    loadData: function () {
      if (this.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.$store.dispatch('admin/getAllBGES', {
          'buildingsSubmitted': this.buildingsSubmitted,
          'vehiclesSubmitted': this.vehiclesSubmitted,
          'devicesSubmitted': this.devicesSubmitted,
          'travelsSubmitted': this.travelsSubmitted,
          'commutesSubmitted': this.commutesSubmitted,
          'purchasesSubmitted': this.purchasesSubmitted
        })
          .then(data => {
            loadingComponent.close()
          })
          .catch((error) => {
            this.error = error.response.data
            loadingComponent.close()
          })
      }
    },
    getTotal: function (props) {
      return Math.round(props.row.emissions.vehicles['total']) +
        Math.round(props.row.emissions.buildings['chauffage']['total']) +
        Math.round(props.row.emissions.buildings['electricite']['total']) +
        Math.round(props.row.emissions.buildings['gazRefrigerant']['total']) +
        Math.round(props.row.emissions.missions['total']) +
        Math.round(props.row.emissions.deplacements_dt['total']) +
        Math.round(props.row.emissions.devices['total']) +
        Math.round(props.row.emissions.purchases['total'])
    },
    exportPurchases: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += ['bges.uuid', 'code', 'amount',
        'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t') + '\n'
      for (let bges of this.allBGES) {
        for (let purchase of bges.emissions.purchases.meta) {
          csvContent += bges.uuid + '\t' + purchase.code + '\t' + purchase.amount + '\t'
          csvContent += Math.round(purchase.total) + '\t' + Math.round(purchase.totali) + '\n'
        }
      }
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5export_purchases_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportCommutes: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      /* csvContent += ['ghgi.uuid', 'days.per.week', 'position', 'walking.d1.km', 'bike.d1.km',
          'ebike.d1.km', 'escooter.d1.km', '2.wheeler.d1.km', 'car.d1.km', 'bus.d1.km',
          'tramway.d1.km', 'train.d1.km', 'rer.d1.km', 'subway.d1.km', 'days.d2',
          'walking.d2.km', 'bike.d2.km', 'ebike.d2.km', 'escooter.d2.km', '2.wheeler.d2.km',
          'car.d2.km', 'bus.d2.km', 'tramway.d2.km', 'train.d2.km', 'rer.d2.km', 'subway.d2.km',
          'walking.kg.co2e)', 'bike.kg.co2e', 'ebike.kg.co2e', 'escooter.kg.co2e',
          '2.wheeler.kg.co2e', 'car.kg.co2e', 'bus.kg.co2e', 'tramway.kg.co2e', 'train.kg.co2e', 'RER (kg eCO2)',
          'subway.kg.co2e', 'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t') + '\n' */
      csvContent += ['ghgi.uuid',

        'no.answers.researcher', 'commuting.days.researcher', 'walking.researcher.km', 'bike.researcher.km', 'ebike.researcher.km',
        'escooter.researcher.km', '2.wheeler.researcher.km', 'car.researcher.km', 'bus.researcher.km',
        'tramway.researcher.km', 'train.researcher.km', 'rer.researcher.km', 'subway.researcher.km',
        'walking.researcher.emission.kg.co2e', 'bike.researcher.emission.kg.co2e', 'ebike.researcher.emission.kg.co2e',
        'escooter.researcher.emission.kg.co2e', '2.wheeler.researcher.emission.kg.co2e', 'car.researcher.emission.kg.co2e', 'bus.researcher.emission.kg.co2e',
        'tramway.researcher.emission.kg.co2e', 'train.researcher.emission.kg.co2e', 'rer.researcher.emission.kg.co2e', 'subway.researcher.emission.kg.co2e',
        'walking.researcher.uncertainty.kg.co2e', 'bike.researcher.uncertainty.kg.co2e', 'ebike.researcher.uncertainty.kg.co2e',
        'escooter.researcher.uncertainty.kg.co2e', '2.wheeler.researcher.uncertainty.kg.co2e', 'car.researcher.uncertainty.kg.co2e', 'bus.researcher.uncertainty.kg.co2e',
        'tramway.researcher.uncertainty.kg.co2e', 'train.researcher.uncertainty.kg.co2e', 'rer.researcher.uncertainty.kg.co2e', 'subway.researcher.uncertainty.kg.co2e',

        'no.answers.engineer', 'commuting.days.engineer', 'walking.engineer.km', 'bike.engineer.km', 'ebike.engineer.km',
        'escooter.engineer.km', '2.wheeler.engineer.km', 'car.engineer.km', 'bus.engineer.km',
        'tramway.engineer.km', 'train.engineer.km', 'rer.engineer.km', 'subway.engineer.km',
        'walking.engineer.emission.kg.co2e', 'bike.engineer.emission.kg.co2e', 'ebike.engineer.emission.kg.co2e',
        'escooter.engineer.emission.kg.co2e', '2.wheeler.engineer.emission.kg.co2e', 'car.engineer.emission.kg.co2e', 'bus.engineer.emission.kg.co2e',
        'tramway.engineer.emission.kg.co2e', 'train.engineer.emission.kg.co2e', 'rer.engineer.emission.kg.co2e', 'subway.engineer.emission.kg.co2e',
        'walking.engineer.uncertainty.kg.co2e', 'bike.engineer.uncertainty.kg.co2e', 'ebike.engineer.uncertainty.kg.co2e',
        'escooter.engineer.uncertainty.kg.co2e', '2.wheeler.engineer.uncertainty.kg.co2e', 'car.engineer.uncertainty.kg.co2e', 'bus.engineer.uncertainty.kg.co2e',
        'tramway.engineer.uncertainty.kg.co2e', 'train.engineer.uncertainty.kg.co2e', 'rer.engineer.uncertainty.kg.co2e', 'subway.engineer.uncertainty.kg.co2e',

        'no.answers.student', 'commuting.days.student', 'walking.student.km', 'bike.student.km', 'ebike.student.km',
        'escooter.student.km', '2.wheeler.student.km', 'car.student.km', 'bus.student.km',
        'tramway.student.km', 'train.student.km', 'rer.student.km', 'subway.student.km',
        'walking.student.emission.kg.co2e', 'bike.student.emission.kg.co2e', 'ebike.student.emission.kg.co2e',
        'escooter.student.emission.kg.co2e', '2.wheeler.student.emission.kg.co2e', 'car.student.emission.kg.co2e', 'bus.student.emission.kg.co2e',
        'tramway.student.emission.kg.co2e', 'train.student.emission.kg.co2e', 'rer.student.emission.kg.co2e', 'subway.student.emission.kg.co2e',
        'walking.student.uncertainty.kg.co2e', 'bike.student.uncertainty.kg.co2e', 'ebike.student.uncertainty.kg.co2e',
        'escooter.student.uncertainty.kg.co2e', '2.wheeler.student.uncertainty.kg.co2e', 'car.student.uncertainty.kg.co2e', 'bus.student.uncertainty.kg.co2e',
        'tramway.student.uncertainty.kg.co2e', 'train.student.uncertainty.kg.co2e', 'rer.student.uncertainty.kg.co2e', 'subway.student.uncertainty.kg.co2e',

        'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t') + '\n'
      for (let bges of this.allBGES) {
        csvContent += bges.uuid + '\t'
        csvContent += bges.emissions.deplacements_dt.nbAnswers.researcher + '\t' + bges.emissions.deplacements_dt.cdays.researcher + '\t'
        csvContent += bges.emissions.deplacements_dt.distanceStatuts.researcher.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += bges.emissions.deplacements_dt.totalStatuts.researcher.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += bges.emissions.deplacements_dt.totalStatutsi.researcher.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += bges.emissions.deplacements_dt.nbAnswers.engineer + '\t' + bges.emissions.deplacements_dt.cdays.engineer + '\t'
        csvContent += bges.emissions.deplacements_dt.distanceStatuts.engineer.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += bges.emissions.deplacements_dt.totalStatuts.engineer.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += bges.emissions.deplacements_dt.totalStatutsi.engineer.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += bges.emissions.deplacements_dt.nbAnswers.student + '\t' + bges.emissions.deplacements_dt.cdays.student + '\t'
        csvContent += bges.emissions.deplacements_dt.distanceStatuts.student.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += bges.emissions.deplacements_dt.totalStatuts.student.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += bges.emissions.deplacements_dt.totalStatutsi.student.map(obj => Math.round(obj)).join('\t') + '\t'
        csvContent += Math.round(bges.emissions.deplacements_dt.total) + '\t' + Math.round(bges.emissions.deplacements_dt.totali) + '\n'
      }
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5export_commutes_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportComputerDevices: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += ['ghgi.uuid', 'type', 'model', 'amount',
        'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t') + '\n'
      for (let bges of this.allBGES) {
        for (let device of bges.emissions.devices.meta) {
          csvContent += bges.uuid + '\t' + device.type + '\t' + device.model + '\t'
          csvContent += device.amount + '\t'
          csvContent += Math.round(device.total) + '\t' + Math.round(device.totali) + '\n'
        }
      }
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5export_devices_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportBuildings: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += ['ghgi.uuid', 'superficy', 'occupation', 'is.owned.by.lab',
        'is.electricity.heating', 'heating.type', 'urban.network', 'self.production',
        'self.consumption', 'heating.emission.kg.co2e', 'heating.uncertainty.kg.co2e',
        'electricity.emission.kg.co2e', 'electricity.uncertainty.kg.co2e',
        'refrigerants.emission.kg.co2e', 'refrigerants.uncertainty.kg.co2e'].join('\t') + '\n'
      for (let bges of this.allBGES) {
        for (let building of bges.emissions.buildings.meta) {
          csvContent += bges.uuid + '\t' + building.superficie + '\t' + building.occupation + '\t'
          csvContent += building.isOwnedByLab + '\t' + building.chauffageElectrique + '\t'
          csvContent += building.typeChauffage + '\t' + building.reseauChauffageUrbain + '\t'
          csvContent += building.autoProduction + '\t' + building.autoconsommation + '\t'
          csvContent += Math.round(building.htotal) + '\t' + Math.round(building.htotali) + '\t'
          csvContent += Math.round(building.etotal) + '\t' + Math.round(building.etotali) + '\t'
          csvContent += Math.round(building.rtotal) + '\t' + Math.round(building.rtotali) + '\n'
        }
      }
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5export_buildings_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportVehicles: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += ['ghgi.uuid', 'type', 'engine', 'consumption', 'unit',
        'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t') + '\n'
      for (let bges of this.allBGES) {
        for (let vehicle of bges.emissions.vehicles.meta) {
          csvContent += bges.uuid + '\t' + vehicle.typeVehicule + '\t' + vehicle.motorisation + '\t'
          csvContent += vehicle.consommation + '\t' + vehicle.unite + '\t'
          csvContent += Math.round(vehicle.total) + '\t' + Math.round(vehicle.totali) + '\n'
        }
      }
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5export_vehicles_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportTravels: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += ['ghgi.uuid', 'type', 'mode', 'amount', 'position', 'no.person', 'purpose',
        'round.trip', 'distance.km', 'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t') + '\n'
      for (let bges of this.allBGES) {
        for (let mission of bges.emissions.missions.meta) {
          csvContent += bges.uuid + '\t' + mission.missionType + '\t' + mission.modeDeplacement + '\t'
          csvContent += mission.nbEffectue + '\t' + mission.statut + '\t'
          csvContent += mission.nbPersonneVoiture + '\t' + mission.motifDeplacement + '\t'
          csvContent += mission.isAllerRetour + '\t'
          csvContent += Math.round(mission.distance) + '\t' + Math.round(mission.total) + '\t' + Math.round(mission.totali) + '\n'
        }
      }
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5export_travels_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportAllLabsEmissions: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += [
        ['ghgi.uuid', 'created.date', 'year', 'lab.id', 'supervisions', 'disciplines',
          'city', 'country', 'region', 'no.researchers', 'no.teacher', 'no.ita', 'no.postdoc', 'budget', 'vehicles.submitted',
          'vehicles.emission.kg.co2e', 'vehicles.uncertainty.kg.co2e', 'travels.submitted', 'travels.emission.kg.co2e',
          'travels.uncertainty.kg.co2e', 'travelswc.emission.kg.co2e', 'travelswc.uncertainty.kg.co2e', 'commutes.submitted',
          'commutes.emission.kg.co2e', 'commutes.uncertainty.kg.co2e', 'heating.submitted', 'heating.emission.kg.co2e',
          'heating.uncertainty.kg.co2e', 'electricity.submitted', 'electricity.emission.kg.co2e', 'electricity.uncertainty.kg.co2e',
          'cooling.submitted', 'cooling.emission.kg.co2e', 'cooling.uncertainty.kg.co2e', 'devices.submitted',
          'devices.emission.kg.co2e', 'devices.uncertainty.kg.co2e', 'purchases.submitted', 'purchases.emission.kg.co2e', 'purchases.uncertainty.kg.co2e'].join('\t'),
        ...this.allBGES.map(function (bges) {
          let toReturn = bges.uuid + '\t' + bges.created + '\t' + bges.annee + '\t' + bges.laboratoire.pk
          toReturn += '\t' + bges.laboratoire.tutelles.map(obj => obj.nom).join(';')
          toReturn += '\t' + bges.laboratoire.disciplines.map(obj => obj.nom + ':' + obj.pourcentage).join(';')
          toReturn += '\t' + bges.laboratoire.sitePrincipal + '\t' + bges.laboratoire.pays + '\t' + bges.laboratoire.adminName
          toReturn += '\t' + bges.nbChercheurs + '\t' + bges.nbEnseignants + '\t' + bges.nbITA + '\t' + bges.nbPostDoc + '\t' + bges.budget
          if (bges.emissions.vehicles !== null) {
            toReturn += '\t' + bges.vehiclesSubmitted + '\t' + Math.round(bges.emissions.vehicles.total) + '\t' + Math.round(bges.emissions.vehicles.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull'
          }
          if (bges.emissions.missions !== null) {
            toReturn += '\t' + bges.travelsSubmitted + '\t' + Math.round(bges.emissions.missions.total) + '\t' + Math.round(bges.emissions.missions.totali)
            toReturn += '\t' + Math.round(bges.emissions.missions.totalnr) + '\t' + Math.round(bges.emissions.missions.totalnri)
          } else {
            toReturn += '\tfalse\tnull\tnull\tnull\tnull'
          }
          if (bges.emissions.deplacements_dt !== null) {
            toReturn += '\t' + bges.commutesSubmitted + '\t' + Math.round(bges.emissions.deplacements_dt.total) + '\t' + Math.round(bges.emissions.deplacements_dt.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull'
          }
          if (bges.emissions.buildings !== null) {
            toReturn += '\t' + bges.buildingsSubmitted + '\t' + Math.round(bges.emissions.buildings.chauffage.total) + '\t' + Math.round(bges.emissions.buildings.chauffage.totali)
            toReturn += '\t' + bges.buildingsSubmitted + '\t' + Math.round(bges.emissions.buildings.electricite.total) + '\t' + Math.round(bges.emissions.buildings.electricite.totali)
            toReturn += '\t' + bges.buildingsSubmitted + '\t' + Math.round(bges.emissions.buildings.gazRefrigerant.total) + '\t' + Math.round(bges.emissions.buildings.gazRefrigerant.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull\tfalse\tnull\tnull\tfalse\tnull\tnull'
          }
          if (bges.emissions.devices !== null) {
            toReturn += '\t' + bges.devicesSubmitted + '\t' + Math.round(bges.emissions.devices.total) + '\t' + Math.round(bges.emissions.devices.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull'
          }
          if (bges.emissions.purchases !== null) {
            toReturn += '\t' + bges.purchasesSubmitted + '\t' + Math.round(bges.emissions.purchases.total) + '\t' + Math.round(bges.emissions.purchases.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull'
          }
          return (toReturn)
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5export_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportAllLabsEmissionsFull: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += [
        ['ghgi.uuid', 'created.date', 'year', 'referant.email', 'lab.id', 'lab.name', 'supervisions', 'disciplines',
          'city', 'country', 'region', 'no.researchers', 'no.teacher', 'no.ita', 'no.postdoc', 'budget', 'vehicles.submitted',
          'vehicles.emission.kg.co2e', 'vehicles.uncertainty.kg.co2e', 'travels.submitted', 'travels.emission.kg.co2e',
          'travels.uncertainty.kg.co2e', 'travelswc.emission.kg.co2e', 'travelswc.uncertainty.kg.co2e', 'commutes.submitted',
          'commutes.emission.kg.co2e', 'commutes.uncertainty.kg.co2e', 'heating.submitted', 'heating.emission.kg.co2e',
          'heating.uncertainty.kg.co2e', 'electricity.submitted', 'electricity.emission.kg.co2e', 'electricity.uncertainty.kg.co2e',
          'cooling.submitted', 'cooling.emission.kg.co2e', 'cooling.uncertainty.kg.co2e', 'devices.submitted',
          'devices.emission.kg.co2e', 'devices.uncertainty.kg.co2e', 'purchases.submitted', 'purchases.emission.kg.co2e',
          'purchases.uncertainty.kg.co2e'].join('\t'),
        ...this.allBGES.map(function (bges) {
          let toReturn = bges.uuid + '\t' + bges.created + '\t' + bges.annee + '\t' + bges.referant + '\t' + bges.laboratoire.pk
          toReturn += '\t' + bges.laboratoire.nom + '\t' + bges.laboratoire.tutelles.map(obj => obj.nom).join(';')
          toReturn += '\t' + bges.laboratoire.disciplines.map(obj => obj.nom + ':' + obj.pourcentage).join(';')
          toReturn += '\t' + bges.laboratoire.sitePrincipal + '\t' + bges.laboratoire.pays + '\t' + bges.laboratoire.adminName
          toReturn += '\t' + bges.nbChercheurs + '\t' + bges.nbEnseignants + '\t' + bges.nbITA + '\t' + bges.nbPostDoc + '\t' + bges.budget
          if (bges.emissions.vehicles !== null) {
            toReturn += '\t' + bges.vehiclesSubmitted + '\t' + Math.round(bges.emissions.vehicles.total) + '\t' + Math.round(bges.emissions.vehicles.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull'
          }
          if (bges.emissions.missions !== null) {
            toReturn += '\t' + bges.travelsSubmitted + '\t' + Math.round(bges.emissions.missions.total) + '\t' + Math.round(bges.emissions.missions.totali)
            toReturn += '\t' + Math.round(bges.emissions.missions.totalnr) + '\t' + Math.round(bges.emissions.missions.totalnri)
          } else {
            toReturn += '\tfalse\tnull\tnull\tnull\tnull'
          }
          if (bges.emissions.deplacements_dt !== null) {
            toReturn += '\t' + bges.commutesSubmitted + '\t' + Math.round(bges.emissions.deplacements_dt.total) + '\t' + Math.round(bges.emissions.deplacements_dt.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull'
          }
          if (bges.emissions.buildings !== null) {
            toReturn += '\t' + bges.buildingsSubmitted + '\t' + Math.round(bges.emissions.buildings.chauffage.total) + '\t' + Math.round(bges.emissions.buildings.chauffage.totali)
            toReturn += '\t' + bges.buildingsSubmitted + '\t' + Math.round(bges.emissions.buildings.electricite.total) + '\t' + Math.round(bges.emissions.buildings.electricite.totali)
            toReturn += '\t' + bges.buildingsSubmitted + '\t' + Math.round(bges.emissions.buildings.gazRefrigerant.total) + '\t' + Math.round(bges.emissions.buildings.gazRefrigerant.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull\tfalse\tnull\tnull\tfalse\tnull\tnull'
          }
          if (bges.emissions.devices !== null) {
            toReturn += '\t' + bges.devicesSubmitted + '\t' + Math.round(bges.emissions.devices.total) + '\t' + Math.round(bges.emissions.devices.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull'
          }
          if (bges.emissions.purchases !== null) {
            toReturn += '\t' + bges.purchasesSubmitted + '\t' + Math.round(bges.emissions.purchases.total) + '\t' + Math.round(bges.emissions.purchases.totali)
          } else {
            toReturn += '\tfalse\tnull\tnull'
          }
          return (toReturn)
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5Fullexport_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    }
  }
}
</script>
