<template>
  <div>
    <serveur-info :erreur="erreur" />
    <div class="box-blue" v-if="membre.pk">
      Vous êtes membre du collectif depuis le <em>{{ membre.date | dateFormat }}</em>.
    </div>
    <div class="box-blue" v-else>
      Votre adresse email n'est associée à aucun membre du collectif.
      <br />
      Afin d'être informé.e des activités de <em>Labos 1point5</em> et des événements organisés,
      compléter le formulaire ci-dessous.
      <br />
      Pour intégrer une ou des équipes de travail de Labos 1point5, il vous suffit de renseigner le champ
      « Rejoindre l'équipe », sinon laissez le vide.
    </div>
    <br />
    <form @submit.prevent="validateBeforeSubmit">
      <formulaire-gdr :fullForm="false" @input="inputChanged" ref="formulaireGDR" v-model="membre"/>
      <br />
      <nav class="level">
        <div class="level-left"></div>
        <div class="buttons level-right">
          <b-button
            class="button"
            :disabled="resetDisabled"
            @click="resetForm()"
            icon-left="close"
          >
            Annuler
          </b-button>
          <button
            type="submit"
            @click="scrollOnTop()"
            :disabled="saveDisabled"
            class="button is-primary"
          >
            <span class="icon is-small"><i class="sui sui-save"></i></span>
            <span> Sauvegarder </span>
          </button>
        </div>
      </nav>
    </form>
  </div>
</template>

<script>
import FormulaireGDR from '@/components/FormulaireGDR.vue'
import ServeurInfo from '@/components/ServeurInfo.vue'

export default {
  name: 'MyAccount',
  components: {
    'serveur-info': ServeurInfo,
    'formulaire-gdr': FormulaireGDR
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      membre: {
        pk: null,
        equipes: [],
        email: '',
        nom: '',
        date: null,
        prenom: '',
        ville: '',
        pays: '',
        disciplineCNU: '',
        latitude: 46.75,
        longitude: 2.32,
        genre: null,
        anneeNaissance: '',
        laboratoire: '',
        tutelles: [],
        statut: null,
        engagementAssociatif: '',
        engagementInstitutionel: '',
        engagementAutres: '',
        msgCommunication: '',
        msgEmpreinte: '',
        msgEnquete: '',
        msgExperimentation: '',
        msgReflexion: '',
        msgTechnique: '',
        msgEnseignement: ''
      },
      erreur: '',
      savedMembre: {},
      hasChanged: false,
      changedBug: 0,
      hasBeenSavedOnce: false
    }
  },
  computed: {
    resetDisabled: function () {
      let toReturn = true
      if (this.hasBeenSavedOnce || this.membre.pk !== null) {
        toReturn = !this.hasChanged
      } else {
        toReturn = true
      }
      return toReturn
    },
    saveDisabled: function () {
      let toReturn = true
      if (this.hasBeenSavedOnce || this.membre.pk !== null) {
        toReturn = !this.hasChanged
      } else {
        toReturn = !(this.membre.nom && this.membre.prenom && this.membre.ville && this.membre.disciplineCNU)
      }
      return toReturn
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          this.$store.dispatch('user/saveMembre', {
            pk: this.membre.pk,
            email: this.membre.email,
            nom: this.membre.nom,
            prenom: this.membre.prenom,
            ville: this.membre.ville,
            pays: this.membre.pays,
            disciplineCNU: this.membre.disciplineCNU,
            commentaire: this.membre.commentaire,
            latitude: Math.round((parseFloat(this.membre.latitude) + Number.EPSILON) * 100) / 100,
            longitude: Math.round((parseFloat(this.membre.longitude) + Number.EPSILON) * 100) / 100,
            equipes: this.membre.equipes,
            genre: this.membre.genre,
            anneeNaissance: this.membre.anneeNaissance,
            laboratoire: this.membre.laboratoire,
            tutelles: this.membre.tutelles,
            statut: this.membre.statut,
            engagementAssociatif: this.membre.engagementAssociatif,
            engagementInstitutionel: this.membre.engagementInstitutionel,
            engagementAutres: this.membre.engagementAutres,
            msgCommunication: this.membre.msgCommunication,
            msgEmpreinte: this.membre.msgEmpreinte,
            msgEnquete: this.membre.msgEnquete,
            msgExperimentation: this.membre.msgExperimentation,
            msgReflexion: this.membre.msgReflexion,
            msgTechnique: this.membre.msgTechnique,
            msgEnseignement: this.membre.msgTechnique
          })
            .then(data => {
              loadingComponent.close()
              this.membre = data
              this.savedMembre = this.membre
              this.erreur = ''
              this.hasChanged = false
              this.hasBeenSavedOnce = true
              window.scrollTo(0, 0)
              this.$buefy.toast.open({
                type: 'is-light',
                message: 'Les informations de votre compte ont été sauvegardées avec <strong><span style="color:green";>succès</span></strong>.'
              })
            })
            .catch((erreur) => {
              loadingComponent.close()
              this.erreur = erreur.response.data
              this.membre = this.savedMembre
            })
        }
      })
    },
    resetForm () {
      this.membre = this.savedMembre
      this.hasChanged = false
      this.erreur = ''
    },
    inputChanged () {
      // to prevent 1 @input
      if (this.changedBug === 1) {
        this.hasChanged = true
      } else {
        this.changedBug += 1
      }
    },
    scrollOnTop () {
      window.scrollTo(0, 0)
    }
  },
  mounted () {
    const loadingComponent = this.$buefy.loading.open({
      container: null
    })
    this.$store.dispatch('user/getMembre')
      .then(data => {
        loadingComponent.close()
        if (data) {
          if (data.pk === undefined) {
            this.membre.email = data.email
          } else {
            this.membre = Object.assign({}, data)
            this.membre.disciplineCNU = this.membre.disciplineCNU.nom
            this.savedMembre = Object.assign({}, data)
            this.savedMembre.disciplineCNU = this.savedMembre.disciplineCNU.nom
          }
        }
      })
      .catch((erreur) => {
        loadingComponent.close()
      })
    this.hasChanged = false
  }
}
</script>
