<template>
  <div>
    <serveur-info :erreur="erreur" />
    <form @submit.prevent="validateBeforeSubmit">
      <div class="columns">
        <div class="column">
          <su-service :icon="'flask'">
            <template #title>
              Le laboratoire
            </template>
            Définissez le nom de votre laboratoire et ses tutelles.
            <br />
            <br />
            <b-field
              label="Acronyme du laboratoire *"
              :type="{'is-danger': errors.has('laboratoire')}"
              :message="errors.first('laboratoire')">
              <b-input
                name="laboratoire"
                icon="flask"
                @input="inputChanged"
                placeholder="Acronyme du laboratoire *"
                v-model="laboratoire.nom"
                v-validate="'required'"
                maxlength="50"
              ></b-input>
            </b-field>
            <b-field
              label="Tutelle(s), séparée(s) par une virgule *"
              :type="{'is-danger': errors.has('tutelles')}"
              :message="errors.first('tutelles')"
            >
              <tutelle-input
                @input="inputChanged"
                v-model="laboratoire.tutelles"/>
            </b-field>
          </su-service>
        </div>
        <div class="column">
          <su-service :icon="'hubzilla'">
            <template #title>
              Discipline(s) HCERES
            </template>
            Définissez la ou les disciplines de recherche de votre laboratoire ainsi que le pourcentage en
            effectif que cette discipline représente. Si vous êtes membre d'un service support, sélectionnez
            « SS1-1 Services support ».
            <br />
            <br />
            <div class="columns">
              <div class="column">
                <b-field
                  label="Discipline HCERES *"
                ></b-field>
              </div>
              <div class="column is-3">
                <b-field
                  label="Pourcentage *"
                ></b-field>
              </div>
              <div class="column is-1">
              </div>
            </div>
            <div
              class="columns"
              v-for="(discipline,index) in laboratoire.disciplines"
              :key="index"
            >
              <div class="column">
                <discipline-input
                  @input="disciplineChanged"
                  v-model="laboratoire.disciplines[index]"/>
              </div>
              <div class="column is-3">
                <b-input
                  name="pourcentage"
                  @input="inputChanged"
                  placeholder="Pourcentage *"
                  v-model="discipline.pourcentage"
                  v-validate="'required|numeric'"
                  icon="percent"
                ></b-input>
              </div>
              <div class="column is-1">
                <b-button
                  icon-left="minus"
                  @click="supprimerDiscipline(index)"
                >
                </b-button>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <discipline-input
                  @input="disciplineChanged"
                  v-model="cdiscipline" />
              </div>
              <div class="column is-3">
                <b-input
                  name="pourcentage"
                  placeholder="Pourcentage *"
                  @input="inputChanged"
                  v-model="cdiscipline.pourcentage"
                  v-validate="'required|numeric'"
                  icon="percent"
                ></b-input>
              </div>
              <div class="column is-1">
                <b-button
                  v-show="disciplineTotalPerc<100"
                  icon-left="plus"
                  @click="ajouterDiscipline"
                >
                </b-button>
              </div>
            </div>
            <p class="help is-danger" v-if="disciplineTotalErreur">Le pourcentage total des disciplines doit être égal à 100%.</p>
            <p class="help is-danger" v-if="disciplineErreur">{{ disciplineErreur }}</p>
          </su-service>
        </div>
      </div>
      <br />
      <div class="columns">
        <div class="column">
          <su-service :icon="'location-arrow'">
          <template #title>
            Les sites
          </template>
          Définissez le site principal de votre laboratoire ainsi que les autres sites où il est implanté.
          Un site est un lieu géographique contraint à la France et aux DOM-TOM.<br/>Ex: le laboratoire GAEL est
          hébergé sur 2 sites différents, le campus de St Martin d’Hères (site principal) et le site Viallet
          à Grenoble (autre site).
          <br />
          <br />
          <b-field
            label="Site principal du laboratoire (ville) *"
            :type="{'is-danger': errors.has('sitePrincipal')}"
            :message="errors.first('sitePrincipal')">
            <b-autocomplete
              v-model="laboratoire.sitePrincipal"
              @blur="resetVille()"
              :data="geonamesVilles"
              @input="inputChanged"
              placeholder="Site principal du laboratoire (ville) *"
              name="sitePrincipal"
              field="name"
              clearable
              icon="location-arrow"
              v-validate="'required'"
              maxlength="50"
              @keyup.native="getGenonamesVilles"
              @select="updateMarker">
              <template slot-scope="props">
                {{ props.option.name }}, {{ props.option.adminName1 }} [{{props.option.countryName}}]
              </template>
              <template slot="empty">Aucune ville trouvée</template>
            </b-autocomplete>
          </b-field>
          <b-field
            :type="{'is-danger': errors.has('tailleAglomeration')}"
            :message="errors.first('tailleAglomeration')"
          >
            <template slot="label">
              Taille de l'agglomération *
              <b-tooltip
                multilined
                label="Quand la ville où se situe votre laboratoire fait partie d’une agglomération urbaine, déclarez
                      celle-ci et non celle de la ville d’implantation. Ex: s'il se situe
                      dans une ville de 30 000 habitants, mais cette ville fait partie d’une métropole de 500 000
                      habitants, cliquez sur 'plus de 250 000 habitants'."
                type="is-info">
                <b-tag rounded type="is-info">
                  <b-icon icon="info"></b-icon>
                </b-tag>
              </b-tooltip>
            </template>
            <b-select
              name="tailleAglomeration"
              @input="inputChanged"
              v-model="laboratoire.tailleAglomeration"
              v-validate="'required'"
              placeholder="Taille de l'agglomération *"
              expanded
            >
              <option value="0">moins de 100 000 habitants</option>
              <option value="1">entre 100 000 et 250 000 habitants</option>
              <option value="2">plus de 250 000 habitants</option>
            </b-select>
          </b-field>
          <br />
          <b-field
            label="Autre(s) site(s), séparée(s) par une virgule"
          >
            <b-taginput
              v-model="laboratoire.sites"
              ellipsis
              @input="inputChanged"
              icon="caret-right"
              placeholder="Ajouter un site">
            </b-taginput>
          </b-field>
          </su-service>
        </div>
        <div class="column">
          <l-map
            @click="changeMarker"
            ref="labLeaflet"
            :zoom="zoom"
            :center="center"
            style="z-index: 0;"
            :style="[errorMarker ? { border:'1px solid #ff3880' } : { border:'1px solid #4280b0' } ]"
          >
            <l-tilelayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></l-tilelayer>
            <l-marker
              :draggable="true"
              @drag="changeMarker"
              :lat-lng="currentMarker"
            >
            </l-marker>
          </l-map>
          <div v-if="errorAreaMarker" style="margin-top:8px;color:#ff3860;font-size:.75rem">
            Cette position est trop éloignée du site principal de votre laboratoire.
          </div>
          <div v-else-if="errorMarker" style="margin-top:8px;color:#ff3860;font-size:.75rem">
            Veuillez affiner la position du site principal de votre laboratoire en positionnant le marqueur sur la carte.
          </div>
        </div>
      </div>
      <br />
      <nav class="level">
        <div class="level-left"></div>
        <div class="buttons level-right">
          <b-button
            class="button"
            @click="resetForm()"
            :disabled="resetDisabled"
            icon-left="close"
          >
            Annuler
          </b-button>
          <button
            type="submit"
            :disabled="saveDisabled"
            class="level-item button is-primary"
          >
            <span class="icon is-small"><i class="sui sui-save"></i></span>
            <span>Sauvegarder</span>
          </button>
        </div>
      </nav>
    </form>
  </div>
</template>

<script>
import ServeurInfo from '@/components/ServeurInfo.vue'
import { geonames } from '@/mixins/geonames'
import SUService from '@/components/SUService.vue'
import TutelleInput from '@/components/TutelleInput.vue'
import '@/plugins/leaflet.js'
import DisciplineInput from '@/components/DisciplineInput.vue'

const DEFAULT_LATITUDE = 46.75
const DEFAULT_LONGITUDE = 2.32
const VALID_MARKER_AREA = 0.08

export default {
  name: 'MonLaboratoire',
  components: {
    'serveur-info': ServeurInfo,
    'l-map': () => import('vue2-leaflet').then(({ LMap }) => LMap),
    'l-tilelayer': () => import('vue2-leaflet').then(({ LTileLayer }) => LTileLayer),
    'l-marker': () => import('vue2-leaflet').then(({ LMarker }) => LMarker),
    'su-service': SUService,
    'tutelle-input': TutelleInput,
    'discipline-input': DisciplineInput
  },
  mixins: [geonames],
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      zoom: 5,
      errorAreaMarker: false,
      errorMarker: false,
      siteLatitude: DEFAULT_LATITUDE,
      siteLongitude: DEFAULT_LONGITUDE,
      geonamesAllowedCountries: ['MF', 'BL', 'PF', 'YT', 'GF', 'PM', 'RE', 'GP', 'MQ', 'WF', 'TF', 'NC', 'FR'],
      autoIsSelected: false,
      geonamesVilles: [],
      isFetching: false,
      disciplineErreur: '',
      isDisciplineErreur: true,
      disciplineTotalErreur: false,
      cdiscipline: {
        pk: null,
        pourcentage: 100,
        nom: ''
      },
      laboratoire: {
        pk: null,
        nom: '',
        sitePrincipal: '',
        pays: '',
        adminName: '',
        tutelles: [],
        tailleAglomeration: null,
        latitude: DEFAULT_LATITUDE,
        longitude: DEFAULT_LONGITUDE,
        disciplines: [],
        sites: []
      },
      erreur: '',
      savedLaboratoire: {
        pk: null,
        nom: '',
        sitePrincipal: '',
        pays: '',
        adminName: '',
        tutelles: [],
        tailleAglomeration: null,
        latitude: DEFAULT_LATITUDE,
        longitude: DEFAULT_LONGITUDE,
        disciplines: [],
        sites: []
      },
      hasChanged: false,
      hasBeenSavedOnce: false,
      changedBug: 0
    }
  },
  computed: {
    disciplineTotalPerc: function () {
      let percTotal = 0
      for (let disc of this.laboratoire.disciplines) {
        percTotal += parseInt(disc.pourcentage)
      }
      if (!isNaN(parseInt(this.cdiscipline.pourcentage))) {
        percTotal += parseInt(this.cdiscipline.pourcentage)
      }
      return percTotal
    },
    currentMarker: function () {
      return [this.laboratoire.latitude, this.laboratoire.longitude]
    },
    center: function () {
      return [this.laboratoire.latitude, this.laboratoire.longitude]
    },
    resetDisabled: function () {
      let toReturn = true
      if (this.hasBeenSavedOnce || this.laboratoire.pk !== null) {
        toReturn = !this.hasChanged
      } else {
        toReturn = true
      }
      return toReturn
    },
    saveDisabled: function () {
      let toReturn = true
      if (this.hasBeenSavedOnce || this.laboratoire.pk !== null) {
        if (!this.disciplineTotalErreur && !this.isDisciplineErreur && this.laboratoire.tutelles.length > 0) {
          toReturn = !this.hasChanged
        } else {
          toReturn = true
        }
      } else {
        toReturn = !(this.laboratoire.nom && this.laboratoire.sitePrincipal && this.laboratoire.tutelles.length > 0 && !this.isDisciplineErreur && !this.disciplineTotalErreur && this.laboratoire.tailleAglomeration)
      }
      return toReturn
    }
  },
  methods: {
    changeMarker (event) {
      if (this.siteLatitude !== DEFAULT_LATITUDE && this.siteLongitude !== DEFAULT_LONGITUDE) {
        if (event.latlng['lat'] < parseFloat(this.siteLatitude) + parseFloat(VALID_MARKER_AREA) && event.latlng['lat'] > parseFloat(this.siteLatitude) - parseFloat(VALID_MARKER_AREA)) {
          if (event.latlng['lng'] < parseFloat(this.siteLongitude) + parseFloat(VALID_MARKER_AREA) && event.latlng['lng'] > parseFloat(this.siteLongitude) - parseFloat(VALID_MARKER_AREA)) {
            this.laboratoire.latitude = event.latlng['lat']
            this.laboratoire.longitude = event.latlng['lng']
            this.errorMarker = false
            this.errorAreaMarker = false
            this.hasChanged = true
          } else {
            this.errorMarker = true
            this.errorAreaMarker = true
            this.hasChanged = false
          }
        } else {
          this.errorMarker = true
          this.errorAreaMarker = true
          this.hasChanged = false
        }
      }
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.laboratoire.latitude === this.siteLatitude && this.laboratoire.longitude === this.siteLongitude) {
            this.errorMarker = true
          } else {
            this.errorMarker = false
            const loadingComponent = this.$buefy.loading.open({
              container: null
            })
            let allDisciplines = JSON.parse(JSON.stringify(this.laboratoire.disciplines))
            allDisciplines.push({
              'pk': this.cdiscipline.pk,
              'nom': this.cdiscipline.nom,
              'pourcentage': parseInt(this.cdiscipline.pourcentage)
            })
            this.$store.dispatch('user/saveLaboratoire', {
              pk: this.laboratoire.pk,
              nom: this.laboratoire.nom,
              tutelles: this.laboratoire.tutelles,
              disciplines: allDisciplines,
              sitePrincipal: this.laboratoire.sitePrincipal,
              pays: this.laboratoire.pays,
              adminName: this.laboratoire.adminName,
              tailleAglomeration: this.laboratoire.tailleAglomeration,
              latitude: this.laboratoire.latitude,
              longitude: this.laboratoire.longitude,
              sites: this.laboratoire.sites
            })
              .then(data => {
                loadingComponent.close()
                this.laboratoire = JSON.parse(JSON.stringify(data))
                this.siteLatitude = this.laboratoire.latitude + 0.000000001
                this.siteLongitude = this.laboratoire.longitude + 0.000000001
                let ld = this.laboratoire.disciplines.pop()
                this.cdiscipline.pk = ld.pk
                this.cdiscipline.nom = ld.nom
                this.cdiscipline.pourcentage = ld.pourcentage
                this.savedLaboratoire = JSON.parse(JSON.stringify(data))
                this.erreur = ''
                this.hasChanged = false
                this.hasBeenSavedOnce = true
                window.scrollTo(0, 0)
                this.$buefy.toast.open({
                  type: 'is-light',
                  message: 'Les informations de votre laboratoire ont été sauvegardées avec <strong><span style="color:green";>succès</span></strong>.'
                })
              })
              .catch((erreur) => {
                loadingComponent.close()
                this.erreur = erreur.response.data
                this.laboratoire = this.savedLaboratoire
              })
          }
        }
      })
    },
    ajouterDiscipline () {
      if (this.disciplineTotalPerc <= 100) {
        this.laboratoire.disciplines.push({
          'pk': this.cdiscipline.pk,
          'nom': this.cdiscipline.nom,
          'pourcentage': parseInt(this.cdiscipline.pourcentage)
        })
        this.cdiscipline.pk = null
        this.cdiscipline.nom = ''
        this.cdiscipline.pourcentage = 100 - this.disciplineTotalPerc + parseInt(this.cdiscipline.pourcentage)
        this.inputChanged()
      }
    },
    supprimerDiscipline (index) {
      this.laboratoire.disciplines.splice(index, 1)
      this.cdiscipline.pourcentage = 100 - this.disciplineTotalPerc + parseInt(this.cdiscipline.pourcentage)
      this.inputChanged()
    },
    resetForm () {
      this.laboratoire = JSON.parse(JSON.stringify(this.savedLaboratoire))
      let ld = this.laboratoire.disciplines.pop()
      this.cdiscipline.pk = ld.pk
      this.cdiscipline.nom = ld.nom
      this.cdiscipline.pourcentage = ld.pourcentage
      this.hasChanged = false
      this.erreur = ''
    },
    inputChanged () {
      // to prevent 2 @input
      if (this.changedBug === 2) {
        this.hasChanged = true
      } else {
        this.changedBug += 1
      }
    },
    disciplineChanged () {
      this.inputChanged()
      this.disciplineErreur = ''
      this.isDisciplineErreur = false
      for (let disc of this.laboratoire.disciplines) {
        if (disc.pk === null) {
          this.disciplineErreur = 'La discipline « ' + disc.nom + ' » n\'est pas valide.'
          this.isDisciplineErreur = true
        }
      }
      if (this.cdiscipline.pk === null) {
        this.disciplineErreur = 'La discipline « ' + this.cdiscipline.nom + ' » n\'est pas valide.'
        this.isDisciplineErreur = true
      }
    },
    resetVille () {
      if (!this.autoIsSelected) {
        this.laboratoire.sitePrincipal = ''
      }
    },
    updateMarker (option) {
      if (option) {
        this.laboratoire.latitude = parseFloat(option.lat)
        this.laboratoire.longitude = parseFloat(option.lng)
        this.siteLatitude = parseFloat(option.lat)
        this.siteLongitude = parseFloat(option.lng)
        this.laboratoire.pays = option.countryName
        this.laboratoire.adminName = option.adminName1
        this.laboratoire.sitePrincipal = option.name
        this.autoIsSelected = true
      }
    },
    getGenonamesVilles () {
      this.isFetching = true
      this.geonamesVilles = []
      this.autoIsSelected = false
      this.searchGEONames(this.laboratoire.sitePrincipal, this.geonamesAllowedCountries)
        .then(results => {
          results.data.geonames.forEach((item) => {
            if (this.geonamesVilles.filter(obj => obj.name === item.name).filter(obj => obj.countryName === item.countryName).length === 0) {
              this.geonamesVilles.push(item)
            }
          })
          this.isFetching = false
        })
        .catch((error) => {
          this.isFetching = false
          throw error
        })
    }
  },
  watch: {
    disciplineTotalPerc: function () {
      if (this.disciplineTotalPerc !== 100) {
        this.disciplineTotalErreur = true
      } else {
        this.disciplineTotalErreur = false
      }
    }
  },
  mounted () {
    const loadingComponent = this.$buefy.loading.open({
      container: null
    })
    this.$store.dispatch('user/getLaboratoire')
      .then(data => {
        loadingComponent.close()
        if (data) {
          this.savedLaboratoire = JSON.parse(JSON.stringify(data))
          this.laboratoire = JSON.parse(JSON.stringify(data))
          this.siteLatitude = this.laboratoire.latitude + 0.000000001
          this.siteLongitude = this.laboratoire.longitude + 0.000000001
          let ld = this.laboratoire.disciplines.pop()
          this.cdiscipline.pk = ld.pk
          this.cdiscipline.nom = ld.nom
          this.cdiscipline.pourcentage = ld.pourcentage
        }
      })
      .catch((erreur) => {
        loadingComponent.close()
      })
    this.hasChanged = false
  }
}
</script>
