<template>
  <div>
    <div class="box-blue">
      <div class="su-service">
        <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
          <nav class="level">
            <div class="level-left">
              {{ initiative.laboratoire.nom }} ({{ initiative.laboratoire.tutelle | joinTutelles }})
            </div>
            <div class="level-right">
              <b-field grouped group-multiline>
                <div class="control">
                  <carbon-footprint :status="initiative.BGESext" :annees="initiative.BGES_annee"/>
                </div>
                <div class="control">
                  <b-taglist rounded attached v-if="initiative.initiative_institutionnelle">
                    <b-tag type="is-dark">
                      <b-icon
                        pack="sui"
                        icon="institution"
                        size="is-small">
                      </b-icon>
                    </b-tag>
                    <b-tag type="is-primary">Portée par la direction</b-tag>
                  </b-taglist>
                </div>
              </b-field>
            </div>
          </nav>
        </div>
        <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.description">
          {{initiative.description}}
        </div>
      </div>
    </div>
    <su-service :icon="'user'">
      <template #title>
        <a class='link' :href="`mailto:${initiative.membre.email}`">{{ initiative.membre.prenom }} {{ initiative.membre.nom }}</a>
      </template>
      <i>Initiative proposée le {{initiative.created | dateFormat}} - Dernière mise à jour le {{initiative.last_update | dateFormat}}</i>
    </su-service>
    <br v-if="initiative.groupe_description != ''"/>
    <su-service
      v-if="initiative.groupe_description"
      :icon="'lightbulb-o'"
    >
      <template #title>
        Groupe de réflexion
      </template>
      <div v-html="initiative.groupe_description">
        {{ initiative.groupe_description }}
      </div>
    </su-service>
    <br v-if="initiative.engagements != ''"/>
    <su-service
      v-if="initiative.engagements"
      :icon="'pencil'"
    >
      <template #title>
        Engagements (charte, manifeste, ...)
      </template>
      <div v-html="initiative.engagements">
        {{ initiative.engagements }}
      </div>
    </su-service>
    <br />
    <div v-if="displayRight()||displayLeft()" class="columns">
      <div v-if="displayRight()" class="column">
        <div class="box-blue">
          <div v-if="initiative.actrecherche_description != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-flask" style="font-size:32px;color:#333333"></i> Activités de recherche
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.actrecherche_description">
              {{ initiative.actrecherche_description }}
            </div>
          </div>
          <br v-if="initiative.actrecherche_description != ''"/>
          <div v-if="initiative.deplacementspro_description != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-train" style="font-size:32px;color:#333333"></i> Déplacements professionnels
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.deplacementspro_description">
              {{ initiative.deplacementspro_description }}
            </div>
          </div>
          <br v-if="initiative.deplacementspro_description != ''"/>
          <div v-if="initiative.deplacementsdt_description != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-bicycle mt-2" style="font-size:28px;color:#333333"></i> Déplacements domicile–travail
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.deplacementsdt_description">
              {{ initiative.deplacementsdt_description }}
            </div>
          </div>
          <br v-if="initiative.deplacementsdt_description != ''"/>
          <div v-if="initiative.batiments_description != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-building" style="font-size:32px;color:#333333"></i> Bâtiments
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.batiments_description">
              {{ initiative.batiments_description }}
            </div>
          </div>
          <br v-if="initiative.batiments_description != ''"/>
          <div v-if="initiative.numerique_description != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-laptop" style="font-size:32px;color:#333333"></i> Numérique
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.numerique_description">
              {{ initiative.numerique_description }}
            </div>
          </div>
        </div>
      </div>
      <div v-if="displayLeft()" class="column">
        <div class="box-blue">
          <div v-if="initiative.ecoresponsable != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-leaf" style="font-size:32px;color:#333333"></i> Autres actions éco-responsables (eau, déchets, alimentation)
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.ecoresponsable"> {{initiative.ecoresponsable}} </div>
          </div>
          <br v-if="initiative.ecoresponsable != ''"/>
          <div v-if="initiative.sociale != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-joomla" style="font-size:32px;color:#333333"></i> Initiatives à portée sociale
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.sociale"> {{initiative.sociale}} </div>
          </div>
          <br v-if="initiative.sociale != ''"/>
          <div v-if="initiative.enquetes != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-bar-chart-o" style="font-size:32px;color:#333333"></i> Enquêtes
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.enquetes"> {{initiative.enquetes}} </div>
          </div>
          <br v-if="initiative.enquetes != ''"/>
          <div v-if="initiative.communication != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-weixin" style="font-size:32px;color:#333333"></i> Communication
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.communication"> {{initiative.communication}} </div>
          </div>
          <br v-if="initiative.communication != ''"/>
          <div v-if="initiative.autres_initiatives != ''" class="su-service">
            <div class="su-service-title" style="padding-left:46px;min-height:32px;line-height:32px">
              <i class="sui sui-sticky-note" style="font-size:32px;color:#333333"></i> Autres initiatives
            </div>
            <div class="su-service-content su-clearfix" style="padding-left:46px" v-html="initiative.autres_initiatives"> {{initiative.autres_initiatives}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CarbonFootprint from '@/components/initiatives/CarbonFootprint.vue'
import SUService from '@/components/SUService.vue'

export default {
  name: 'VueInitiative',
  props: ['initiative'],
  components: {
    'carbon-footprint': CarbonFootprint,
    'su-service': SUService
  },
  filters: {
    joinTutelles: function (value) {
      if (value) {
        return value.toString().split(',').join(', ')
      }
    }
  },
  methods: {
    displayRight: function () {
      return this.initiative.numerique_description || this.initiative.deplacementsdt_description || this.initiative.deplacementspro_description || this.initiative.actrecherche_description || this.initiative.batiments_description
    },
    displayLeft: function () {
      return this.initiative.sociale || this.initiative.ecoresponsable || this.initiative.enquetes || this.initiative.communication || this.initiative.autres_initiatives
    }
  }
}
</script>
