<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            <p style="text-align: justify;">
              <strong>Chers et chères collègues,</strong>
            </p>
            <div class="columns">
              <div class="column">
                <p style="margin-top:7px;text-align: justify;">
                  Cette lettre d’information de <em>Labos 1point5</em> est l’occasion de faire un retour sur le
                  <router-link class="link" to="/info-news/journee-l1p5-2020">colloque virtuel</router-link>
                  que nous avons organisé le 6 novembre, et de partager avec vous des éléments de réflexion concernant
                  la suite du mouvement.
                </p>
                <p style="margin-top:7px;text-align: justify;">
                  Le colloque a été un succès : plus de <strong>800 personnes</strong> y ont participé en cumulé (687 auditeurs en simultané
                  lors de la session du matin). Vous pouvez retrouver l’ensemble du programme, des enregistrements ainsi qu'un
                  compte rendu collaboratif de la journée (initié par André Estevez-Torres, merci à lui, et réalisé par les
                  participants) : <router-link class="link" to="/info-news/journee-l1p5-2020">ici</router-link>.
                </p>
                <p style="margin-top:7px;text-align: justify;">
                  Pour ceux qui s’intéressent aux outils de conférence virtuelle
                  (<a class="link" target="_blank" href="https://www.crowdcast.io/discover">Crowdcast</a>
                  et <a class="link" target="_blank" href="https://gather.town/">GatherTown</a>) utilisés lors
                  de ce colloque, vous pouvez lire ce
                  <a class="link" target="_blank" href="https://docs.google.com/document/d/15bk7UUUxRow1k2IDK6gcLKF4yW-naDYWIvtPkkT6Prs/edit">tutoriel</a>.
                </p>
                <p style="margin-top:7px;text-align: justify;">
                  Nous avons été marqués par la très grande énergie qui s’est dégagée lors de cette journée et espérons
                  que l’année devant nous, malgré ses difficultés évidentes et particulières, nous réserve de nombreuses
                  rencontres aussi riches.
                </p>
              </div>
              <div class="column">
                <p style="margin-top:7px;text-align: justify;">
                  Suite aux questions posées lors de et après cette journée, nous proposons ci-dessous des éclairages
                  concernant l’organisation actuelle de <em>Labos 1point5</em> et des pistes d’organisation futures.<br/>
                  Nous proposons en particulier différentes manières de s’impliquer et de participer aux orientations
                  du collectif pour ceux et celles qui le souhaitent.
                </p>
                <p style="margin-top:30px;text-align: justify;">
                  Contenu de la lettre d’information :
                </p>
                <ul style="list-style-type:square;margin-left:25px">
                  <li><a class="link" href="#collectif">Le collectif et ses membres</a> ;</li>
                  <li><a class="link" href="#gdr">Le collectif, l’association et le groupement de recherche (GDR)</a> ;</li>
                  <li><a class="link" href="#engagement">Engagement au sein du collectif</a> ;</li>
                  <!-- <li><a class="link" href="#actus-des-labos">Actus des labos</a> ;</li> -->
                  <li><a class="link" href="#autres-actus">Autres actualités</a>.</li>
                </ul>
              </div>
            </div>
          </div>

          <div id="collectif" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-users"></i> Le collectif et ses membres
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <strong>Actuellement</strong> le collectif <em>Labos 1point5</em> est organisé en trois ensembles :
                <ol style="margin-left:25px">
                  <li style="margin-top:7px">
                    Le plus large concerne plus de 2000 abonnés à notre newsletter avec lesquels nous interagissons
                    via l’adresse mail contact (gérée par Tamara Ben Ari, Olivier Berné et Jérôme Mariette).</li>
                  <li style="margin-top:7px">
                    Le deuxième concerne les inscrits dans
                    <router-link class="link" to="/le-gdr">les équipes</router-link>
                    (plus de 400 membres de la communauté) avec
                    qui nous interagissons via les listes mails des équipes qui sont mises à jour automatiquement via
                    les inscriptions sur le site internet. Ceux-ci composent le collège électoral du collectif en cas
                    de consultation par le vote, comme cela a été le cas pour certains textes produits par le collectif
                    (<router-link class="link" to="/nos-textes/TransitionLPPR">ici</router-link> par ex.).</li>
                  <li style="margin-top:7px">
                    Le dernier ensemble concerne la coordination du collectif composée de 11 personnes dont les
                    coordinateurs et coordinatrices de chacune des
                    <router-link class="link" to="/le-gdr">équipes du collectif</router-link> (Olivier Aumont, Tamara Ben Ari,
                    Olivier Berné, Odile Blanchard, Milan Bouchet-Valat, Estelle Carciofi, Patrick Hennebelle,  Jérôme Mariette,
                    Olivier Ragueneau, Philippe Roche, et Audrey Sabbagh) qui se réunit mensuellement, et plus fréquemment
                    en sous groupes. </li>
                </ol>
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                  Les personnes qui le souhaitaient, membres ou non d’une équipe du collectif, ont eu accès à la plateforme
                  de messagerie instantanée Framateam qui rassemble 175 personnes à ce jour. Celle-ci ayant atteint sa capacité
                  limite, nous allons la remplacer.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                  À la rentrée de janvier 2021, nous allons lancer une nouvelle campagne d’inscription dans les équipes adossées
                  à la mise en place d’une nouvelle plateforme de travail collaborative. L’accès à celles-ci se fera sur la base
                  d’un engagement à contribuer au travaux du collectif, et sera à renouveler tous les ans.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                  A l’avenir, des groupes de travail pourront émerger spontanément, dans ou hors des équipes, via un contact avec
                  la coordination (voir ci-dessous). Les animateurs de ces groupes seront invités à rejoindre la coordination, de
                  façon à éviter les épuisements et enrichir le collectif de nouvelles idées.
              </p>
            </div>
          </div>

          <div id="gdr" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-flask"></i> Le collectif, l’association et le groupement de recherche (GDR)
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Les travaux menés par le collectif jusqu’à ce jour ont nécessité que nous mettions en place des solutions à des
                problèmes très pratiques concernant la protection des données personnelles, la sécurité des données, les moyens
                de fonctionner, le paiement de prestations, etc. Pour répondre à ces besoins nous avons, d’une part, créé
                l’association loi 1901 <em>Labos 1point5</em>
                (<a class="link" target="_blank" href="https://cloud.le-pic.org/s/MAibiSMB9Qde2j3#pdfviewer">statuts</a>)
                qui permet de garantir une existence juridique au collectif,
                notamment pour la gestion et la protection des données associées à l’outil d’estimation de l’empreinte carbone
                des laboratoires <router-link class="link" to="/ges-1point5">GES 1point5</router-link>.
                D’autre part, nous avons proposé au CNRS et à l’INRAE la création d’un <strong>Groupement
                De Recherche (GDR)</strong>.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                Un GDR est une structure administrative reconnue par un ou plusieurs établissements de
                recherche, à laquelle les membres de la communauté (de tout statut) peuvent adhérer à titre individuel, et
                centrée sur une thématique de recherche spécifique.
              </p> </div>
            <div class="column">
              <p style="text-align: justify;">
                Cette structure pourra bénéficier de financements directs
                par les établissements, pour des besoins en personnel ou en fonctionnement. Les personnels peuvent déclarer
                officiellement leur temps de travail sur un GDR. Ce dernier point permet d’améliorer la question du temps passé
                par des personnes du collectif sur des travaux liés aux activités de recherche de <em>Labos 1point5</em>.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                Nous considérons l’association et le GDR comme des “outils” au service du collectif. Ce dernier doit continuer
                d’exister comme aujourd’hui en se dotant néanmoins de moyens pour avancer dans les multiples directions en cours
                de développement, à la fois sur des aspects de réflexion et de participation aux débats dans la société et aussi
                dans sa dimension de recherche.
              </p>
            </div>
          </div>

          <div id="engagement" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-handshake-o"></i> Engagement au sein du collectif
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                La journée du 6 novembre a été l’occasion de constater la volonté de nombreuses personnes de contribuer
                aux projets de <em>Labos 1point5</em>. Nous vous proposons ci-dessous, pour celles et ceux qui le souhaiteraient,
                quelques opportunités pour vous engager.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                Voici une liste non exhaustive de choses pour lesquelles tout renfort sera bienvenu :
              </p>
              <div class="columns">
                <div class="column">
                  <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                    <li style="margin-top:7px"><strong>Prendre en main l’animation d’un groupe de travail</strong> sur un sujet qui vous motive et vous semble
                      essentiel et que vous souhaitez faire émerger au sein du collectif;</li>
                    <li style="margin-top:7px"><strong>Rendre possible le recrutement du ou de la coordinateur(trice)</strong> du collectif : gestion
                      administrative, interactions avec l’ADEME et le CNRS/INRAE à ce sujet;</li>
                    <li style="margin-top:7px"><strong>Renforcer l’équipe Communication</strong> pour, notamment, créer des supports de présentation du collectif,
                      effectuer une veille sur les publications scientifiques portant sur l’empreinte environnementale des
                      activités de recherche, contribuer à la création et l’alimentation de la page Wikipedia <em>Labos 1point5</em>,
                      rédiger et diffuser - en collaboration avec l’équipe technique - un guide de bonnes pratiques numériques, …;</li>
                    <li style="margin-top:7px"><strong>Enregistrer une version vidéo</strong> des enseignements développés par le groupe de travail Enseignement;</li>
                    <li style="margin-top:7px"><strong>Participer au développement de GES 1point5</strong> en étendant son périmètre et en ajoutant des modules
                      d'analyse des données agrégées, de mesure de l’évolution des émissions d’un laboratoire, d’estimation
                      de l’empreinte carbone de la recherche française ou encore de prise en compte de scénarios de réduction;</li>
                  </ul>
                </div>
                <div class="column">
                  <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                    <li style="margin-top:7px"><strong>Participer à la maintenance du site WEB</strong> du collectif (prérequis : connaissances en vue.js);</li>
                    <li style="margin-top:7px"><strong>Prendre en main la mise en place d’un annuaire</strong> des membres du collectif consultable sur le site WEB
                      du collectif (prérequis: connaissances en vue.js);</li>
                    <li style="margin-top:7px"><strong>Participer à la mise en place d’une enquête</strong> par questionnaire-type qui sera mise à la disposition des
                      laboratoires qui le souhaitent. Ces enquêtes pourront être mises en commun pour constituer une base de
                      données nationale anonymisée; </li>
                    <li style="margin-top:7px"><strong>Coordonner/participer au groupe de travail sur les pratiques de publication</strong> dans le collectif (revues,
                      modalités de signature, libre accès des données);</li>
                    <li style="margin-top:7px"><strong>Coordonner/participer au groupe de travail sur l’évaluation de la qualité de la recherche</strong> pour proposer
                      un chemin alternatif;</li>
                    <li style="margin-top:7px"><strong>Participer à l’équipe d’animation</strong> des relations du collectif avec d’autres initiatives à l’étranger.</li>
                  </ul>
                </div>
              </div>
              <p style="text-align: justify;">
                Si vous souhaitez participer ou prendre en charge l’une des actions citées plus haut, merci d'écrire à la
                coordination du collectif : <a class="link" href="mailto:coordination@labos1point5.org">email</a>.
              </p>
            </div>
          </div>

          <!--
          <div class="columns">
            <div class="column ">
              <div id="actus-des-labos" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-newspaper-o"></i> Actus des labos
              </h2>
              <p style="text-align: justify;">
                Le collectif grenoblois <em>Campus1point5 Grenoble</em> (créé fin 2019) a lancé son site web :
              </p>
              <div>
                <p style="margin:7px auto;max-width:80%;">
                  <a class="link" target="_blank" href="https://campus1point5grenoble.org">
                    <img src="@/assets/images/newsletters/news6_coll-grenoblois.png" alt="" />
                  </a>
                </p>
              </div>
              <p style="text-align: justify;">
              Il recrute dans ses groupes de travail.
              </p>
            </div>
            <div class="column is-three-fifths">
          -->
          <div id="autres-actus" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-newspaper-o"></i> Autres actualités
          </h2>
          <div class="columns">
            <div class="column ">
              <p style="text-align: justify;">
                Un webinaire “Roundtable of Sustainable Academic Travel : Actions Beyond the University” est organisé le 12/01/21
                par les membres du
                <a class="link" target="_blank" href="https://businesstravelroundtable.ac/forum">Roundtable of Sustainable Academic Travel</a>.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                Ce webinaire a pour objectif d’identifier des actions
                structurelles et systémiques pour diminuer l’empreinte carbone de l’enseignement supérieur et la recherche liée aux
                déplacements - actions qui pourraient être menées par des organismes extérieurs, tels que les agences de financement
                de la recherche, organisateurs de conférences et agences de classement.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                C'est par <a class="link" target="_blank" href="https://t.co/313U9TsZAI?amp=1">ici</a> pour en savoir plus ainsi que
                pour s’inscrire.
              </p>
            </div>
          </div>
          <hr/>
          <p style="text-align: right;"><strong>N'hésitez pas à nous faire remonter vos idées et propositions de travail !<br />
            La coordination nationale, Floriane Clément et Estelle Carciofi (équipe Com.) & Philippe Bardou (équipe Tech.) </strong>
          </p>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #6 - <em>Labos 1point5</em> - 01 décembre 2020
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter6'
}
</script>
