<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            Contenu de la lettre d’information :
            <ul style="list-style-type:square;margin-left:25px">
              <li><a class="link" href="#une">À la une</a> ;</li>
              <li><a class="link" href="#activites-equipes">Activités des équipes du collectif</a> ;</li>
              <li><a class="link" href="#appel-colloque">Appel à participation pour l’organisation Colloque <em>Labos 1point5</em></a> ;</li>
              <li><a class="link" href="#actualites-labos">Actualités des labos</a> ;</li>
              <li><a class="link" href="#appels">Appels hors <em>Labos 1point5</em></a>.</li>
            </ul>
          </div>

          <div id="une" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> À la une
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <strong>Deux grandes nouvelles</strong> pour le mois de mai 2020 :
              </p>
              <div class="columns">
                <div class="column">
                  <p style="text-align:justify">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li style="margin-top:7px">
                        L‘outil développé au sein de <em>Labos 1point5</em> pour estimer les émissions de gaz à effet de serre [GES] des
                        laboratoires a désormais un nom : <strong>GES-1point5</strong>. Ce nom résulte d’un vote de 42 personnes impliquées
                        dans le développement et le test de l’outil, par jugement majoritaire, sur 15 propositions.
                      </li>
                    </ul>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align:justify">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li style="margin-top:7px">
                        Le 14 mai l’équipe "Empreinte carbone des laboratoires" a livré une première version de
                        <strong>GES 1point5</strong> à 10 laboratoires testeurs. Ceux-ci ont pour mission de détecter des bugs, des erreurs
                        et aussi de proposer des améliorations et de nouveaux développements tant sur le plan méthodologique
                        qu’ergonomique.
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
              <p style="text-align: justify;margin-bottom:10px">
                Le lancement public de l’outil GES-1point5 devrait pouvoir se faire début juillet, une fois les
                phases de test terminées.
              </p>
            </div>
          </div>

          <div id="activites-equipes" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> Activités des équipes du collectif
          </h2>
          <div class="columns">
            <div class="column">
              <b-tabs position="is-centered" size="is-small" class="block" style="margin:auto !important" expanded>
                <b-tab-item label="Enquête" icon="bar-chart">
                  <p style="text-align: justify;">
                    L'équipe a terminé une première version du questionnaire sur les représentations et les pratiques
                    du monde scientifique face au changement climatique. Elle est en cours de test auprès de différents
                    collègues par les membres de l'équipe de manière à vérifier qu'elle s'adapte à tous les contextes
                    et toutes les disciplines. L'objectif sera ensuite de diffuser le questionnaire auprès d'un large
                    échantillon de personnels de la recherche avant l'été.
                  </p>
                </b-tab-item>
                <b-tab-item label="Réflexion" icon="lightbulb-o">
                  <p style="text-align: justify;">
                    L'équipe Réflexion abrite plusieurs initiatives indépendantes :
                  </p>
                  <ul style="list-style-type:square;margin-left:25px">
                    <li style="text-align: justify;">
                      Un groupe Enseignement, travaille actuellement à la mise à disposition de matériel pédagogique
                      sur l'ensemble des grandes questions liées au climat ;
                    </li>
                    <li style="text-align: justify;">
                      Un texte sur la responsabilité de l'enseignement supérieur et de la recherche [ESR] ayant
                      vocation à être publié dans la presse a été produit. Ce texte a été révisé et discuté au
                      sein de l'équipe ;
                    </li>
                    <li style="text-align: justify;">
                      Une initiative indépendante du collectif, Scientists Workday for Future a été discutée avec
                      des membres de l'équipe ;
                    </li>
                    <li style="text-align: justify;">
                      Un groupe de 10 personnes s'est constitué, pour rédiger une courte note sur les orientations
                      de l'enseignement supérieur et de la recherche à la sortie de la crise de la COVID et dans
                      le contexte de l'urgence climatique et de la publication du projet de loi "LPPR".
                    </li>
                  </ul>
                </b-tab-item>
                <b-tab-item label="Technique" icon="sitemap">
                  <p style="text-align: justify;">
                      L'équipe technique est actuellement mobilisée par :
                  </p>
                  <ul style="list-style-type:square;margin-left:25px">
                    <li style="text-align: justify;">
                      Le développement de la nouvelle version du site web de Labos 1point5 et sa migration vers
                      les serveurs du <a class="link" target="_blank" href="https://chatons.org/">CHATON</a>
                      <a class="link" target="_blank" href="https://www.le-pic.org/"> Le PIC</a> grâce au soutien des bénévoles
                      de cette association ;
                    </li>
                    <li style="text-align: justify;">
                      Le développement de l'application GES-1point5 en collaboration avec l'équipe Empreinte ;
                    </li>
                    <li style="text-align: justify;">
                      La migration prochaine de notre outil de communication interne, Mattermost (Framateam),
                      actuellement hébergé par Framasoft (accès limité à 175 membres) vers le
                      <a class="link" target="_blank" href="https://chatons.org/">CHATON</a> <a class="link" target="_blank" href="https://picasoft.net/">Picasoft </a>
                      (accès jusqu'à 2000 membres) afin de pouvoir accueillir l'ensemble des membres de nos
                      équipes.
                    </li>
                  </ul>
                </b-tab-item>
                <b-tab-item label="Coord" icon="joomla">
                  <p style="text-align: justify;">
                      Des discussions ont été entamées entre le groupe de travail Développement durable du CNRS, la
                      direction scientifique du CNRS et la coordination représentée. Ces discussions ont abouti à
                      définir les contours d'un Groupe de recherche [GDR]. Le GDR en construction pourrait fédérer
                      une partie des activités scientifiques du collectif (en particulier celle permettant la
                      réalisation des bilans GES des laboratoires avec l'outil GES-1point5) mais aussi permettre un
                      soutien logistique, administratif et financier.
                  </p>
                </b-tab-item>
              </b-tabs>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div id="appel-colloque" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-bullhorn"></i> Appel à participation pour l’organisation du colloque 1point5
              </h2>
              <p style="text-align: justify;">
                Nous sommes toujours à la recherche de bonnes volontés pour rejoindre l’équipe d’organisation du colloque
                1point5, prévu pour la fin de l’année. Si vous souhaitez participer à l’organisation, merci de vous
                connecter à l’espace dédié dans le <a target="_blank" class="link" href="https://framateam.org/labo15/channels/equipe-colloque1p5">framateam</a>
                et / ou d’envoyer un email à : <a class="link" href="mailto:colloque@labos1point5.org">colloque@labos1point5.org</a>.
              </p>
            </div>
          </div>

          <div class="columns">
            <div class="column is-5">
              <div id="actualites-labos" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-newspaper-o"></i> Actualités des labos
              </h2>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;">
                    <strong>Vingt-six initiatives</strong> sont désormais répertoriées sur notre
                    <router-link class="link" to="/les-initiatives">site</router-link>.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Si vous souhaitez faire connaître les activités dans vos laboratoires en lien avec le collectif, n’hésitez pas à
                    proposer ou mettre à jour ces activités sur cette page.
                  </p>
                </div>
              </div>
            </div>
            <div class="column">
              <div id="appels" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-bullhorn"></i> Appels et actus hors <em>Labos 1p5</em>
              </h2>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;">
                    Formation « Impacts environnementaux du numérique : les comprendre et identifier les leviers pour les réduire » (organisée
                    par le groupement de service [GDS] <a class="link" target="_blank" href="https://ecoinfo.cnrs.fr/">CNRS EcoInfo</a>, du 21 au 25 septembre
                    2020)
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Une formation pour mieux cerner les enjeux environnementaux globaux, la part du numérique et les solutions que l’on peut
                    mettre en place pour aller vers plus de résilience : <a class="link" target="_blank" href="https://ecoinfo.cnrs.fr/2020/04/15/formation-2020-impact-environnemental-du-numerique-comprendre-et-agir/">programme et inscription</a>.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Date limite d’inscription le 4 juillet 2020, contact: <a class="link" href="mailto:inscription.formation@ecoinfo.cnrs.fr">inscription.formation@ecoinfo.cnrs.fr</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <p style="text-align: right;"><strong>N'hésitez pas à nous faire remonter vos idées et propositions de travail !<br />
            La coordination nationale, Floriane Clément et Estelle Carciofi (équipe Com.) & Philippe Bardou (équipe Tech.) </strong>
          </p>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #5 - <em>Labos 1point5</em> - 05 juin 2020
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter5'
}
</script>
