<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            Contenu de la lettre d’information :
            <ul style="list-style-type:square;margin-left:25px">
              <li>Outils de communication du collectif ;</li>
              <li>Le travail dans le collectif depuis la rentrée ;</li>
              <li>Marches pour le climat, groupe de réflexion sur l'enseignement du climat et une nouvelle version
              de l’article des 15 000 scientifiques.</li>
            </ul>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> Informations concernant le collectif <em>Labos 1point5</em>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <strong>Outil de communication :</strong><br/>Nous avons mis à disposition de
                tous ceux qui le souhaitent un <a class="link" href="https://framateam.org/labo15" target="_blank" rel="noopener">framateam</a>
                pour faciliter les échanges entre les membres du collectif. Les canaux sont organisés par équipe (6 canaux) mais
                aussi par grandes villes afin de pouvoir se coordonner localement. Pour vous inscrire dans le framateam veuillez
                suivre ce <a class="link" href="https://framateam.org/signup_user_complete/?id=1k6eykk5xidkdgsuep7y3gxzsy" target="_blank"> lien
                d’invitation</a>. Vous pouvez rejoindre et quitter librement les canaux.
              </p>
              <p style="text-align: justify;margin-top:7px">
                <em>Quelques informations simples de connexion et d’utilisation de framateam sont disponibles dans la dernière
                section de cette newsletter.</em></p>

            </div>
            <div class="column">
                <p><strong>Les équipes de travail :</strong>
                <ul style="list-style-type:square;margin-left:25px;text-align:justify">
                  <li>6 équipes de travail ont été créés dont la composition et les objectifs ont été mis en ligne sur la page
                  <router-link class="link" to="/le-gdr">"Qui sommes-nous ?"</router-link> de notre site ;</li>
                  <li style="margin-top:7px">Pour toute autre proposition de participation, pour prendre en main une tâche même toute petite, écrivez
                  nous directement par <a class="link" href="mailto:contact@labos1point5.org">email</a>.</li>
                </ul>
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> Activités depuis la rentrée
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <ul style="list-style-type:square;margin-left:25px">
                  <li>
                    Deux réunions d’équipe ont eu lieu (en visio), celle de l’équipe empreinte carbone (le compte rendu est
                    <a class="link" href="https://mensuel.framapad.org/p/3BqyeGNYza" target="_blank" rel="noopener">ici</a>) et de l’équipe technique
                    (le compte rendu est <a class="link" href="https://annuel.framapad.org/p/r.39a41cb4882631d9ab748c8a0f293a8c" target="_blank">ici</a>).
                    Lors de ces premières réunions de travail, les premiers objectifs et tâches de ces 2 équipes ont été définis,
                    <a class="link" href="https://docs.google.com/spreadsheets/d/1qwIqeFCi5kb-C4WurxyppaqCvgveYeMMIKvn4qx_p5U/edit?usp=sharing" target="_blank"> ici</a>
                    pour l’équipe empreinte et <a class="link" href="https://lite.framacalc.org/egfq0po6OC" target="_blank">ici</a> pour l’équipe technique.
                    Ces tableaux vous permettront de mieux comprendre les activités engagées. Si vous voulez participer et prendre en main une
                    partie du travail, pensez à vous <router-link class="link" to="/nous-rejoindre">inscrire</router-link> ;
                  </li>
                  <li style="margin-top:7px">Une première version des statuts de l’association est rédigée et sera étudiée par l’équipe juridique ;</li>
                </ul>
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                <ul style="list-style-type:square;margin-left:25px">
                  <li>Des discussions ont été engagées avec la direction du CNRS (notamment pour obtenir les informations concernant les missions),
                    la CPU, et l’ADEME pour un éventuel soutien financier;</li>
                  <li style="margin-top:7px">Tamara Ben Ari et Olivier Berné ont présenté le collectif à diverses occasions. Des diapositives de présentation du
                    collectif sont disponibles <a class="link" href="/static/Presentation_Collectif_Labos1point5_Sept2019.pdf" target="_blank">
                    ici</a>.</li>
                  </ul>
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> Informations et demandes hors collectif
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <strong>Marches pour le climat :</strong> Le collectif <em>Labos 1point5</em> souhaite soutenir les
                marches pour le climat qui auront lieu en France les 20 et 21 septembre. Vous pouvez utiliser et créer si besoin les canaux dédiés à
                l'organisation locale du <a class="link" href="https://framateam.org/labo15" target="_blank" rel="noopener">framateam</a> afin de rencontrer et
                manifester avec les membres du collectif de votre ville (voir l'aide framateam en fin de message pour créer un compte). Des canaux pour
                Paris, Lyon, Toulouse, Montpellier et Marseille ont déjà été créés, n'hésitez pas à ajouter votre ville.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;"><strong>Groupe de réflexion sur l'enseignement du climat : </strong> Valérie Masson Delmotte lance un
                appel pour constituer un <a class="link" href="https://evento.renater.fr/survey/groupe-de-reflexion-bz0a1xyy" target="_blank" rel="noopener"> groupe
                de réflexion</a> sur l'enseignement du climat, du développement durable et de la biodiversité, avant son audition le 2 octobre par le
                Conseil Supérieur des Programmes.
              </p>
              <p style="text-align: justify;"><strong>World Scientists’ Warning of a Climate Emergency :</strong> vous pouvez
                <a class="link" href="https://scientistswarning.forestry.oregonstate.edu" target="_blank" rel="noopener"> signer ici</a> une nouvelle version de
                l’article des 15 000 scientifiques pour alerter sur l’urgence climatique.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-book"></i> Mini-tutorial framateam
          </h2>
          <ol style="margin-left:25px;text-align:justify">
            <li>La première fois suivre le <a class="link" href="https://framateam.org/signup_user_complete/?id=1k6eykk5xidkdgsuep7y3gxzsy" target="_blank">
            lien d’invitation</a></li>
            <li>Pour se connecter (les fois suivantes) : <a class="link" href="https://framateam.org/labo15/channels/" target="_blank">https://framateam.org/labo15/channels/</a></li>
            <li>Pour suivre les canaux qui vous intéressent (par ex. “Equipe empreinte”, “ville : Montpellier”, etc.) il est nécessaire de les ajouter
            en cliquant sur “Plus…” , présenté dans l’encadré en rouge dans l’image suivante. Dans cette exemple, 3 canaux supplémentaires sont
            disponibles à l’utilisateur <em>@truc_muche</em>
            <div class="has-text-centered">
              <img src="@/assets/images/newsletters/framateam_tuto1.png" alt="" width="600" height="402" />
            </div></li>
            <li>Dans les conversations vous pouvez répondre directement à certains membres en utilisant <em>@truc_muche</em> (les noms apparaissent directement)
            <div class="has-text-centered">
              <img src="@/assets/images/newsletters/framateam_tuto2.png" alt="" width="600" height="124" />
            </div></li>
            <li style="text-align: justify;">Vous pouvez répondre à un message déjà existant mais aussi supprimer et éditer vos propres messages à l’aide du
            menu qui s’affiche au survole
            <div class="has-text-centered">
              <img src="@/assets/images/newsletters/framateam_tuto3.png" width="600" height="102" />
            </div></li>
            <li style="text-align: justify;">L’option d’épingler un message au canal permet de retrouver rapidement l’ensemble des messages / documents
            important du canal à l’aide du bouton “épingle” en haut à droite de l’interface
            <div class="has-text-centered">
              <img src="@/assets/images/newsletters/framateam_tuto4.png" width="600" height="142" />
            </div></li>
            <li style="text-align: justify;">Pour configurer votre compte utilisez le bouton à côté de votre pseudo
            <div class="has-text-centered">
              <img src="@/assets/images/newsletters/framateam_tuto5.png" width="300" height="335" />
            </div>
            Vous pourrez par exemple en cliquant sur “Paramètres du compte” ne plus afficher les notifications lorsqu'un
            membre rejoint / quitte un canal
            <div class="has-text-centered">
              <img src="@/assets/images/newsletters/framateam_tuto6.png" width="300" height="301" />
            </div></li>
            <li style="text-align: justify;">Pour plus d’information, la <a class="link" href="https://docs.framasoft.org/fr/mattermost/" target="_blank">
            documentation de framateam</a> en ligne.</li>
          </ol>
        </div>

        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #2 - <em>Labos 1point5</em> - 17 septembre 2019
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter2'
}
</script>
