<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column" style="max-width:921px">
          <div class="box-blue" style="margin-bottom:40px">
            <p style="text-align: justify;">
              <strong>À toutes et tous,</strong>
            </p>
            <div class="columns">
              <div class="column">
                <p style="margin-top:7px;text-align: justify;">
                  Nous espérons que chacune et chacun d’entre vous allez bien et que vous traversez cette longue crise le plus
                  sereinement possible.
                </p>
                <p style="margin-top:7px;text-align: justify;">
                  Ces dernières semaines ont été l’occasion pour beaucoup de se battre avec la réalité du
                  monde, de proposer des pistes de réflexion au delà de la crise.
                </p>
                <p style="margin-top:7px;text-align: justify;">
                  Nous espérons pouvoir aider à faire vivre ces débats et réflexions.
                </p>
              </div>
              <div class="column">
                <p style="margin-top:7px;text-align: justify;">
                  Contenu de la lettre d’information :
                  <ul style="list-style-type:square;margin-left:25px">
                    <li><a class="link" href="#une">À la une</a> ;</li>
                    <li><a class="link" href="#activites-equipes">Activités des équipes du collectif</a> ;</li>
                    <li><a class="link" href="#appel-colloque">Appel à participation organisation Colloque 1p5</a> ;</li>
                    <li><a class="link" href="#actualite-labos">Actualités des labos</a> ;</li>
                    <li><a class="link" href="#appels-volontes">Appel à bonnes volontés</a> ;</li>
                    <li><a class="link" href="#appels-hors-l1p5">Appels hors Labos 1point5</a>.</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>

          <div id="une" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> À la une
          </h2>
          <div class="columns">
            <div class="column">
              <p style="margin-top:7px;text-align: justify;">
                Le 16 mars, l’équipe « Technique » et l’équipe « Empreinte Carbone » ont organisé une réunion commune pour
                présenter l’avancement de l’outil de calcul de l’empreinte carbone des laboratoires (et le travail de collecte
                des données) aux représentants des neuf laboratoires testeurs qui ont proposé de tester cet outil.
              </p>
              <p style="text-align: justify;">
                L’outil de calcul en ligne public est pratiquement finalisé, voici spécifiquement les éléments qui ont été
                développés :
              </p>
              <ul style="list-style-type:square;margin-left:25px">
                <li style="margin-top:7px;">l’architecture générale des rubriques est en place ; </li>
                <li style="margin-top:7px;">les formulaires de saisie des informations relatives au labo, aux bâtiments et aux véhicules sont prêts ; </li>
                <li style="margin-top:7px;">le formulaire du questionnaire déplacements domicile-travail aussi ; </li>
                <li style="margin-top:7px;">la base de données des facteurs d’émission est à jour et chargée ; </li>
                <li style="margin-top:7px;">les calculs des émissions ont été testés par l’équipe et sont validés pour quasiment tous les postes ;</li>
                <li style="margin-top:7px;">Le tableau Bilan GES (BGES) réglementaire et les calculs d’empreinte carbone sont opérationnels ;</li>
              </ul>
              <p style="margin-top:7px;text-align: justify;">
                Il reste à finaliser le module qui concerne les déplacements liés aux missions, la rédaction de la méthodologie et des
                fiches d’aide, ainsi que l’authentification et la gestion du compte utilisateur, l’organisation de la sauvegarde et du
                stockage des données, la gestion du suivi multi-années, et la mise en production sur les serveurs.
              </p>
            </div>
            <div class="column">
              <p style="margin-top:7px;text-align: justify;">
                Cette réunion a aussi été l’occasion de répondre aux interrogations des labos testeurs sur divers points. La question
                de l’accès aux données a été abordée à plusieurs égards. Eu égard à la période de confinement actuelle, l’outil pourra
                être testé, même si les données disponibles sont seulement partielles ou si l’enquête déplacement domicile-travail ne
                peut pas avoir lieu dans les conditions réelles. En ce qui concerne l’autorisation du DU pour que le/la référent.e BGES
                du labo puisse disposer des données nécessaires, elle est indispensable. Mais cette question dépasse celle des données :
                pour faire le BGES de son labo, il convient d’avoir une (au moins relative) adhésion du personnel du labo et le soutien
                du DU.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                <strong>Dans ce but, AVANT de commencer à travailler sur la collecte des données, il est vivement recommandé d’échanger avec le
                DU en amont sur l’intérêt de faire le BGES du labo, puis d’organiser une réunion d’information à destination de
                l’ensemble du personnel du labo, en présence du DU.</strong>
              </p>
              <p style="margin-top:7px;text-align: justify;">
                Nous travaillons par ailleurs avec la direction du CNRS pour que ces efforts soient coordonnées au niveau national et que le
                CNRS donne son appui à l’utilisation de l’outil Labos 1point5 pour la réalisation des BGES.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                Nous espérons que les tests pourront commencer dans les labos testeurs début mai, de manière à ce que l’outil soit livré à
                tous les labos fin juin / début juillet.
              </p>
            </div>
          </div>

          <div id="activites-equipes" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> Activités des équipes du collectif
          </h2>
          <div class="columns">
            <div class="column">
              <b-tabs position="is-centered" size="is-small" class="block" style="margin:auto !important" expanded>
                <b-tab-item label="Expérimentation" icon="flask">
                  <p style="text-align: justify;"><strong>Lancement d'un réseau d'expérimentation sur la réduction des émissions</strong></p>
                  <p style="text-align: justify;">Nous avons un objectif commun : baisser l'empreinte carbone de la recherche. Chaque laboratoire,
                    chaque discipline, détient une expertise spécifique sur les moyens d'y arriver. Nous proposons donc de créer, au sein du
                    collectif, un réseau d'expérimentation (sur le type réseau DEPHY rassemblant plusieurs milliers de fermes engagées dans la
                    réduction de l'usage des pesticides , par exemple). La coordination a ainsi proposé la création d'une équipe dédiée qui aura
                    pour tâche d'accompagner et de documenter les différentes méthodes pour stimuler des réductions des émissions de GES liées
                    aux activités de la recherche (mesures incitatives, taxes, quotas... etc.)
                    Concrètement, nous proposons de vous inscrire à cette équipe via le <router-link class="link" to="/nous-rejoindre">site internet</router-link>. Nous cherchons également
                    un ou une co-coordinateur.trice d'équipe pour travailler avec Olivier Ragueneau à la mise en place de cette initiative. Les
                    discussions pourront commencer par mail et une première série de questions peut être discutée dans le
                    <a class="link" href="https://framateam.org/labo15/channels/reseau-dexperimentation" rel="noopener" target="_blank">canal Expérimentation
                    du Framateam</a>.
                  </p>
                </b-tab-item>
                <b-tab-item label="Enquête" icon="bar-chart">
                  <p style="text-align: justify;">L'équipe Enquête accélère son calendrier. L'épidémie de coronavirus bouleverse depuis quelques semaines
                    le fonctionnement de la recherche, comme le reste de la société (fermeture des locaux, annulations de conférences en série, recours
                    à la visioconférence...). Une enquête portant sur les pratiques de recherche en 2020 serait donc peu représentative des années passées,
                    et, probablement, à venir. Face à ce problème, l'équipe a décidé d'accéler la mise en place de l'enquête, de manière à interroger les
                    travailleurs de la recherche sur leurs pratiques au cours de l'année 2019. Un questionnaire de test sera diffusé dans les semaines qui
                    viennent, avec pour objectif une passation de l'enquête par Internet au cours du printemps.</p>
                </b-tab-item>
                <b-tab-item label="Réflexion" icon="lightbulb-o">
                  <ul style="list-style-type:square;margin-left:25px">
                    <li><p style="text-align: justify;">Un <a class="link" href="https://docs.google.com/document/d/1gRF_dlnssia6gb6lAMqnl7GhscyJmnqTA8h_nXu82LA/edit?usp=sharing" rel="noopener" target="_blank">groupe
                      "Enseignement"</a> est en train de démarrer. L'objectif est d'élaborer des contenus (textes ou présentations en lien avec les crises
                      climatique/environnementale et la transition énergétique) qui pourront être utilisés par les membres de L1p5 pour faire des interventions
                      dans différentes collectivités et/ou diffusés. Les personnes intéressées sont invitées à entrer en contact
                      avec <a class="link" href="mailto:patrick.hennebelle@cea.fr">Patrick Hennebelle</a> ;</p>
                    </li>
                    <li><p style="text-align: justify;">Une réflexion autour de la crise COVID-19 que nous vivons actuellement et de son parallèle éventuel
                      avec la crise environnementale est en cours sur un <a class="link" href="https://framateam.org/l1p5-covclimat/channels/town-square" rel="noopener" target="_blank">Framateam</a> ;</p>
                    </li>
                    <li><p style="text-align: justify;"> Un <a class="link" href="https://docs.google.com/document/d/1p6t5qwSQrgtMDF7y4y1BKuNGVmwk4cerL2lRVHbSupE/edit?usp=sharing" rel="noopener" target="_blank">groupe "Scientist work day for future"</a>
                    a démarré. Son objectif est d'inciter l'ensemble des scientifiques à travailler un jour par semaine sur une thématique en lien avec les
                    crises climatique/environnementale et la transition énergétique, même si ce n'est pas leur sujet d'origine. Les personnes intéressées
                    sont invitées à entrer en contact avec <a class="link" href="mailto:vincent.guillet@free.fr">Vincent Guillet</a> ;</p>
                  </li>
                </ul>
                <p style="text-align: justify;"> N'hésitez pas à proposer les thématiques que vous souhaiteriez voir abordées lors d'une prochaine réunion. </p>
                </b-tab-item>
                <b-tab-item label="Com" icon="weixin">
                  <ul style="list-style-type:square;margin-left:25px">
                    <li><p style="text-align: justify;"> Nous avons décidé de lancer un annuaire Labos 1point5 dont les objectifs seront de (i) permettre aux
                      personnes qui le souhaitent de se contacter au sein du collectif (ii) permettre aux organisations, associations, médias, etc. de contacter
                      des personnels de recherche localement et par disciplines. Sa préparation est en cours, de même que la restructuration de la page "Ressources"
                      du site web de Labos 1point5, afin d'inclure des résumés des articles choisis et de mieux les valoriser ; </p>
                    </li>
                    <li><p style="text-align: justify;">  Nous espérons que les ressources partagées sur les wikis
                      <a class="link" href="https://www.appropedia.org/List_of_low-carbon_conferences" rel="noopener" target="_blank">Appropédia</a> et
                      <a class="link" href="https://sustainability.wiki.gwdg.de/doku.php?id=conferences" rel="noopener" target="_blank">Sustainability in Science</a> concernant
                      l'organisation de conférences virtuelles seront plus utiles que jamais pendant cette période très particulière ; </p>
                    </li>
                  </ul>
                </b-tab-item>
                <b-tab-item label="Coord" icon="joomla">
                  <p style="text-align: justify;">
                    <strong>Contacts institutionnels</strong>
                    <br />
                    Le CNRS a acté son soutien aux activités du collectif. Les discussions se poursuivent avec la direction du CNRS pour trouver un mode de
                    fontionnement qui permette échange de données et de moyens. Plusieurs solutions sont envisagées. Il s'agit notamment de définir les modalités
                    d'accès aux données de mission (entre autres) pour la réalisation des bilan GES des laboratoires (voir les actus de l'équipe 'Empreinte' à la une).
                  </p>
                  <p style="text-align: justify;"><strong>Finances</strong>
                    <br />
                    L'ADEME a acté un co-financement à 70% d'un temps plein pour 2 ans. Nous continuons nos recherches pour identifier le cofinancement et les
                    aspects administratifs avec pour objectif l'année scolaire prochaine avec un coordinateur de projet!
                  </p>
                </b-tab-item>
              </b-tabs>
            </div>
          </div>

          <div id="appel-colloque" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-bullhorn"></i> Appel à participation pour l’organisation Colloque 1p5
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Une équipe d’organisation d’un colloque <em>Labos 1point5</em> est en cours de construction.<br/>Ce colloque aura vocation à (i) présenter les résultats de
                plus d’une année de travail du collectif, (ii) présenter les initiatives de réduction de l’empreinte carbone dans les laboratoires, (iii) alimenter
                la réflexion avec des interventions et des discussions sur les manières de concrétiser les objectifs de réduction de l’empreinte de la recherche.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                Ce colloque, qui bénéficie d’une subvention de l’ADEME, a vocation à être partiellement dématérialisé en connectant des hubs dans les grandes villes
                de France pour être facile d’accès, avoir une empreinte très faible et favoriser les échanges humains (sessions posters, cafés, etc.). Pour l’instant,
                le colloque est programmé pour la fin de l’année et prévu sur deux journées.
              </p>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px">
                <li>
                  <strong>Journée 1 - actions dans les laboratoires</strong>
                  <ul style="list-style-type:square;margin-left:25px">
                    <li> <p style="text-align: justify;"> Des présentations sélectionnées avec soumission d’abstracts, des posters…</p> </li>
                    <li> <p style="text-align: justify;"> Des interventions de différents réseaux / groupes de travail : Atecopol, Ecopolien, LOCEAN-Climactions… </p> </li>
                    <li> <p style="text-align: justify;">  Des interventions artistiques…</p> </li>
                  </ul>
                </li>
                <li>
                  <strong> Journée 2 - L1p5 (matin), discussions (après-midi).</strong>
                  <ul style="list-style-type:square;margin-left:25px">
                    <li> <p style="text-align: justify;"> Présentation du collectif </p> </li>
                    <li> <p style="text-align: justify;"> Restitutions des équipes  </p> </li>
                    <li> <p style="text-align: justify;">Discussions approfondies </p> </li>
                  </ul>
                </li>
              </ul>
              <p style="text-align: justify;"> Pour rendre cela vivant, rythmé et techniquement stable, il y a bien entendu beaucoup de travail en amont.  Si vous
                souhaitez participer, merci de vous connecter à l'<a class="link" href="https://framateam.org/labo15/channels/equipe-colloque1p5" rel="noopener" target="_blank">espace
                dédié dans le framateam</a> et / ou d'envoyer un email à : <a class="link" href="mailto:colloque@labos1point5.org">colloque@labos1point5.org</a>.
              </p>
            </div>
          </div>

          <div id="actualite-labos" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-newspaper-o"></i> Actualités des labos
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <strong>Vingt-cinq initiatives</strong> sont désormais répertoriées sur notre
                <router-link class="link" to="/les-initiatives">site</router-link>.
              </p>
              <p style="text-align: justify;">
                Si vous souhaitez faire connaitre les activités dans vos laboratoires
                en lien avec le collectif, n'hésitez pas à proposer ou mettre à jour ces activités sur cette page !
              </p>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div id="appels-volontes" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-bullhorn"></i> Appel à bonnes volontés !
              </h2>
              <p style="text-align: justify;">
                Le collectif Labos 1point5 a toujours besoin de renforcer ses 7 équipes, en particulier sur les initiatives listées
                ci-dessous :
              </p>
              <ul style="margin-top:7px;list-style-type:square;margin-left:25px">
                <li>Aider à la mise en place des outils de vote en ligne ;</li>
                <li>Groupe d'animation et d'organisation des Webinaires <em>Labos 1point5</em> ;</li>
                <li>Suivre, répertorier et contacter les initiatives en France en relation avec l'équipe technique ;</li>
                <li>Prendre en main la gestion administrative des finances de Labos 1point5. Nous avons obtenu une co-financement pour un emploi à plein temps
                  et des fonds pour le fontionnement du collectif. Nous aurions besoin d'aide pour prendre en main la gestion de ce poste et du cofinancement,
                  ainsi que la gestion des finances en général ;
                </li>
                <li>Aider à la gestion des réseaux sociaux : si quelqu'un a une expérience en communication en particulier en tant que Community manager, ce
                  serait très utile. Si vous souhaitez nous aider, <a class="link" href="mailto:coordination@labos1point5.org">contactez nous</a>;
                </li>
              </ul>
              <p style="text-align: justify;">
                Par ailleurs, grâce à l'obtention de subventions, il sera possible d'encadrer des étudiants en stage sur les
                activités du collectif. N'hésitez pas à nous faire remonter des demandes si vous êtes intéressé.e.s !
              </p>
            </div>
            <div class="column">
              <div id="appels-hors-l1p5" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-bullhorn"></i> Appels et actus hors <em>L1p5</em>
              </h2>
              <p style="text-align: justify;">
                Lancement du blog: <a class="link" href="https://www.clim-ethique.com" rel="noopener" target="_blank">« Changement Clim-éthique »
                </a>pour partager un essai sur la dimension éthique du changement climatique et du changement tout court. Une belle invitation à réfléchir
                collectivement à ce que cette crise sanitaire nous dit de nos sociétés aujourd’hui et à la sortie de ce confinement. Retrouvez les épisodes,
                publiés tous les trois jours.
              </p>
              <p style="margin-top:7px;text-align: justify;">
                Lancement de <a href="https://www.sciencesenlive.org" class="link" target="_blank">"Sciences en Live"</a> qui permet entre autres aux chercheurs
                d'interagir suivant différentes modalités devant le grand public en téléconférence. Il s'agit d'un réseau d'acteurs de l'enseignement supérieur,
                de l'éducation scolaire et de la médiation scientifique qui se sont regroupés du fait du confinement
              </p>
              <p style="margin-top:7px;text-align: justify;">
                À (re)voir et à (r)écouter : les vidéos et audios des séminaires de l'Atécopol sont désormais en ligne. Retrouvez
                <a class="link" href="https://atecopol.hypotheses.org/3684" rel="noopener" target="_blank">la liste des séminaires et les liens vidéos/audios</a>.
              </p>
            </div>
          </div>
          <hr/>
          <p style="text-align: right;"><strong>N'hésitez pas à nous faire remonter vos idées et propositions de travail !<br />
            La coordination nationale, Floriane Clément et Estelle Carciofi (équipe Com.) & Philippe Bardou (équipe Tech.) </strong>
          </p>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #4 - <em>Labos 1point5</em> - 13 avril 2020
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter4'
}
</script>
