<i18n>
{
  "fr": {
    "date": "15 octobre 2021",
    "intro": "Cette newsletter vise à partager les travaux et projets de <em>Labos 1point5</em> en cette rentrée 2021. Elle présente également des éléments d'organisation afin de permettre à chacune et chacun de rejoindre les différentes activités au fur et à mesure de la construction de ce projet.",
    "c"  : "Contenu de la lettre d’information :",
    "c0" : " À la une",
    "c1" : "Une équipe <strong>\"Enseignement/sensibilisation\"</strong>, composée d'une trentaine de membres et animée par Guillaume Blanc (Université de Paris et Laboratoire de physique des 2 Infinis Irène Joliot-Curie) et Marie-Alice Foujols (Institut Pierre‐Simon Laplace, Sorbonne Université/CNRS), a été créée. Cette équipe est en charge d'élaborer du <strong>matériel pédagogique</strong> de niveaux d'expertise variés, sous forme de diaporamas, textes et vidéos, sur des sujets ayant trait aux crises et transitions environnementales.",
    "c2" : "Les membres du collectif pourront par exemple utiliser ces ressources comme supports de communication et de sensibilisation dans les laboratoires de recherche et au-delà.",
    "c3" : " Message de la coordination nationale",
    "c4" : "Le <strong>Groupement de recherche (GDR) <em>Labos 1point5</em></strong> a été lancé officiellement avant l'été. Ce ",
    "c5" : " a vocation à structurer les activités de recherche sur l'empreinte carbone de la recherche en France. Il regroupe différents axes de recherche portant sur l'empreinte carbone des laboratoires et sa réduction ainsi que des activités d'enseignement, communication / médias / veille, et technique.",
    "c6" : "Le GDR est financé par l'ADEME, le CNRS et INRAE. Ce soutien permet le financement d'une thèse, d'une ou d'un chargé de projet à plein temps sur deux ans, ainsi que le financement de stages de recherche ou de fonctionnement accessibles à tous les axes et équipes de travail.",
    "c7" : " Si vous pouvez et souhaitez dédier - et donc déclarer - au moins 5% de votre temps aux activités du GDR, vous pouvez vous ",
    "c8" : "inscrire",
    "c9" : ", que vous soyez personnel statutaire ou non, et que vous soyez chercheur.e.s ou personnel soutien à la recherche.",
    "c10" : "Les inscriptions sont validées au fil de l'eau par les coordinateurs des axes de travail et des équipes.<br/> A ce jour, plus de 150 membres de la communauté se sont inscrits.",
    "c11" : "Outre le GDR, Labos 1point5 continue à être un espace de réflexion et d'échanges au sein du <strong>collectif <em>Labos 1point5</em></strong>. L'équipe \"Réflexion\" accueille ces discussions et il est possible de la ",
    "c11-": "rejoindre",
    "c11--": ".",
    "c12" : " Par ailleurs, une nouvelle équipe <strong>\"Arts Sciences\"</strong> vient de voir le jour (voir détails ci-dessous).",
    "c13" : "Ci-dessous nous vous présentons les activités et projets du GDR ainsi que celles du collectif.",
    "c16" : " Activités du GDR",
    "c17" : "<strong>Axe \"Empreinte carbone des laboratoires\" / Equipe \"Technique\"</strong>",
    "c18" : "Plus de <strong>400 bilans</strong> gaz à effet de serre (BGES) sont en cours avec la version en ligne de GES 1point5. Pour rappel, ",
    "c19" : " est l'outil web qui permet de calculer l'empreinte carbone et de construire le BGES des laboratoires. Une soixantaine de BGES ont été soumis par les laboratoires. Nous commençons l’analyse statistique des données au sein du GDR pour avoir une cartographie fine de l’empreinte carbone de la recherche en France.",
    "c20" : "Par ailleurs, de nouvelles fonctionnalités ont été implémentées dans GES 1point5 :<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>Un nouveau questionnaire domicile / travail directement integré dans GES 1point5.</strong> Celui-ci prend en compte de nombreux retours utilisateurs. Ainsi, suite à de nombreux problèmes de chargement du fichier extrait de FramaForm, l'administration du questionnaire est maintenant entièrement embarquée dans GES 1point5. De plus, afin de vous aider à filtrer les réponses extrêmes de votre enquête, un module de recherche de valeurs aberrantes a été ajouté en collaboration avec Elise Maigne.</li><li style='margin-top:7px'><strong>Deux nouveaux simulateurs pour vos déplacements.</strong> Un simulateur de <a class='link' href='https://labos1point5.org/commutes-simulator'>trajets domicile / travail</a>, basé sur le nouveau questionnaire domicile / travail a été implémenté et ajouté sur notre site. Il permet de comparer les émissions de plusieurs scénarios et combinaisons de mode de transport utilisés dans le cadre d'un trajet domicile / travail. De même, un simulateur pour vos <a class='link' href='https://labos1point5.org/travels-simulator'>déplacements professionels</a> à été mis en place afin d'estimer les émissions d'un trajet composé de plusieurs étapes pouvant utiliser plusieurs modes de transport. Les calculs réalisés sont effectués avec la même méthode et les mêmes facteurs d'émission que dans GES 1point5.</li><li style='margin-top:7px'><strong>Mise à jour facile et transparente de la base de données des facteurs d'émission.</strong> Les émissions d'un BGES sont calculées en utilisant les facteurs d'émission de l'année la plus proche. Ainsi, par exemple, pour un laboratoire de France continentale, un BGES de 2020 utilisera le facteur d'émission de l’électricité France continentale de 2020. Cependant, ce même BGES utilisera le facteur d'émission de la voiture diesel de 2019 comme aucune mise à jour en 2020 n'est disponible.</li><li style='margin-top:7px'><strong>Un module de comparaison de BGES.</strong> Celui-ci permet de comparer plusieurs BGES d'un labo en utilisant les facteurs d'émission d'une année précise. Cette fonctionnalité vous permet de visualiser l'évolution des émissions propres à l'activité de votre laboratoire, sans prendre en compte l'évolution des facteurs d'émission eux-mêmes.</li></ul>",
    "c21" : "Enfin, <strong>un module \"matériel informatique\" sera disponible pour l'automne</strong>. L'intégration d'<a class='link' target='_blank' href='https://ecoinfo.cnrs.fr/ecodiag-calcul/'>EcoDiag</a> réalisé en partenariat avec Gaël Guennebaud d'<a class='link' target='_blank' href='https://ecoinfo.cnrs.fr/'>EcoInfo</a> est presque finalisée et sera rendue disponible à l'ensemble des laboratoires très prochainement. Ecodiag permet de calculer l'empreinte carbone des équipements informatiques.",
    "c22" : "Une équipe de 7 personnes travaille sur la question de <strong>l'empreinte carbone des achats de biens et services</strong> (hors équipements informatiques, combustibles et missions). La méthode retenue repose sur l'utilisation de facteurs d'émission monétaires associés aux codes NACRES utilisés pour catégoriser les achats dans les EPST et les universités. Trois jeux de facteurs d'émission monétaires ont été construits à partir des données de l'ADEME et de deux bases américaines CEDA et EPA. Cette méthode présente des incertitudes importantes, qui sont en partie quantifiées par l'utilisation des trois jeux de facteurs, mais elle est très facilement automatisable. De plus, les données nécessaires sont facilement récupérables au moyen des outils de gestion. Le protocole est en cours de rédaction et est testé sur des jeux de données issus d'une vingtaine de laboratoires. Il est prévu son inclusion en test dans GES 1point5 d'ici la fin de l'année. L'utilisation des codes NACRES en limitera l'usage aux UMR ayant pour tutelles des EPST et/ou des universités. Le module sera ensuite progressivement étendu aux autres tutelles (EPIC, Grandes Ecoles, …). Ce travail est mené par Lucille Zribi, Laurent Jeanneau, Franck Davoine, Christophe Brun, Marianne De Paepe, Olivier Aumont et André Estevez-Torres.",
    "c23" : "Dans le cadre de la création du GDR 1point5, l'équipe technique s'est mobilisée pour refondre l'ensemble des outils du collectif (listes de diffusions, espace de partage et de discussions, site web <em>Labos 1point5</em>). La page <a class='link' href='https://labos1point5.org/on-parle-de-nous'>On parle de nous</a> a été automatisée.",
    "c30" : "<strong>Axe \"Expérimentation\"</strong>",
    "c31" : "<strong>1.</strong><em> L’équipe Expérimentation (Expé-1point5)</em> - qui vise à explorer différentes modalités pour stimuler des réductions de GES dans les laboratoires - devient un axe transverse du GDR.",
    "c32" : "<strong>2.</strong><em> La phase pilote de l’Expé-1point5 est lancée!</em><br><strong>Une vingtaine de laboratoires pilotes</strong> ont été recrutés pour participer à la phase test de l'Expé-1point5, qui s’étendra jusqu’à juin 2022. Ils sont très divers, de par leur implantation géographique, leurs champs disciplinaires, leur taille (de 30 à 700 personnels) ou encore leurs tutelles (une trentaine représentées). Ils contribueront au test et à l’amélioration des outils développés ces derniers mois et au co-développement de nouveaux outils, en vue d’un déploiement à plus large échelle de l’Expé-1point5 ; nous les en remercions vivement.",
    "c33" : "<strong>3.</strong><em> Volet accompagnement</em> : le Kit-1point5 a été mis à disposition des laboratoires pilotes, il comporte trois éléments principaux :",
    "c34" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>Le Kit-1point5</strong> décrit l’ensemble des dispositifs à explorer pour stimuler des réductions d'émissions de GES : outils financiers (taxe, quota, monnaie climatique, ...),  règlementaires (charte verte, ...) ou de sensibilisation (ateliers ludiques, questionnaire engageant, cycle de conférences, ...). Il est constitué d’une vingtaine de fiches décrivant pour chacune (i) le dispositif en général, (ii) la palette la plus large possible de modalités d’application de ce dispositif dans un laboratoire de recherche, (iii) des exemples en France et/ou à l'étranger. <strong>Une première version du Kit-1point5 a été mise à disposition des laboratoires pilotes le 21 mai 2021</strong>. Une formation aux différents dispositifs proposés dans ce Kit aura lieu de septembre à novembre 2021, sous la forme de six webinaires. A l'automne 2022, une fois la phase de test finalisée, le Kit-1point5 sera mis à disposition de tous les laboratoires désireux de s'en saisir, au-delà du cadre de l'Expé-1point5, dans sa version améliorée et complétée.</li></ul>",
    "c35" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>Une formation aux outils de l’intelligence collective</strong> est actuellement en cours, dispensée par Anouck Hubert (Facilitation-transitions). Cette formation comporte des modules accessibles en ligne ainsi que des rendez-vous à la carte pour coller au plus près aux besoins de chaque labo-pilote. Un atelier collectif aura lieu en présentiel les 14 et 15 octobre à Paris. Les débats et délibérations pourront se tenir dès l’automne dans les laboratoires pilotes.</li><li style='margin-top:7px'><strong>La plateforme collaborative</strong> destinée à faciliter les échanges entre les labos-pilotes est en cours de construction. Elle permet déjà d’accueillir sur Topia (monde virtuel) des rendez-vous mensuels pour les membres de ces laboratoires désireux de partager leurs expériences sur les outils proposés dans le kit, sur la facilitation, sur les bilans GES ou sur tout autre point. Elle sera bientôt complétée par d'autres outils permettant ces partages d'expériences.</li></ul>",
    "c36" : "<strong>4.</strong><em> Volet recherche : on recrute!</em><br/>Un groupe de travail pluridisciplinaire va être mis en place début d'année 2022 dans l'optique d'explorer les impacts des différents dispositifs sur trois catégories d'indicateurs : (i) les émissions de CO2, (ii) la qualité de la recherche et (iii) la qualité de vie au travail. Ce groupe peaufinera le design de l'Expé-1point5 en fonction des différents besoins de recherche, il contribuera également à la mise en place de ces trois catégories d'indicateurs.<br/>Toute personne intéressée est la bienvenue, quel que soit son champ disciplinaire (sciences naturelles et expérimentales mais aussi économistes, juristes, anthropologues, sciences de l’éducation, psycho-sociologues, politistes, …). Pour participer, il suffit d'envoyer un mail à <a href='mailto:olivier.ragueneau@univ-brest.fr'>Olivier Ragueneau</a> et <a href='mailto:audrey.sabbagh@ird.fr'>Audrey Sabbagh</a>.",
    "c40" : "<strong>Equipe \"Enseignement\"</strong>",
    "c41" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>Un <a class='link' href='https://labos1point5.org/l-enseignement'>diaporama</a> sur le climat a été réalisé et mis à disposition. Il comprend un diaporama, un document explicatif accompagnant ainsi qu’un enregistrement vidéo de l’exposé. L’idée est que cet exposé (ou des éléments de cet exposé) puisse être utilisé par les membres de Labos1point5 sans être eux·elles-mêmes un·e expert·e du climat.</li></ul>",
    "c42" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>Un projet de plateforme \"ouverte\" de ressources pédagogiques universitaires est en cours d'investigation. D'autres projets de développements de pédagogies et de ressources pour tous les niveaux sont également à l'étude.</li></ul>",
    "c50" : "<strong>Equipe \"Communication / Médias / Veille\"</strong>",
    "c51" : "En plus des activités qu’elle effectue au fil de l’eau (alimentation des réseaux sociaux <a class='link' target='_blank' href='https://twitter.com/labos1point5'>Twitter</a> et <a class='link' target='_blank' href='https://botsin.space/@labos1point5'>Mastodon</a>, veille sur la présence de <em>Labos 1point5</em> dans <a class='link' href='https://labos1point5.org/on-parle-de-nous'>les médias</a> ou encore sur <a class='link' href='https://labos1point5.org/la-litterature'>les articles scientifiques</a> portant sur l’empreinte de la recherche, etc.), l’équipe Communication s’est concentrée sur trois projets depuis le début de l’année :",
    "c52" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>Une série de posters et de fiches de synthèse</strong> sur l’empreinte de nos activités professionnelles numériques. Ces documents, en cours de finalisation et complémentaires les uns des autres, sont réalisés avec <a class='link' target='_blank' href='https://ecoinfo.cnrs.fr/'>EcoInfo</a> et destinés à être affichés dans les laboratoires.</li></ul>",
    "c53" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>Le <a class='link' href='https://labos1point5.org/les-decryptages'>décryptage</a> d'un 2e article scientifique</strong>. Il portera sur l'évaluation des émissions carbone engendrées par la production d'un article scientifique (<a class='link' target='_blank' href='https://doi.org/10.1016/j.ecolind.2015.06.044'>Song et al.</a>).</li></ul>",
    "c54" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>Un cadre de fonctionnement commun</strong> pour la diffusion des données, outils et résultats produits au sein de Labos 1point5. Il sera discuté à l'automne.</li></ul>",
    "c55" : "Enfin, <strong>l'équipe a besoin de renforts</strong>. Nous recherchons par exemple des professionnel.le.s en communication qui auraient les compétences nécessaires pour :",
    "c56" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>développer nos supports de communication (notamment pour les affiches du groupe qui travaille sur     l'impact du numérique, le Kit-1point5 réalisé par l’axe Expérimentation, les cours et exposés préparés par l’équipe Enseignement) ;</li></ul>",
    "c57" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>participer à la campagne de communication qui sera lancée l’année prochaine auprès des laboratoires de     recherche français au moment du déploiement à large échelle de l'Expé-1point5 ;</li></ul>",
    "c58" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>créer un site pour mettre en ligne des séminaires.</li></ul>",
    "c59" : "Si vous êtes intéressé.e.s, vous pouvez nous rejoindre <a class='link' href='https://labos1point5.org/rejoindre-gdr'>ici</a> (équipe communication).",
    "c60" : " Activités du collectif",
    "c61" : "<strong>Equipe \"Reflexion\"</strong>",
    "c62" : "Afin d’animer l’équipe Réflexion, un \"Scientific Organizing Committee\" composé de scientifiques d’horizons et d’âges très divers a été assemblé en particulier dans le but de proposer des webinaires réguliers. Il est composé de :<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:5px'>Olivier Berné, astrophysique</li><li style='margin-top:2px'>Julien Boé, climatologie</li><li style='margin-top:2px'>Freddy Bouchet, physique théorique</li><li style='margin-top:2px'>Faustine Cantalloube, astrophysique</li><li style='margin-top:2px'>Malgorzata Grybos, géochimie</li><li style='margin-top:2px'>Patrick Hennebelle, astrophysique</li><li style='margin-top:2px'>Tomas Legon, sociologie</li><li style='margin-top:2px'>Elen Riot, économie</li><li style='margin-top:2px'>Ségolène Vandevelde, archéologie</li>",
    "c63" : "<strong>Des séries de webinaires internes</strong> (à destination des membres des axes et des équipes) seront organisées sous forme de cycles. L'objectif de ces séminaires est qu'ils servent d'introduction à un sujet important pour le collectif et qu'ils soient rediscutés par la suite dans le cadre de l'équipe Réflexion. La vidéo des séminaires sera rendue accessible à tous. Le premier cycle aura lieu en automne 2021 et portera sur \"Décarboner en 2050, scénarios, mise en œuvre et acceptation sociale\".",
    "c64" : "<strong>Le 12 octobre (13h-14h30)</strong>, Philippe Quirion, chercheur en économie de l’environnement et en économie de l’énergie, parlera : <strong>\"Les scénarios de décarbonation, des scénarios énergie-climat pour évaluer les futurs possibles. Trois exemples à partir du scénario négaWatt\"</strong>. L'utilité des scénarios énergie-climat ne consiste pas à prévoir l'avenir mais à fournir des cadres cohérents qui sont nécessaires pour évaluer des futurs possibles. Ces évaluations peuvent utiliser différents critères. Parmi les multiples types de scénarios, ceux basés sur une modélisation biophysique plutôt que seulement en termes monétaires sont préférables.",
    "c64-": " En effet, eux seuls permettent de traiter les questions les plus importantes, comme l'impact sur la santé. Philippe Quirion présentera trois exemples d'évaluation, qui concernent le coût, l'emploi et la santé,  en utilisant le scénario négaWatt, un scénario énergie-climat pour la France à l'horizon 2050.",
    "c65" : "<strong>Le 16 novembre (13h-14h30)</strong>, Quentin Perrier, docteur en économie de l’environnement et responsable des études au Haut Conseil pour le Climat, présentera <strong>\"Les instruments de la décarbonation\"</strong> Cette présentation passera en revue les grands instruments et mesures de politiques publiques permettant de décarboner nos économies : normes, taxes, quotas, subventions, etc. L’objectif sera de souligner leurs forces, leurs faiblesses et la bonne façon de les utiliser. Cette déclinaison s’appuiera sur des cas concrets dans les différents secteurs émissifs (bâtiment, transport, agriculture et alimentation, industrie), afin d’illustrer la diversité et la complémentarité de ces instruments.",
    "c66" : "Le programme complet de ce premier cycle de webinaires et le lien de connexion seront diffusés par mail aux membres des axes et des équipes.",
    "c67" : "Plusieurs textes portant sur le positionnement et le rôle de l’ESR dans la transition énergétique ont été     votés ou sont en cours de vote.",
    "c68" : "Une réflexion sur la responsabilité et le rôle de l'enseignement supérieur, ainsi que sur les objectifs et les pratiques de la recherche et les priorités à donner dans le contexte de la crise climatique et environnementale est en cours.",
    "c69" : "N’hésitez pas à nous faire part des thèmes que vous souhaiteriez aborder, des textes que vous souhaiteriez     discuter, des idées que vous pourriez avoir.",
    "c70" : "<strong>Equipe \"Arts Sciences\"</strong>",
    "c71" : "Une nouvelle équipe est en train de voir le jour pour réfléchir à des initiatives artistiques pouvant contribuer à la sensibilisation d'un plus grand nombre de personnes à la cause climatique.<br/>L'ambition de cette équipe est de regrouper des membres du collectif et du GDR Labos 1point5 avec des artistes, et de réfléchir ensemble à des initiatives artistiques qui aideraient à la prise de conscience et aussi à la dissémination d'informations. L'équipe se réunira à intervalles réguliers pour discuter des projets possibles et de leur mise en œuvre. Ivan Magrin-Chagnolleau sera l'un des co-animateurs de cette équipe. Une première réunion sera organisée très prochainement avec les personnes intéressées pour lancer l'équipe. Pour toute personne intéressée, vous pouvez contacter <a href='mailto:ivan.magrin-chagnolleau@cnrs.fr'>Ivan Magrin-Chagnolleau</a> avec en sujet \"[1POINT5 Arts Sciences]\".",
    "c80" : " Appels et actualités hors Labos 1point5",
    "c81" : "<strong>Elections à Sorbonne Université: 14 questions sur la transition environnementale</strong><br>A la mi-novembre auront lieu des élections à la présidence de plusieurs universités en France. Sorbonne Université, comme d’autres campus, s’est récemment dotée d’un réseau de référents développement durable qui regroupe notamment les personnes impliquées dans la démarche GES 1point5 des laboratoires. Cette instance officielle nous a permis de tisser de liens entre collègues intéressés par la transition environnementale. Nous avons récemment, en notre nom propre et sans lien direct avec cette instance, rédigé une série de 14 questions sur la transition environnementale pour les candidates et candidats à cette élection (disponible <a class='link' target='_blank' href='https://framaforms.org/elections-sufsi-14-questions-sur-la-transition-environnementale-1633354750'>ici</a>). N’hésitez pas à la signer si vous faites partie d’une façon ou d’une autre de Sorbonne Université, ou de vous en inspirer dans vos campus respectifs, si vous la trouvez utile (Laurent Coolen et André Estevez-Torres).",
    "c82" : "Le colloque <strong>\"Responsabilité et rôle de l’Université dans un monde en transition\"</strong> se déroulera le jeudi 2 décembre à Limoges (87). Plus d'informations sur <a class='link' target='_blank' href='https://calenda.org/899250'>Calenda.org</a>.",
    "c83" : "La <strong>Journée du Comité éthique d'Inserm</strong> se tiendra le <strong>13 octobre 2021</strong>, en présentiel ou web-conférence <strong>après inscription</strong>. La thématique est <strong>\"L'éthique de la recherche à l’aune des crises\"</strong>. <strong>Informations et inscriptions (gratuites) sur </strong><a class='link' target='_blank' href='http://www.JournéeCEI2021.fr'>JournéeCEI2021</a>.",
    "c84" : "<strong>Journée mondiale de nettoyage des données numériques le 22 Mars 2022.</strong><br/>Pour toucher écoles, universités, sociétés, nous pouvons faire un nettoyage entre le 15 et 20 mars. <ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>Un webinaire sur le comment / pourquoi est organisé : <a class='link' target='_blank' href='https://cyberworldcleanupday.fr/organiser/webinaire-organisateur/'>lien d'inscription</a></li><li style='margin-top:7px'>Site WEB du mouvement : <a class='link' target='_blank' href='http://www.cyberworldcleanupday.fr'>cyberworldcleanupday.fr</a></li><li style='margin-top:7px'>Créer son évènement de nettoyage : <a class='link' target='_blank' href='https://cyberworldcleanupday.fr/organiser-cyber-cleanup/devenir-organisateur/'>organiser-cyber-cleanup</a>.</li></ul>",
    "end" : "<strong>N'hésitez pas à nous faire remonter vos idées et propositions de travail !<br />            La coordination nationale, Floriane Clément & Estelle Carciofi (équipe Com.) et Philippe Bardou (équipe Tech.) </strong>"
  },
  "en": {
    "date": "15 october 2021",
    "intro": "This is the 2021 back-to-school <em>Labos 1point5</em> newsletter! You will learn about our on-going work and our  projects for the future as well. We also included some practical information allowing anybody interested to join our different teams as our project takes shape.",
    "c"  : "Content of the newsletter:",
    "c0" : " On the frontpage",
    "c1" : "A team <strong>\"Teaching and awareness\"</strong> is born! It already gathers around 30 people and is stired by Guillaume Blanc (Université de Paris et Laboratoire de physique des 2 Infinis Irène Joliot-Curie) and Marie-Alice Foujols (Institut Pierre‐Simon Laplace, Sorbonne Université/CNRS). The main aim of this team is to produce <strong>teaching material</strong> (slideshows, texts, videos, ...) on the environmental crises and transitions that is adapted to different audiences depending on their expertise level.",
    "c2" : "All the members of the Labos 1point5 collective will thus be able to use these ressource to communicate in their research labs, universities, research institutes and beyond.",
    "c3" : " Message from the national coordination team",
    "c4" : "The <strong><em>Labos 1point5</em> \"Groupement de recherche\"</strong> (",
    "c5" : ") was officially launched before summer. Its main objective is to provide a framework and organise French research on carbon footprint. It is composed of different axes dealing with assessing the carbon footprint of French research labs, how to reduce it, as well as teaching, communication, media  & scientific watch and technical activities.",
    "c6" : "The GDR, funded by the ADEME (the French national agency for the environment and energy), the CNRS and the INRAE, enables us to hire a PhD student, a two-year full-time project manager and to propose internships in any of its teams.",
    "c7" : " If you want, and are able to, <em>officially</em> dedicate at least 5% of your time to the GDR's activities, you can ",
    "c8" : "register",
    "c9" : ".",
    "c10" : "This applies to all research personnel (not only researchers!) and all contract types (permanent, temporary). Subscriptions are handled on the fly by the axes and teams coordinators and to this day 150 people have registered.",
    "c11" : "In addition to the GDR,  the Labos 1point5 collective remains an active space for discussion and reflection. It is possible to ",
    "c11-": "join",
    "c11--" : " the \"Reflection/think-tank\" team that hosts this space.",
    "c12" : "Furthermore, a new <strong>\"Sciences & Arts\"</strong> team has been created. More on this below.",
    "c13" : "The remainder of the letter is dedicated to the presentation of the activities and projects of the GDR and the collective.",
    "c16" : " Activities of the GDR",
    "c17" : "<strong>\"Carbon footprint of research labs\" / \"Technical\" teams</strong>",
    "c18" : "More than <strong>400 greenhouse gas (GHG)</strong> assessments have being carried out with the online version of ",
    "c19" : ". This carbon emission calculation tool, developed by Labos 1point5, allows to precisely compute the carbon footprint of research laboratories.<br/> So far 60 research labs have computed their footprint and the GDR has started data analysis to get a fine-grained picture of French research emissions.",
    "c20" : "<br/>More features have been integrated into GES 1point5: <ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>Based on user feedback, the \"commute\" questionnaire has been modified. It is now totally embedded within GES 1point5 since uploading from Framaform files seemed to be a problem. Moreover, thanks to Elise Maigne, we integrated a module filtering abnormal values.</li><li style='margin-top:7px'>Based on the new questionnaire, a <a class='link' href='https://labos1point5.org/commutes-simulator'>commute simulator</a> is now available which allows to compare different scenarios and transportation mixes.<br/>A similar module for <a class='link' href='https://labos1point5.org/travels-simulator'>professional travels</a> is under development.</li><li style='margin-top:7px'>Transparent update of  the emission factors database: GHG emissions are computed using the most recent data for the year considered. For example, for a laboratory based in mainland France assessing its 2020 GHG emissions, the emission factor from electricity will be that of 2020, whereas for a diesel car,  it will be that of 2019 since it has not yet been updated for 2020.</li><li style='margin-top:7px'>A module allowing to compare GHG assessments with fixed emission factors so that the evolution of activities and emissions of the lab can be made visible. This allows to remove the variability of emission factors by choosing their estimation for a specific year.</li></ul>",
    "c21" : "An additional module taking computing the <strong>footprint of computer/IT/electronic equipment</strong> will be available by the end of fall since the integration of <a class='link' target='_blank' href='https://ecoinfo.cnrs.fr/'>EcoInfo's</a> <a class='link' target='_blank' href='https://ecoinfo.cnrs.fr/ecodiag-calcul/'>EcoDiag tool</a> is almost complete thanks to Gaël Guennebaud. It will soon be made available to all research laboratories.",
    "c22" : "A 7-person team currently works on integrating the footprint of purchases of goods and services (except computer equipment, fuel and professional trips) into the GES 1point5 calculation tool. The team chose to rely on the monetary emission factors of the NACRES codes used to classify purchases in Public Scientific and Technical Research Establishment (PSTRE) and universities. Three sets of monetary emission factors were built out of the ADEME  database as well as the two american CEDA and EPA databases. This method is plagued with large uncertainties that are partially characterised by the use of the three different sets of monetary emission factors. This whole procedure can easily be automated since purchases data are easily available via management tools. The protocol is being drafted and tested on datasets from 20 beta-testing research labs. The tool should be integrated to GES 1point5 by the end of the year. However, the use of NACRES codes limits the scope of the module to research labs affiliated to French EPSTs and/or universities but progressive inclusion of public bodies with industrial and commercial functions and Business and Engineering Schools is scheduled. The members of the team are: Lucille Zribi, Laurent Jeanneau, Franck Davoine, Christophe Brun, Marianne De Paepe, Olivier Aumont et André Estevez-Torres.",
    "c23" : "In conjunction with the launch of GDR 1point5, the technical team did a great amount of work in completely redesigning the tools of the collective (mailing lists, shared storage space, chat, Labos 1point5 website) and automating the <a class='link' href='https://labos1point5.org/on-parle-de-nous'>About us</a> webpage.",
    "c30" : "<strong>\"Experimentation\" team </strong>",
    "c31" : "<strong>1.</strong><em> The objective of Experimentation team</em> (Expé-1point5), now a transversal axis of the GDR, aims at exploring different possibilities of stimulating GHG emissions reduction.",
    "c32" : "<strong>2.</strong><em> The pilot phase has started.</em><br><strong> Around 20 research labs</strong> decided to participate in the test phase of Expé-1point5 that will last until June 2022. These labs are very diverse in their localisations, research disciplines, size (from 30 to 700 people) and their affiliations (more than 30). They will try out the newly developed tools, help to improve them and co-construct the next batch with the goal to scale up rapidly. Thanks to them!",
    "c33" : "<strong>3.</strong><em> Support and guidance</em>:The support activity within Expé-1point is organised around 3 directions:",
    "c34" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>The 1point5 kit</strong> describing different approaches to reduce GHGs emission: financial instruments (taxes, quotas, currencies, ...), incentives and regulations (green books,...), awareness raising (fun workshops, engaging communication, conferences, ...). This 20-pages document describes (i) global aspects of the approach, (ii) the widest possible applicability conditions in the laboratory and (iii) examples in France and/or abroad. <strong>A first version of the labos-1point5 kit was given to test laboratories on 21 May 2021</strong>. A training session to use the different tools from the kit will be held from September to November 2021 in the form of 6 webinars. Once the test phase is over and the kit is improved and updated, it will be released to all voluntary laboratories by the Fall of 2022.</li></ul>",
    "c35" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>A training session</strong> on collective intelligence led by Anouck Hubert  (Facilitation & transitions) is currently underway.  The training is composed of online modules supplemented by one-on-one meetings between the test research laboratories and the facilitator so as to cover every particular needs. Additionally, a collective workshop will be held in Paris on 14-15 October. Then, the research labs will be able to discuss and decide the solutions they want to implement.</li><li style='margin-top:7px'><strong>The collaborative platform</strong> allowing easy communication between test labs is under construction. It can already host monthly meetings on the Topia virtual world for those lab members wanting to share their experience and ideas on the labos-1point5 kit, the collective intelligence training, GHG assessments, or any other topic. The platform will soon be improved to facilitate these exchanges.</li></ul>",
    "c36" : "<strong>4.</strong><em> Research aspects: we are \"hiring\"!</em><br/>By early 2022, a pluridisciplinary workgroup will be set up to investigate the impacts of the implemented measures on three outcomes: (i) CO2 emissions, (ii) research quality and (iii) quality of working life. The group will refine the design of Expé-1point5 so as to match the research needs and will help set up these three categories of indicators. Anyone interested is welcome, no matter their field of expertise (natural and experimental sciences, economy, law, anthropology, psychosociology education sciences, political science, ...): just send an email to <a href='mailto:olivier.ragueneau@univ-brest.fr'>Olivier Ragueneau</a> and <a href='mailto:audrey.sabbagh@ird.fr'>Audrey Sabbagh</a>.",
    "c40" : "<strong>\"Teaching/education\" team</strong>",
    "c41" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>A <a class='link' href='https://labos1point5.org/l-enseignement'>slideshow</a> on climate is now available for use. It comes with a short explanatory document as well as a video recording of the presentation it is supposed to accompany. The aim of these documents is to allow any Labos 1point5 members to give this presentation (or part of it) without being themselves climate scientists.</li></ul>",
    "c42" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>We are currently considering the idea of an open platform gathering pedagogical academic material. Other similar developments of material and teaching ideas are underway.</li></ul>",
    "c50" : "<strong>\"Communication/ Media / Scientific watch\" team</strong>",
    "c51" : "The main activities of the Communication team are to manage our <a class='link' target='_blank' href='https://twitter.com/labos1point5'>Twitter</a> and <a class='link' target='_blank' href='https://botsin.space/@labos1point5'>Mastodon</a> accounts, look out for any mention of <em>Labos 1point5</em> in <a class='link' href='https://labos1point5.org/on-parle-de-nous'>the media</a> or to identify <a class='link' href='https://labos1point5.org/la-litterature'>scientific articles</a> dealing with the carbon footprint of research.<br/>In addition to these duties, the team is dedicated to three projects:",
    "c52" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>A series of posters and briefs</strong> on the footprint of our professional digital activities. These documents, written with <a class='link' target='_blank' href='https://ecoinfo.cnrs.fr/'>EcoInfo</a>, are almost ready to be displayed in research labs.</li></ul>",
    "c53" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>A second paper in the <a class='link' href='https://labos1point5.org/les-decryptages'>\"Decipherings\"</a> series</strong>. It addresses the assessment of the carbon emission generated by the production of a single scientific paper, following <a class='link' target='_blank' href='https://doi.org/10.1016/j.ecolind.2015.06.044'>Song et al</a>.</li></ul>",
    "c54" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>A common framework</strong> for sharing the tools, data and results produced within <em>Labos 1point5</em>. It will be discussed during the fall.</li></ul>",
    "c55" : "Last but not least, <strong>the team needs additional backup</strong>. We would particularly appreciate communication experts who could help us:",
    "c56" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>to develop our communication media and more precisely the digital impact posters, the Expé-1point5 kit and the \"Education\" team pedagogical presentation</li></ul>",
    "c57" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>to build the 2022 communication campaign concerning the scaling up of Expé-1point5</li></ul>",
    "c58" : "<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>to create a website to upload webinars.</li></ul>",
    "c59" : "If interested and motivated, follow <a class='link' href='https://labos1point5.org/rejoindre-gdr'>this link</a> to join us.",
    "c60" : " Other activities of the collective's teams ",
    "c61" : "<strong>\"Think tank\" team</strong>",
    "c62" : "A diverse (discipline, age, gender) scientific organising committee was created in order to drive the \"think tank\" team and more specifically to plan regular webinars. Members of the committee are:<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:5px'>Olivier Berné, astrophysics</li><li style='margin-top:2px'>Julien Boé, climatology</li><li style='margin-top:2px'>Freddy Bouchet, theoretical physics</li><li style='margin-top:2px'>Faustine Cantalloube, astrophysics</li><li style='margin-top:2px'>Malgorzata Grybos, geochemistry</li><li style='margin-top:2px'>Patrick Hennebelle, astrophysics</li><li style='margin-top:2px'>Tomas Legon, sociology</li><li style='margin-top:2px'>Elen Riot, economy</li><li style='margin-top:2px'>Ségolène Vandevelde, archeology</li></ul>",
    "c63" : "<strong>Internal webinar series</strong> aimed at team members will be organised to introduce major issues to be further discussed within the \"think tank\" team. The video recordings will be made available to all. The first series will start in the Fall of 2021 on the topic: \"Decarbonisation in 2050: scenarios, implementation and social acceptance\".",
    "c64" : "<strong>On October the 12th (1pm- 2:30pm)</strong>, Philippe Quirion (environment and energy economist) will give a presentation on <strong>\"Decarbonisation scenarios: possible futures from energy-climate scenarios. Three examples from the négaWatt scénario\"</strong>. Energy-climate scenarios are not meant to predict the future but to provide consistent frameworks that are necessary to assess possible futures. In turn, these assessments can be based on different critera. Among the many types of scenarios, it is preferable to focus on those relying on biophysical modelling and not only based on monetary descriptions in order to deal with the most important issues at hand such as public health.",
    "c64-": "Philippe Quirion will present three assessmens respectively based on costs, employment and health using the French négaWatt scenario, an energy-climate scenario for 2050 France.",
    "c65" : "<strong>On November the 16th (1pm- 2:30pm)</strong>, Quentin Perrier (environment economics PhD and head of studies of the French Climate High Council) will present <strong>\"The tools of decarbonisation\"</strong>. This talk will review the major tools and public policies to decarbonise our economies: norms, taxes, quotas, subsidies, ... The aim is to highlight both their strengths and weaknesses as well as the best ways to implement them. This overview will make use of specific cases from different sectors (real estate, transportation, agriculture, food industry and industry) in order to examplify the diversity and complementarity of these tools.",
    "c66" : "The full program of this first webinar series as well as the links to the visioconference call will be shared via the teams mailing lists.",
    "c67" : "Several texts concerning the role of higher education and research in the energy transition have been or will soon be voted on.",
    "c68" : "Different considerations regarding the responsibility of higher education, the purpose and practices of research as well as the priorities to be addressed in the context of the environmental and climate crises are being discussed.",
    "c69" : "Feel free to suggest more themes, ideas, books or articles to discuss.",
    "c70" : "<strong>\"Arts Sciences\" team</strong>",
    "c71" : "A new team \"Arts Sciences\" is being created. Its main objective is to gather members of both the Labos 1point5 GDR and collective and artists to propose initiatives that would allow to raise awareness about the climate crises as well as to spread data and information. The team, co-led by Ivan Magrin-Chagnolleau, will meet regularly to discuss relevant projects and how to implement them. A first reunion will soon be organised with interested people. If you are one of them, please send an email to <a href='mailto:ivan.magrin-chagnolleau@cnrs.fr'>Ivan Magrin-Chagnolleau</a> with [1POINT5 Arts Sciences] in the subject.",
    "c80" : " External calls and news",
    "c81" : "<strong>Sorbonne Université elections: 14 questions on the environmental transition.</strong><br/>Several French universities will elect their presidents in mid-November. As other campuses, Sorbonne Université created a network of sustainable development points of contact, some of them participating to the GES 1point5 research lab campaign. This network allowed to make contacts with other colleagues who care about the environmental transition. Building upon this experience but without any direct link with the official network, we wrote 14 questions for the presidential candidates concerning the environmental transition (available <a class='link' target='_blank' href='https://framaforms.org/elections-sufsi-14-questions-sur-la-transition-environnementale-1633354750'>here</a>). Feel free to sign it if you belong in one way or another to Sorbonne Université or to draw upon it in your own institution. Laurent Coolen and André Estevez-Torres.",
    "c82" : "The <strong>\"responsibility and role of higher education/universities in a transitionning world\"</strong> conference will be held on Thursday 2nd December in Limoges (87). More information at <a class='link' target='_blank' href='https://calenda.org/899250'>Calenda.org</a>.",
    "c83" : "<strong>The Inserm ethics committee</strong> organises a one-day conference on <strong>October 13th 2021</strong>. The theme of this session is <strong>\"Research ethics in time of crises\". The meeting will either be physical or distant but registration is mandatory at </strong><a class='link' target='_blank' href='http://www.JournéeCEI2021.fr'>JournéeCEI2021.fr</a>.",
    "c84" : "<strong>March 22nd 20201 is the Cyber World CleanUp Day.</strong> In order to impact schools, universities and society, we may clean up our data between March 15-20.<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'>A webinar precising the 'why' and 'how' is organised, <a class='link' target='_blank' href='https://cyberworldcleanupday.fr/organiser/webinaire-organisateur/'>please register</a></li><li style='margin-top:7px'>Website of the initiative: <a class='link' target='_blank' href='http://www.cyberworldcleanupday.fr'>cyberworldcleanupday.fr</a></li><li style='margin-top:7px'>Organise your CleanUp Day: <a class='link' target='_blank' href='https://cyberworldcleanupday.fr/organiser-cyber-cleanup/devenir-organisateur/'>organiser-cyber-cleanup</a>.</li></ul>",
    "end" : "<strong>The national coordination, Floriane Clément & Estelle Carciofi (Communication team)<br/> and Philippe Bardou (Technical support team). Translation by Maxime Garnier.</strong>"
  }
}
</i18n>

<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            <p v-html="$t('intro')" style="text-align: justify;margin-bottom:7px"></p>
            <span v-html="$t('c')"></span>
            <ul style="list-style-type:square;margin-left:25px">
              <li><a class="link" href="#une" v-html="$t('c0')"></a> ;</li>
              <li><a class="link" href="#appel" v-html="$t('c3')"></a> ;</li>
              <li><a class="link" href="#activites" v-html="$t('c16')"></a> ;</li>
              <li><a class="link" href="#actualites-labos" v-html="$t('c60')"></a> ;</li>
              <li><a class="link" href="#appel-actu" v-html="$t('c80')"></a>.</li>
            </ul>
          </div>

          <div id="une" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> <span v-html="$t('c0')"></span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <span v-html="$t('c1')"></span>
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                <span v-html="$t('c2')"></span>
              </p>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div id="appel" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-bullhorn"></i> <span v-html="$t('c3')"></span>
              </h2>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px;">
                    <span v-html="$t('c4')"></span>
                    <router-link class="link" to="/le-gdr">GDR</router-link>
                    <span v-html="$t('c5')"></span>
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    <span v-html="$t('c6')"></span>
                    <span v-html="$t('c7')"></span>
                    <router-link class="link" to="/rejoindre-gdr">{{$t('c8')}}</router-link>
                    <span v-html="$t('c9')"></span>
                  </p>
                </div>

                <div class="column">
                  <p style="text-align: justify;margin-top:7px;">
                    <span v-html="$t('c10')"></span>
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    <span v-html="$t('c11')"></span>
                    <router-link class="link" to="/nous-rejoindre">{{$t('c11-')}}</router-link>
                    <span v-html="$t('c11--')"></span>
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    <span v-html="$t('c12')"></span>
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    <span v-html="$t('c13')"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="activites" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> <span v-html="$t('c16')"></span>
          </h2>
          <template>
          <b-tabs expanded type="is-toggle" v-model="tabIndex">
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-thermometer-4"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex===0"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;" v-html="$t('c17')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <span v-html="$t('c18')"></span>
                    <router-link class="link" to="/ges-1point5">GES 1point5</router-link>
                    <span v-html="$t('c19')"></span>
                  </p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c20')"></p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c21')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c22')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c23')"></p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-flask"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex===1"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;" v-html="$t('c30')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c31')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c32')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c33')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c34')"></p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c35')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c36')"></p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-graduation-cap"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex===2"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;" v-html="$t('c40')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c41')"></p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c42')"></p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-weixin"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex===3"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;" v-html="$t('c50')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c51')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c52')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c53')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c54')"></p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c55')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c56')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c57')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c58')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c59')"></p>
                </div>
              </div>
            </b-tab-item>
          </b-tabs>
          </template>

          <div id="actualites-labos" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> <span v-html="$t('c60')"></span>
          </h2>
          <b-tabs expanded type="is-toggle" v-model="tabIndex2">
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-lightbulb-o"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex2===0"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;" v-html="$t('c61')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c62')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c63')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c64')"></p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c64-')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c65')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c66')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c67')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c68')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c69')"></p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-paint-brush"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex2===1"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;" v-html="$t('c70')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c71')"></p>
                </div>
              </div>
            </b-tab-item>
          </b-tabs>

          <div id="appel-actu" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-bullhorn"></i> <span v-html="$t('c80')"></span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;margin-top:7px" v-html="$t('c81')"></p>
              <p style="text-align: justify;margin-top:7px" v-html="$t('c82')"></p>
            </div>
            <div class="column">
              <p style="text-align: justify;margin-top:7px" v-html="$t('c83')"></p>
              <p style="text-align: justify;margin-top:7px" v-html="$t('c84')"></p>
            </div>
          </div>

          <hr/>
          <p style="text-align: right;" v-html="$t('end')"></p>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #8 - <em>Labos 1point5</em> - <span v-html="$t('date')"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter8',
  data () {
    return {
      tabIndex: 0,
      tabIndex2: 0
    }
  }
}
</script>

<style>
.tabs.is-toggle li.is-active a {
  background-color:  rgba(83, 135, 175, 0.1);
  border-color: rgb(66, 128, 176);
}
</style>
