<i18n>
{
  "fr": {
    "date": "19 février 2021",
    "c"  : "Contenu de la lettre d’information :",
    "c0" : " À la une",
    "c1" : "Les premiers résultats de ",
    "c2" : "l'enquête nationale",
    "c3" : " par questionnaire « Les personnels de la recherche face au changement climatique » viennent d'être mis en ligne.",
    "c4" : "L'ensemble des résultats est consultable ",
    "c5" : "ici",
    "c6" : ".",
    "c7" : "Ceux-ci font apparaître une très forte préoccupation des personnels vis-à-vis du changement climatique :",
    "c8" : "<strong>99%</strong> des répondant.e.s reconnaissent que les activités humaines jouent un rôle dans le changement climatique, et",
    "c9" : "<strong>72%</strong> se disent « très » ou « extrêmement préoccupé·e.s » et <strong>81%</strong> le sont plus qu’il y a 5 ans.",
    "c10": "Plus largement, le questionnaire a cherché à répondre à quatre objectifs principaux :                <ul style='list-style-type:square;margin-left:25px'>                  <li style='margin-top:7px'>                    <strong>Recueillir</strong> la perception des personnels par rapport aux enjeux environnementaux,                    au changement climatique et à l'écologie en général;                  </li>                  <li style='margin-top:7px'>                    <strong>Mesurer</strong> les pratiques fortement émettrices de gaz à effet de serre, au niveau                    individuel mais aussi collectif, et comprendre leurs contextes et déterminants;                  </li>                  <li style='margin-top:7px'>                    <strong>Explorer</strong> des solutions et leur acceptabilité; et                  </li>                  <li style='margin-top:7px'>                    <strong>Identifier</strong> les déterminants des pratiques et perceptions des personnels.                  </li>                </ul>",
    "c11": " Message de la coordination nationale",
    "c12": "<strong>Préserver l’autonomie des collectifs</strong>",
    "c13": " Ces dernières années, de nombreux collectifs locaux avec des objectifs                    proches de ceux de <em>Labos 1point5</em> ont émergé, ce qui témoigne d’une forte                    dynamique sur le sujet de l’empreinte environnementale de la recherche.<br/>                    Nous nous en réjouissons. Nous souhaitons cependant que les initiatives                    locales qui sont indépendantes du collectif <em>Labos 1point5</em>, choisissent un                    nom qui leur est propre et n'utilisent pas, autant que possible, l'appellation                    \"1point5\". Cela est important pour des questions de lisibilité et pour éviter                    les confusions, en particulier dans le cadre des interactions avec les                    établissements de recherche publique.",
    "c14": "<em>Labos 1point5</em> continuera bien entendu à promouvoir et à diffuser                    les informations que souhaitent faire circuler les collectifs ou groupes                    de travail, notamment sur notre site internet, lors de nos colloques ou                    dans la newsletter.<br/> Nous pensons que la diversité des initiatives et de                    leurs identités, ainsi que leur autonomie, sont profitables aux objectifs                    de réduction de l’empreinte environnementale de la recherche et qu’il faut                    les préserver.<br/>",
    "c15": " A l’unanimité,<br/>La coordination de <em>Labos 1point5</em>.",
    "c16": " Autres activités des équipes du collectif",
    "c17": "<strong> Équipe « Empreinte carbone des laboratoires » </strong>",
    "c18": "La version 1 de ",
    "c19": "l'outil d’estimation des émissions de gaz à effet                    de serre des laboratoires, a été lancée en octobre dernier. A ce jour, plus de 100                    laboratoires ont commencé à saisir leurs données dans l'outil.<br/>",
    "c20": "Le <a class='link' target='_blank' href='https://www.biorxiv.org/content/10.1101/2021.01.14.426384v1.article-metrics'>working paper collaboratif</a> présentant l'outil est en cours de rédaction.",
    "c21": "Une quinzaine de laboratoires ont déjà pu estimer leur empreinte carbone de    2019 et ainsi identifier les postes les plus émetteurs parmi ceux pris en    compte dans l'outil : consommation d'énergie des bâtiments, consommation de    carburants des véhicules, déplacements domicile-travail, déplacements en    missions.",
    "c22": "Les échanges que nous avons eus avec certains laboratoires montrent                    déjà que les sources principales des émissions sont en réalité très différentes                    selon les laboratoires. Par exemple, dans un laboratoire spécialisé en sciences                    sociales, le poids des déplacements domicile-travail est prépondérant alors que                   dans un autre laboratoire, spécialisé dans les neurosciences, ce sont les                    consommations d'énergie du bâtiment qui génèrent 85% des émissions de l'unité.",
    "c23": "Ceci montre l'importance d'un état des lieux quantifié selon un protocole commun                    qui permet à la fois de penser les solutions adaptées à fine échelle et une                    compréhension plus générale de la situation à l'échelle nationale.",
    "c24": "En décembre et janvier, nous avons travaillé avec la direction des systèmes                    informatiques du CNRS dans le but de pouvoir générer un fichier d'export des                    données des missions CNRS qui pourra être importé dans GES 1point5. C'est                    chose faite dans geslab. Du côté de GES 1point 5, le développement informatique                    est en test et sera bientôt opérationnel. Nous vous informerons dès que sa mise                    en œuvre sera effective. Nous poursuivons cette initiative auprès des autres                    tutelles de recherche, de manière à faciliter la tâche des utilisateurs de                    GES 1point5.",
    "c25": "Enfin, les travaux sur une 2e version de GES 1point5 ont commencé                    avec un groupe de travail sur les équipements numériques et un autre sur les                    achats.",
    "c26": "<strong> Équipe « Représentations et pratiques » </strong>",
    "c27": "L'enquête nationale par questionnaire « Les personnels de la recherche face                    au changement climatique », conduite auprès d'un échantillon représentatif                    de personnels de tous statuts et disciplines affiliés à une unité du CNRS,                    a reçu plus de 6000 réponses entre juin et décembre 2020. Les graphiques                    présentant les ",
    "c28": "premiers résultats",
    "c29": " de l'enquête viennent d'être mis en ligne.",
    "c30": "Une ",
    "c31": "présentation détaillée",
    "c32": " du questionnaire est aussi disponible sur le site. L'objectif est maintenant                    d'analyser plus en détail ces données, et d'aider les laboratoires ou équipes                    qui le souhaitent à diffuser un questionnaire localement.<br/>                    <strong>N'hésitez pas à nous contacter si vous êtes intéressé.e.</strong>",
    "c33": "<strong> Équipe « Expérimentation » </strong>",
    "c34": "L’équipe \"Expérimentation\" a tenu une journée de travail le 21 janvier                    dernier pour restituer les travaux conduits depuis trois mois par la douzaine                    de groupes de travail (GT) de l'équipe, qui regroupent 60 membres actif.ve.s.",
    "c35": "Toutes les <a class='link' target='_blank' href='https://cloud.le-pic.org/apps/files/?dir=/labo15/Exp%C3%A9rimentation/Journ%C3%A9e%20du%2021%20janvier%202021&fileid=55648'>informations et supports</a>                    de cette journée sont disponibles sur le nextcloud du PIC                    pour les membres des équipes du collectif.",
    "c36": "Les objectifs des GT s'articulent autour de deux volets: (1) un volet                    \"recherche\" pour concevoir l'expérimentation nationale qui sera menée sur                    plusieurs années sur les différentes modalités de réduction des émissions                    de GES au sein des laboratoires; (2) un volet \"accompagnement\" pour produire                    des outils destinés à faciliter la transition bas-carbone des laboratoires                    volontaires. Ce volet s'appuiera entre autres sur le Kit-1point5, constitué                    de différentes fiches qui seront finalisées d'ici fin février:                    <ul style='list-style-type:square;margin-left:25px'>                      <li style='margin-top:7px'>                        présentation de l'expérimentation et FAQ ;                      </li>                      <li style='margin-top:7px'>                      à la construction de scénarios de réduction ;                      </li>                      <li style='margin-top:7px'>                        outils pour stimuler des réductions d'émissions dans les                        laboratoires (p.ex. : ateliers ludiques, questionnaires engageants,                        conférences, dispositifs financiers comme les taxes ou quotas).                      </li>                    </ul>                    Nous tenons à <strong>remercier chaleureusement</strong> toutes celles et ceux                    qui se sont investis, parfois massivement, dans un ou plusieurs GT.",
    "c37": "Après cette phase préparatoire, la phase test de l'expérimentation va pouvoir                    débuter avec la quinzaine de laboratoires qui se sont portés volontaires.                    Elle bénéficie d'un financement par la Mission pour les initiatives transverses                    et interdisciplinaires (MITI) du CNRS pour l’année 2021. Plusieurs actions                    seront menées:                    <ul style='list-style-type:square;margin-left:25px'>                      <li style='margin-top:7px'>                        tester les outils développés ;                          </li>                      <li style='margin-top:7px'>                        former des facilitateurs.trices qui interviendront lors des débats et                        délibérations qui se tiendront dans ces laboratoires-pilotes à partir                        d’avril/mai ;  </li>                      <li style='margin-top:7px'>                        constituer l’équipe de recherche qui suivra l’ensemble du processus sous                        différents angles disciplinaires ; et                      </li>                      <li style='margin-top:7px'>                        mettre en place les enquêtes et les indicateurs de suivi de l'expérimentation                        (émissions de gaz à effet de serre [GES],  qualité de la recherche,                        bien-être au travail).                      </li>                    </ul>                    Cette phase de test commencera par une réunion d’information à destination                    des laboratoires-pilotes qui se tiendra le 2 mars 2021 à 14h. Elle se terminera                    en fin d’année 2021, avant un déploiement à large échelle de cette                    expérimentation à partir de 2022.",
    "c38": "<strong> Équipe « Réflexion » </strong>",
    "c39": "<div class='column'>                  <p style='text-align: justify;margin-top:7px'>                    L'équipe \"Réflexion\" a au cours de ses réunions récentes discuté la question                    du positionnement des enseignant.e.s-chercheur.e.s face à la crise                    climatique : quelle attitudes et quels discours devons-nous adopter face                    à des étudiant.e.s dont l'avenir est engagé et dont les propres activités,                    parfois professionnelles, peuvent aller à l'encontre de la crise                    climatique ?                  </p>                  <p style='text-align: justify;margin-top:7px'>                    D'une manière générale, et en lien avec la problématique du                    groupe expérimentation, comment faire en sorte de sensibiliser et de mettre                    en mouvement les étudiant.e.s, les collègues et au-delà ?                  </p>                  <p style='text-align: justify;margin-top:7px'>                    Celles et ceux                    d'entre nous qui ont organisé ou dispensé des cours, des séminaires                    d'introduction au changement climatique et à la transition énergétique,                    ont souvent constaté la puissance d'entrainement de l'engagement et du                    récit personnel. Fort de ce constat, un appel à contributions de récits de                    \"mises en mouvement\" personnels vient d'être lancé via les équipes.                  </p>                  <p style='text-align: justify;margin-top:7px'>                    Quel                    a été le (ou les) facteur(s) déclenchant(s) qui nous ont amenés à l'action ?                    Quelles ont été les émotions qui nous ont porté.e.s et ont guidé nos efforts                    et nos actions en faveur de cette crise ?                  </p>                  <p style='text-align: justify;margin-top:7px'>                    Ces récits feront l'objet d'une                    relecture et seront publiés sous une forme encore à définir.                  </p>                </div>                <div class='column'>                  <p style='text-align: justify;margin-top:7px'>                    Récemment, l'équipe a également introduit la présentation d'ouvrages par                    des membres du groupe, ce qui permet à toutes et tous d'acquérir la culture                    nécessaire à la perception d'une crise aux conséquences tentaculaires.                  </p>                  <p style='text-align: justify;margin-top:7px'>                    L'équipe a également invité des porteurs et porteuses d'initiatives climatiques                    extérieur.e.s au collectif avec lesquels nous pourrions collaborer ou dont                    nous pourrions nous inspirer. N'hésitez donc pas à proposer les thèmes,                    les ouvrages ou les intervenants qui vous semblent pertinents.                  </p>                  <p style='text-align: justify;margin-top:7px'>                    Le groupe diffusion/enseignement dont l'objectif est l'élaboration d'exposés                    établis au nom du collectif, finalise le premier volet qui porte sur les preuves                    et les mécanismes du changement climatique (environ 50 planches ainsi qu'un                    document explicatif accompagnant et des compléments pour aller plus loin).                  </p>                  <p style='text-align: justify;margin-top:7px'>                    Par ailleurs, il a également débuté l'élaboration de contenus pour décrire                    les solutions.  Ces exposés permettront aux membres de <em>Labos 1point5</em> de présenter,                    au niveau d'expertise élevé que permet l'élaboration collective, la réalité et les                    enjeux de la crise climatique. <strong>Il s'agit d'un gros travail de fond et toutes les                    bonnes volontés sont très bienvenues !</strong>                  </p>                </div>",
    "c40": "<strong> Équipe « Communication » </strong>",
    "c41": "<div class='column'>                  <p style='text-align: justify;margin-top:7px'>                    Mi-janvier, un groupe de travail a commencé à se pencher sur l'impact sur                    l'environnement de nos pratiques numériques quotidienne, dans le cadre                    professionnel, dans le but de lancer une campagne d'information/sensibilisation                    sur le sujet.                  </p>                  <p style='text-align: justify;margin-top:7px'>                    Un autre groupe de travail sur les pratiques de publication (revues,                    modalités de signature, libre accès des données, ...) est en train de se                    constituer. La réunion de lancement a eu lieu le 11 février 2021.                  </p>                </div>                <div class='column'>                  <p style='text-align: justify;margin-top:7px'>                    Enfin, le tout premier rapport d'activité de <em>Labos 1point5</em> est en cours de                    préparation, pour couvrir les deux premières années du collectif dont la date                    d'anniversaire est le 19 mars 2021.                  </p>                </div>",
    "c42": "<strong> Équipe « Technique » </strong>",
    "c43": "De nouvelles fonctionnalités, qui seront disponibles dans les prochains jours, ont été implémentées sur le module \"missions\" de",
    "c44": " :                    <ul style='list-style-type:square;margin-left:25px'>                      <li style='margin-top:7px'>                        ajouter des missions manuellement mais aussi via l'import d'un ou plusieurs                        fichiers ;                      </li>                      <li style='margin-top:7px'>                        importer des fichiers au format d'export de geslab, l'outil de gestion des                        données des missions du CNRS ;                      </li>                      <li style='margin-top:7px'>                        permettre de corriger les erreurs présentes dans le fichier de missions.                        </li>                    </ul>                    <p style='text-align: justify;margin-top:7px'>                        L'ensemble de ces fonctionnalités est en cours de test par les laboratoires                        testeurs de GES 1point5.</p>",
    "c45": "Le nom de domaine labos1point5.org ainsi que l'ensemble des mailing-lists du                   collectif sont désormais gérés par l'association                    <a class='link' target='_blank' href='https://www.le-pic.org/'>le PIC</a>,                    un grand merci à l'équipe d'administration pour leur aide.",
    "c46": "Enfin, l'équipe technique a mis en page et en ligne deux nouvelles sections sur le site web : ",
    "c47": "les décryptages",
    "c48": " (en collaboration avec l'équipe \"Communication\") et ",
    "c49": "nos enquêtes",
    "c50": " (en collaboration avec l'équipe \"Enquête\").",
    "c51": " Actualités des labos",
    "c52": "<div class='column'>              <p style='text-align: justify;'>                Retour d'expérience d'un laboratoire en neurosciences à Bordeaux                (effectif : environ 140 personnes) sur l'outil GES 1point5 :              </p>              <p style='text-align: justify;margin-top:7px'>                \"Après avoir présenté l'idée d'un BGES du labo en assemblée générale                l'année dernière et avec l'aval du directeur d'unité, nous avons                effectué le bilan (Figure 1) dès que l'outil en ligne de <em>Labos 1point5</em>                a été disponible (octobre 2020).              </p>              <p style='text-align: justify;margin-top:7px'>                Personnellement, j'étais persuadé que                nos missions internationales représenteraient la plus grosse partie de                notre empreinte carbone. C'était sans compter sur la consommation importante                de notre bâtiment, notamment pour le chauffage.              </p>              <p style='text-align: justify;margin-top:7px'>Nous partageons à l'Université                de Bordeaux un bâtiment neuf avec une autre unité CNRS qui comprend des                services communs aux deux labos, dont des animaleries. Nous soupçonnons                que celles-ci représentent une part importante de la consommation du bâtiment                car les normes actuelles sur les animaleries imposent des conditions drastiques                (pression positive, fort renouvellement d'air) qui peuvent avoir un impact                important sur le chauffage.              </p>            </div>            <div class='column'>              <p style='text-align: justify;'>Nous n'avons accès pour le moment qu'à la consommation                globale du bâtiment (répartie en fonction de l'occupation), mais l'Université                devrait nous faire parvenir prochainement une consommation par étage/espace                pour mieux comprendre les raisons de cette forte consommation, ce qui nous                permettra ensuite d'essayer de la réduire.              </p>              <p style='text-align: justify;margin-top:7px'>                Mon autre surprise a été de                constater que les déplacements domicile-travail ont pour notre labo un                impact équivalent à celui des missions. Finalement, sur l'ensemble du                personnel, seule une petite partie des chercheurs fait des missions                longue distance, et leur contribution à l'impact global du labo n'est                pas si importante. Ce qui ne nous empêche pas d'essayer de baisser                également l'impact des missions, bien sûr.\"              </p>            </div>",
    "c53": "<em>Figure 1. Répartition des sources d'émissions (kg eCO2) générée par GES 1point5</em>",
    "c54": " Appels et actualités hors <em>Labos 1point5</em>",
    "c55": "<p style='text-align: justify;'>                    Entre octobre 2020 et février 2021, sous l’impulsion de Joel Thanwerdas                    (Laboratoire des sciences du climat et de l'environnement (LSCE)), plusieurs                    chercheur.se.s de l’Institut Pierre-Simon Laplace (IPSL) ont collaboré pour                    développer une application web                    <a class='link' target='_blank' href='https://monpetitcarbone.fr/accueil'>\"MonPetitCarbone\"</a>,                    permettant de calculer l’empreinte                    individuelle des personnels de la recherche.                  </p>                  <p style='text-align: justify;margin-top:7px'>                    Ce calculateur individuel,                    portant sur les émissions professionnelles, facilite par exemple le pilotage                    de quotas individuels*. La méthodologie associée à cet outil est la même que                    celle de Labos 1point5 et une convergence avec GES 1point5 est envisagée afin de                    fournir les deux échelles (individu et laboratoire) au sein d'un seul et même                    outil. Le code associé, open source, est disponible                    <a class='link' target='_blank' href='https://framagit.org/jthanwer/monpetitcarbone'>ici</a>                  </p>                  <p style='text-align: justify;margin-top:7px;font-size:smaller'>                    * Une version quota de \"MonPetitCarbone\" a été développée spécifiquement pour son                    utilisation par un laboratoire de l'IPSL, le Laboratoire d'Océanographie et du                    Climat : Expérimentations et Approches Numériques (LOCEAN). Cette version,                    hébergée sur des serveurs internes, est différente de la version disponible                    publiquement.                  </p>",
    "c56": "  <li style='margin-top:7px'>                  <p style='text-align:justify'>                    Sortie d'un nouvel outil qui permet de calculer l'empreinte carbone de                    modèles d'apprentissage Deep Learning.                  </p>                  <p style='text-align: justify;margin-top:7px;'>                    Cet outil, appelé \"Carbontracker\" a                    été présenté à une conférence en 2020, vous pouvez lire l'article associé en suivant                    <a class='link' target='_blank' href='https://arxiv.org/abs/2007.03051'>ce lien</a>.                  </p>                </li>                <li style='margin-top:7px'>                  <p style='text-align: justify;margin-top:7px'>                    L'atelier de démocratie délibérative Ma Terre en 180’ a été conçu par et                    pour le monde académique. La première formation à ce jeu aura lieu les                    <strong>8 et 12 mars</strong>.                  </p>                  <p style='text-align: justify;margin-top:7px;'>                    Nous jouerons une partie et décortiquerons toutes les techniques                    d'animation.                  </p>                  <p style='text-align: justify;margin-top:7px;'>                    Pour vous préinscrire c'est <a class='link' target='_blank' href='https://enquetes.ird.fr/index.php/355148?lang=fr'>ici</a>.                  </p>                </li>",
    "c57": "<strong>N'hésitez pas à nous faire remonter vos idées et propositions de travail !<br />            La coordination nationale, Floriane Clément & Estelle Carciofi (équipe Com.) et Philippe Bardou (équipe Tech.) </strong>"
  },
  "en": {
    "date": "19 febuary 2021",
    "c"  : "Content of the newsletter:",
    "c0" : " On the frontpage",
    "c1" : "The first results of the national survey  \"Research staff and climate change\" are online ",
    "c2" : "here",
    "c3" : ".",
    "c4" : "The detailed results are available ",
    "c5" : "here",
    "c6" : " (in French).",
    "c7" : " They show that global climate change is of great concern to all research staff:",
    "c8" : "<strong>99%</strong> of the respondents acknowledge that human activities play a role in climate change",
    "c9" : "<strong>72%</strong> describe themselves as \"very\" or \"extremely preoccupied\" and <strong>81%</strong> say they are more preoccupied than 5 years ago.",
    "c10": "Overall, the aim of the survey is four-fold:<ul style='list-style-type:square;margin-left:25px'><li style='margin-top:7px'><strong>Investigate</strong> the scientific staff's perception of environmental issues, climate change and ecology in general ;</li><li style='margin-top:7px'><strong>Assess</strong> the individual and collective activities and practices that produce the most amount of greenhouse gas (GHG) and understand how and why ;</li><li style='margin-top:7px'><strong>Explore</strong> possible solutions as well as their acceptability ;</li><li style='margin-top:7px'><strong>Identify</strong> the determinants of these perceptions and practices.</li></ul>",
    "c11": " Message from the national coordination team",
    "c12": "<strong>Maintain the autonomy of local initiatives</strong>",
    "c13": "In the past few years, many local initiatives with goals similar to Labos 1point5 have blossomed. This illustrates that concern regarding the global environmental footprint of academic research is widespread and that these initiatives are necessary. However, we wish that initiatives that are independent of the Labos 1point5 collective choose a name that does not include \"1point5\", for the sake of clarity, especially when dealing with public research institutions.",
    "c14": "Obviously <em>Labos 1point5</em> will further support these initiatives, promoting them and sharing the information they wish to communicate through the Labos 1point5 website,  during our colloquia or in our newsletter. We believe that the diversity of initiatives and their identities as well as their autonomy are necessary and beneficial to the common aim of reducing the environmental footprint of research.",
    "c15": "Unanimously,<br/>The <em>Labos 1point5</em> coordination team",
    "c16": " Other activities of the collective's teams",
    "c17": "<strong>« The carbon footprint of laboratories »</strong>",
    "c18": "The first version of ",
    "c19": "our open-source tool to estimate the laboratories' GHG emissions, was released last october. To date, over 100 laboratories have started using it.",
    "c20": "The writing of the <a class='link' target='_blank' href='https://www.biorxiv.org/content/10.1101/2021.01.14.426384v1.article-metrics'>collaborative working paper</a> presenting this tool is ongoing.",
    "c21": "Around fifteen research laboratories have already estimated their 2019 carbon footprint and identified which activities generate the largest share of emissions : energy consumption of buildings, vehicle fuel consumption, home-office commute, or  work-related trips.",
    "c22": "According to the initial feedback we've had from these labs, the main emission sources may vary greatly from one lab to another. For instance, in the case of a social sciences laboratory, home-office commutes contribute to the greatest share of the emissions, whereas for another laboratory specialised in neurosciences, 85% of its emissions are accounted for by the energy consumption of the buildings.",
    "c23": "This shows the usefulness of a quantitative assessment following a common protocol, in order to both assess the national situation and propose locally-relevant measures.",
    "c24": "In December and January, we worked with the CNRS Information Technology services in order to automatically retrieve the data of the professional trips from geslab, the CNRS accounting tool, and to make them available and compatible with GES 1point. This has been completed in geslab. The technical aspects are still under test in GES 1point5 but this new feature should be up and running soon. We will let you know when this is done.",
    "c25": "Furthermore, we continue to work with national public institutions in order to facilitate the user experience. Finally, two working groups have started working on a second expanded version of GES 1point5 on the carbon footprint of digital technology and purchases.",
    "c26": "<strong>« Representations and practices »</strong>",
    "c27": "The national survey \"Research staff and climate change\" sent to a representative sample of research staff from all staff categories and disciplines and affiliated to CNRS units has received more than 6,000 responses between June and December 2020.  The graphs showing the first results of the survey are available online ",
    "c28": "here",
    "c29": ".",
    "c30": "As well as a more ",
    "c31": "detailed presentation",
    "c32": " of the questionnaire and its results. We now want to push the data analysis further and to provide support to the laboratories or teams that are willing to conduct the survey locally.<br/><strong>Feel free to contact us.</strong>",
    "c33": "<strong>« Experimentation »</strong>",
    "c34": "On January 21st, the « Experimentation »  team held a one-day seminar to synthesize the work that has been on-going for three months in the dozen working groups of the team that make up a total of 60 active members.",
    "c35": "All the <a class='link' target='_blank' href='https://cloud.le-pic.org/apps/files/?dir=/labo15/Exp%C3%A9rimentation/Journ%C3%A9e%20du%2021%20janvier%202021&fileid=55648'>information and material</a> are available on the PIC's nextcloud for the Labos 1point5 collective's team members.",
    "c36": "There are two main goals around which the working groups are organized: (1) a \"research\" component dealing with the creation and design of a long-term national experimentation to reduce the laboratories' GHG emissions; (2) a \"support\" component aimed at creating material to facilitate the transition of the volunteer laboratories engaged in reducing their carbon footprint. The latter will partly rely on the Kit-1point5 made of different explanatory sheets that will be finalised by mid-March 2021. It contains:<ul style='list-style-type:square;margin-left:25px'>                      <li style='margin-top:7px'>        a presentation of the experimentation and a FAQ ;   </li>                      <li style='margin-top:7px'>        support material for the design of emission-reduction scenarios ; </li>                      <li style='margin-top:7px'>        a technical presentation of the tools that will be used to stimulate emission reductions in the laboratories (e. g. pedagogical tools such as  fun workshops/serious games, engaging questionnaires, conferences ; financial tools such as compensation, taxes or quotas).  </li>                    </ul>We wish to <strong>warmly thank</strong> those who participated (in many cases heavily) in the work of one or multiple working groups.",
    "c37": "After this preparatory phase, the test phase of the experimentation will progressively start among the 15 volunteer laboratories. This phase is funded by the CNRS's \"Mission pour les initiatives transverses et interdisciplinaires (MITI)\" for 2021. Different actions will be organized:                    <ul style='list-style-type:square;margin-left:25px'>                      <li style='margin-top:7px'>    test the newly-developed tools ;  </li>                      <li style='margin-top:7px'>    train facilitators that will participate in the debates and decision-making processes of the test laboratories starting in April-May ;   </li>                      <li style='margin-top:7px'>    build the research team that will follow the process from different disciplinary perspectives ;   </li>                      <li style='margin-top:7px'>    set up the surveys and indicators to assess the experimentation process (GHG emissions, research quality, well-being in the workplace, ...)   </li>                    </ul>The test phase will begin by an information meeting for the test laboratories on March 2nd 2021 at 2pm.This phase will terminate by the end of the year 2021 before a large-scale deployment in 2022. ",
    "c38": "<strong>«Think tank »</strong>",
    "c39": "<div class='column'>                  <p style='text-align: justify;margin-top:7px'>                  The \"think tank\" team has recently discussed the position of researchers with teaching duties in universities regarding the climate crisis. Which attitudes and discourses shall we use when talking to students?                  Especially since their future is at stake and their activities, even professional, might be contrary to the necessary transitions.                   </p>                  <p style='text-align: justify;margin-top:7px'>                  Quite generally, and together with the \"Experimentation\" team, the question is how to mobilise and set in motion students, colleagues and citizens.      </p>     <p style='text-align: justify;margin-top:7px'>       Those among us who have organised seminars or taught subjects related to climate change and energy transitions have noticed the power of engagement and personal accounts. With this in mind, the team launched a call for short submissions describing how members of all teams were set in motion on a personal level. </p>                  <p style='text-align: justify;margin-top:7px'> What triggered their implication? What are the emotions that guided them? These account will be reviewed and published in a yet-to-be-determined manner.  </p>                  <p style='text-align: justify;margin-top:7px'> Recently, the team also started welcoming book introductions and reviews by members. This enables members to get a shared understanding of the interrelated issues at stake with the climate crisis. </p></div>                <div class='column'><p style='text-align: justify;margin-top:7px'>The team also invited members of other inspiring climate-related initiatives with whom we might collaborate. Feel free to propose themes, books or people that are relevant to the team's work.  </p>                                  <p style='text-align: justify;margin-top:7px'>The aim of the outreach/teaching group is to create and produce presentation materials in the name of the collective. The group is finishing up the first part of its work focused on the scientific evidence of climate change and its underlying mechanisms (around 50 slides with accompanying document and complementary material for those who want to go further).</p>                  <p style='text-align: justify;margin-top:7px'> We also began working on a presentation outlining some of the possible solutions to the crises ahead. Thanks to the collaborative creation process of this material, the members of Labos 1point5 will be able to present thorough, precise and expert-level content in relation to the climate crisis. <strong>This implies very in-depth work so anyone interested is welcome to join us!</strong> </p>                </div>",
    "c40": "<strong>« Communication »</strong>",
    "c41": "<div class='column'>                  <p style='text-align: justify;margin-top:7px'>Mid-january, a working group was created to assess the impact of our daily professional digital activities on the environment. The ultimate goal of this group is to launch an information campaign to raise awareness on this subject.  </p>                  <p style='text-align: justify;margin-top:7px'>A new working group on publication practices (journals, co-authoring, data open access, ...) is currently looking for volunteers.  </p>                </div>                <div class='column'>                  <p style='text-align: justify;margin-top:7px'>Last but not least, the very first Labos 1point5 annual report is being written. It aims at summarising the first two years of the collective as its birthday is coming: March 19th.</p></div>",
    "c42": "<strong>« Technical team »</strong>",
    "c43": "New features have been implemented in the \"professional trips\" module of ",
    "c44": " and will be available in a few days. It will be possible to: <ul style='list-style-type:square;margin-left:25px'>                      <li style='margin-top:7px'>    manually add business travels or import them from one or more files  </li>                      <li style='margin-top:7px'>    import files corresponding to the CNRS tool geslab format  </li>                      <li style='margin-top:7px'>    correct mistakes contained in the files</li></ul><p style='text-align: justify;margin-top:7px'>The new features are currently being tested by the GES 1point5 test laboratories.</p>",
    "c45": "The domain name labos1point5.org and all the mailing lists of the collective are now managed by the association <a class='link' target='_blank' href='https://www.le-pic.org/'>le PIC</a>. Many thanks to the administration team for their help!",
    "c46": "The team has launched two new sections on the website: ",
    "c47": "decyphering",
    "c48": " (joint work with the communication team) and ",
    "c49": "surveys",
    "c50": " (together with the survey team).",
    "c51": " News from labs in France",
    "c52": "<div class='column'>              <p style='text-align: justify;'>GES 1point5 feedback from a test laboratory in neurosciences located in Bordeaux (around 140 staff members):</p>              <p style='text-align: justify;margin-top:7px'>              \"We presented the idea of a GHG inventory to the lab general assembly last year and with the agreement of the director we carried it out as soon as the Labos 1point5 tool was accessible online (October 2020).              </p>              <p style='text-align: justify;margin-top:7px'>               Personally, I was expecting that international business travels would make up the largest share of our carbon footprint. </p>              <p style='text-align: justify;margin-top:7px'>This was without taking into account the large energy consumption of our building at Université de Bordeaux that we share with another laboratory.               This consumption is mainly due to heating. We share common services such as animal housing facilities that we suspect contribute a lot to the overall energy consumption since the sanitary norms impose strict conditions (positive pressure, high air renewal) that may have an impact on heating.    </p>            </div>            <div class='column'>              <p style='text-align: justify;'>For now we only have access to the global consumption of the building as a function of occupation but we should soon receive more detailed data (by room or floor) from the University so that we will be able to better understand this high consumption and then reduce it more efficiently.</p>              <p style='text-align: justify;margin-top:7px'> I was also surprised by the fact that the home-office daily commuting weighs as much as our international travels. In the end, only a few researchers do long-distance business travels so that their impact is not so large. Nonetheless, we will obviously try to limit the impact of these travels too.              </p></div>",
    "c53": "<em>Figure 1. Emission sources (kg eCO2) generated by GES 1point5</em>",
    "c54": " Calls and news outside of <em>Labos 1point5</em>",
    "c55": "<p style='text-align: justify;'>    Between October 2020 and February 2021 and at the initiative of Joel Thanwerdas (Laboratoire des sciences du climat et de l'environnement (LSCE)), a few researchers from Institut Pierre-Simon Laplace (IPSL)    collaborated to develop the web application <a class='link' target='_blank' href='https://monpetitcarbone.fr/accueil'>\"MonPetitCarbone\"</a>    that allows research staff to assess their individual professional footprint.     </p>                  <p style='text-align: justify;margin-top:7px'>    This individual calculator can be of help in managing individual quotas* for example.    This calculator shares the same methodology as GES 1point5, the Labos 1point5 tool, and a convergence is envisioned so that both the laboratory and individual assessments are available in a single tool.    The open source code is available <a class='link' target='_blank' href='https://framagit.org/jthanwer/monpetitcarbone'>here</a>. </p>                  <p style='text-align: justify;margin-top:7px;font-size:smaller'>    * A version of MonPetitCarbone specially dedicated to individual quotas has been developed by the LOCEAN (Laboratoire d'Océanographie et du Climat : Expérimentations et Approches Numériques). This version is different from the publicly available one and is currently hosted on internal servers.                  </p>",
    "c56": " <li style='margin-top:7px'>                  <p style='text-align:justify'>                  The new  \"Carbontracker\" tool allows to compute, track and predict the carbon footprint of training a Deep Learning model.                   </p>                  <p style='text-align: justify;margin-top:7px;'>                  It was presented at a conference in 2020. More detailed in the <a class='link' target='_blank' href='https://arxiv.org/abs/2007.03051'>related paper</a>.                  </p>                </li>                <li style='margin-top:7px'>                  <p style='text-align: justify;margin-top:7px'>    The deliberative democracy workshop \"Ma Terre en 180'\" was created by and for French academia.    The first training to this game will be held on 2021, March 8 and 12.     </p>                  <p style='text-align: justify;margin-top:7px;'>                  We will play a game and analyse all the possible facilitation techniques.",
    "c57": "<strong>The national coordination, Floriane Clément & Estelle Carciofi (Communication team)<br/> and Philippe Bardou (Technical support team). Translation by Maxime Garnier.</strong>"
  }
}
</i18n>

<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            <span v-html="$t('c')"></span>
            <ul style="list-style-type:square;margin-left:25px">
              <li><a class="link" href="#une" v-html="$t('c0')"></a> ;</li>
              <li><a class="link" href="#appel" v-html="$t('c11')"></a> ;</li>
              <li><a class="link" href="#activites" v-html="$t('c16')"></a> ;</li>
              <li><a class="link" href="#actualites-labos" v-html="$t('c51')"></a> ;</li>
              <li><a class="link" href="#appel-actu" v-html="$t('c54')"></a>.</li>
            </ul>
          </div>

          <div id="une" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> <span v-html="$t('c0')"></span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <span v-html="$t('c1')"></span>
                <router-link v-html="$t('c2')" class='link' to='/les-enquetes'></router-link>
                <span v-html="$t('c3')"></span>
              <p style="text-align: justify;margin-top:7px;">
                <span v-html="$t('c4')"></span>
                <router-link v-html="$t('c5')" class='link' to='/les-enquetes/enquete1-resultat'></router-link>
                <span v-html="$t('c6')"></span>
              </p>
              <p style="text-align: justify;margin-top:7px;">
                <span v-html="$t('c7')"></span>
                <ul style="list-style-type:square;margin-left:25px">
                  <li style="margin-top:7px">
                    <span v-html="$t('c8')"></span>
                  </li>
                  <li style="margin-top:7px">
                    <span v-html="$t('c9')"></span>
                  </li>
                </ul>
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;" v-html="$t('c10')"></p>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div id="appel" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-bullhorn"></i> <span v-html="$t('c11')"></span>
              </h2>
              <p style="text-align: justify;" v-html="$t('c12')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px;" v-html="$t('c13')"></p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px;" v-html="$t('c14')"></p>
                  <p style="text-align:right" v-html="$t('c15')"></p>
                </div>
              </div>
            </div>
          </div>

          <div id="activites" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> <span v-html="$t('c16')"></span>
          </h2>
          <b-tabs expanded type="is-toggle">
            <b-tab-item icon="sui sui-thermometer-4">
              <p style="text-align: justify;" v-html="$t('c17')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <span v-html="$t('c18')"></span>
                    <router-link class="link" to="/ges-1point5">GES 1point 5</router-link>,
                    <span v-html="$t('c19')"></span>
                  </p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c20')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c21')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c22')"></p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c23')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c24')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c25')"></p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item icon="sui sui-bar-chart">
              <p style="text-align: justify;" v-html="$t('c26')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <span v-html="$t('c27')"></span>
                    <router-link class="link" to="/les-enquetes/enquete1-resultat" v-html="$t('c28')"></router-link>
                    <span v-html="$t('c29')"></span>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <span v-html="$t('c30')"></span>
                    <router-link class="link" to="/les-enquetes/enquete1-intro" v-html="$t('c31')"></router-link>
                    <span v-html="$t('c32')"></span>
                  </p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item icon="sui sui-flask">
              <p style="text-align: justify;" v-html="$t('c33')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c34')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c35')"></p>
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c36')"></p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c37')"></p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item icon="sui sui-lightbulb-o">
              <p style="text-align: justify;" v-html="$t('c38')"></p>
              <div class="columns" v-html="$t('c39')"></div>
            </b-tab-item>
            <b-tab-item icon="sui sui-weixin">
              <p style="text-align: justify;" v-html="$t('c40')"></p>
              <div class="columns" v-html="$t('c41')"></div>
            </b-tab-item>
            <b-tab-item icon="sui sui-sitemap">
              <p style="text-align: justify;" v-html="$t('c42')"></p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <span v-html="$t('c43')"></span>
                    <router-link class="link" to="/ges-1point5">GES 1point5</router-link>
                    <span v-html="$t('c44')"></span>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px" v-html="$t('c45')"></p>
                  <p style="text-align: justify;margin-top:7px">
                    <span v-html="$t('c46')"></span>
                    <router-link class="link" to="/les-decryptages" v-html="$t('c47')"></router-link>
                    <span v-html="$t('c48')"></span>
                    <router-link class="link" to="/les-enquetes" v-html="$t('c49')"></router-link>
                    <span v-html="$t('c50')"></span>
                  </p>
                </div>
              </div>
            </b-tab-item>
          </b-tabs>

          <div id="actualites-labos" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news" style="margin-top:-15px">
            <i class="sui sui-newspaper-o"></i> <span v-html="$t('c51')"></span>
          </h2>
          <div class="columns" v-html="$t('c52')"></div>
          <img src="@/assets/images/newsletters/news7_ges1point5.png" alt="" />
          <p style="text-align:center;margin-bottom:30px" v-html="$t('c53')"></p>

          <div id="appel-actu" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-bullhorn"></i> <span v-html="$t('c54')"></span>
          </h2>
          <div class="columns">
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px">
                <li style="margin-top:7px" v-html="$t('c55')"></li>
              </ul>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px" v-html="$t('c56')"></ul>
            </div>
          </div>

          <hr/>
          <p style="text-align: right;" v-html="$t('c57')"></p>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #7 - <em>Labos 1point5</em> - <span v-html="$t('date')"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter7',
  data () {
    return {
      isOpen: 0,
      collapses: [{
        title: 'Title 1',
        text: 'Text 1'
      },
      {
        title: 'Title 2',
        text: 'Text 2'
      },
      {
        title: 'Title 3',
        text: 'Text 3'
      }]
    }
  }
}
</script>

<style>
.tabs.is-toggle li.is-active a {
  background-color:  rgba(83, 135, 175, 0.1);
  border-color: rgb(66, 128, 176);
}
</style>
