<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column" style="max-width:915px">
          <div class="box-blue" style="margin-bottom:40px">
            Contenu de la lettre d’information :
            <ul style="list-style-type:square;margin-left:25px">
              <li><a class="link" href="#bonnes-volontes">Appel à bonnes volontés</a> ;</li>
              <li><a class="link" href="#activites-equipes">Activités des équipes du collectif et création d’une nouvelle équipe</a> ;</li>
              <li><a class="link" href="#actualites-labos">Actualités des labos</a> ;</li>
              <li><a class="link" href="#initiatives">Autres initiatives</a> ;</li>
              <li><a class="link" href="#appels">Appels hors Labos 1point5</a>.</li>
            </ul>
          </div>

          <div id="bonnes-volontes" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-bullhorn"></i> Appel à bonnes volontés
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Le collectif <em>Labos1 point5</em> fonctionne désormais à plein régime avec bientôt 7 équipes. Il
                y a plusieurs initiatives sur lesquelles nous manquons de renforts qui sont listées ci-dessous. Si vous pouvez aider, envoyez
                un mail à <a class="link" href="mailto:coordination@labos1point5.org">coordination@labos1point5.org</a> :
                <ul style="list-style-type:square;margin-left:25px">
                  <li style="margin-top:7px">Prendre en main <strong>la création et l'animation d'un groupe de travail (ou comité d'organisation) pour un colloque
                  Labos 1point5</strong> en juin (nous avons les financements et le support technique) ;</li>
                  <li>Déposer <strong>les statuts de l'association (déjà rédigés)</strong>, suivre le dossier et organiser la première AG
                  (vote en ligne simple des statuts) ;</li>
                  <li style="margin-top:7px">Groupe d'animation et d'organisation des <strong>Webinaires <em>Labos 1point5</em></strong> ;</li>
                  <li style="margin-top:7px">Prendre en main <strong>le lien avec les initiatives institutionnelles</strong> ;</li>
                  <li style="margin-top:7px"><strong>Gérer l'adresse mail contact@labos1point5.org</strong>, c'est à dire répondre aux sollicitations, transmettre
                    aux personnes compétentes puis apporter une réponse aux demandes recues. (Le nombre de mails hebdomadaires varie de 5 à 10) ;
                  </li>
                </ul>
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                <ul style="list-style-type:square;margin-left:25px">
                  <li style="margin-top:7px"><strong>Suivre, répertorier et contacter les initiatives en France</strong> en relation avec l'équipe technique ; </li>
                  <li style="margin-top:7px"><strong>Prendre en main la gestion administrative des finances</strong> de Labos 1point5. Nous avons obtenu une co-financement
                    pour un emploi à plein temps et des fonds pour le fontionnement du collectif. Nous aurions besoin d'aide pour prendre en main
                    la gestion de ce poste et du cofinancement, ainsi que la gestion des finances en général ;
                  </li>
                  <li style="margin-top:7px">Aider à la gestion des réseaux sociaux : si quelqu'un a une expérience en communication en particulier en tant que
                    <strong>Community manager</strong> ce serait très utile ;
                  </li>
                  <li>Aider à la mise en place des outils de vote en ligne ;</li>
                </ul>
              </p>
              <p style="margin-top:7px;text-align: justify;">Par ailleurs, grace à l'obtention de subventions (voir ci-dessous) il sera possible <strong>d'encadrer des étudiants en
                stage</strong> sur les activités du collectif. N'hésitez pas à nous faire remonter des demandes si vous êtes intéressés !
              </p>
            </div>
          </div>

          <div id="activites-equipes" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> Activités des équipes du collectif et nouvelle équipe
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <strong>Activités des équipes :</strong>
              </p>
              <b-tabs position="is-centered" size="is-small" class="block" style="margin:auto !important" expanded>
                <b-tab-item label="Empreinte" icon="thermometer-4">
                  <p style="text-align: justify;">
                    Deux réunions majeures ont été organisées depuis septembre 2019 :
                  </p>
                  <p style="margin-top:7px;text-align: justify;">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>le 18 septembre, une réunion d'information a permis de présenter les objectifs de l'équipe Empreinte
                        carbone, la méthodologie envisagée pour construire l'empreinte carbone de la recherche française, le mode opératoire proposé et les
                        travaux déjà menés dans différents labos. A la suite de cette réunion, les personnes désireuses de contribuer d'une manière ou d'une autre
                        au travail de l'équipe Empreinte se sont manifestées ;
                      </li>
                      <li>le 10 décembre, les personnes s'étant impliquées dans l'équipe Empreinte ont échangé sur une première
                        version du protocole méthodologique, de manière à le finaliser pour fin décembre et permettre le développement informatique de l'outil
                        ensuite ;
                      </li>
                    </ul>
                  </p>
                  <p style="margin-top:7px;text-align: justify;">Le protocole méthodologique pour l'estimation de l'empreinte carbone "1er niveau" d'un labo a ainsi été achevé en
                    décembre 2019. Le développement informatique est en cours et proche d'aboutir. Huit labos testeront la version beta au début du printemps.  Le
                    déploiement complet de l'outil, à destination de l'ensemble des labos, est envisagé dans le courant du printemps.
                  </p>
                  <p style="margin-top:7px;text-align: justify;">
                    L'empreinte carbone "1er niveau" correspond aux émissions liées aux consommations d'énergie propres au labo (bâtiments, véhicules) et aux déplacements
                    du personnel du labo (déplacements domicile-travail + déplacements en missions).  Un 2ème niveau est amorcé, avec l'estimation de l'empreinte carbone
                    du numérique. Ce 2ème niveau sera complété par divers modules plus spécifiques aux activités de chaque labo.
                  </p>
                  <p style="margin-top:7px;text-align: justify;">Deux réunions seront programmées prochainement : l'une à destination des personnes des labos testeurs pour leur
                    expliquer nos attentes vis-à-vis d'elles, l'autre à destination de l'ensemble de la liste de diffusion de l'équipe Empreinte (environ 150 personnes)
                    pour leur donner un premier aperçu de l'outil et expliquer les différentes étapes avant le déploiement total de l'outil.
                  </p>
                </b-tab-item>
                <b-tab-item label="Enquête" icon="bar-chart">
                  <p style="text-align: justify;">L'équipe a tenu deux réunions depuis septembre. Elle poursuit son travail de préparation d'un questionnaire à diffuser
                    auprès de chercheurs de l'ensemble des disciplines, en repartant des enquêtes déjà réalisées dans plusieurs domaines (astrophysique, climatologie,
                    sociologie).
                  </p>
                  <p style="margin-top:7px;text-align: justify;">
                    Des négociations sont en cours avec les institutions pour le diffuser par courriel auprès d'un échantillon représentatif des personnels. Quelques-uns
                    des résultats préliminaires de l'enquête « Les sociologues et le changement climatique » passée fin août auprès de 428 participants au congrès de
                    l'Association française de sociologie ont été communiqués sur <a class="link" href="https://twitter.com/labos1point5/status/1224634625374507009" target="_blank">Twitter</a>.
                    Une nouvelle réunion sera bientôt organisée pour élaborer un prototype de questionnaire a tester dans différentes disciplines.
                  </p>
                </b-tab-item>
                <b-tab-item label="Réflexion" icon="lightbulb-o">
                  <p style="text-align: justify;">Le groupe Réflexion (actuellement 122 inscrits ) se réunit en téléconférence les 4ème jeudi de chaque mois à midi depuis
                    le 27 septembre 2019.   La priorité a été définir la stratégie et les procédures de travail dans le groupe.
                  </p>
                  <p style="margin-top:7px;text-align: justify;">
                    Cette structuration a produit deux textes cadres :
                  </p>
                  <p style="margin-top:7px;text-align: justify;">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li style="text-align: justify;">Une <a class="link" href="https://mcloud.pacci.ci/mcloud/index.php/s/r26HzZ9lDwB9Egq" target="_blank">note stratégique</a> :
                        Cette note aborde deux questions: (i) Quelle est la spécificité d'un collectif de professionnel·le·s de la recherche par rapport aux autres ? (ii)
                        Quel est le type d'actions qu'un tel collectif doit entreprendre pour faire évoluer les activités de recherche en réponse aux crises climatique et
                        environnementale ?
                      </li>
                      <li style="text-align: justify;">Une <a class="link" href="https://mcloud.pacci.ci/mcloud/index.php/s/sZKOCSMHUtWltLT" target="_blank">procédure "textes"</a> :
                        cette procédure détaille le processus de proposition de texte, ouverture de groupe de rédaction, travail en groupe, soumission au collectif et validation
                        finale.
                      </li>
                    </ul>
                  <p style="margin-top:7px;text-align: justify;">Ces deux textes sont ouverts à débat jusqu'à fin février. Ils seront mis au vote du collectif début mars. Une fois adoptés,
                    chaque membre pourra proposer l'ouverture d'un groupe de travail pour approfondir un thème, suivant le fonctionnement défini dans la procédure.
                  </p>
                  <p style="margin-top:7px;text-align: justify;">
                    Un troisième texte cadre a été travaillé dans l'équipe, à l'initiative de la coordination : il s'agit de la
                    <a class="link" href="https://mcloud.pacci.ci/mcloud/index.php/s/3MMcC4kW8F3kojp" target="_blank">charte Labos1p5</a>. Cette charte précise les valeurs de Labos1p5,
                    et sera annexée aux statuts de l'association L1p5 quand celle-ci sera crée.
                  </p>
                </b-tab-item>
                <b-tab-item label="Com" icon="weixin">
                  <p style="text-align: justify;">Mise en place d'une bibliographie participative sur <a class="link" href="https://www.zotero.org/groups/2390614/labos1point5-veille"
                    rel="noopener" target="_blank">Zotero</a> qui sera intégrée à la nouvelle version du site web.
                    Promotion du partage d'information avec le grand public et les initiatives similaires à <em>Labos 1point5</em> à l'international :
                  </p>
                  <p style="margin-top:7px;text-align: justify;">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li style="text-align: justify;"><a class="link" href="https://www.appropedia.org/Labos_1point5" target="_blank">Appropédia</a> (pour les informations générales à destination du grand public comme des scientifiques), où une page de présentation du collectif a également été créée ;</li>
                      <li style="text-align: justify;"><a class="link" href="https://sustainability.wiki.gwdg.de" target="_blank">le wiki Sustainability in Science</a> pour les informations spécifiques au monde académique et la liste d'initiatives similaires à Labos 1point5 ;</li>
                    </ul>
                  </p>
                  <p style="margin-top:7px;text-align: justify;">Réflexion sur la mise en place d'un annuaire Labos 1point5 pour les personnes intéressées.
                    Les logos du collectif sont désormais disponibles dans leur version définitive (en HD et pour écran) sur le NextCloud, dans le dossier Communication.
                  </p>
                  <p style="margin-top:7px;text-align: justify;">
                    En ce qui concerne les comptes <strong>Twitter</strong> et <strong>Mastodon</strong>, tous les membres de Labos 1point5 sont invités à faire part d'actualités,
                    événements, ou autres informations pertinentes concernant la réduction de l'empreinte environnementale de la recherche au groupe qui s'occupe de ces
                    plateformes en envoyant un message à <a class="link" href="mailto:reseaux-sociaux@labos1point5.org">reseaux-sociaux@labos1point5.org</a>.
                    Les informations concernant les changements de pratiques en lien avec la transition écologique (si elles concernent des instances académiques ou sont à
                    caractère scientifique) ainsi que toute information en lien avec Labos 1point5 seront publiées sur ces plateformes.
                  </p>
                </b-tab-item>
                <b-tab-item label="Technique" icon="sitemap">
                  <p style="text-align: justify;">L'équipe technique a mis en place un ensemble de technologies communautaires indépendantes des outils proposés par
                    les géants du WEB.
                  </p>
                  <ul style="list-style-type:square;margin-left:25px">
                    <li><p style="text-align: justify;">Utilisation et mise en place d’applications dédiés au fonctionnement du collectif :</p></li>
                    <ul style="list-style-type:square;margin-left:25px">
                      <li><p style="text-align: justify;">forum de discussion : framateam ;</p></li>
                      <li><p style="text-align: justify;">stockage des données sous <a class="link" href="https://cloud.le-pic.org/login" target="_blank">nextcloud</a> hébergé par
                        l’association Le PIC (chaton framasoft) ;</p>
                      </li>
                      <li><p style="text-align: justify;"><a class="link" href="https://tube.nuagelibre.fr/accounts/labos1point5/video-channels" target="_blank">chaîne peertube</a>
                        hébergé par nuagelibre (chaton framasoft) ;</p>
                      </li>
                      <li><p style="text-align: justify;">listes de diffusion sous framaliste ;</p></li>
                      <li><p style="text-align: justify;">outils de versionning de l'ensemble des applications développé sous framagit ;</p></li>
                    </ul>
                    <li><p style="text-align: justify;">Utilisation et développement d’applications permettant de répondre à la stratégie du collectif :</p></li>
                    <ul style="list-style-type:square;margin-left:25px">
                      <li><p style="text-align: justify;">utilsation de framaform pour les enquêtes internes et externes ;</p></li>
                      <li><p style="text-align: justify;">développement d’une application recensant les <router-link class="link" to="/les-initiatives">initiatives des laboratoires</router-link> à l’échelle nationale ;</p>
                      </li>
                      <li><p style="text-align: justify;">développement d’une application permettant aux laboratoires de réaliser leur bilan carbone (bâtiments,
                        transports professionnels et domicile / travail). Les formulaires du 1er niveau sont fonctionnels, les calculs et les premiers graphiques de
                        résultats sont mis en place ;</p>
                      </li>
                      <li><p style="text-align: justify;">développement d'une application permettant au personnel de la recherche de réaliser leur bilan carbone
                        individuel ;</p>
                      </li>
                      <li><p style="text-align: justify;">développement d'un annuaire des chercheurs Labos 1point5 ;</p></li>
                    </ul>
                    <li><p style="text-align: justify;">Benchmarking des outils de visioconférence et de webinars existant. Une note de ce travail sera rédigée et
                      mise à disposition sur le site WEB ;</p>
                    </li>
                  </ul>
                </b-tab-item>
                <b-tab-item label="Coord" icon="joomla">
                  <p style="text-align: justify;"><strong>Présentations du collectif</strong> </p>
                  <ul style="list-style-type:square;margin-left:25px">
                    <li><p style="text-align: justify;">Tamara Ben Ari et Olivier Berné ont présenté le collectif dans plusieurs laboratoires, et notamment lors d'un
                      séminaire interne du CNRS sur les impacts des pratiques de la recherche sur l’environnement le 24/01/2020. Retrouvez les
                      <a class="link" href="https://labos1point5.org/wp-content/uploads/2020/02/Pres_Labos1point5_Jan2020_CNRSv1_light.pdf" target="_blank">diapos</a> ainsi qu'un <a class="link" href="https://tube.nuagelibre.fr/videos/watch/9b3e6496-2e37-4ad9-b675-bd3f120c6b13" target="_blank">enregistrement</a>.
                      Un Compte rendu collaboratif de la journée, rédigé par des personnes présentes sur place est disponible
                      <a class="link" href="https://labos1point5.org/wp-content/uploads/2020/02/CR_journee24012020.pdf" target="_blank">ici</a> ;</p>
                    </li>
                    <li><p style="text-align: justify;">Olivier Aumont a présenté le collectif l'AG du LSCE et à la commission science de Paris 3. Représentation du
                      collectif à un atelier à l'assemblée nationale organisée à la demande de plusieurs députés par l'association sciences citoyennes ;</p>
                    </li>
                    <li><p style="text-align: justify;">Bastien Boussau a présenté le collectif à l'INSA de Lyon ;</p></li>
                    <li><p style="text-align: justify;">Sophie Molia a représenté le collectif au sein de la dernière réunion (les 22-23 janvier 2020 à Montpellier)
                      du groupe de travail Recherche et Innovation Responsable qui a travaillé sur un référentiel d’auto-évaluation de la recherche et de l’innovation
                      qui viendra s’insérer dans le référentiel <a class="link" href="https://www.label-ddrs.org/" rel="noopener" target="_blank">DD&RS</a> préexistant des
                      établissements d’enseignement supérieur et de recherche. Cette évolution de l’existant ouvrira le dispositif DD&RS, et le label du même nom,
                      aux organismes de recherche désireux de s’engager dans une démarche vertueuse de Développement Durable et de Responsabilité Sociétale (DD&RS) ;</p>
                    </li>
                    <li><p style="text-align: justify;">Freddy Bouchet a présenté le collectif au congrès de la Société Informatique de France. Vous pouvez retrouver
                      son intervention en vidéo <a class="link" href="https://www.pscp.tv/Media_la_mouette/1lDxLgZdypLJm?t=2h2m36s" target="_blank">ici</a> ;</p>
                    </li>
                  </ul>
                  <p style="text-align: justify;"><strong>Constitution d'un réseau international</strong></p>
                  <ul style="list-style-type:square;margin-left:25px">
                    <li><p style="text-align: justify;">Visio de discussion réalisée avec l'EPFL qui a une intiative très structurée
                      (<a class="link" href="https://actu.epfl.ch/news/travel-less-without-loss-une-initiative-de-sensibi/" rel="noopener" target="_blank">Travel Less without loss</a>).
                      Volonté d'échanger méthodes et données. </p>
                    </li>
                    <li><p style="text-align: justify;">Contacts pris avec le MetOffice, l'université de Reading, Scientists4Future (S4F, Allemagne) et le Max Planck
                      <a class="link" href="https://sustainability-network.mpg.de/" rel="noopener" target="_blank">Sustainability Network</a> (Allemagne).</p>
                    </li>
                  </ul>
                  <p style="text-align: justify;"><strong>Contacts institutionnels</strong></p>
                  <ul style="list-style-type:square;margin-left:25px">
                    <li><p style="text-align: justify;">CNRS - GT Développement Durable rattaché à la DGDS
                      La coordination nationale a rencontré et échangé avec ce GT depuis Novembre. Nous avons proposé un MoU pour l'accès aux données missions et liste
                      de diffusion mail du CNRS pour communiquer les enquêtes de l'équipe du même nom. A ce jour, nous n'avons pas eu de retours formels. Des questions
                      complexes liées à la RGPD sont au centre des discussions. L'importance des travaux du collectif a été par exemple souligné dans la communication
                      du CNRS; nous faisons donc l'hypothèse que la direction du CNRS sera sensible à la nécessité d'ouvrir ces données.</p>
                    </li>
                    <li><p style="text-align: justify;">INRAE - GT Développement Durable rattaché à la DRH Une discussion a été ouverte sur l'accès aux données INRAE
                      pour réaliser bilans et enquêtes. L'INRAE attend que le CNRS prenne position sur ce point pour avancer. </p>
                    </li>
                  </ul>
                  <p style="text-align: justify;"><strong>Encadrements</strong> <br/>Etudiants du master MSEI : une quinzaine d'entretiens réalisés auprès de chercheurs
                    de nombreuses disciplines sur le contexte de la recherche aujourd'hui et le lien avec l'urgence climatique. Rapport final de synthèse en cours de
                    rédaction avec rendu attendu pour le 6 mars.
                  </p>
                </b-tab-item>
              </b-tabs>
            </div>
          </div>
          <p style="text-align: justify;">
            <strong>Création de l'équipe "Expérimentation" :</strong>
          </p>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Une nouvelle équipe vient de voir le jour au sein du collectif : l’équipe « Expérimentation ». Celle-ci est dédiée au lancement
                d’une expérimentation nationale, sur plusieurs années, sur les différentes modalités de réduction des émissions de CO2 au sein
                des laboratoires. Celle-ci est destinée à susciter, documenter et évaluer différentes options de réduction des émissions de gaz
                à effet de serre dans des laboratoires candidats, organisés en réseau. Cette expérimentation, à vocation de recherche, est également
                destinée à permettre et faire vivre les débats sur les modalités de mise en œuvre des trajectoires de réduction (par ex. des mesures
                incitatives, taxes, quotas...), reflétant les divergences sur les dimensions sociales, économiques et éthiques des changements de
                pratiques.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                O. Ragueneau (Laboratoire des Sciences de l’Environnement Marin, Brest), s'est proposé de co-animer cette équipe et lance un appel
                aux inscriptions ainsi qu’un appel pour un.e ou deux co-animateurs.trices. Les personnes intéréssées pour participer à cette équipe
                peuvent suivre la <router-link  class="link" to="/nous-rejoindre">procédure d’inscription</router-link> sur le site internet. Les
                discussions sont également ouvertes sur le canal « Expérimentation » sur le <a class="link" href="https://framateam.org/labo15" target="_blank">
                Framateam</a>.
              </p>
            </div>
          </div>

          <div id="actualites-labos" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-flask"></i> Actualités des labos
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Appel à déposer des initiatives locales <router-link class="link" to="/les-initiatives">ici</router-link>.
                N'hésitez pas à proposer ou mettre à jour des activités dans vos laboratoires en lien avec le collectif!
              </p>
              <p style="text-align:justify;margin-top:7px">
                Voici les dernières informations sur les actualités des labos qui nous sont parvenues pour cette newsletter,
                vous pouvez retrouver également d’autres initiatives sur notre
                <router-link class="link" to="/les-initiatives">site</router-link>.
                Si vous souhaitez faire connaitre les activités dans vos laboratoires en lien avec le collectif, n'hésitez
                pas à proposer ou mettre à jour ces activités sur cette page !
              </p>
            </div>
          </div>
          <b-tabs position="is-centered" size="is-small" class="block" style="margin:auto !important" expanded>
            <b-tab-item label="Aix-Marseille">
              <p style="text-align: justify;"><strong>Labos 1point5 AMU</strong> s'est créé en juillet 2019. Le groupe comprend environ 50 membres + une centaine de membres répartis en sous-groupes
                sur des sites distincts. Le groupe travaille à mettre en synergie les différentes actions entreprises dans les laboratoires de l'université. Il est en
                cours de structuration pour former des groupes de travail sur l'empreinte Carbone, la formation (notamment sur l'impact du numérique), l'empreinte des
                activités de recherche au sens large. Il invite des conférenciers à échéances régulières. Il a contribué à la rédaction d'une lettre ouverte pour demander
                à la nouvelle présidence d'Aix-Marseille Université de déclarer l'urgence climatique et environnementale (pétition toujours ouverte à signer
                <a class="link" href="http://chng.it/J4hvVpjFQR" rel="noopener" target="_blank">ici</a>). Le collectif vise également à créer un atelier d'écologie politique en
                2020.
              </p>
            </b-tab-item>
            <b-tab-item label="Bordeaux">
              <p style="text-align: justify;"><strong>Le collectif "Action Climat Environnement" (A.C.E.)</strong> a été créé en mars 2019 par des professionnels de la
                recherche et de l'enseignement travaillant sur le campus Carreire de l'Université de Bordeaux. Après 8 mois d'existence, A.C.E. a décidé de se constituer
                en association. A.C.E. s'est structuré en groupes de travail et a entamé un dialogue avec les directions de laboratoires pour : (i) faire un bilan carbone
                en appliquant les outils Labos 1point5 ; (ii) proposer une charte pour la protection du climat et de l'environnement; (iii) mettre en place une série
                d'action concernant l'information des étudiants et du personnel et les bonnes pratiques énergétiques et environnementales; et (iv) promouvoir des événements
                scientifiques sur les thèmes "climat et santé".
              </p>
              <p style="text-align:justify;margin-top:7px">
                Le <strong>Laboratoire d'Astrophysique de Bordeaux</strong> (environ 75 personnes) a créé son groupe de réflexion sur la réduction de son empreinte carbone
                et environnementale. Des premiers chiffres sur le bilan carbone ont été présentés en AG en janvier. Les premières mesures prises sont encore modestes
                (surtout liées à la gestion des déchets lors des événements organisés par le labo) mais il est prévu d'avancer sur d'autres sujets et également d'essayer
                de travailler avec un autre labo voisin.
              </p>
              <p style="text-align:justify;margin-top:7px">
                A l'occasion de la "journée mondiale de la terre" du 22 Avril, l'Université de Bordeaux organise une série d’événements sur l'urgence écologique et
                climatique. Dans ce cadre, A.C.E. et le laboratoire d'Astrophysique de Bordeaux se sont portés volontaires pour l'organisation d'une <strong>table ronde
                sur la "responsabilité des professionnels de la recherche" dans la lutte contre la dégradation climatique</strong>. Cette table ronde aura lieu le 22 avril
                de 14 à 16h à l'ISPED, campus Carreire (contact: <a class="link" href="mailto:Xavier.Anglaret@u-bordeaux.fr">Xavier.Anglaret@u-bordeaux.fr</a>)
              </p>
            </b-tab-item>
            <b-tab-item label="Brest">
              <p style="text-align: justify;">Au sein du Laboratoire des Sciences de l'Environnement Marin (LEMAR) à l'Institut Universitaire Européen de la Mer (IUEM),
                un groupe de travail sur l'éco-responsabilité a été mis en place depuis 2017, piloté par S. Artigaud et A. Huvet, ayant pour objectif de générer des
                actions destinées à réduire l'empreinte environnementale des activités de recherche. Un bilan carbone, en particulier sur les postes du transport et du
                numérique, a été réalisé en 2019, faisant suite au travail préliminaire entrepris en 2008 à l'échelle de l'IUEM. Les principaux résultats ont été présentés
                lors de la journée "Impact environnemental de la recherche" organisée le 24 janvier au siège du CNRS à Paris, ils seront affinés grâce aux outils développés
                dans le collectif Labos 1point5. D'autres actions sont en cours autour de la question des déchets, de l'alimentation, des consommations en eau et en énergie
                dans les différents bâtiments du laboratoire. Enfin, des discussions sont en cours sur le site du Technopôle, en particulier avec les collègues des autres
                laboratoires de l'IUEM, de l'Ifremer et de l'IMT-Atlantique, pour partager les diverses expériences sur l'ensemble de ces actions et trouver de possibles
                synergies (transport domicile-travail, énergie des bâtiments, alimentation...).
              </p>
            </b-tab-item>
            <b-tab-item label="Grenoble">
              <p style="text-align: justify;">Une trentaine de personnes du monde académique de l'Université Grenoble-Alpes s'est constituée en collectif <strong>Labos
                1point5 Grenoble</strong> depuis l'été 2019. Son objectif est de questionner le fonctionnement de nos institutions, de créer des liens avec le milieu
                étudiant, la société civile et le monde de l’entreprise grenoblois qui partagent le constat qu’il n’est plus possible d’attendre et qu’il est nécessaire
                d’agir ensemble pour réduire drastiquement nos émissions de gaz à effet de serre. Des groupes de travail se mettent en place à la fois pour organiser
                la gouvernance du collectif et pour mener diverses actions de terrain. Une journée de conférence, théâtre-actions, cafés discussion est programmée pour
                le 8 juin prochain sur le campus de Saint Martin d'Hères.
              </p>
            </b-tab-item>
            <b-tab-item label="Montpellier">
              <p style="text-align: justify;"><strong>Plusieurs collectifs se sont mis en place</strong> au sein de différents instituts montpelliérains (CIRAD, CNRS,
                IRD, Université de Montpellier, ...). Au niveau du CIRAD, un groupe informel <strong>"Changement climatique et moi"</strong> s'est constitué en mars
                2019 qui rassemble dans sa liste de diffusion 141 personnes intéressées par la réduction de l'empreinte environnementale du CIRAD. Il permet l'échange
                d'informations et la mise en route d'actions au niveau du CIRAD menées par des petits groupes de personnes qui essaient d'être le plus possible en
                interaction avec les entités officielles du CIRAD (services techniques, cellule responsabilité sociétale et environnementale). Pour le moment, une
                enquête en ligne a été réalisée auprès des agents du CIRAD qui va bientôt être analysée (plus de 300 répondants sur un effectif d'environ 1500 personnes),
                deux animations se sensibilisation ont été menées (sous forme de quizz), un système de compostage des biodéchets des deux cantines est en cours
                d'élaboration, des demandes ont été adressées pour augmenter la capacité des parking à vélos, une unité teste (avec des volontaires) un système fait
                maison de calcul d'empreinte carbone avec objectifs de réduction, une réflexion sur la réduction des émissions liées au numérique est en cours.
              </p>
              <p style="text-align:justify;margin-top:7px">
                <strong>Une première réunion de concertation entre les différents collectifs Montpellieriens</strong> a eu lieu en décembre
                2019. Une autre réunion a eu lieu en janvier 2020 suite à la visite à Montpellier d'un représentant de l'ATECOPOL toulousain.
              </p>
            </b-tab-item>
            <b-tab-item label="Paris">
              <p style="text-align: justify;">Jeudi 6 février, le <strong>Laboratoire des sciences du climat et de l'environnement (LSCE)</strong> a organisé sa 1ère
                AG "Empreinte écologique" visant à mobiliser l'ensemble du personnel sur l'impact carbone et écologique de nos pratiques de recherche. Cette AG fut l'occasion
                de présenter des initiatives motrices, telles que les contributions présentées lors de l'AG Action-Climat de l'IPSL, le collectif Labos 1point5, le bilan
                carbone du LOCEAN, et d'autres dynamiques en cours sur le plateau de Saclay. L'objectif de cette AG était clairement d'aller au delà des simples constats
                et réflexions sur notre devoir d'exemplarité ou non, et d'initier une mise en place collective d'un plan d'action sur le long terme. Un retour sera fait sur
                les conclusions de cette AG lors de la prochaine newsletter.
              </p>
              <p style="text-align:justify;margin-top:7px">
                <strong>Le LESIA</strong> (UMR 8109 et laboratoire de l'Observatoire de Paris) a mis en place depuis le 1er juillet 2019 un
                nouveau système de demande de missions dans lequel le demandeur précise son parcours exact et son (ses) moyen(s) de transport. Le bilan CO2 de la mission
                est calculé en temps réel et tous les paramètres sont conservés. Le bilan et les statistiques des missions du labo pour le 2ème semestre 2019 a été effectué
                et est disponible <a class="link" href="http://energie-climat.obspm.fr/boite-a-outils-s-informer-agir/article/bilan-carbone-des-missions-au-lesia" rel="noopener"
                target="_blank">ici</a>.
              </p>
            </b-tab-item>
            <b-tab-item label="Toulouse">
              <p style="text-align: justify;">Un groupe d’une soixantaine de chercheurs, dont plusieurs membres de Labos 1point5, travaillant dans 14 unités de recherche
                du Centre INRAE Occitanie Toulouse s’est constitué en <a class="link" href="http://co2r.toulouse.inrae.fr/index.php" rel="noopener" target="_blank">collectif de
                recherche responsable (CO2R)</a> en juillet 2019. Le collectif CO2R a lancé plusieurs actions :
              </p>
              <p style="text-align:justify;margin-top:7px">
                <ul style="list-style-type:square;margin-left:25px">
                  <li>Co-organisation avec la cellule locale développement durable (CLDD) du centre INRAE Occitanie Toulouse d’un séminaire intitulé « Le développement
                    durable au centre INRA Occitanie-Toulouse : enjeux, leviers pour l’action, perspectives » qui a réuni environ 150 personnes début décembre 2019 ; le
                    séminaire a alterné présentations de scientifiques sur les trajectoires du changement climatique et les impacts environnementaux de la recherche et
                    présentations des actions menées par la CLDD ;
                  </li>
                  <li>Lancement en janvier 2020 d’un <a class="link" href="http://co2r.toulouse.inrae.fr/form.php" rel="noopener" target="_blank">appel à la direction générale de
                    INRAE</a> pour demander un engagement fort de l’institut sur les changements de pratiques et sur les orientations de la recherche, signé par plus de
                    500 collègues travaillant dans des unités affiliées à INRAE ;
                  </li>
                </ul>
              </p>
            </b-tab-item>
          </b-tabs>

          <div id="initiatives" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news" style="margin-top:10px;">
            <i class="sui sui-info"></i> Autres initiatives
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <strong>L’Ecopolien, Atelier d’écologie politique francilien</strong> (<a class="link" href="https://ecopolien.hypotheses.org/manifeste" rel="noopener" target="_blank">manifeste</a> / <a class="link" href="mailto:ecopolien@framalistes.org" rel="noopener" target="_blank">liste</a>)
                rassemble des chercheuses et des chercheurs venus de toutes les disciplines scientifiques. Il vise à partager les savoirs universitaires sur
                la transition environnementale avec le grand public pour construire, en commun, cette transition. L'Ecopolien a organisé sa 1ere conférence/débat
                le 21/02 à Paris : <strong>Face au désastre écologique, l’action politique actuelle est-elle à la hauteur des constats scientifiques - et vice-versa ?</strong>
                Avec : <strong>Valérie Masson Delmotte</strong> et <strong>Jean-Baptiste Fressoz</strong>. Programme et informations sur :
                <a class="link" href="https://ecopolien.hypotheses.org/seminaires-debats/seminaire-debat01" rel="noopener" target="_blank">https://ecopolien.hypotheses.org/seminaires-debats/seminaire-debat01</a>
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;"><strong><a class="link" href="https://atecopol.hypotheses.org/" rel="noopener" target="_blank">L'Atelier d'écologie Politique
                (Atécopol)</a></strong>, créé à Toulouse en 2018, mène plusieurs actions et réflexions liées à l'empreinte environnementale de la recherche. Dans
                les derniers mois, à chaque marche sur le climat, quatre <strong>"Forums de la recherche"</strong> ont été organisés dont l'un comprenant des
                présentations des bilans carbone des laboratoires de Labos 1point5 (ISTerre, LOCEAN). Des séminaires ouverts au public ont également été organisés
                sur des sujets proches des préoccupations de Labos 1 point5, tels que la neutralité scientifique, les low-tech et des ateliers de réflexion sur le
                positionnement des scientifiques face à l'urgence écologique.
              </p>
            </div>
          </div>

          <div id="appels" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news" style="margin-top:10px;">
            <i class="sui sui-bullhorn"></i> Appels hors <em>Labos 1point5</em>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                <strong>Imaginaires de la transformation écologique : projet de courts métrages et appel à participations.</strong>
                Lancement en février d’un ambitieux projet de production de courts-métrages et de vulgarisation scientifique, intitulé « On s’adapte ». Son objectif
                est de sortir en 2021 10 courts-métrages de fiction d’anticipation sur le thème de la transformation écologique, qui s’imprègnent des connaissances
                actuelles en sciences de la nature et en sciences sociales.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                Appel aux chercheurs et chercheuses à contribuer à la production d’un ‘corpus d’inspiration’
                sur l’état actuel des connaissances scientifiques liées à la crise écologique ou utiles pour y faire face. Vous pouvez contribuer de plusieurs manières,
                pour plus d'infos: <a class="link" href="https://cloud.le-pic.org/s/FoqTzBnxp4kcpKY" rel="noopener" target="_blank">https://cloud.le-pic.org/s/FoqTzBnxp4kcpKY</a>.
              </p>
            </div>
          </div>

          <hr/>
            <p style="text-align: right;"><strong>N'hésitez pas à nous faire remonter vos idées et propositions de travail !<br />
              La coordination nationale, Floriane Clément et Estelle Carciofi (équipe Com.) & Philippe Bardou (équipe Tech.) </strong>
            </p>
          </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #3 - <em>Labos 1point5</em> - 03 mars 2020
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter3'
}
</script>
