<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            <span>
              Contenu de la lettre d’information :
            </span>
            <ul style="list-style-type:square;margin-left:25px">
              <li><a class="link" href="#une">A la une</a> ;</li>
              <li><a class="link" href="#message">Message de l'équipe de Coordination</a> ;</li>
              <li><a class="link" href="#activites">Activités du GDR</a> ;</li>
              <li><a class="link" href="#activites-collectif">Activités du collectif</a> ;</li>
              <li><a class="link" href="#appel-actu">Appels et actualités hors <em>Labos 1point5</em></a>.</li>
            </ul>
          </div>

          <div id="une" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> <span> A la une</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align:justify;">
                <strong>A vos agendas :</strong>
              </p>
              <p style="text-align:justify;margin-top:7px;">
                <strong>Le collectif organise la deuxième Journée <em>Labos 1point5</em>.</strong>
                <ul style="list-style-type:square;margin-left:25px">
                  <li>
                    <strong>Quand </strong>
                    <b-icon icon="sui sui-long-arrow-right"></b-icon>
                    Mercredi 1er juin 2022 de 9h00 à 17h30.
                  </li>
                  <li>
                    <strong>Où </strong>
                    <b-icon icon="sui sui-long-arrow-right"></b-icon>
                    En format hybride à Paris (dans les locaux de Sorbonne Université) et en ligne.</li>
                  <li>
                    <strong>Pour quel public </strong>
                    <b-icon icon="sui sui-long-arrow-right"></b-icon>
                    Tout personnel de la recherche (ingénieurs, chercheuses et chercheurs, maîtres et maîtresses de conférence, personnels de soutien à la recherche, étudiantes et étudiants…).</li>
                  <li>
                    <strong>Programme et inscriptions </strong>
                    <b-icon icon="sui sui-long-arrow-right"></b-icon>
                    A venir début avril.</li>
                </ul>
              </p>
            </div>
            <div class="column">
              <p style="text-align:justify;">
                <strong>A noter :</strong>
              </p>
              <p style="text-align:justify;margin-top:7px;">
                Des ateliers pratiques seront proposés le mardi 31 mai
               après-midi en présentiel en amont de la journée du 1er juin 2022.
              </p>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div id="message" class="ancre-spacer"></div>
              <h2 class="title is-4 h2-news">
                <i class="sui sui-bullhorn"></i> Message de l'équipe de Coordination
              </h2>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px;">
                    Le collectif <em>Labos 1 point5</em> a fêté ses 3 ans le 19 mars 2022.
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    Le début d'année 2022 marque aussi l'arrivée de deux nouvelles
                    personnes dans la coordination du
                    <router-link class="link" to="/le-gdr">GDR <em>Labos 1point5</em></router-link>,
                    recrutées pour 2 ans et à temps plein.
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    Bienvenue à :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        <strong>Marion Avet</strong> - cheffe de projet du
                        <router-link class="link" to="/le-gdr">GDR <em>Labos 1point5</em></router-link>
                      </li>
                      <li>
                        <strong>Céline Serrano</strong> (INRIA) - chargée du réseau
                        des laboratoires en transition.
                      </li>
                    </ul>
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    Les 11 membres de la coordination (dont un à distance), plus
                    deux membres honoraires, se sont réunis à Montpellier du 28
                    au 30 mars 2022 pour la deuxième retraite de la coordination
                    de Labos 1point5. L’objectif de ces deux jours de réunion était
                    de s’informer sur l’ensemble des projets en cours et de
                    travailler collectivement des sujets de fond. Les sujets
                    abordés sont résumés
                    <a class="link" target="_blank" href='https://cloud.le-pic.org/s/6fF3BxT5NNBZb3K'>ici</a>.
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    L'équipe de coordination continue de se réunir tous les mardis
                    à 15h. De nombreux membres ont été invités dans ces réunions
                    pour présenter leurs idées ou travaux. N'hésitez pas à nous
                    contacter pour participer à ces réunions hebdomadaires :
                    <a class="link" href='mailto:contact@labos1point5.org'>contact@labos1point5.org</a>.
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px;">
                    Deux appels à candidatures transverses aux équipes ci-dessous :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        Spécialistes de la méthode des scénarios ou de la
                        prospective. Si vous êtes intéressés pour participer
                        à l'animation d'un travail de prospective pour la transition
                        de la recherche publique en France, n’hésitez pas à nous
                        contacter : <a class="link" href='mailto:contact@labos1point5.org'>contact@labos1point5.org</a>.
                      </li>
                      <li>
                        Scientifiques de terrain, un groupe Field Work Impacts
                        vient de se monter sur l'impact environnemental des
                        missions de terrain à l'initiative d'un groupe international
                        de la mission arctique
                        <a class="link" target="_blank" href='https://mosaic-expedition.org/science/mission/'>MOSAiC</a>.
                        Ce groupe interdisciplinaire (environnement, archéologie,
                        astronomie...) travaille à la rédaction d'un position
                        paper. Si vous êtes intéressés,  contacter (en anglais)
                        Amy Macfarlane <a class="link" href='mailto:amy.macfarlane@slf.ch'>amy.macfarlane@slf.ch</a>
                        et Delphin Ruche <a class="link" href='mailto:delphin.ruche@gmail.com'>delphin.ruche@gmail.com</a>.
                      </li>
                    </ul>
                  </p>
                  <p style="text-align: justify;margin-top:7px;">
                    Cette newsletter vous présente les travaux en cours et les
                    projets dans le collectif (pour découvrir les actualités des
                    différentes équipes, il suffit de cliquer sur les quatre onglets
                    ci-dessous).
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="activites" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> Activités du GDR
          </h2>
          <template>
          <b-tabs expanded type="is-toggle" v-model="tabIndex">
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-thermometer-4"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex===0"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;">
                <strong>Equipe Empreinte</strong>
              </p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    L'équipe Empreinte du
                    <router-link class="link" to="/le-gdr">GDR</router-link>
                    coordonne actuellement des travaux autour de deux volets :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li><strong>le volet développement</strong> de
                        <router-link class="link" to="/ges-1point5">GES 1point5</router-link>
                        (par exemple estimer les émissions des infrastructures de recherche ou
                        la mise en place d'outils pour les scénarios de
                        réduction - en relation avec l'équipe expérimentation).</li>
                      <li><strong>le volet recherche</strong> qui se concentre sur l'analyse
                        statistique des bilans GES des laboratoires soumis dans
                        l'outil GES 1point5.
                      </li>
                    </ul>
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Depuis plus de deux ans, l'équipe Empreinte développe une
                    méthodologie ainsi qu'un outil permettant à l'ensemble des laboratoires d'estimer
                    leurs empreintes carbone :
                    <strong><router-link class="link" to="/ges-1point5">GES 1point5</router-link></strong>.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Nos derniers travaux
                    ont permis d'intégrer récemment deux nouveaux modules :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li><strong>le module matériel informatique</strong> permet
                        d'estimer l'empreinte carbone de la fabrication des
                        équipements numériques achetés par le laboratoire, à partir
                        de facteurs d'émission physiques par type d'équipement
                        acheté.
                      </li>
                      <li><strong>le module achats</strong> permet d'estimer
                        l'empreinte carbone des achats effectués par le laboratoire
                        (hors matériel informatique et énergie), à partir de
                        facteurs d'émission monétaires par euro d'achat effectué
                        par type d'achat.
                      </li>
                    </ul>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <strong><router-link class="link" to="/ges-1point5">GES 1point5</router-link>
                    comprend donc désormais six modules</strong> pour lesquels les empreintes
                    carbone sont estimées : bâtiments (chauffage, électricité,
                    fluides frigorigènes), déplacements domicile-travail,
                    missions, véhicules, matériel informatique et achats du
                    laboratoire.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    A ces nouveaux modules, s'ajoutent également <strong>de nouvelles
                    fonctionnalités et améliorations</strong> :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li><router-link class="link" to="/ges-1point5">GES 1point5</router-link>
                        <strong> a été entièrement traduit en anglais</strong>,
                        permettant ainsi aux laboratoires de recherche étrangers
                        de s'emparer de l'outil et de l'adapter à leur propre
                        contexte.
                      </li>
                      <li><strong>la soumission des données a évolué</strong>. Elle est maintenant
                        disponible pour chaque module depuis le tableau de
                        synthèse des résultats. La soumission des données
                        permet de contribuer à l'étude nationale sur l'empreinte
                        carbone de la recherche et ainsi mieux comprendre et
                        caractériser les leviers de réduction de nos empreintes.
                      </li>
                      <li><strong>une page d'administration est maintenant disponible</strong>.
                        Depuis cette page, vous pouvez lister, charger, supprimer,
                        ajouter et éditer vos bilans GES mais aussi les comparer
                        par module ou en suivre l’évolution sur plusieurs années.
                      </li>
                      <li><strong>de nouveaux graphiques de résultats</strong> sont également
                        disponibles et accessibles depuis le tableau de synthèse
                        des résultats.
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-flask"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex===1"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;">
                <strong>Equipe Expérimentation</strong>
              </p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    L'équipe Expérimentation s’enrichit de l’arrivée de
                    Céline Serrano (INRIA) pour deux années à temps plein pour
                    co-animer cette équipe.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    La phase pilote de l’expérimentation nationale (Expé 1point5)
                    comprend actuellement vingt laboratoires de recherche qui se
                    sont portés volontaires pour tester les différents dispositifs
                    du Kit-1point5.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Les premières réunions de travail de l'équipe se sont tenues
                    les 18 et 26 janvier derniers, afin de lancer les travaux
                    autour de trois volets : accompagnement, recherche et
                    communication.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Plus de 75 personnes participent à ces travaux qui ont
                    plusieurs objectifs :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        enrichir le <strong>Kit 1point5</strong> pour présenter de façon complète
                        l'ensemble des dispositifs pouvant stimuler des réductions
                        d’émissions GES dans les laboratoires ;
                      </li>
                      <li>
                          développer une plateforme numérique collaborative,
                          destinée à faciliter les échanges dans le cadre du réseau
                          des laboratoires en transition (lancement prévu à l’automne
                          2022) ;
                      </li>
                    </ul>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        implémenter dans <router-link class="link" to="/ges-1point5">GES 1point5</router-link>
                        un module de simulation de
                        scénarios de réduction dans le cadre d’un travail
                        transverse aux équipes Empreinte et Expérimentation ;
                      </li>
                      <li>
                        développer le volet recherche de l’expérimentation, en
                        créant des travaux interdisciplinaires portant sur
                        l'analyse du réseau des laboratoires en transition et
                        initier une réflexion sur la définition d’indicateurs
                        (GES, qualité de la recherche, qualité de vie au travail)
                        permettant le suivi des conséquences des changements de
                        pratiques dans les laboratoires ;
                      </li>
                      <li>
                        mettre en place différentes actions de communication dans
                        la communauté de recherche pour préparer la phase de
                        déploiement, et au-delà pour informer et sensibiliser
                        sur les transformations en cours dans le monde de la
                        recherche.
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-graduation-cap"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex===2"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;">
                <strong>Equipe Enseignement</strong>
              </p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    L'équipe Enseignement avait déjà produit un premier exposé
                    en juin 2021 sur le changement climatique.
                    Depuis cet automne, suite au lancement du
                    <router-link class="link" to="/le-gdr">GDR</router-link>
                    et à l’inscription
                    de nombreux volontaires, l’équipe s’est organisée autour d'une
                    réunion commune mensuelle.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Plusieurs retours d’expérience d’enseignement y ont été présentés
                    et des groupes detravail se sont constitués. Ces groupes
                    avancent indépendamment et font un point, si nécessaire, en
                    séance plénière.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Voici la liste des groupes à ce jour :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        exposés en préparation dans différents domaines : alimentation, agriculture, déchets, énergie, numérique, etc. ;
                      </li>
                    </ul>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        organisation d’un colloque  « enseigner les transitions
                        environnementales » ;
                      </li>
                      <li>
                          formation sur les bilans GES et sur la construction de
                          plans d’actions de réduction ;
                      </li>
                      <li>
                          formation continue pour les membres des laboratoires de
                          recherche et des universités ;
                      </li>
                      <li>
                          formation des doctorants ;
                      </li>
                      <li>
                          formation des enseignants du secondaire ;
                      </li>
                      <li>
                          réflexions sur la pédagogie ;
                      </li>
                      <li>
                          pédagogie ouverte : plateforme de partage de ressources
                          et valorisation ;
                      </li>
                      <li>
                          inventaire des ressources et formations existantes.
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-weixin"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex===3"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;">
                <strong>Equipe Communication et Technique</strong>
              </p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    L'équipe Communication & Technique change d'animation, à partir
                    de mars, Estelle Carciofi passe le relais à Marion Avet et
                    Gérald Salin. Nous avons commencé à prendre contact avec
                    chaque membre pour faire un point sur les projets à venir mais
                    n'hésitez pas à nous contacter
                    <a class="link" href='mailto: marion.avet@inrae.fr'>marion.avet@inrae.fr</a>.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Un point sur les projets en cours :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        des <router-link class="link" to="/les-decryptages">décryptages</router-link> :
                        publication du Décryptage #2 à venir et Décryptage #3 et
                        #4 en cours de rédaction ;
                      </li>
                      <li>
                        un groupe de travail sur les pratiques de publication pour
                        définir une philosophie commune robuste en terme de
                        publication scientifique dans le
                        <router-link class="link" to="/le-gdr">GDR <em>Labos 1point5</em></router-link> ;
                      </li>
                      <li>
                        groupe de travail numérique : publication de posters sur
                        l'impact environnemental comparé des conférences et
                        visioconférences réalisés avec EcoInfo.
                      </li>
                    </ul>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    Et sur les nouveautés en cours :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        remise à plat du site internet de Labos 1point5 ;
                      </li>
                      <li>
                        réflexion sur le format des communications internes et
                        externes pour mieux faire connaitre la richesse de nos
                        travaux ;
                      </li>
                      <li>
                        comptes twitter anglais et français fusionnés :
                        <a class="link" target="_blank" href="https://twitter.com/labos1point5/">@labos1point5</a>
                      </li>
                      <li>
                        groupe de travail sur l'impact du numérique au-delà des
                        visioconférences.
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </b-tab-item>
          </b-tabs>
          </template>

          <div id="activites-collectif" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-cogs"></i> Activités du collectif
          </h2>
          <b-tabs expanded type="is-toggle" v-model="tabIndex2">
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-graduation-cap"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex2===0"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;">
                <strong>Equipe Séminaire</strong>
              </p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    Un séminaire mensuel et en ligne a été mis en place et est
                    animé par un groupe interdisciplinaire de neuf membres :
                    Patrick Hennebelle, Olivier Berné, Julien Boé, Freddy
                    Bouchet, Faustine Cantalloube, Malgorzata Grybos, Tomas
                    Legon, Elen Riot, Ségolène Vandevelde.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Le Cycle d’hiver 2022 porte sur le thème
                    <strong>Technologie et sobriété</strong>.
                    Les replays des interventions du 18 janvier, 8
                    février et 8 mars sont disponibles sur le site :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        <strong>"Sociologie politique des sciences. Quelques éléments
                        de mise en perspective théorique et historique"</strong> par
                        Arnaud Saint-Martin ;
                      </li>
                    </ul>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        <strong>"Rationnement : les logiques politiques et sociales d'une
                        organisation de la sobriété"</strong> par Mathilde Szuba ;
                      </li>
                      <li>
                        <strong>"Le numérique : une matérialité virtuelle ?"</strong> par Françoise
                        Berthoud.
                      </li>
                    </ul>
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Le prochain séminaire aura lieu le 12 avril : <strong>"Présentation
                    des quatre nouveaux scénarios de l’ADEME"</strong> par Emmanuel Combet.
                  </p>
                  <p style="text-align: justify;margin-top:7px">
                    Informations de connexion et replay sur la page des
                    <router-link class="link" to="/les-seminaires">séminaires</router-link>.
                  </p>
                </div>
              </div>
            </b-tab-item>
            <b-tab-item>
              <template slot="header">
                <b-icon icon="sui sui-lightbulb-o"></b-icon>
                <b-tag style="position:absolute;right:10px" type="is-info" v-if="tabIndex2===0"><b-icon icon="sui sui-chevron-down"></b-icon></b-tag>
                <b-tag style="position:absolute;right:10px" v-else><b-icon icon="sui sui-chevron-right"></b-icon></b-tag>
              </template>
              <p style="text-align: justify;">
                <strong>Equipe Réflexion</strong>
              </p>
              <div class="columns">
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    L'équipe travaille sur de nombreux projets et en particulier sur :
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        l'enseignement de la transition, avec l'équipe Enseignement,
                        menant à la publication de
                        <router-link class="link" to="/reflexion/OserEnseignerTransition">
                          "Pour un enseignement de la transition écologique"
                        </router-link>
                        sur le site d'AOC le 29 octobre 2021.<br/>
                        Les auteurs.trices ont
                        été récemment auditionné.e.s pour le rapport Jouzel
                        "Sensibiliser et former aux enjeux de la transition
                        écologique et du développement durable dans l’enseignement
                        supérieur"  (voir ci-dessous : "Appels et actualités hors
                        <em>Labos 1point5</em>").
                      </li>
                      <li>
                        l'éthique environnementale, avec une
                        <router-link class="link" to="/reflexion/RechercheEthiqueEnvironnementale">
                          tribune
                        </router-link>
                         parue dans le Cahier Science&Médecine du Monde.
                      </li>
                    </ul>
                  </p>
                </div>
                <div class="column">
                  <p style="text-align: justify;margin-top:7px">
                    <ul style="list-style-type:square;margin-left:25px">
                      <li>
                        l'empreinte carbone des infrastructures de recherche en
                        astronomie. Cette réflexion a été alimentée par
                        l'intervention de Jürgen Knödlseder, astrophysicien,
                        directeur de recherches au CNRS, qui nous a présenté ses
                        <a href="https://ui.adsabs.harvard.edu/abs/2022arXiv220108748K/abstract" class="link" target="_blank">travaux</a>
                        sur le sujet,
                        suite à quoi nous avons lancé une réflexion conjointement
                        avec l'équipe Enquête concernant les pratiques cœur de
                        métier, c'est à dire les pratiques touchant à l'essence
                        même de nos activités (construction d'instruments,
                        acquisition de données, calculs, etc.). Dans quelle mesure
                        est-il possible et souhaitable de faire évoluer des
                        pratiques moins émettrices? Si vous souhaitez participer
                        à cette petite enquête, merci de contacter les animateurs
                        de l'équipe <router-link class="link" to="/reflexion">Réflexion</router-link>.
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </b-tab-item>
          </b-tabs>

          <div id="appel-actu" class="ancre-spacer"></div>
          <h2 class="title is-4 h2-news">
            <i class="sui sui-bullhorn"></i> Appels et actualités hors <em>Labos 1point5</em>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;margin-top:7px">
                Les inscriptions sont ouvertes pour l'école EcoClim 2022.
                <ul style="list-style-type:square;margin-left:25px">
                  <li>
                    <strong>Quand </strong>
                    <b-icon icon="sui sui-long-arrow-right"></b-icon>
                    Du mardi 7 au vendredi 10 juin 2022.
                  </li>
                  <li>
                    <strong>Où </strong>
                    <b-icon icon="sui sui-long-arrow-right"></b-icon>
                    En format hybride à Orsay (dans les locaux d’IJClab) ou en ligne.
                  </li>
                  <li>
                    <strong>Programme et inscriptions </strong>
                    <b-icon icon="sui sui-long-arrow-right"></b-icon>
                    en suivant ce
                    <a class="link" target="_blank" href="https://indico.ijclab.in2p3.fr/event/7951/">lien</a>.
                  </li>
                </ul>
              </p>
              <p style="text-align: justify;margin-top:7px">
                Le 2e volet du rapport intitulé "Sensibiliser et former aux enjeux
                de la transition écologique et du développement durable dans
                l’enseignement supérieur" issu de la mission présidée par Jean
                Jouzel et pour laquelle Luc Abbadie était rapporteur, a été remis
                à la ministre Frédérique Vidal en février. Ce rapport est
                disponible
                <a class="link" target="_blank" href="https://www.enseignementsup-recherche.gouv.fr/fr/rapport-former-aux-enjeux-de-la-transition-ecologique-dans-le-superieur-83888">ici</a>.
                La mesure phare du rapport est de former 100% des étudiants
                en bac+2, quel que soit leur cursus, d'ici 5 ans.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Publication du manifeste:
                <a class="link" target="_blank" href="https://dhc-barnard.github.io/dhclimate/">
                  <em>"Digital Humanities and the Climate Crisis, a manifesto"</em></a>.
                Celui-ci appelle les chercheur.e.s en humanités numériques à
                rejoindre un collectif international pour réfléchir aux manières de
                répondre aux enjeux climatiques globaux.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Retrouvez la vidéo en ligne de la présentation
                <a class="link" target="_blank" href="https://youtu.be/jnCUVeD5CpQ">
                  "Les technologies numériques peuvent-elles se mettre au service de la démocratie ?"
                </a>
                par Clément Mabi, maître de conférence en Science de l’information
                et de la communication à l’Université de technologie de Compiègne
                (UTC), laboratoire Costech, lors du séminaire UTC du laboratoire
                Heudiasyc, le 8 février 2022.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;margin-top:7px">
                Cette intervention, à la croisée des sciences de l'information
                et de la communication, du design et de la science politique, a
                pour objectif d'interroger la dimension socialement construite des
                technologies numériques. Elle propose un regard critique sur les
                technologies en enquêtant sur leur dimension capacitante, entendue
                comme leur capacité à donner du pouvoir d'agir aux citoyen.n.es.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Le compte Instagram
                <a class="link" target="_blank" href="https://www.instagram.com/o_mon_labo/">
                  o_mon_labo
                </a>
                présente l'avancée d'un projet de recherche sur un nouveau procédé
                de recyclage des alliages d’aluminium. Découvrez les expériences et
                plus généralement le quotidien de Mathilde Laurent-Brocq, Lola
                Lilensten ainsi que de toute l’équipe engagée dans le projet, au
                sein des équipes de métallurgie de l’ICMPE [Institut de chimie et
                des matériaux Paris-Est] et de l’IRCP [Institut de recherche de
                chimie Paris]. Le compte présente aussi les enjeux environnementaux
                de la production des alliages métalliques ainsi que des bilans
                chiffrés (émissions de CO2, taux de recyclage...). Le message est
                pédagogique et ludique. Ce compte s'adresse à tous ceux qui
                s'intéressent à la science et à l'écologie.
                <br/>N’hésitez pas à les suivre et à en parler à vos étudiant.e.s.
              </p>
            </div>
          </div>

          <hr/>
          <p style="text-align: right;">
            <strong>
              N'hésitez pas à nous faire remonter vos idées et propositions de travail !<br>
              Floriane Clément, Marion Avet et Philippe Bardou avec la contribution de la coordination de <em>Labos 1point5</em>.
              <br/>Merci à Estelle Carciofi pour sa relecture.
            </strong>
          </p>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #9 - <em>Labos 1point5</em> - 30 mars 2022
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter9',
  data () {
    return {
      tabIndex: 0,
      tabIndex2: 0
    }
  }
}
</script>

<style>
.tabs.is-toggle li.is-active a {
  background-color:  rgba(83, 135, 175, 0.1);
  border-color: rgb(66, 128, 176);
}
</style>
