<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            Contenu de la lettre d’information :
            <ul style="list-style-type:square;margin-left:25px">
              <li>Quelques informations générales sur le collectif</li>
              <li>Le compte rendu de la première visioconférence qui a réuni 40 personnes</li>
              <li>Première consultation du collectif.</li>
            </ul>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> Informations générales
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Au total, le collectif compte près de 1000 membres inscrits actuellement, dont la
                répartition géographique est la suivante (calculée sur un échantillon légèrement plus
                petit car antérieur) :
              </p>
              <div class="has-text-centered">
                <img src="@/assets/images/newsletters/nl1_map-300x129.png" width="588" height="253" />
              </div>
              <br/>
              <p style="text-align: justify;">Nuage de mots des disciplines des inscrits (après un peu de traitement)</p>
              <div class="has-text-centered">
                <img src="@/assets/images/newsletters/nl1_mots-300x170.png" width="592" height="335" />
              </div>
              <br/>
              <p style="text-align: justify;">Le site internet et le logo ont été complètement refaits par Jérôme Mariette
              et Estelle Carciofi.</p>
              <br/>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-book"></i> Compte rendu de la première visioconférence
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Vous pouvez télécharger le <a class="link" href="https://docs.google.com/document/d/1UhDM0O7qIzZBa4O_Mxoyjf5wvdDjcFKLrWe9BmGj2dg/edit?usp=sharing" target="_blank">
                compte rendu</a> détaillé de la première visioconférence ayant rassemblé les signataires du texte fondateur
                dont l’objectif était de lancer les discussions et de faire un rapide panorama des actions existantes. Cette
                visioconférence a été l’occasion de présenter les initiatives concernant notamment la comptabilisation du bilan
                carbone au sein de laboratoires, la mise en place de questionnaires à l'intention de la communauté, l'organisation
                de webinaires, etc. Ces points constituent des éléments pour lancer les discussions via les outils participatifs
                (voir ci-dessous).</p>
            </div>
          </div>

          <h2 class="title is-4 h2-news" style="margin-top:30px">
            <i class="sui sui-question-circle"></i> Consultation
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Nous proposons une première consultation dans le but d’identifier les demandes que
                le collectif <i>Labos 1point5</i> pourrait porter auprès des tutelles, organismes, établissement et pouvoirs publics.
                Vous pouvez soumettre ces demandes, et consulter celles déjà soumises, via ce forum :<a class="link" href="https://labos1point5.tumblr.com/submit"
                target="_blank"> https://labos1point5.tumblr.com/submit</a>.
              </p>
              <p style="text-align: justify;margin-top:7px">
                <strong>Dans les médias :</strong>
                <ul style="list-style-type:square;margin-left:25px;">
                  <li style="text-align: justify;"><a class="link" href="https://www.franceinter.fr/emissions/l-edito-carre/l-edito-carre-20-mai-2019" target="_blank">
                    Émission<i> L'édito carré</i></a> (Mathieu Vidard) - France Inter - « Des chercheurs s’interrogent sur leur impact climatique » - 20 mai 2019.
                  </li>
                </ul>
              </p>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px;">
                <li style="text-align: justify;"><a class="link" href="https://www.franceinter.fr/emissions/la-une-de-la-science/la-une-de-la-science-21-mars-2019" target="_blank">
                  Émission<i> La Une de la Science</i></a> (Alex Villard) - France Inter - « Le collectif "Labos 1point5" : pour une recherche qui respecte
                  l’environnement » - 21 mars 2019.
                </li>
                <li style="text-align: justify;margin-top:7px"><a class="link" href="https://www.lemonde.fr/sciences/article/2019/03/19/face-a-l-urgence-climatique-les-scientifiques-doivent-reduire-leur-impact-sur-l-environnement_5438048_1650684.html" target="_blank" rel="noopener">Tribune</a> - <i>Le Monde</i> -  « Face à l’urgence climatique, les scientifiques doivent réduire leur impact sur l’environnement » - 18 mars 2019.</li>
              </ul>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> Rappel
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Si vous êtes responsable d’une initiative locale et que vous souhaitez apparaître sur le site web du
                collectif, merci de suivre ce <router-link class="link" to="/les-initiatives">lien</router-link> et de renseigner le formulaire.
              </p>
            </div>
          </div>
        </div>

        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> Newsletter #1 - <em>Labos 1point5</em> - 27 mai 2019
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter1'
}
</script>
