<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-2">
            <b-menu>
              <b-menu-list label="Administration" v-if="isSuperUser">
                <b-menu-item
                  :active="activeModule==='ges-1point5-admin'"
                  @click="activate('ges-1point5-admin')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="thermometer"></b-icon>
                          GES 1point5
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='data-access-admin'"
                  @click="activate('data-access-admin')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="database"></b-icon>
                          Accès données
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='gdr-membres-admin'"
                  @click="activate('gdr-membres-admin')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="users"></b-icon>
                          Membres du GDR
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='initiatives-admin'"
                  @click="activate('initiatives-admin')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="lightbulb-o"></b-icon>
                          Les initiatives
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list label="Mon compte">
                <b-menu-item
                  :active="activeModule==='my-account'"
                  @click="activate('my-account')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="user"></b-icon>
                          Mon compte
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list label="Mon laboratoire">
                <b-menu-item
                  :active="activeModule==='my-laboratory'"
                  @click="activate('my-laboratory')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="flask"></b-icon>
                          Mon laboratoire
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='initiatives'"
                  @click="activate('initiatives')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="lightbulb-o"></b-icon>
                          Les initiatives
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='all-ghgi'"
                  @click="activate('all-ghgi')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="thermometer"></b-icon>
                          Les BGES
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='ghgi-comparison'"
                  @click="activate('ghgi-comparison')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="line-chart"></b-icon>
                          Comparez les BGES
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <ges-1point5-admin v-if="activeModule==='ges-1point5-admin'"/>
            <initiatives-admin v-if="activeModule==='initiatives-admin'"/>
            <gdr-membres-admin v-if="activeModule==='gdr-membres-admin'"/>
            <data-access-admin v-if="activeModule==='data-access-admin'"/>
            <my-account v-if="activeModule==='my-account'"/>
            <ghgi-comparison v-if="activeModule==='ghgi-comparison'"/>
            <all-ghgi v-if="activeModule==='all-ghgi'"/>
            <my-laboratory v-if="activeModule==='my-laboratory'"/>
            <initiatives v-if="activeModule==='initiatives'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Administration',
  components: {
    'my-account': () => import('@/components/admin/MyAccount.vue'),
    'ges-1point5-admin': () => import('@/components/admin/GES1point5Admin.vue'),
    'initiatives-admin': () => import('@/components/admin/InitiativesAdmin.vue'),
    'gdr-membres-admin': () => import('@/components/admin/GDRMembresAdmin.vue'),
    'ghgi-comparison': () => import('@/components/ges/admin/GHGIComparison.vue'),
    'all-ghgi': () => import('@/components/ges/admin/AllGHGI.vue'),
    'data-access-admin': () => import('@/components/admin/DataAccessAdmin.vue'),
    'my-laboratory': () => import('@/components/admin/MyLaboratory.vue'),
    'initiatives': () => import('@/components/admin/NosInititatives.vue')
  },
  data () {
    return {
      activeModule: 'ges-1point5-admin'
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    isSuperUser: function () {
      return this.$store.getters['user/isSuperUser']
    },
    routeParam: function () {
      return this.$route.params.name
    }
  },
  watch: {
    routeParam: function () {
      this.activate(this.routeParam)
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
      this.$router.push('/administration/' + module).catch(() => {})
    }
  },
  mounted () {
    if (this.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.$store.dispatch('gesadmin/getAllBGESFull')
        .then(data => {
          loadingComponent.close()
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    }
    if (this.routeParam) {
      this.activate(this.routeParam)
    }
  }
}
</script>
