<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="has-text-centered">
          <iframe width="1200" height="1050" src="https://framagenda.org/apps/calendar/embed/yj3zjreXewHMp2Wb"></iframe>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Calendar'
}
</script>
