<i18n>
{
  "fr": {
    "annual-distance": "Distance annuelle",
    "annual-emissions": "Emissions annuelles",
    "annual-emissions-carpooling": "Emissions annuelles (avec covoiturage)",
    "new-simulation": "Ajouter une simulation",
    "reset": "Réinitialiser"
  },
  "en": {
    "annual-distance": "Annual distance",
    "annual-emissions": "Annual emissions",
    "annual-emissions-carpooling": "Annual emissions (with carpooling)",
    "new-simulation": "Add a simulation",
    "reset": "Reset"
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div
            v-if="!submitted"
            class="column is-8 is-offset-2"
          >
            <commute-form
              :isSurvey="true"
              :BGESYear="year"
              :deplacementdt="deplacementdt"
              @submit="validateDeplacementdt"
              statut="engineer"
              v-bind:has2TypeDayChanged.sync="has2TypeDayChanged"
              :isSimulation="true"
            />
          </div>

          <div
            v-else
            class="column is-8 is-offset-2"
          >
            <survey-summary
              :deplacementdt="deplacementdt"
              :year="year"
              :submitted="submitted"
              :isSimulation="true"
            />
            <br />
            <div
              class="columns"
            >
              <div class="column">
                <b-notification :closable="false">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading has-text-distance">
                        {{ $t('annual-distance') }}
                      </p>
                      <div class="title is-size-2 has-text-distance">
                        <p>
                          {{ (Math.round(distance * 100) / 100) | splitNumber }}
                          <span class="is-size-4">km</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </b-notification>
              </div>
              <div class="column">
                <b-notification :closable="false">
                  <div class="level-item has-text-centered">
                    <div>
                      <p
                        v-if="isCarpooling"
                        class="heading has-text-carbone"
                      >
                        {{ $t('annual-emissions-carpooling') }}
                      </p>
                      <p
                        v-else
                        class="heading has-text-carbone"
                      >
                        {{ $t('annual-emissions') }}
                      </p>
                      <div class="title is-size-2 has-text-carbone">
                        <p>
                          {{ (Math.round(emisions * 100) / 100) | splitNumber }} &plusmn; {{ (Math.round(emisionsi * 100) / 100) | splitNumber }}
                          <span class="is-size-4">{{ $t('kg.co2e') }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </b-notification>
              </div>
            </div>
            <bges-information
              v-if="submitted"
              :userDeplacements="allSimulations"
            />
            <br />
            <div class="columns">
              <div class="column">
                <button
                  class="button is-fullwidth"
                  @click="resetSimulations"
                >
                  <span class="icon is-small"
                    ><i class="sui sui-refresh"></i
                  ></span>
                  <span>{{ $t('reset') }}</span>
                </button>
              </div>
              <div class="column">
                <button
                  class="button is-fullwidth is-primary"
                  @click="newSimulation"
                >
                  <span class="icon is-small"
                    ><i class="sui sui-plus"></i
                  ></span>
                  <span>{{ $t('new-simulation') }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Commute from '@/models/Commute.js'

export default {
  name: 'CommutesSimulation',
  components: {
    'survey-summary': () => import('@/components/ges/forms/SurveySummary.vue'),
    'commute-form': () => import('@/components/ges/forms/CommuteForm.vue'),
    'bges-information': () => import('@/components/ges/graphics/BGESInformation.vue')
  },
  data () {
    return {
      submitted: false,
      error: '',
      year: new Date().getFullYear(),
      surveyActive: false,
      has2TypeDayChanged: false,
      emptyDeplacementdt: {
        'seqID': null,
        'statut': null,
        'nbJourTravail': null,
        'marche': 0,
        'velo': 0,
        'veloElectrique': 0,
        'trotinetteElectrique': 0,
        'deRouesMotorise': 0,
        'voiture': 0,
        'bus': 0,
        'tramway': 0,
        'train': 0,
        'rer': 0,
        'metro': 0,
        'nbPersonne2roues': 1,
        'nbPersonneVoiture': 1,
        'has2TypeDay': false,
        'nbDayType2': null,
        'motorisation': null,
        'marche2': 0,
        'velo2': 0,
        'veloElectrique2': 0,
        'trotinetteElectrique2': 0,
        'deRouesMotorise2': 0,
        'voiture2': 0,
        'bus2': 0,
        'tramway2': 0,
        'train2': 0,
        'rer2': 0,
        'metro2': 0,
        'nbPersonne2roues2': 1,
        'nbPersonneVoiture2': 1,
        'motorisation2': null
      },
      deplacementdt: null
    }
  },
  computed: {
    allSimulations: function () {
      return this.$store.getters['simulations/commutes']
    },
    emisions: function () {
      let ddt = Commute.createFromObj(this.deplacementdt)
      return ddt.getEmissionsTotale(this.year)
    },
    emisionsi: function () {
      let ddt = Commute.createFromObj(this.deplacementdt)
      return ddt.getEmissionsITotale(this.year)
    },
    distance: function () {
      let ddt = Commute.createFromObj(this.deplacementdt)
      return ddt.getDistanceTotale(this.year)
    },
    isCarpooling: function () {
      let ddt = Commute.createFromObj(this.deplacementdt)
      return ddt.isCarpooling()
    }
  },
  methods: {
    validateDeplacementdt (deplacementdt) {
      this.deplacementdt = Commute.createFromObj(deplacementdt)
      this.$store.commit(
        'simulations/ADD_COMMUTE',
        {
          'commute': this.deplacementdt,
          'year': this.year
        }
      )
      this.submitted = true
      window.scrollTo(0, 0)
    },
    resetSimulations () {
      this.$store.commit('simulations/RESET_COMMUTES')
      this.deplacementdt = Object.assign({}, this.emptyDeplacementdt)
      this.submitted = false
    },
    newSimulation () {
      this.deplacementdt = Object.assign({}, this.emptyDeplacementdt)
      this.year = new Date().getFullYear()
      this.submitted = false
      this.has2TypeDayChanged = false
      window.scrollTo(0, 0)
    }
  },
  mounted () {
    if (this.allSimulations.length === 1) {
      this.deplacementdt = this.allSimulations[0].commute
      this.year = this.allSimulations[0].year
      this.submitted = true
      window.scrollTo(0, 0)
    } else {
      this.deplacementdt = Object.assign({}, this.emptyDeplacementdt)
      this.year = new Date().getFullYear()
      this.submitted = false
    }
  }
}
</script>

<style>
  .has-text-distance {
    color: #8e6a9e !important;
  }
  .has-text-carbone {
    color: #208dbc !important;
  }
</style>
