<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div
        v-if="memberFound"
        class="container"
      >
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="box-blue">
              Votre demande a bien été transmise. Une fois votre demande validée, vous recevrez par email la procédure
              vous permettant de télécharger la base de données de <em>GES 1point5</em>.
            </div>
          </div>
        </div>
      </div>
      <div
        v-else
        class="container"
      >
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <su-service icon="times" type="error" v-if="error">
              <template #title>
                Erreur
              </template>
              <p>
                L'email utilisé, « {{ email }} », n'est lié à aucun membre du GDR <em>Labos 1point5</em>. L'accès à la base
                de donnée <em>GES 1point5</em> est à ce jour uniquement accessible aux membres de ce GDR.
                <br />
                Si vous souhaitez participer aux activités de recherche du GDR, vous pouvez vous inscrire
                <router-link target="_blank" class="link" to="/rejoindre-gdr">ici</router-link>.
              </p>
            </su-service>
            <br v-if="error" />
            <su-service :icon="'database'">
              <template #title>
                Formulaire de demande d'accès aux données de <em>GES 1point5</em>
              </template>
              <em>Labos 1point5</em> est un collectif et, depuis novembre 2021, un GDR constitué
              de membres de la communauté académique française, issus de toutes les disciplines
              et sur tout le territoire et partageant un objectif commun: <strong>mieux comprendre
              </strong> et <strong>réduire l’impact des activités de recherche sur l’environnement et en particulier
              sur le climat</strong>.
              <br />
              Au sein du GDR, l’équipe « Empreinte » a mis au point le logiciel <em>GES 1point5</em>
              qui permet aux laboratoires volontaires de construire leur bilan gaz à effet de serre
              (BGES) et d’estimer leur empreinte carbone. Une fois les données saisies et les calculs
              effectués, les laboratoires peuvent sauvegarder et soumettre leur BGES dans une base de
              données <em>Labos 1point5</em>  prévue à cet effet.
              <br />
              <br />
              Afin d'avoir accès à ces données, veuillez remplir le formulaire ci-dessous. L'<strong>email</strong> doit
              être celui que vous avez <strong>utilisez lors de votre inscription au GDR</strong>. Présentez en un maximum
              de <strong>10 lignes</strong> le <strong>projet de recherche</strong> que vous souhaitez conduire avec ces données.
              <br />
              Une fois votre demande validée, vous receverez par email la procèdure vous permettant de télécharger
              la base de données.
            </su-service>
            <br />
            <form @submit.prevent="validateBeforeSubmit">
            <b-notification :closable="false">
                <b-field
                  label="Email *"
                  :type="{'is-danger': errors.has('email')}"
                  :message="errors.first('email')"
                >
                  <b-input
                    name="email"
                    v-validate="'required|email'"
                    icon="envelope-open"
                    placeholder="Email *"
                    maxlength="50"
                    v-model="email"
                  ></b-input>
                </b-field>
                <b-field
                  label="Description du projet de recherche (maximum 10 lignes) *"
                  :type="{'is-danger': errors.has('message')}"
                  :message="errors.first('message')"
                >
                  <b-input
                    name="message"
                    v-validate="'required'"
                    placeholder="Description du projet de recherche (maximum 10 lignes) *"
                    maxlength="2000"
                    type="textarea"
                    v-model="message"
                  ></b-input>
                </b-field>
              </b-notification>
              <b-notification :closable="false">
                <b-checkbox
                  v-model="confidentiality"
                >
                  J'affirme avoir pris connaissance de la <router-link target="_blank" class="link" to="/politique-de-confidentialite">Politique
                  de confidentialité</router-link> de <em>Labos 1point5</em>.
                </b-checkbox>
                <br />
                <b-checkbox
                  v-model="charter"
                >
                  J'affirme avoir pris connaissance de la <router-link target="_blank" class="link" to="/terms-of-use">Charte
                  d'utilisation</router-link> de la base de données de <em>GES 1point5</em>.
                </b-checkbox>
              </b-notification>
              <nav class="level">
                <div class="level-left"></div>
                <div class="level-right">
                  <button
                    type="submit"
                    class="button is-primary"
                    :disabled="isDisabled()"
                  >
                    <span class="icon is-small"><i class="sui sui-paper-plane"></i></span>
                    <span> Envoyer </span>
                  </button>
                </div>
              </nav>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import userService from '@/services/userService'

export default {
  name: 'DataAccessForm',
  $_veeValidate: {
    validator: 'new'
  },
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  data () {
    return {
      email: null,
      message: null,
      confidentiality: false,
      charter: false,
      memberFound: false,
      error: false
    }
  },
  methods: {
    isDisabled: function () {
      return (!this.email || !this.message || !this.confidentiality || !this.charter)
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          userService.askDataAccess({
            email: this.email,
            message: this.message
          })
            .then(data => {
              if (data.exists) {
                this.memberFound = true
              } else {
                this.memberFound = false
                this.error = true
              }
              window.scrollTo(0, 0)
              loadingComponent.close()
            })
            .catch((error) => {
              this.error = error.response.data
              loadingComponent.close()
            })
        }
      })
    }
  }
}
</script>
