<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-three-fifths is-offset-one-fifth" v-if="emailSent">
            <div class="box-blue">
              Vous êtes maintenant désabonné.e de la liste <strong>{{ liste }}@le-pic.org</strong>.
            </div>
          </div>
          <div class="column is-three-fifths is-offset-one-fifth" v-else>
            <serveur-info :erreur="erreur"/>
            <div class="box-blue">
              Vous avez demandé à vous désabonner de la liste <strong>{{ liste }}@le-pic.org</strong>.
              Pour confirmer cette demande, veuillez remplir ce formulaire :
            </div>
            <br />
            <form @submit.prevent="validateBeforeSubmit">
              <div class="box-blue">
                <b-field
                  label="Email *"
                  :type="{'is-danger': errors.has('email')}"
                  :message="errors.first('email')">
                  <b-input
                    name="email"
                    v-validate="'required|email'"
                    icon="envelope-open"
                    placeholder="Email *"
                    maxlength="190"
                    v-model="email"
                  ></b-input>
                </b-field>
              </div>
              <br/>
              <nav class="level">
                <div class="level-left"></div>
                <div class="level-right">
                  <button
                    type="submit"
                    class="button is-primary"
                    :disabled="isDisabled()"
                  >
                    <span class="icon is-small"><i class="sui sui-paper-plane"></i></span>
                    <span> Je me désabonne de {{ liste }} </span>
                  </button>
                </div>
              </nav>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import userService from '@/services/userService'
import ServeurInfo from '@/components/ServeurInfo.vue'

export default {
  name: 'DesabonnementListe',
  components: {
    'serveur-info': ServeurInfo
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      email: null,
      erreur: '',
      emailSent: false
    }
  },
  methods: {
    isDisabled: function () {
      return (!this.email)
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          userService.memberExists({
            email: this.email
          })
            .then(data => {
              if (data.exists) {
                userService.desabonnementListe({
                  email: this.email,
                  liste: this.liste
                })
                  .then(data => {
                    loadingComponent.close()
                    this.emailSent = true
                  })
                  .catch((erreur) => {
                    loadingComponent.close()
                    this.erreur = erreur.response.data
                  })
              } else {
                loadingComponent.close()
                this.erreur = 'Aucun compte associé à l\'adresse Email saisie.'
              }
            })
        }
      })
    }
  },
  computed: {
    liste: function () {
      return this.$route.params.liste
    }
  }
}
</script>
