<i18n>
{
  "fr": {
    "a-propos": "À propos",
    "a-propos-sub": "<em>Labos 1point5</em> est un collectif de membres du monde académique, de toutes disciplines et sur tout le territoire, partageant un objectif commun : mieux comprendre et réduire l’impact des activités de recherche scientifique sur l'environnement, en particulier sur le climat.",
    "ges-1point5": "<em>Labos 1point5</em> mène une étude scientifique nationale relative à l’<strong>empreinte carbone</strong> de la <strong>recherche publique française</strong> pour nourrir la réflexion sur les leviers d'actions permettant de réduire son impact sur le climat et l'environnement.<br/><div class='has-text-left'><strong>Pourquoi utiliser GES 1point5 ?</strong></div>",
    "bilans-ges": "#bilans GES",
    "laboratoires": "#laboratoires",
    "initiatives": "#initiatives",
    "nos-objectifs": "Nos objectifs",
    "nos-objectifs-sub": "<strong>Répertorier et diffuser</strong> les éléments essentiels de la littérature scientifique et les initiatives existantes dans les laboratoires en France.<div style='padding-top:7px'><strong>Produire des connaissances</strong>  en contribuant à chiffrer l'empreinte environnementale des activités de recherche et en expérimentant différents scénarios de réduction ou en menant des entretiens et enquêtes auprès des personnels de recherche. </div><div style='padding-top:7px'><strong>Faire émerger des solutions</strong> en créant des espaces d'échanges et de débats.</div>",
    "qui-sommes-nous": "Le collectif",
    "qui-sommes-nous-sub": "<em>Labos 1point5</em> est un collectif de membres du monde académique dont les activités sont organisées au sein d’un <a class='link' href='/le-gdr'><strong>groupement de recherche</strong></a> (GDR) et d'une <a class='link' href='/reflexion'><strong>équipe de reflexion</strong></a>.<br /> Pour participer aux activités du collectif, vous pouvez <a class='link' href='/rejoindre-gdr'><strong>rejoindre le GDR</strong></a> et l'<a class='link' href='/rejoindre-reflexion'><strong>équipe de réflexion</strong></a>.<div style='margin-top:44px'></div>",
    "membresGDR": "#membres GDR",
    "membresReflexion": "#membres réflexion",
    "abonnes": "#abonnés",
    "la-reponse": "La réponse en",
    "points": "points",
    "nous-suivre": "Nous suivre",
    "why-ges": "Pourquoi utiliser GES 1point5 ?",
    "contacttitle": "Nous rejoindre, nous contacter, nous suivre",
    "joingdr": "Rejoindre<br/>le GDR <em>Labos 1point5</em>",
    "joingdr-text": "Être membre du GDR <em>Labos 1point5</em> signifie :<ul style='list-style:square;'><li>Contribuer aux travaux scientifiques</li><li>S'engager à consacrer au moins 5% d'ETP</li><li>Avoir accès aux listes de diffusion internes</li><li>Avoir accès à une plateforme d’échanges</li><li>Avoir accès à la newsletter de <em>Labos 1point5</em></li></ul>",
    "joingdrbtn": "Rejoindre le GDR <em>Labos 1point5</em>",
    "joinreflexion": "Rejoindre<br/>l'équipe réflexion",
    "joinreflexion-text": "Être membre de l'équipe réflexion vous permet de :<ul style='list-style:square;'><li>Participer aux discussions du collectif</li><li>Avoir accès à la liste de diffusion</li><li>Avoir accès à la newsletter de <em>Labos 1point5</em></li><li>Participer à l’élaboration des textes et prises de position</li></ul>",
    "joinreflexionbtn": "Rejoindre l'équipe réflexion",
    "contactus": "Nous contacter",
    "social": "Réseau social",
    "suivreactu": "Suivre <a href='https://botsin.space/@labos1point5' class='link' target='_blank'>l'actualité</a> du collectif"
  },
  "en": {
    "a-propos": "About",
    "a-propos-sub": "<em>Labos 1point5</em> is an international, cross-disciplinary collective of academic researchers who share a common goal: to better understand and reduce the environmental impact of research, especially on the Earth’s climate.",
    "ges-1point5": "<em>Labos 1point5</em> launches a national scientific study on the <strong>carbon footprint</strong> of the <strong>French public research</strong> to provide food for thought on the levers of action to reduce its impact on the climate and the environment.<br/><div style='text-align:left'><br/><strong>Why use GES 1point5?</strong></div>",
    "bilans-ges": "#GHG inventories",
    "laboratoires": "#laboratories",
    "initiatives": "#initiatives",
    "nos-objectifs": "Our goals",
    "nos-objectifs-sub": "<strong>List and disseminate</strong> the essential elements of scientific literature and existing initiatives in french laboratories.<div style='padding-top:7px'><strong>Generate knowledge</strong> by helping to quantify the environmental footprint of research activities and by experimenting different reduction scenarios or by conducting interviews and surveys with research staff. </div><div style='padding-top:7px'><strong>Bring out solutions</strong> by creating spaces for discussion and debate.</div>",
    "qui-sommes-nous": "The collective",
    "qui-sommes-nous-sub": "<em>Labos 1point5</em> is a collective of members of the academic world whose activities are organized within a <a class='link' href='/le-gdr'><strong>research group</strong></a> and a <a class='link' href='/reflexion'><strong>think tank</strong></a>.<br />  To participate in the collective's activities, you can <a class='link' href='/rejoindre-gdr'><strong>join the GDR</strong></a> and the <a class='link' href='/rejoindre-reflexion'><strong>think tank</strong></a>.<br/>Subscribers follow the collective's activities with the newsletter.<div style='margin-top:20px'></div>",
    "membresGDR": "#RG members",
    "membresReflexion": "#Think tank members",
    "abonnes": "#subscribers",
    "la-reponse": "The answer in",
    "points": "points",
    "nous-suivre": "Follow us",
    "why-ges": "Why use GES 1point5 ?",
    "contacttitle": "Join us, contact us, follow us",
    "joingdr": "Join the <br/>GDR <em>Labos 1point5</em>",
    "joingdr-text": "Being a member of the GDR <em>Labos 1point5</em> means:<ul style='list-style:square;'><li>Contributing to scientific work</li><li>Commitment to devote at least 5%</li><li>Having access to internal mailing lists</li><li>Having access to an exchange platform</li><li>Having access to the <em>Labos 1point5</em> newsletter</li></ul>",
    "joingdrbtn": "Join the research group <em>Labos 1point5</em>",
    "joinreflexion": "Join the<br/>think tank team",
    "joinreflexion-text": "Being a member of the reflection team allows you to:<ul style='list-style:square;'><li>Participate in the discussions of the collective</li><li>Have access to the mailing list</li><li>Have access to the <em>Labos 1point5</em> newsletter</li><li>Participate in the elaboration of texts and position papers</li></ul>",
    "joinreflexionbtn": "Join the think tank team",
    "contactus": "Contact us",
    "social": "Social network",
    "suivreactu": "Follow <a href='' class='link' target='_blank'>the news</a> of the collective"
  }
}
</i18n>

<template>
  <div class="home">
    <section class="section is-small" style="padding-bottom:0">
      <div class="container">
        <div class="content-wrapper" style="margin-top:-260px">
          <div class="columns">
            <div class="column is-one-third">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{ name: 'ges-1point5' }"><b-icon icon="thermometer-4"></b-icon></router-link>
                </div>
                <h4>GES 1point5</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <span v-html="$t('ges-1point5')"> </span>
                  <span><div style="text-align:right">
                    {{ $t('la-reponse') }}
                    <strong><a class="link" @click="displayPkoi=true">5 {{ $t('points') }}</a></strong>.
                  </div></span>
                  <nav class="level" style="margin-top:20px">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('bilans-ges') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nbBGES }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('laboratoires') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nbLaboratoire }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('initiatives') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nbInitiative }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
            <div class="column">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{}" style="cursor:default">
                    <div style="z-index:1;margin-top:-40px;margin-left:-37px;background-color: rgb(255, 255, 255); position: relative; padding: 5px; border-radius: 100%; vertical-align: middle; display: inline-grid;">
                      <img src="../assets/LogoRond_BlancPourEcran.png" style="max-width: 90px; border-radius: 50%; background-color: rgba(52, 59, 64, 1);">
                    </div>
                  </router-link>
                </div>
                <h4>{{ $t('qui-sommes-nous') }}</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <span v-html="$t('qui-sommes-nous-sub')"> </span>
                  <nav class="level">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('membresGDR') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nbMembreGDR }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('membresReflexion') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nbMembreReflexion }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('abonnes') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nbMembre }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
            <div class="column">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{ name: 'ges-1point5' }"><b-icon icon="bullhorn"></b-icon></router-link>
                </div>
                <h4>A vos agendas</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <span>
                    <em>Labos 1 point5</em> organise la deuxième Journée Labos 1point5 le <strong>mercredi 1er juin 2022</strong>. Des ateliers pratiques seront proposés le mardi 31 mai après-midi.
                    Pour accéder au programme, vous pouvez suivre ce <strong><a class="link" @click="$router.push('/les-seminaires')">lien</a></strong>.
                    <br />
                    Les inscriptions sont gratuites mais obligatoires en remplissant le formulaire disponible
                    <strong><a class="link" href="https://framaforms.org/journee-labos-1point5-2022-1649766988" target="_blank">ici</a></strong>.
                    <br />
                    <br />
                    Pour plus d'informations vous pouvez envoyer un email à
                    <strong><a href="mailto:journee@labos1point5.org" class="link">journee@labos1point5.org</a></strong>
                  </span>
                </p>
              </div>
              <!-- <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{}" style="cursor:default"><b-icon icon="bullhorn"></b-icon></router-link>
                </div>
                <h4>{{ $t('nous-suivre') }}</h4>
                <p style="text-align:justify;margin-bottom:18px">
                  <formulaire-newsletter />
                </p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-nous">
      <div class="container">
        <h2>
          Labos 1point5
        </h2>
        <p class="h2-title">
          {{ $t('contacttitle') }}
        </p>
        <div class="columns mt-50" style="padding-bottom:50px">
          <div class="column">
            <div class="columns">
              <div class="column">
                <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft" style="padding-top:20px">
                  <h4 v-html="$t('joingdr')"></h4>
                  <div class="content">
                    <p style="text-align:left;margin-top:25px;" v-html="$t('joingdr-text')"></p>
                    <button
                      style="margin-bottom:5px"
                      class="button is-primary is-fullwidth"
                      @click="$router.push('/rejoindre-gdr')"
                    >
                      <span class="icon is-small"><i class="sui sui-users"></i></span>
                      <span v-html="$t('joingdrbtn')"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft" style="padding-top:20px">
                  <h4 v-html="$t('joinreflexion')"></h4>
                  <div class="content">
                    <p style="text-align:left;margin-top:25px;" v-html="$t('joinreflexion-text')"></p>
                    <button
                      style="margin-bottom:5px;margin-top:5px"
                      class="button is-primary is-fullwidth"
                      @click="$router.push('/rejoindre-reflexion')"
                      type="submit"
                    >
                      <span class="icon is-small"><i class="sui sui-users"></i></span>
                      <span v-html="$t('joinreflexionbtn')"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft"
                 style="height:auto;padding-top:20px;margin-top:-24px">
              <h4>{{ $t('contactus') }}</h4>
              <p style="margin-top:25px;text-align:justify">
                <contact-us />
              </p>
            </div>
          </div>
          <div class="column is-4" style="margin-bottom:10px">
            <article class="tile is-child notification is-white mastodon">
              <div class="content">
                <p class="title is-size-5" style="text-transform:uppercase;color:#fff">
                  <a target="_blank" href="https://botsin.space/@labos1point5">
                    <span class="icon">
                      <i class="sui sui-mastodon" style="color:#3088d4"></i>
                    </span>
                  </a> {{ $t('social') }} Mastodon
                </p>
                <p class="subtitle is-size-6"
                   style="padding-top:4px;color:#fff"
                   v-html="$t('suivreactu')">
                </p>
                <div class="content" style="overflow:auto;height:605px;">
                  <mastodon />
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <b-modal
      :active.sync="displayPkoi"
      has-modal-card
      style="z-index:9999"
    >
      <div class="modal-card" style="width: 1000px; height: auto;z-index:9999">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('why-ges') }}
          </p>
        </header>
        <section class="modal-card-body">
          <why-ges-1point5 />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import carbonService from '@/services/carbonService'

export default {
  name: 'home',
  components: {
    'mastodon': () => import('@/components/Mastodon.vue'),
    'why-ges-1point5': () => import('@/components/ges/docs/WhyGES1point5.vue'),
    // 'formulaire-newsletter': () => import('@/components/FormulaireNewsletter.vue'),
    'contact-us': () => import('@/components/ContactUs.vue')
  },
  data () {
    return {
      displayPkoi: false,
      isLoading: false,
      nbLaboratoire: 0,
      nbBGES: 0,
      nbInitiative: 0,
      nbMembre: 0,
      nbMembreGDR: 0,
      nbMembreReflexion: 0,
      news2_carousels: [
        { img: require('@/assets/images/logos/framasoft-biglogo-notxt.png') },
        { img: require('@/assets/images/logos/marche_pour_le_climat.jpg') }
      ],
      tabIndex: 0
    }
  },
  mounted () {
    this.isLoading = true
    carbonService.getBGESInfos()
      .then(data => {
        this.isLoading = false
        this.nbBGES = data.nbBGES
        this.nbLaboratoire = data.nbLaboratoire
        this.nbInitiative = data.nbInitiative
        this.nbMembre = data.nbMembre
        this.nbMembreGDR = data.nbMembreGDR
        this.nbMembreReflexion = data.nbMembreReflexion
      })
      .catch((erreur) => {
        this.isLoading = false
      })
  }
}
</script>

<style>
.tabs.is-toggle li.is-active a {
  background-color:  rgba(83, 135, 175, 0.1);
  border-color: rgb(66, 128, 176);
}
.b-skeleton-item {
  margin: auto
}
</style>
