<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-3" style="margin-right: 10px;">
            <b-menu>
              <b-menu-list>
                <b-menu-item
                  @click="activate('newsletter-9')"
                  :active="activeModule==='newsletter-9'"
                >
                  <template slot="label">
                    <div style="float:left">Newsletter #9</div>
                    <div style="text-align:right;opacity:0.5"><em>30-03-2022</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('newsletter-8')"
                  :active="activeModule==='newsletter-8'"
                >
                  <template slot="label">
                    <div style="float:left">Newsletter #8</div>
                    <div style="text-align:right;opacity:0.5"><em>15-10-2021</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('newsletter-7')"
                  :active="activeModule==='newsletter-7'"
                >
                  <template slot="label">
                    <div style="float:left">Newsletter #7</div>
                    <div style="text-align:right;opacity:0.5"><em>19-02-2021</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('newsletter-6')"
                  :active="activeModule==='newsletter-6'"
                >
                  <template slot="label">
                    <div style="float:left">Newsletter #6</div>
                    <div style="text-align:right;opacity:0.5"><em>01-12-2020</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('newsletter-5')"
                  :active="activeModule==='newsletter-5'"
                >
                  <template slot="label">
                    <div style="float:left">Newsletter #5</div>
                    <div style="text-align:right;opacity:0.5"><em>05-06-2020</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('newsletter-4')"
                  :active="activeModule==='newsletter-4'"
                >
                  <template slot="label">
                    <div style="float:left">Newsletter #4</div>
                    <div style="text-align:right;opacity:0.5"><em>13-04-2020</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('newsletter-3')"
                  :active="activeModule==='newsletter-3'"
                >
                  <template slot="label">
                    <div style="float:left">Newsletter #3</div>
                    <div style="text-align:right;opacity:0.5"><em>03-03-2020</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('newsletter-2')"
                  :active="activeModule==='newsletter-2'"
                >
                  <template slot="label">
                    <div style="float:left">Newsletter #2</div>
                    <div style="text-align:right;opacity:0.5"><em>17-09-2019</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('newsletter-1')"
                  :active="activeModule==='newsletter-1'"
                 >
                  <template slot="label">
                    <div style="float:left">Newsletter #1</div>
                    <div style="text-align:right;opacity:0.5"><em>27-05-2019</em></div>
                  </template>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <newsletter-1 v-if="activeModule==='newsletter-1'"/>
            <newsletter-2 v-if="activeModule==='newsletter-2'"/>
            <newsletter-3 v-if="activeModule==='newsletter-3'"/>
            <newsletter-4 v-if="activeModule==='newsletter-4'"/>
            <newsletter-5 v-if="activeModule==='newsletter-5'"/>
            <newsletter-6 v-if="activeModule==='newsletter-6'"/>
            <newsletter-7 v-if="activeModule==='newsletter-7'"/>
            <newsletter-8 v-if="activeModule==='newsletter-8'"/>
            <newsletter-9 v-if="activeModule==='newsletter-9'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'InfoNews',
  components: {
    'newsletter-1': () => import('@/components/newsletters/Newsletter1.vue'),
    'newsletter-2': () => import('@/components/newsletters/Newsletter2.vue'),
    'newsletter-3': () => import('@/components/newsletters/Newsletter3.vue'),
    'newsletter-4': () => import('@/components/newsletters/Newsletter4.vue'),
    'newsletter-5': () => import('@/components/newsletters/Newsletter5.vue'),
    'newsletter-6': () => import('@/components/newsletters/Newsletter6.vue'),
    'newsletter-7': () => import('@/components/newsletters/Newsletter7.vue'),
    'newsletter-8': () => import('@/components/newsletters/Newsletter8.vue'),
    'newsletter-9': () => import('@/components/newsletters/Newsletter9.vue')
  },
  data () {
    return {
      activeModule: 'newsletter-9'
    }
  },
  computed: {
    routeParam: function () {
      return this.$route.params.name
    }
  },
  watch: {
    routeParam: function () {
      this.activate(this.routeParam)
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
      this.$router.push('/info-news/' + module)
    }
  },
  mounted () {
    if (this.routeParam) {
      this.activate(this.routeParam)
    }
  }
}
</script>

<style>
  .ancre-spacer {
    padding-top:7em;
    margin-top:-7em;
  }
</style>
