<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="content-wrapper" v-if="isLoading">
          <b-notification :closable="false" style="letter-spacing:1px">
            <div style="text-align:center;width:100%">
              <p class="mt-1"><img src="../assets/images/loaders/spinner-zotero.gif" style="max-width:150px"/></p>
              <p class="mt-3" style="font-weight:bold">Chargement...</p>
              <p class="mt-3">Veuillez patienter les ressources disponibles<br/>dans Zotero sont en cours de chargement...</p>
            </div>
          </b-notification>
        </div>
        <div v-if="!isLoading">
          <su-service :icon="'filter'">
            <template #title>
              Filtrer les ressources
            </template>
              <div class="columns">
              <div class="column is-two-fifths">
                Selectionner une année, un auteur, un type de ressource et/ou cliquer sur un mot clef ci-contre afin de
                filtrer la liste des ressources.
                <br />
                <br />
                <div class="columns">
                  <div class="column">
                    <b-field
                      label="Année"
                    >
                      <b-select
                        expanded
                        v-model="yearSelected"
                        @input="filterSelect"
                        placeholder="Sélectionner une année">
                        <option value="Tous">Toutes</option>
                        <option v-for="option in years" :key="option" :value="option">
                          {{ option }}
                        </option>
                      </b-select>
                    </b-field>
                    <b-field
                      label="Auteur"
                    >
                      <b-select
                        expanded
                        v-model="authorSelected"
                        @input="filterSelect"
                        placeholder="Sélectionner un auteur">
                        <option value="Tous">Tous</option>
                        <option v-for="option in authors" :key="option" :value="option">
                          {{ option }}
                        </option>
                      </b-select>
                    </b-field>
                    <b-field
                      label="Type"
                    >
                      <b-select
                        expanded
                        v-model="typeSelected"
                        @input="filterSelect"
                        placeholder="Sélectionner un type">
                        <option value="Tous">Tous</option>
                        <option v-for="option in types" :key="option" :value="option">
                          {{ option }}
                        </option>
                      </b-select>
                    </b-field>
                  </div>
                </div>
              </div>
              <div class="column">
                <wordcloud
                  :data="keywords"
                  nameKey="name"
                  valueKey="value"
                  :showTooltip="false"
                  :wordClick="filterKeyword"
                  style="background:#FFF;border-radius:5px;border:1px solid darkgrey">
                </wordcloud>
              </div>
            </div>
          </su-service>
          <div style="text-align:right;margin-top:20px">
            <b-button
              :disabled="filterOff"
              type="is-primary"
              @click="reset"
              icon-left="close">
              Supprimer les filtres
            </b-button>
          </div>
        </div>

        <div v-if="!isLoading && getArticles.length == 0" style="margin-top:20px">
          <b-notification :closable="false" style="letter-spacing:2px">
            <span class="icon" style="vertical-align:middle;margin-right:15px">
              <i class="sui sui-ban" style="font-size: 32px;"></i>
            </span> Aucune ressource correspondante à ce filtre...<br/>
          </b-notification>
        </div>
        <div class="content-wrapper" v-for="(obj,yearidx) in getArticles" :key="yearidx">
          <h2 class="title is-3 titley">{{ obj.year }}</h2>

          <div class="columns is-multiline is-mobile">
            <div class="box articleBox column is-one-third" v-for="(article,index) in obj.articles" :key="index" :class=article.type>
              <article class="media" :style="[index%2 ? {'border-radius':'0','background-color':'#f9f9f9','padding':'10px'} : {'padding':'10px'}]">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <div v-if="article.icon!=''">
                      <img :src=article.icon style="width:80% !important">
                    </div>
                    <div v-else>
                      <i v-if="article.type=='thesis'" class="sui sui-graduation-cap" style="color:rgb(95, 84, 141);font-size:50px;"></i>
                      <i v-else-if="article.type=='radioBroadcast'" class="sui sui-microphone" style="color:rgb(59, 88, 159);font-size:50px;"></i>
                      <i v-else-if="article.type=='journalArticle'" class="sui sui-file-text-o" style="color:rgb(209, 77, 101);font-size:50px;"></i>
                      <i v-else-if="article.type=='newspaperArticle'" class="sui sui-newspaper-o" style="color:rgb(138, 72, 105);font-size:50px;"></i>
                      <!-- Else webpage -->
                      <i v-else class="sui sui-globe-w" style="color:rgb(13, 126, 182);font-size:50px;"></i>
                    </div>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p style="margin-bottom:0">
                      <b style="text-transform:capitalize">{{ article.type }}</b>
                      <br/><small> {{ article.shortTitle }} | {{ article.date }}</small>
                      <a class="link pl-3" aria-label="reply" :href="article.url" target="_blank">
                        <span class="icon">
                          <i class="sui sui-external-link-square" aria-hidden="true"></i>
                        </span>
                      </a>
                    </p>
                    <p style="margin-top:4px;margin-bottom:0">
                      <span class="article-title">
                        <b>{{ article.title }}</b>
                      </span>
                    </p>
                    <a class="link pl-3" aria-label="reply" :href="article.url" target="_blank">
                      <div class="article-abstract">
                        <p style="color:rgb(125,125,125);text-align:justify">
                          {{ article.abstract }}
                        </p>
                        <span class="article-fade"></span>
                      </div>
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import SUService from '@/components/SUService.vue'

const wordcloud = () => import('vue-wordcloud')

export default {
  name: 'LaLitterature',
  components: {
    'su-service': SUService,
    'wordcloud': wordcloud
  },
  data () {
    return {
      articles: [],
      isLoading: true,
      years: [],
      authors: [],
      types: [],
      keywords: [],
      yearSelected: null,
      typeSelected: null,
      authorSelected: null,
      keywordSelected: null,
      filterOff: true
    }
  },
  computed: {
    getArticles: function () {
      let toReturn = []
      let articlesToSelect = this.articles
      let years = []
      if (this.yearSelected && this.yearSelected !== 'Tous') {
        articlesToSelect = articlesToSelect.filter(obj => obj.year === this.yearSelected)
      }
      if (this.typeSelected && this.typeSelected !== 'Tous') {
        articlesToSelect = articlesToSelect.filter(obj => obj.type === this.typeSelected)
      }
      if (this.authorSelected && this.authorSelected !== 'Tous') {
        articlesToSelect = articlesToSelect.filter(obj =>
          obj.auteurs.filter(a => a.firstName + ', ' + a.lastName === this.authorSelected).length >= 1
        )
      }
      if (this.keywordSelected) {
        articlesToSelect = articlesToSelect.filter(obj =>
          obj.keyword.filter(a => a === this.keywordSelected).length >= 1
        )
      }

      // all
      for (let article of articlesToSelect) {
        let curIndex = years.indexOf(article.year)
        if (curIndex > -1) {
          toReturn[curIndex]['articles'].push(article)
        } else {
          years.push(article.year)
          toReturn.push({ 'year': article.year, 'articles': [article] })
        }
      }
      return (toReturn)
    }
  },
  methods: {
    reset () {
      this.yearSelected = null
      this.typeSelected = null
      this.authorSelected = null
      this.keywordSelected = null
      this.filterOff = true
    },
    filterKeyword (name, value, vm) {
      this.keywordSelected = name
      this.filterOff = false
    },
    filterSelect () {
      if (this.yearSelected !== 'Tous' || this.typeSelected !== 'Tous' || this.authorSelected !== 'Tous') {
        this.filterOff = false
      } else {
        this.filterOff = true
      }
    }
  },
  mounted () {
    axios
      .get('https://api.zotero.org/groups/4295630/collections/RI3FTU7P/items/?limit=100&sort=date&itemType=-attachment')
      .then(response => {
        this.isLoading = false
        let allKeyword = []
        for (let article of response.data) {
          if (article.data.itemType !== 'note') {
            let auteurs = []
            if (article.data.creators) {
              for (let author of article.data.creators) {
                if (author.creatorType === 'author') {
                  auteurs.push({
                    firstName: author.firstName,
                    lastName: author.lastName
                  })
                  this.authors.push({
                    firstName: author.firstName,
                    lastName: author.lastName
                  })
                }
              }
            }
            let abstract = null
            if (article.data.abstractNote) {
              abstract = article.data.abstractNote
            }
            let journal = null
            if (article.data.publicationTitle) {
              journal = article.data.publicationTitle
            }
            let keyword = ['toto']
            if (article.data.tags) {
              for (let kwd of article.data.tags) {
                if (kwd.tag !== '⛔ No DOI found') {
                  keyword.push(kwd.tag)
                  allKeyword.push(kwd.tag)
                }
              }
            }
            let curyear = ''
            if (article.data.date === '') {
              curyear = /\d{4}/.exec(article.data.dateAdded)[0]
            } else {
              curyear = /\d{4}/.exec(article.data.date)[0]
            }
            this.articles.push({
              key: article.data.key,
              year: /\d{4}/.exec(article.data.date)[0],
              date: article.data.date.split(', ')[0],
              type: article.data.itemType,
              icon: article.data.extra,
              title: article.data.title,
              shortTitle: article.data.shortTitle,
              journal: journal,
              auteurs: auteurs,
              abstract: abstract,
              url: article.data.url,
              keyword: keyword
            })
            if (!this.years.includes(curyear)) {
              this.years.push(curyear)
            }
            if (!this.types.includes(article.data.itemType)) {
              this.types.push(article.data.itemType)
            }
          }
        }
        // set uniq list
        this.years = this.years.filter(function (value, index, self) {
          return self.indexOf(value) === index
        })
        this.types = this.types.filter(function (value, index, self) {
          return self.indexOf(value) === index
        })
        // uniq author
        this.authors = this.authors.map(item => item.firstName + ', ' + item.lastName)
          .filter((value, index, self) => self.indexOf(value) === index)

        // count uniq keyword count
        for (let v of allKeyword.filter(function (v, i) { return i === allKeyword.lastIndexOf(v) })) {
          this.keywords.push({
            name: v,
            value: allKeyword.filter(function (w) { return w === v }).length
          })
        }
      })
  }
}

</script>
<style lang="css" scoped>
div.wordCloud {
  height: 250px !important;
}

.articleBox {
  margin-bottom:0rem !important;
  box-shadow:none;
  transition: transform .2s;
}
.articleBox:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.titley {
  text-align: center;
}
.titley::before {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4280b0;
    margin: 8px 10px;
}
.titley::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4280b0;
    margin: 8px 10px;
}

.article-title {
  background-color:rgba(52, 59, 64, 0.7);
  color:white;
}

.article-abstract {
  position: relative;
  max-height: 125px;
  overflow: hidden;
  border-left: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 20px;
}
.article-fade {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width:100%;
  height:60px;
  font-size:16px;
  padding-top:40px;
  background-image: linear-gradient(to bottom, transparent, white);
}
</style>
