<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="box-blue">
          Le groupement de recherche (GDR) <em>Labos 1point5</em> est un dispositif soutenu par le <strong>CNRS</strong>, l’<strong>INRAE</strong> et l’<strong>ADEME</strong>.
          Les adhésions au GDR sont individuelles, ouvertes à <strong>toutes les disciplines</strong> et <strong>tous les statuts</strong>, et aux membres de la recherche publique
          quelle que soit leur institution de rattachement. L’engagement est pour une durée minimale de 1 an. Le GDR est constitué d’une équipe de
          direction et d’un conseil scientifique (voir ci-dessous). Ce dispositif permet une reconnaissance des travaux scientifiques du collectif,
          leur caractère pluridisciplinaire, et professionnel. Il constitue une <strong>interface pérenne avec les organismes</strong>, tout en garantissant
          l’<strong>autonomie du travail scientifique, et du travail de réflexion</strong>, ce dernier étant indépendant du GDR.
          <p style="margin-top:7px">
            L'objectif du GDR <em>Labos 1point5</em> est de <strong>mieux comprendre et réduire l'empreinte carbone des activités de recherche</strong>.
          </p>
          <p style="margin-top:7px">
            Le GDR est organisé autour de deux axes :
            <ul style="list-style-type:square;margin-left:25px">
              <li><strong>axe analyse :</strong> mesure et caractérisation de l'<strong>empreinte de la
                recherche publique en France</strong> en terme d'émission de gaz à effet
                de serre (GES) ;</li>
              <li><strong>axe transition :</strong> accompagnement et facilitation pour la mise
                en place de <strong>trajectoires de réduction</strong>  au sein
                des laboratoires.</li>
            </ul>
          </p>
        </div>
        <br />
        <br />
        <div class="columns">
          <div class="column is-2">
            <b-menu>
              <b-menu-list label="Les équipes">
                <b-menu-item
                    label="Organisation"
                    icon="joomla"
                    :active="activeEquipe==='Organisation'"
                    @click="activate('Organisation')">
                </b-menu-item>
                <b-menu-item
                    label="Empreinte"
                    icon="thermometer-4"
                    :active="activeEquipe==='Empreinte'"
                    @click="activate('Empreinte')">
                </b-menu-item>
                <!-- <b-menu-item
                    label="Enquêtes"
                    icon="bar-chart"
                    :active="activeEquipe==='Enquête'"
                    @click="activate('Enquête')">
                </b-menu-item> -->
                <b-menu-item
                    label="Expérimentation"
                    icon="flask"
                    :active="activeEquipe==='Expérimentation'"
                    @click="activate('Expérimentation')">
                </b-menu-item>
                <b-menu-item
                    label="Enseignement"
                    icon="graduation-cap"
                    :active="activeEquipe==='Enseignement'"
                    @click="activate('Enseignement')">
                </b-menu-item>
                <b-menu-item
                    label="Communication"
                    icon="weixin"
                    :active="activeEquipe==='Communication'"
                    @click="activate('Communication')">
                </b-menu-item>
                <b-menu-item
                    label="GES 1point5"
                    icon="sitemap"
                    :active="activeEquipe==='GES1point5'"
                    @click="activate('GES1point5')">
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column" v-if="activeEquipe==='Organisation'">
            <div class="columns">
              <div class="column">
                <su-service :icon="'joomla'">
                  <template #title>
                    Equipe de coordination
                  </template>
                  Tamara Ben-Ari (INRAE) - Directrice<br />
                  Marion Avet (INRAE) - Cheffe de projet<br />
                  Olivier Aumont (IRD)<br />
                  Guillaume Blanc (Université de Paris)<br />
                  Odile Blanchard (Université Grenoble-Alpes)<br />
                  Marie-Alice Foujols (CNRS)<br />
                  Patrick Hennebelle (CEA)<br />
                  Jérôme Mariette (INRAE)<br />
                  Olivier Ragueneau (CNRS)<br />
                  Audrey Sabbagh (Université de Paris)<br />
                  Céline Valot-Serrano (INRIA) - Réseau des labos en transition
                </su-service>
              </div>
              <div class="column">
                <su-service :icon="'joomla'">
                  <template #title>
                    Conseil scientifique
                  </template>
                  Valérie Masson Delmotte (CEA/HCC/GIEC) <br />
                  Philippe Quirion (CNRS) <br />
                  Quentin Perrier (I4CE) <br />
                  Catherine Bourgain (INSERM) <br />
                  Hervé Lefebvre (ADEME) <br />
                  Arnaud St Martin (CNRS)
                </su-service>
              </div>
            </div>
          </div>
          <div class="column" v-if="activeEquipe==='Empreinte'">
            <su-service :icon="'thermometer-4'">
              <template #title>
                Equipe « Empreinte »
              </template>
              L’équipe Empreinte se propose d’<strong>estimer</strong> et d’<strong>analyser l’empreinte de la recherche française</strong>.
              Il repose sur l’outil en ligne libre et gratuit, <router-link class="link" :to="{ name: 'ges-1point5' }">GES 1point5</router-link>,
              développé par <em>Labos 1point5</em> en 2020 et actuellement en cours d’utilisation par {{ nbLaboratoire }} laboratoires
              de recherche en France ({{ nbBGES }} en cours de finalisation).
              <br />
              <router-link class="link" :to="{ name: 'ges-1point5' }">GES 1point5</router-link>
              permet à chaque laboratoire d’effectuer un bilan de ses émissions de GES à partir d’informations disponibles au niveau des
              laboratoires (déplacements en missions professionnelles, consommations d’énergie des bâtiments, etc.) ou collectées dans l’outil
              grâce à un questionnaire développé à cet effet (trajets domicile-travail). L’outil intègre une source importante d’incertitudes
              concernant les facteurs d'émission et permet donc <strong>une analyse de sensibilité des résultats</strong> à certaines hypothèses
              sur ceux-ci.
              <br />
              Les bilans GES finalisés seront agrégés en une base de données nationale et utilisés dans le cadre du GDR 1point5 pour <strong>dresser</strong>,
              pour la première fois, <strong>un bilan national des émissions de GES de la recherche publique</strong>. Par ailleurs, cet axe aura vocation
              à mener un travail statistique concernant la distribution des émissions de GES en fonction de certaines variables (discipline, statut des
              personnels, ...) et à <strong>identifier des facteurs explicatifs</strong>.
            </su-service>
            <!-- <br />
            <su-service :icon="'group'">
              <template #title>
                {{ membresEEmpreinte.length }} membres
              </template>
              <span v-for="(membre, index) in membresEEmpreinte" :key="index">
                {{ membre.prenom | capitalize}} {{ membre.nom | capitalize}},
              </span>
            </su-service> -->
          </div>
          <!-- <div class="column" v-if="activeEquipe==='Enquête'">
            <su-service :icon="'bar-chart'">
              <template #title>
                Axe 2 : « Enquêtes »
              </template>
              L’équipe enquête vise à comprendre les <b>représentations</b> et <b>pratiques</b> de la
              communauté scientifique dans le contexte du réchauffement climatique.
              En particulier, nous chercherons à comprendre comment l’organisation et les
              enjeux du monde académique, notamment dans sa forme mondialisée, contribuent
              à forger les pratiques de travail, parfois en contradiction apparente avec
              les volontés de changement.<br /><br />
              Ce travail s’appuiera à la fois sur des données issues d'enquêtes quantitatives
              telles que celles réalisées par le collectif
              <router-link class="link" :to="{ name: 'les-enquetes' }"><em>Labos 1point5</em></router-link>
              et des enquêtes de terrain.
            </su-service>
            <br />
            <su-service :icon="'group'">
              <template #title>
                {{ membresEEnquete.length }} membres
              </template>
              <span v-for="(membre, index) in membresEEnquete" :key="index">
                {{ membre.prenom | capitalize}} {{ membre.nom | capitalize}},
              </span>
            </su-service>
          </div> -->
          <div class="column" v-if="activeEquipe==='Expérimentation'">
            <su-service :icon="'flask'">
              <template #title>
                Equipe « Expérimentation »
              </template>
              L’équipe Expérimentation vise à <strong>explorer différentes modalités</strong> envisagées en France et à l’international pour amorcer des <strong>trajectoires de réduction</strong> des émissions de GES : outils de sensibilisation, taxes, quotas, compensation carbone, monnaie
              carbone, etc..
              <br />
              Il s’agira dans un premier temps (2021) d’accompagner, de faciliter et d’observer les délibérations et les modalités de prise de
              décisions dans <strong>15 laboratoires pilotes</strong> volontaires, identifiés lors de la phase de conception de l’expérimentation
              qui s’est achevée en Janvier 2021. Les <strong>effets des différentes options choisies</strong> dans les laboratoires participants seront documentés
              et évalués, d’abord en termes d’émissions de CO<sub>2</sub> mais également de conséquences pour la pratique de la recherche elle-même.
              <br/>Une deuxième phase consistera à <strong>élargir</strong> très largement <strong>le champ de l’expérimentation</strong> en
              intégrant un grand nombre de laboratoires à cette dynamique dès janvier 2022.
            </su-service>
            <br />
            <!-- <su-service :icon="'group'">
              <template #title>
                {{ membresEExpe.length }} membres
              </template>
              <span v-for="(membre, index) in membresEExpe" :key="index">
                {{ membre.prenom | capitalize}} {{ membre.nom | capitalize}},
              </span>
            </su-service> -->
          </div>
          <div class="column" v-if="activeEquipe==='Enseignement'">
            <su-service :icon="'graduation-cap'">
              <template #title>
                Équipe « Enseignement »
              </template>
              Cette équipe est en charge d'<strong>élaborer du matériel pédagogique</strong> sous forme de diaporamas (ou présentations), textes et vidéos, de niveaux
              variés, sur les sujets ayant trait aux crises et transitions environnementales. L'objectif est de pouvoir ainsi <strong>sensibiliser</strong>,
              ou d'<strong>aider à sensibiliser</strong>, à ces questions. Les membres du collectif peuvent notamment utiliser ces ressources pour communiquer sur ces
              sujets au nom du collectif.
            </su-service>
            <!-- <br />
            <su-service :icon="'group'">
              <template #title>
                {{ membresEEnseignement.length }} membres
              </template>
              <span v-for="(membre, index) in membresEEnseignement" :key="index">
                {{ membre.prenom | capitalize}} {{ membre.nom | capitalize}},
              </span>
            </su-service> -->
          </div>
          <div class="column" v-if="activeEquipe==='Communication'">
            <su-service :icon="'weixin'">
              <template #title>
                Équipe « Communication & Technique »
              </template>
              L'équipe Communication en charge de la communication du collectif avec l’extérieur : site WEB, réseaux sociaux, communiqués de presse, etc et
              également vers l'intérieur  : présentation du collectif, des travaux des équipes, etc. L'équipe s'occupera également de <strong>communication
              scientifique</strong> sur les travaux du collectif. L'équipe a également en charge la <strong>veille médiatique et scientifique</strong> concernant l'empreinte
              environnementale de la recherche en maintenant à jour la bibliographie accessible depuis le site WEB du collectif. Cette équipe a aussi
              pour rôle de <strong>maintenir les liens avec les autres initiatives internationales</strong> (par exemple Max Plank, PIK, Tyndall).
              <br/>
              <br/>
              L’équipe Technique vient en appui de l’équipe Communication pour la <strong>gestion du
              site web, des listes mails, du wiki et du stockage</strong>.
              Cette équipe est en charge de mettre en place et promouvoir des <strong>outils
              numériques libres, éthiques, décentralisés et solidaires</strong>
              permettant le bon fonctionnement du collectif. Elle travaille en collaboration
              avec le <strong>collectif anti-GAFAM </strong>
              <a class="link" target="_blank" href="https://chatons.org/">CHATONS</a> et est
              en charge d'évaluer et de proposer des solutions techniques alternatives et
              bas-carbone.
            </su-service>
            <!-- <br />
            <su-service :icon="'group'">
              <template #title>
                {{ membresECom.length }} membres
              </template>
              <span v-for="(membre, index) in membresECom" :key="index">
                {{ membre.prenom | capitalize}} {{ membre.nom | capitalize}},
              </span>
            </su-service> -->
          </div>
          <div class="column" v-if="activeEquipe==='GES1point5'">
            <su-service :icon="'sitemap'">
              <template #title>
                Équipe « GES 1point5 »
              </template>
              L'équipe GES 1point5 a développé l'outil <router-link class="link" :to="{ name: 'ges-1point5' }">GES 1point5</router-link>,
              permettant aux laboratoires de réaliser une mesure de leur empreinte.
              <br/>
              <router-link class="link" :to="{ name: 'ges-1point5' }">GES 1point5</router-link> a été développé en coordination avec l'équipe Empreinte et testé par
              une dizaine de laboratoires.
            </su-service>
            <!-- <br />
            <su-service :icon="'group'">
              <template #title>
                {{ membresETechnique.length }} membres
              </template>
              <span v-for="(membre, index) in membresETechnique" :key="index">
                {{ membre.prenom | capitalize}} {{ membre.nom | capitalize}},
              </span>
            </su-service>-->
          </div>
        </div>
        <!-- <br />
        <br />
        <div class="columns">
          <div class="column">
            <div ref="map" style="z-index: 0;" v-bind:style="{ height: '450px', border:'1px solid rgba(0, 0, 0, 0.54)'}"></div>
          </div>
          <div class="column">
            <wordcloud
              :data="membresDisciplines"
              nameKey="name"
              valueKey="value"
              :showTooltip="false">
            </wordcloud>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</template>

<script>
// import L from 'leaflet'
// import '@/plugins/leaflet.js'
// import 'vue2-leaflet-markercluster'
import SUService from '@/components/SUService.vue'
import carbonService from '@/services/carbonService'

// const wordcloud = () => import('vue-wordcloud')

export default {
  name: 'LeGDR',
  components: {
    'su-service': SUService// ,
    // 'wordcloud': wordcloud
  },
  data: function () {
    return {
      activeEquipe: 'Organisation',
      zoom: 5,
      center: [46.75, 2.32],
      map: null,
      tileLayer: null,
      nbMembre: 0,
      nbMembreGDR: 0,
      nbMembreReflexion: 0,
      nbBGES: 0,
      nbLaboratoire: 0,
      isLoadingNbMembre: false
    }
  },
  computed: {
    membresLocations: function () {
      return this.$store.getters['membres/membresLocations']
    },
    membresEEmpreinte: function () {
      return this.shuffleArray(this.$store.getters['membres/membresEEmpreinte'])
    },
    membresEEnquete: function () {
      return this.shuffleArray(this.$store.getters['membres/membresEEnquete'])
    },
    membresEExpe: function () {
      return this.shuffleArray(this.$store.getters['membres/membresEExpe'])
    },
    membresECom: function () {
      return this.shuffleArray(this.$store.getters['membres/membresECom'])
    },
    membresETechnique: function () {
      return this.shuffleArray(this.$store.getters['membres/membresETechnique'])
    },
    membresEEnseignement: function () {
      return this.shuffleArray(this.$store.getters['membres/membresEEnseignement'])
    },
    membresDisciplines: function () {
      return this.$store.getters['membres/membresDisciplines']
    }
  },
  methods: {
    activate: function (equipe) {
      this.activeEquipe = equipe
      this.getMembresEquipes(equipe)
    },
    shuffleArray (myarray) {
      for (let i = myarray.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * i)
        const temp = myarray[i]
        myarray[i] = myarray[j]
        myarray[j] = temp
      }
      return myarray
    },
    /* initMap () {
      this.map = L.map(this.$refs.map).setView(this.center, this.zoom)
      this.tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
      this.tileLayer.addTo(this.map)
    },
    initLocation () {
      let markers = L.markerClusterGroup()
      for (let m of this.membresLocations) {
        let marker = L.marker([
          m.latitude,
          m.longitude
        ])
        markers.addLayer(marker)
      }
      this.map.addLayer(markers)
    }, */
    getMembresEquipes: function (equipe) {
      let loadData = false
      let eDesc = equipe
      if (equipe === 'Empreinte' && this.membresEEmpreinte.length === 0) {
        loadData = true
      } else if (equipe === 'Enquête' && this.membresEEnquete.length === 0) {
        loadData = true
      } else if (equipe === 'Expérimentation' && this.membresEExpe.length === 0) {
        loadData = true
      } else if (equipe === 'Communication' && this.membresECom.length === 0) {
        loadData = true
      } else if (equipe === 'Technique' && this.membresETechnique.length === 0) {
        loadData = true
      } else if (equipe === 'Enseignement' && this.membresEEnseignement.length === 0) {
        loadData = true
      }
      if (loadData) {
        this.$store.dispatch('membres/getMembresEquipes', {
          'equipe': eDesc
        })
      }
    }
  },
  mounted () {
    this.isLoadingNbMembre = true
    carbonService.getBGESInfos()
      .then(data => {
        this.isLoadingNbMembre = false
        this.nbMembre = data.nbMembre
        this.nbMembreGDR = data.nbMembreGDR
        this.nbMembreReflexion = data.nbMembreReflexion
        this.nbBGES = data.nbBGES
        this.nbLaboratoire = data.nbLaboratoire
      })
    /* if (this.membresLocations.length === 0) {
      this.$store.dispatch('membres/getMembresLocations')
        .then(membres => {
          this.initMap()
          setTimeout(() => {
            this.initLocation()
          }, 100)
        })
    } else {
      this.initMap()
      setTimeout(() => {
        this.initLocation()
      }, 100)
    }
    if (this.membresDisciplines.length === 0) {
      this.$store.dispatch('membres/getMembresDisciplines')
    } */
  }
}
</script>

<style lang="css">
div.wordCloud {
  height: 450px !important;
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}
.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}
.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}
.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}
/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}
.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}
.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}
.b-skeleton {
  display: inline-block;
  width: auto;
}
</style>
