<i18n>
{
  "fr": {
    "les-decryptages": "Les décryptages",
    "decr-1": "Décryptage #1"
  },
  "en": {
    "les-decryptages": "The decypherings",
    "decr-1": "Decyphering #1"
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-3" style="margin-right: 10px;">
            <b-menu>
              <b-menu-list>
                <b-menu-item
                  @click="activate('decryptage-1')"
                  :active="activeModule==='decryptage-1'"
                >
                  <template slot="label">
                    <div style="float:left">{{$t('decr-1')}}</div>
                    <div style="text-align:right;opacity:0.5"><em>10-12-2020</em></div>
                  </template>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <decryptage-1 v-if="activeModule==='decryptage-1'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'LesDecryptages',
  components: {
    'decryptage-1': () => import('@/components/decryptages/Decryptage1.vue')
  },
  data () {
    return {
      activeModule: 'decryptage-1'
    }
  },
  computed: {
    routeParam: function () {
      return this.$route.params.name
    }
  },
  watch: {
    routeParam: function () {
      this.activate(this.routeParam)
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
      this.$router.push('/les-decryptages/' + module)
    }
  },
  mounted () {
    if (this.routeParam) {
      this.activate(this.routeParam)
    }
  }
}
</script>
