<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-3" style="margin-right: 10px;">
            <b-menu>
              <b-menu-list>
                <b-menu-item
                  :active="activeModule==='enquete1-intro'||activeModule==='enquete1-presentation'||activeModule==='enquete1-resultat'||activeModule==='enquete1-team'||activeModule==='enquete1-thanks'"
                  :expanded="activeModule==='enquete1-intro'||activeModule==='enquete1-presentation'||activeModule==='enquete1-resultat'||activeModule==='enquete1-team'||activeModule==='enquete1-thanks'"
                  @click="activate('enquete1-intro')">
                  <template slot="label" slot-scope="props">
                    Enquête #1
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                   <b-menu-item
                    icon="info"
                    :active="activeModule==='enquete1-intro'"
                    label="Introduction"
                    @click="activate('enquete1-intro')"
                  ></b-menu-item>
                  <b-menu-item
                    icon="slideshare"
                    :active="activeModule==='enquete1-presentation'"
                    label="Présentation"
                    @click="activate('enquete1-presentation')"
                  ></b-menu-item>
                  <b-menu-item
                    icon="cog"
                    :active="activeModule==='enquete1-resultat'"
                    label="Résultats"
                    @click="activate('enquete1-resultat')"
                  ></b-menu-item>
                  <b-menu-item
                    icon="keyboard-o"
                    :active="activeModule==='enquete1-team'"
                    label="L'équipe de conception"
                    @click="activate('enquete1-team')"
                  ></b-menu-item>
                  <b-menu-item
                    icon="thumbs-o-up"
                    :active="activeModule==='enquete1-thanks'"
                    label="Remerciements"
                    @click="activate('enquete1-thanks')"
                  ></b-menu-item>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <enquete1-intro v-if="activeModule==='enquete1-intro'"/>
            <enquete1-presentation v-if="activeModule==='enquete1-presentation'"/>
            <enquete1-resultat v-if="activeModule==='enquete1-resultat'"/>
            <enquete1-team v-if="activeModule==='enquete1-team'"/>
            <enquete1-thanks v-if="activeModule==='enquete1-thanks'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'LesEnquetes',
  components: {
    'enquete1-intro': () => import('@/components/enquetes/Enquete1.vue'),
    'enquete1-presentation': () => import('@/components/enquetes/Enquete1Presentation.vue'),
    'enquete1-resultat': () => import('@/components/enquetes/Enquete1Resultat.vue'),
    'enquete1-team': () => import('@/components/enquetes/Enquete1Team.vue'),
    'enquete1-thanks': () => import('@/components/enquetes/Enquete1Thanks.vue')
  },
  data () {
    return {
      activeModule: 'enquete1-intro'
    }
  },
  computed: {
    routeParam: function () {
      return this.$route.params.name
    }
  },
  watch: {
    routeParam: function () {
      this.activate(this.routeParam)
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
      this.$router.push('/les-enquetes/' + module)
    }
  },
  mounted () {
    if (this.routeParam) {
      this.activate(this.routeParam)
    }
  }
}
</script>
