<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <article class="media">
          <figure class="media-left">
            <p class="image is-256x200">
              <iframe style="height:200px"
                src="https://tube.nuagelibre.fr/videos/embed/watch/459b7e5e-de31-4548-a94b-6528913acf98"
                frameborder="0"
                width="100%"
                height="auto"
                sandbox="allow-same-origin allow-scripts"
                allowfullscreen="allowfullscreen">
              </iframe>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p style="text-align:justify">
                <strong>
                  Luc Abbadie
                </strong>
                <br/>
                <small class="article-title">
                  <b>
                    Former aux enjeux de la transition écologique dans le supérieur
                  </b>
                </small>
                <br />
                <a
                  class="link"
                  target="_blank"
                  href="https://tube.nuagelibre.fr/videos/watch/459b7e5e-de31-4548-a94b-6528913acf98"
                >
                  <span class="icon is-small">
                    <i class="sui sui-play-circle-o"></i>
                  </span> Vidéo
                </a>
              </p>
              <p class="article-abstract" style="text-align:justify;">
                Présentation du rapport <a target="_blank" class="link" href="https://www.enseignementsup-recherche.gouv.fr/fr/former-aux-enjeux-de-la-transition-ecologique-dans-le-superieur-83888">
                Former aux enjeux de la transition écologique dans le supérieur</a>,
                produit par le groupe présidé par Jean Jouzel et Luc Abbadie, qui a été remis à Frédérique Vidal le 16 février 2022.
              </p>
            </div>
          </div>
        </article>
        <br />
        <br />
        <br />
        <article class="media">
          <figure class="media-left">
            <p class="image is-256x200">
              <iframe style="height:200px"
                src="https://tube.nuagelibre.fr/videos/embed/watch/7587e928-8dfa-42a5-9c8e-7062d7e422e1"
                frameborder="0"
                width="100%"
                height="auto"
                sandbox="allow-same-origin allow-scripts"
                allowfullscreen="allowfullscreen">
              </iframe>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p style="text-align:justify">
                <strong>
                  Françoise Billebaud, Guillaume Blanc, François Dulac, Marie-Alice Foujols,
                  Malgorzata Grybos, Patrick Hennebelle, Roland Lehoucq
                </strong>
                <br/>
                <small class="article-title">
                  <b>
                    Le réchauffement climatique
                  </b>
                </small>
                <br />
                <b-field grouped group-multiline>
                  <a
                    class="link"
                    target="_blank"
                    href="https://tube.nuagelibre.fr/videos/watch/7587e928-8dfa-42a5-9c8e-7062d7e422e1"
                  >
                    <span class="icon is-small">
                      <i class="sui sui-play-circle-o"></i>
                    </span> Vidéo
                  </a>
                  &
                  <a
                    class="link"
                    target="_blank"
                    href='/static/enseignements/EXPOSE_climat_L1p5_document.pdf'
                  >
                    <span class="icon is-small">
                      <i class="sui sui-file-pdf-o"></i>
                    </span> Document
                  </a>
                  &
                  <a
                    class="link"
                    target="_blank"
                    href='/static/enseignements/EXPOSE_climat_L1p5.pptx'
                  >
                    <span class="icon is-small">
                      <i class="sui sui-file-powerpoint-o"></i>
                    </span> Présentation
                  </a>
                  &
                  <a
                    class="link"
                    target="_blank"
                    href='/static/enseignements/EXPOSE_climat_L1p5.pdf'
                  >
                    <span class="icon is-small">
                      <i class="sui sui-file-pdf-o"></i>
                    </span> Présentation
                  </a>
                  <div class="control" style="margin-left: 8px;">
                    <b-taglist attached>
                        <b-tag size="is-small">Mise à jour</b-tag>
                        <b-tag size="is-small" type="is-info is-light">25/05/2022</b-tag>
                    </b-taglist>
                  </div>
                </b-field>
              </p>
              <p class="article-abstract" style="text-align:justify;">
                L’objectif de cet exposé est de fournir une <strong>introduction générale à la problématique du réchauffement climatique</strong>.
                Cette présentation est mise à disposition par le Collectif <em>Labos1 point5</em> avec ce document d’accompagnement,
                afin de permettre à tous ses membres motivés de pouvoir présenter la problématique, en s’appropriant éventuellement
                l’exposé au nom du collectif.
                <br />
                Le matériel présenté provient pour une grande part d’exposés de membres du Collectif et a été validé par eux. Le
                niveau visé à ce stade est celui de <strong>licence/master</strong> approximativement.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'LesEnseignements'
}
</script>

<style scoped>
  .titley {
    text-align: center;
  }
  .titley::before {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #4280b0;
      margin: 8px 10px;
  }
  .titley::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #4280b0;
      margin: 8px 10px;
  }
  .article-title {
    background-color:rgba(52, 59, 64, 0.7);
    color:white;
  }
  .article-abstract {
    position: relative;
    overflow: hidden;
    border-left: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
  }
  .tag:not(body).is-info.is-light {
    background-color: #eff5fb;
    color: #296fa8;
  }
</style>
