<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-2">
            <b-menu>
              <b-menu-list label="Posters EcoInfo">
                <b-menu-item
                  :active="activeModule==='poster-ecoinfo-method'"
                  @click="activate('poster-ecoinfo-method')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="cogs"></b-icon>
                          Calculation methods
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='poster-ecoinfo'"
                  @click="activate('poster-ecoinfo')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="file-image-o"></b-icon>
                          Les infographies
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <poster-ecoinfo-method v-if="activeModule==='poster-ecoinfo-method'"/>
            <poster-ecoinfo v-if="activeModule==='poster-ecoinfo'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Les infographies',
  components: {
    'poster-ecoinfo-method': () => import('@/components/infographies/PosterEcoInfoMethods.vue'),
    'poster-ecoinfo': () => import('@/components/infographies/PosterEcoInfo.vue')
  },
  data () {
    return {
      activeModule: 'poster-ecoinfo-method'
    }
  },
  watch: {
    routeParam: function () {
      this.activate(this.routeParam)
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
      this.$router.push('/les-infographies/' + module).catch(() => {})
    }
  },
  mounted () {
    if (this.routeParam) {
      this.activate(this.routeParam)
    }
  }
}
</script>
