<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-3" style="margin-right: 10px;">
            <b-menu>
              <b-menu-list label="Nos séminaires">
                <b-menu-item
                  :active="activeModule==='journee-l1p5-2022'"
                  @click="activate('journee-l1p5-2022')"
                >
                  <template slot="label">
                    <div style="float:left">Journée L1p5 2022</div>
                    <div style="text-align:right;opacity:0.5"><em>01-06-2022</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='printemps-2022'"
                  @click="activate('printemps-2022')">
                  <template slot="label">
                    <div style="float:left">Transmission</div>
                    <div style="text-align:right;opacity:0.5"><em>Printemps 2022</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='hiver-2022'"
                  @click="activate('hiver-2022')">
                  <template slot="label">
                    <div style="float:left">Technologie et sobriété</div>
                    <div style="text-align:right;opacity:0.5"><em>Hiver 2022</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='automne-2021'"
                  @click="activate('automne-2021')">
                  <template slot="label">
                    <div style="float:left">Décarboner en 2050</div>
                    <div style="text-align:right;opacity:0.5"><em>Automne 2021</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('kickoff-l1p5-2021')"
                  :active="activeModule==='kickoff-l1p5-2021'"
                >
                  <template slot="label">
                    <div style="float:left">GDR L1p5 2021</div>
                    <div style="text-align:right;opacity:0.5"><em>23-11-2021</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('journee-l1p5-2020')"
                  :active="activeModule==='journee-l1p5-2020'"
                >
                  <template slot="label">
                    <div style="float:left">Journée L1p5 2020</div>
                    <div style="text-align:right;opacity:0.5"><em>06-11-2020</em></div>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list label="Nos WEBinaires">
                <b-menu-item
                  @click="activate('tutoriel-ges1point5')"
                  :active="activeModule==='tutoriel-ges1point5'"
                >
                  <template slot="label">
                    <div style="float:left">Tutoriel GES 1point5</div>
                    <div style="text-align:right;opacity:0.5"><em>29-11-2021</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('weminaire-ges1point5')"
                  :active="activeModule==='weminaire-ges1point5'"
                >
                  <template slot="label">
                    <div style="float:left">Webinaire GES 1point5</div>
                    <div style="text-align:right;opacity:0.5"><em>21-11-2020</em></div>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('seminaire-dd-cnrs')"
                  :active="activeModule==='seminaire-dd-cnrs'"
                >
                  <template slot="label">
                    <div style="float:left">Séminaire DD du CNRS</div>
                    <div style="text-align:right;opacity:0.5"><em>02-03-2020</em></div>
                  </template>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <printemps-2022 v-if="activeModule==='printemps-2022'"/>
            <hiver-2022 v-if="activeModule==='hiver-2022'"/>
            <automne-2021 v-if="activeModule==='automne-2021'"/>
            <kickoff-l1p5-2021 v-if="activeModule==='kickoff-l1p5-2021'"/>
            <seminaire-dd-cnrs v-if="activeModule==='seminaire-dd-cnrs'"/>
            <weminaire-ges1point5 v-if="activeModule==='weminaire-ges1point5'"/>
            <tutoriel-ges1point5 v-if="activeModule==='tutoriel-ges1point5'"/>
            <journee-l1p5-2020 v-if="activeModule==='journee-l1p5-2020'"/>
            <journee-l1p5-2022 v-if="activeModule==='journee-l1p5-2022'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'LesSeminaires',
  components: {
    'printemps-2022': () => import('@/components/seminaires/Printemps2022.vue'),
    'hiver-2022': () => import('@/components/seminaires/Hiver2022.vue'),
    'automne-2021': () => import('@/components/seminaires/Automne2021.vue'),
    'kickoff-l1p5-2021': () => import('@/components/seminaires/KickOff2021.vue'),
    'seminaire-dd-cnrs': () => import('@/components/seminaires/SeminaireDDCNRS.vue'),
    'weminaire-ges1point5': () => import('@/components/seminaires/WebinaireGES1point5.vue'),
    'tutoriel-ges1point5': () => import('@/components/seminaires/TutorielGES1point5.vue'),
    'journee-l1p5-2020': () => import('@/components/seminaires/JourneeL1P5_2020.vue'),
    'journee-l1p5-2022': () => import('@/components/seminaires/JourneeL1P5_2022.vue')
  },
  data () {
    return {
      activeModule: 'journee-l1p5-2022'
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
    }
  }
}
</script>
