<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-6 is-offset-3 landing-caption">
            <div class="box-blue">
              Votre demande a bien été transmise, merci de l’intérêt que vous portez au collectif
              <em>Labos 1point5</em>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Merci'
}
</script>
