<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="box-blue">
          Le collectif <em>Labos 1point5</em> a été fondé en <a target="_blank" class="link" href="https://www.lemonde.fr/sciences/article/2019/03/19/face-a-l-urgence-climatique-les-scientifiques-doivent-reduire-leur-impact-sur-l-environnement_5438048_1650684.html">
          mars 2019</a> avec la volonté d’emmener l’ensemble de la communauté de recherche française dans
          une démarche de transformation axée sur la réduction de son empreinte environnementale.
          <br />
          <br />
          Dès sa création, le collectif a été pensé comme un espace à la fois scientifique et réflexif. L’évolution
          des activités de recherche vers des pratiques bas carbone y est considérée comme une question de
          recherche à part entière, permettant de produire une méthodologie d’analyse et des connaissances.
          En s’appuyant sur cette démarche, les laboratoires peuvent se saisir des problématiques et eux-même
          mettre en oeuvre des solutions.
          <br />
          Ce travail collectif permet également d’entamer des discussions avec
          les institutions pour la mise en oeuvre de solutions à plus grande échelle. Par ailleurs, un des
          objectifs de la démarche initiée dans <em>Labos 1point5</em> est d’articuler les échelles locales,
          celle des laboratoires, et nationale, <em>i.e.</em>, celle de la communauté de recherche française.
          <br />
          <br />
          Cette démarche a conduit le collectif à organiser ses activités autour de trois axes :
        </div>
        <div class="columns mt-6">
          <div class="column is-5" style="height:100%">
            <div class="boxicon is-bordered has-text-centered" data-animation="fadeInLeft">
              <div class="bicon"><a class="notlink"><b-icon icon="cogs"></b-icon></a></div>
              <h4>Produire des connaissances</h4>
              <p style="text-align:justify">
                <span>
                  Quantifier l'empreinte environnementale des activités de recherche représente
                  une première étape importante afin de disposer d’une année de référence et
                  d’éléments factuels.
                  <div style='padding-top:7px'>
                    Pour cela, les équipes “empreinte” et “technique” de
                    <em>Labos 1point5</em> ont développé <strong><em>GES 1point5</em></strong> permettant aux
                    laboratoires de recherche de réaliser leur bilan de gaz à effet de serre (BGES)
                    en utilisant une méthodologie commune.
                  </div>
                  <div style='padding-top:7px'>
                    Cette empreinte, mesurée à l’échelle des
                    laboratoires permet d'<strong>impliquer directement les personnels</strong> des laboratoires
                    pour qu’elles ou ils puissent définir une trajectoire de réduction et d’en
                    suivre la progression. Ce relevé effectué sur l'ensemble du territoire permettra
                    également de réaliser une <strong>étude détaillée des émission GES</strong> et leur répartition
                    au niveau <strong>de la recherche du pays</strong>, ce qui constitue une première au niveau
                    international.
                  </div>
                  <div style='padding-top:7px'>
                    En outre, la <strong>compréhension des dynamiques individuelles et
                    collectives</strong> et leur accompagnement font également l’objet de recherches au sein
                    du collectif, par le biais d’un questionnaire national diffusé en Juillet 2020
                    au sein de la communauté, réalisé par l’équipe “enquête” du collectif, d’une
                    part, et via les travaux de l’équipe “expérimentation”, d’autre part.
                  </div>
                </span>
              </p>
            </div>
          </div>
          <div class="column" style="height:100%">
            <div class="boxicon is-bordered has-text-centered" data-animation="fadeInLeft">
              <div class="bicon"><a class="notlink"><b-icon icon="cubes"></b-icon></a></div>
              <h4>Répertorier et diffuser</h4>
              <p style="text-align:justify">
                <span>
                  La volonté de réduire l’empreinte environnementale de la recherche existe dans certains
                  laboratoires depuis parfois plus d’une décennie.
                  <br />
                  <div style='padding-top:7px'>
                    Nous nous sommes proposé de <strong>répertorier
                    <router-link class="link" :to="{ name: 'les-initiatives'}">les initiatives</router-link>
                    </strong> engagées dans les laboratoires, dans leur diversité et à leur demande.
                    Certaines de ces initiatives font partie du collectif au travers de leurs membres actifs,
                    certaines sont indépendantes.
                  </div>
                </span>
              </p>
            </div>
            <br />
            <div class="boxicon is-bordered has-text-centered" data-animation="fadeInLeft" style="margin-top:13px">
              <div class="bicon"><a class="notlink"><b-icon icon="lightbulb-o"></b-icon></a></div>
              <h4>Faire émerger des solutions</h4>
              <p style="text-align:justify">
                <span>
                  Le collectif est aussi un lieu de  d'échanges et de débats dont l’objectif est de <strong>faire
                  progresser la réflexion individuelle et collective</strong> dans et hors du champs académique strict
                  (voir les <router-link class="link" :to="{ name: 'reflexion', params: { name: 'EnseignerTransition' } }">publications du collectif</router-link>).
                  <div style='padding-top:7px'>
                    L’espace de  réflexion organisé autour de l’équipe du même nom au sein du collectif est également
                    l’endroit où pourront émerger des solutions communes sur la base des connaissances acquises par
                    les travaux du collectif et plus généralement par la
                    <strong><router-link class="link" :to="{ name: 'la-litterature'}">littérature scientifique</router-link>
                    émergente</strong> concernant l’empreinte environnementale de la recherche.
                  </div>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'NosObjectifs'
}
</script>
