<i18n>
{
  "fr": {
    "texte-fondateur": "Texte fondateur"
  },
  "en": {
    "texte-fondateur": "Mission statement"
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <b-menu>
              <b-menu-list label="L'équipe réflexion">
                <b-menu-item
                  @click="activate('EquipeReflexion')"
                  :active="activeModule==='EquipeReflexion'"
                  label="Les membres"
                ></b-menu-item>
                <b-menu-item
                  @click="activate('TexteFondateur')"
                  :active="activeModule==='TexteFondateur'"
                  :label="$t('texte-fondateur')"
                ></b-menu-item>
              </b-menu-list>
              <b-menu-list label="Textes du collectif">
                <b-menu-item
                  @click="activate('RechercheEthiqueEnvironnementale')"
                  :active="activeModule==='RechercheEthiqueEnvironnementale'"
                  label="Recherche : pour une éthique environnementale"
                ></b-menu-item>
                <b-menu-item
                  @click="activate('OserEnseignerTransition')"
                  :active="activeModule==='OserEnseignerTransition'"
                  label="Oser enseigner la transition écologique"
                ></b-menu-item>
                <b-menu-item
                  @click="activate('EnseignerTransition')"
                  :active="activeModule==='EnseignerTransition'"
                  label="Enseigner la transition environnementale dans le supérieur"
                ></b-menu-item>
                <b-menu-item
                  @click="activate('TransitionLPPR')"
                  :active="activeModule==='TransitionLPPR'"
                  label="Transition environnementale de la LPPR"
                ></b-menu-item>
              </b-menu-list>
              <b-menu-list label="Textes de membres">
                <b-menu-item
                  @click="activate('ResponsabiliteESR')"
                  :active="activeModule==='ResponsabiliteESR'"
                  label="Responsabilité de l'ESR"
                ></b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <equipe-reflexion v-if="activeModule==='EquipeReflexion'"/>
            <recherche-ethique-environnementale v-if="activeModule==='RechercheEthiqueEnvironnementale'"/>
            <oser-enseigner-transition v-if="activeModule==='OserEnseignerTransition'"/>
            <enseigner-transition v-if="activeModule==='EnseignerTransition'"/>
            <transition-lppr v-if="activeModule==='TransitionLPPR'"/>
            <texte-fondateur v-if="activeModule==='TexteFondateur'"/>
            <responsabilite-esr v-if="activeModule==='ResponsabiliteESR'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Reflexion',
  components: {
    'equipe-reflexion': () => import('@/components/textes/EquipeReflexion.vue'),
    'recherche-ethique-environnementale': () => import('@/components/textes/RechercheEthiqueEnvironnementale.vue'),
    'oser-enseigner-transition': () => import('@/components/textes/OserEnseignerTransition.vue'),
    'enseigner-transition': () => import('@/components/textes/EnseignerTransition.vue'),
    'transition-lppr': () => import('@/components/textes/TransitionLPPR.vue'),
    'texte-fondateur': () => import('@/components/textes/TexteFondateur.vue'),
    'responsabilite-esr': () => import('@/components/textes/ResponsabiliteESR.vue')
  },
  data () {
    return {
      activeModule: 'EquipeReflexion'
    }
  },
  computed: {
    routeParam: function () {
      return this.$route.params.name
    }
  },
  watch: {
    routeParam: function () {
      this.activate(this.routeParam)
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
      this.$router.push('/reflexion/' + module).catch(() => {})
    }
  },
  mounted () {
    if (this.routeParam) {
      this.activate(this.routeParam)
    }
  }
}
</script>

<style>
  .menu-list a.is-active {
    background-color: rgba(52, 59, 64, 0.7) !important;
    color: white;
  }
</style>
