<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <serveur-info :erreur="erreur"/>
        <div class="box-blue">
          Les activités de l'équipe réflexion portent sur la question de la réduction de l’empreinte environnementale de la
          recherche. Inscrivez vous à l'aide de ce formulaire pour participer aux discussions, à l’<strong>élaboration de
          textes</strong> et à la <strong>prises de position</strong> du collectif sur ce sujet (voir <router-link class="link" to="/reflexion">ici</router-link> pour plus de details).
        </div>
        <br />
        <div>
          <form @submit.prevent="validateBeforeSubmit">
            <formulaire-reflexion :fullForm="true" ref="formulaireReflexion" v-model="membre"/>
            <br />
            <nav class="level">
              <div class="level-left"></div>
              <div class="level-right">
                <button
                  type="submit"
                  class="button is-primary"
                  @click="scrollOnTop()"
                  :disabled="isDisabled()"
                >
                  <span class="icon is-small"><i class="sui sui-paper-plane"></i></span>
                  <span> Envoyer </span>
                </button>
              </div>
            </nav>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ServeurInfo from '@/components/ServeurInfo.vue'

export default {
  name: 'RejoindreGDR',
  components: {
    'serveur-info': ServeurInfo,
    'formulaire-reflexion': () => import('@/components/FormulaireReflexion.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      membre: {
        id: null,
        equipes: ['Réflexion'],
        email: '',
        nom: '',
        prenom: '',
        ville: '',
        pays: '',
        disciplineCNU: '',
        commentaire: '',
        latitude: 46.75,
        longitude: 2.32,
        genre: null,
        anneeNaissance: '',
        laboratoire: '',
        tutelles: [],
        statut: null,
        engagementAssociatif: '',
        engagementInstitutionel: '',
        engagementAutres: '',
        msgCommunication: '',
        msgEmpreinte: '',
        msgEnquete: '',
        msgExperimentation: '',
        msgReflexion: '',
        msgTechnique: '',
        msgEnseignement: ''
      },
      erreur: ''
    }
  },
  methods: {
    scrollOnTop () {
      window.scrollTo(0, 0)
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          this.$store.dispatch('membres/addMembreReflexion', {
            email: this.membre.email,
            nom: this.membre.nom,
            prenom: this.membre.prenom,
            ville: this.membre.ville,
            pays: this.membre.pays,
            disciplineCNU: this.membre.disciplineCNU,
            commentaire: this.membre.commentaire,
            latitude: Math.round((this.membre.latitude + Number.EPSILON) * 100) / 100,
            longitude: Math.round((this.membre.longitude + Number.EPSILON) * 100) / 100,
            equipes: this.membre.equipes,
            genre: this.membre.genre,
            anneeNaissance: this.membre.anneeNaissance,
            laboratoire: this.membre.laboratoire,
            tutelles: this.membre.tutelles,
            statut: this.membre.statut,
            engagementAssociatif: this.membre.engagementAssociatif,
            engagementInstitutionel: this.membre.engagementInstitutionel,
            engagementAutres: this.membre.engagementAutres,
            msgCommunication: this.membre.msgCommunication,
            msgEmpreinte: this.membre.msgEmpreinte,
            msgEnquete: this.membre.msgEnquete,
            msgExperimentation: this.membre.msgExperimentation,
            msgReflexion: this.membre.msgReflexion,
            msgTechnique: this.membre.msgTechnique,
            msgEnseignement: this.membre.msgEnseignement
          })
            .then((response) => {
              loadingComponent.close()
              this.$router.push({ name: 'merci' })
            })
            .catch((erreur) => {
              loadingComponent.close()
              if (erreur.response.data.startsWith('IntegrityError at /api/add_membre_reflexion/')) {
                this.erreur = 'L\'email renseigné est déjà utilisé.'
              } else {
                this.erreur = erreur.response.data
              }
            })
        }
      })
    },
    isDisabled: function () {
      return (!this.membre.email || !this.membre.nom || !this.membre.prenom || !this.membre.ville || !this.membre.disciplineCNU || !this.$refs.formulaireReflexion.isOK())
    }
  }
}
</script>
