<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <serveur-info :erreur="erreur"/>
        <div class="box-blue">
          Le groupement de recherche (GDR) <em>Labos 1point5</em> est un dispositif soutenu par le <strong>CNRS</strong>,
          l’<strong>INRAE</strong> et l’<strong>ADEME</strong> (voir <router-link class="link" to="/le-gdr">ici</router-link> pour plus de details).
          <br />
          Le GDR est organisé autour de trois axes :
          <ul style="list-style-type:square;margin-left:25px">
            <li>la mesure et la caractérisation de l’<strong>empreinte de la recherche publique en France</strong> en terme d’émissions de Gaz à Effet de Serre (GES)
              (axe « Empreinte ») ;</li>
            <li>l’étude de l’<strong>organisation</strong> et des <strong>pratiques de recherche</strong> en lien avec cette empreinte (axe « Enquêtes ») ;</li>
            <li>ainsi qu’un axe transverse « Expérimentation » concernant l’accompagnement et la facilitation de la mise en place de <strong>trajectoires de réduction</strong>
              au sein des laboratoires.</li>
          </ul>
        </div>
        <br />
        <div>
          <form @submit.prevent="validateBeforeSubmit">
            <formulaire-gdr :fullForm="true" ref="formulaireGDR" v-model="membre"/>
            <br />
            <nav class="level">
              <div class="level-left"></div>
              <div class="level-right">
                <button
                  type="submit"
                  class="button is-primary"
                  @click="scrollOnTop()"
                  :disabled="isDisabled()"
                >
                  <span class="icon is-small"><i class="sui sui-paper-plane"></i></span>
                  <span> Envoyer </span>
                </button>
              </div>
            </nav>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ServeurInfo from '@/components/ServeurInfo.vue'

export default {
  name: 'RejoindreReflexion',
  components: {
    'serveur-info': ServeurInfo,
    'formulaire-gdr': () => import('@/components/FormulaireGDR.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      membre: {
        id: null,
        equipes: [],
        email: '',
        nom: '',
        prenom: '',
        ville: '',
        pays: '',
        disciplineCNU: '',
        commentaire: '',
        latitude: 46.75,
        longitude: 2.32,
        genre: null,
        anneeNaissance: '',
        laboratoire: '',
        tutelles: [],
        statut: null,
        percETP: null,
        msgCommunication: '',
        msgEmpreinte: '',
        msgEnquete: '',
        msgExperimentation: '',
        msgReflexion: '',
        msgTechnique: '',
        msgEnseignement: '',
        isInAnnuaire: false,
        volontaireGdPublic: false
      },
      erreur: ''
    }
  },
  methods: {
    scrollOnTop () {
      window.scrollTo(0, 0)
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          this.$store.dispatch('membres/addMembreGDR', {
            email: this.membre.email,
            nom: this.membre.nom,
            prenom: this.membre.prenom,
            ville: this.membre.ville,
            pays: this.membre.pays,
            disciplineCNU: this.membre.disciplineCNU,
            commentaire: this.membre.commentaire,
            latitude: Math.round((this.membre.latitude + Number.EPSILON) * 100) / 100,
            longitude: Math.round((this.membre.longitude + Number.EPSILON) * 100) / 100,
            equipes: this.membre.equipes,
            genre: this.membre.genre,
            anneeNaissance: this.membre.anneeNaissance,
            laboratoire: this.membre.laboratoire,
            tutelles: this.membre.tutelles,
            statut: this.membre.statut,
            percETP: this.membre.percETP,
            engagementAssociatif: this.membre.engagementAssociatif,
            engagementInstitutionel: this.membre.engagementInstitutionel,
            engagementAutres: this.membre.engagementAutres,
            msgCommunication: this.membre.msgCommunication,
            msgEmpreinte: this.membre.msgEmpreinte,
            msgEnquete: this.membre.msgEnquete,
            msgExperimentation: this.membre.msgExperimentation,
            msgReflexion: this.membre.msgReflexion,
            msgTechnique: this.membre.msgTechnique,
            msgEnseignement: this.membre.msgEnseignement,
            isInAnnuaire: this.membre.isInAnnuaire
          })
            .then((response) => {
              loadingComponent.close()
              if ('error' in response) {
                this.erreur = 'Votre inscription au GDR a déjà été prise en compte. Pour toute information supplémentaire, veuillez nous contacter.'
              } else {
                this.$router.push({ name: 'merci' })
              }
            })
            .catch((erreur) => {
              loadingComponent.close()
              if (erreur.response.data.startsWith('IntegrityError at /api/add_membre_gdr/')) {
                this.erreur = 'L\'email renseigné est déjà utilisé.'
              } else {
                this.erreur = erreur.response.data
              }
            })
        }
      })
    },
    isDisabled: function () {
      return (!this.membre.email || !this.membre.nom || !this.membre.prenom || !this.membre.ville || !this.membre.disciplineCNU || !this.$refs.formulaireGDR.isOK())
    }
  }
}
</script>
