<i18n>
{
  "fr": {
    "label-1": "Modes (t eCO2)",
    "label-2": "Modes (km)",
    "label-3": "Motifs (t eCO2)",
    "label-4": "Motifs (km)",
    "label-5": "Emissions cumulées (%)",
    "label-6": "% des émissions totales cumulées",
    "label-7": "missions représentent"
  },
  "en": {
    "label-1": "Modes (t CO2e)",
    "label-2": "Modes (km)",
    "label-3": "Purposes (t CO2e)",
    "label-4": "Purposes (km)",
    "label-5": "Cumulative emissions (%)",
    "label-6": "% of total cumulative emissions",
    "label-7": "travels represent"
  }
}
</i18n>

<template>
  <div>
    <b-tabs class="block">
      <b-tab-item icon="bar-chart" :label="$t('label-5')">
        <br />
        <highcharts :options="sortedEmissionsOptions" />
      </b-tab-item>
      <b-tab-item icon="bar-chart" :label="$t('label-1')" v-if="hasStatutsOption">
        <br />
        <highcharts-column
          ref="ProEmissionStatuts"
          :categories="modesDeplacements"
          :yAxisTitle="$t('emissions.t.co2e.short')"
          :valueSuffix="$t('t.co2e')"
          :valueDecimals="2"
        ></highcharts-column>
        <br />
        <results-table
          :data="emissionsProStatuts"
          :columns="columnsModes()"
        ></results-table>
      </b-tab-item>
      <b-tab-item icon="bar-chart" :label="$t('label-2')" v-if="hasStatutsOption">
        <br />
        <highcharts-column
          ref="ProDistanceStatuts"
          :categories="modesDeplacements"
          :yAxisTitle="$t('distances.km')"
          :valueSuffix="$t('km')"
        ></highcharts-column>
        <br />
        <results-table
          :data="distancesProStatuts"
          :columns="columnsModes()"
        ></results-table>
      </b-tab-item>
      <b-tab-item icon="bar-chart" :label="$t('label-3')" v-if="!hasStatutsOption && hasMotifsOption">
        <br />
        <highcharts-column
          ref="ProEmissionMotifs"
          :categories="motifsDeplacements"
          :yAxisTitle="$t('emissions.t.co2e.short')"
          :valueSuffix="$t('t.co2e')"
          :valueDecimals="2"
        ></highcharts-column>
        <br />
        <results-table
          :data="emissionsProMotifs"
          :columns="columnsMotifs(false)"
        ></results-table>
      </b-tab-item>
      <b-tab-item icon="bar-chart" :label="$t('label-4')" v-if="!hasStatutsOption && hasMotifsOption">
        <br />
        <highcharts-column
          ref="ProDistanceMotifs"
          :categories="motifsDeplacements"
          :yAxisTitle="$t('distances.km')"
          :valueSuffix="$t('km')"
        ></highcharts-column>
        <br />
        <results-table
          :data="distancesProMotifs"
          :columns="columnsMotifs(false)"
        ></results-table>
      </b-tab-item>
      <b-tab-item icon="bar-chart" :label="$t('label-3')" v-if="hasStatutsOption && hasMotifsOption">
        <br />
        <highcharts-column
          ref="ProEmissionStatutsMotifs"
          :categories="motifsDeplacements"
          :yAxisTitle="$t('emissions.t.co2e.short')"
          :valueSuffix="$t('t.co2e')"
          :valueDecimals="2"
        ></highcharts-column>
        <br />
        <results-table
          :data="emissionsProStatutsMotifs"
          :columns="columnsMotifs()"
        ></results-table>
      </b-tab-item>
      <b-tab-item icon="bar-chart" :label="$t('label-4')" v-if="hasStatutsOption && hasMotifsOption">
        <br />
        <highcharts-column
          ref="ProDistanceStatutsMotifs"
          :categories="motifsDeplacements"
          :yAxisTitle="$t('distances.km')"
          :valueSuffix="$t('km')"
        ></highcharts-column>
        <br />
        <results-table
          :data="distancesProStatutsMotifs"
          :columns="columnsMotifs()"
        ></results-table>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import HighchartsColumn from '@/components/ges/results/utils/HighchartsColumn.vue'
import ResultsTable from '@/components/ges/results/utils/ResultsTable.vue'
import Mission from '@/models/Mission.js'
import '@/plugins/highcharts.js'

export default {
  name: 'PlotsTravels',
  components: {
    'highcharts-column': HighchartsColumn,
    'results-table': ResultsTable
  },
  computed: {
    modesDeplacements: function () {
      let modesDeplacements = []
      for (let mode of Mission.modesDeplacements) {
        modesDeplacements.push(this.$t(mode))
      }
      return modesDeplacements
    },
    motifsDeplacements: function () {
      let motifsDeplacements = []
      for (let mode of Mission.motifsDeplacements) {
        motifsDeplacements.push(this.$t(mode))
      }
      return motifsDeplacements
    },
    results: function () {
      return this.$store.getters['missions/results']
    },
    computed: function () {
      return this.$store.getters['missions/computed']
    },
    hasMotifsOption: function () {
      return this.$store.getters['missions/hasMotifsOption']()
    },
    hasStatutsOption: function () {
      return this.$store.getters['missions/hasStatutsOption']()
    },
    emissionsProStatuts: function () {
      return this.formatDataTable(
        this.results.statuts.total,
        this.modesDeplacements,
        this.results.statuts.totali,
        true
      )
    },
    emissionsProMotifs: function () {
      let i = 0
      let obj = {}
      for (let category of this.motifsDeplacements) {
        obj[category] = Math.round(this.results.motifs.total[i]) + ' +/- ' + Math.round(this.results.motifs.totali[i])
        i += 1
      }
      return [obj]
    },
    emissionsProStatutsMotifs: function () {
      return this.formatDataTable(
        this.results.statutsmotifs.total,
        this.motifsDeplacements,
        this.results.statutsmotifs.totali,
        true
      )
    },
    distancesProStatuts: function () {
      return this.formatDataTable(
        this.results.statuts.distances,
        this.modesDeplacements
      )
    },
    distancesProMotifs: function () {
      let i = 0
      let obj = {}
      for (let category of this.motifsDeplacements) {
        obj[category] = Math.round(this.results.motifs.distances[i])
        i += 1
      }
      return [obj]
    },
    distancesProStatutsMotifs: function () {
      return this.formatDataTable(
        this.results.statutsmotifs.distances,
        this.motifsDeplacements
      )
    },
    sortedEmissionsOptions: function () {
      let allEmissions = {}
      for (let travel of this.results.meta) {
        for (let id of travel.idMission) {
          if (id in allEmissions) {
            allEmissions[id] += travel.corrtotal
          } else {
            allEmissions[id] = travel.corrtotal
          }
        }
      }
      const cumulativeSum = ((sum) => (value) => {
        sum += value
        return sum
      })(0)
      allEmissions = Object.keys(allEmissions).map(function (k) { return parseFloat(allEmissions[k]) }).sort(function (a, b) {
        return b - a
      })
      allEmissions = allEmissions.map(cumulativeSum)
      let total = allEmissions[allEmissions.length - 1]
      let fiftyPerc = 0
      for (let emission of allEmissions) {
        let cPerc = (emission / total) * 100
        if (cPerc >= 50) {
          break
        }
        if (fiftyPerc < cPerc) {
          fiftyPerc = cPerc
        }
      }
      let twentyPerc = 0
      for (let emission of allEmissions) {
        let cPerc = (emission / total) * 100
        if (cPerc >= 25) {
          break
        }
        if (twentyPerc < cPerc) {
          twentyPerc = cPerc
        }
      }
      let seventyPerc = 0
      for (let emission of allEmissions) {
        let cPerc = (emission / total) * 100
        if (cPerc >= 75) {
          break
        }
        if (seventyPerc < cPerc) {
          seventyPerc = cPerc
        }
      }
      return {
        chart: {
          type: 'column'
        },
        title: {
          text: ''
        },
        credits: {
          enabled: false
        },
        legend: {
          enabled: false
        },
        xAxis: {
          categories: Array.from(Array(allEmissions.length).keys()).map(val => val + 1)
        },
        tooltip: {
          headerFormat: '<b>{point.key}</b> ' + this.$t('label-7'),
          pointFormat: ' <b>{point.y}</b>' + this.$t('label-6'),
          valueDecimals: 2
        },
        yAxis: {
          max: 100,
          tickInterval: 10,
          title: {
            text: this.$t('label-6')
          },
          plotLines: [
            {
              value: 25,
              color: 'red',
              width: 1,
              dashStyle: 'ShortDash'
            },
            {
              value: 50,
              color: 'red',
              width: 1,
              dashStyle: 'ShortDash'
            },
            {
              value: 75,
              color: 'red',
              width: 1,
              dashStyle: 'ShortDash'
            }
          ]
        },
        exporting: {
          buttons: {
            contextButton: {
              menuItems: ['downloadPNG', 'downloadJPEG', 'downloadPDF', 'downloadSVG']
            }
          },
          chartOptions: {
            chart: {
              width: 750,
              height: 400
            }
          }
        },
        series: [{
          data: allEmissions.map(val => {
            let y = (val / total) * 100
            let color = null
            if (y === fiftyPerc) {
              color = 'red'
            } else if (y === twentyPerc) {
              color = 'red'
            } else if (y === seventyPerc) {
              color = 'red'
            }
            return {
              y: y,
              color: color
            }
          })
        }]
      }
    }
  },
  methods: {
    columnsModes: function () {
      return this.getColumns(this.modesDeplacements)
    },
    columnsMotifs: function (withstatus = true) {
      return this.getColumns(this.motifsDeplacements, withstatus)
    },
    getColumns: function (table, withstatus = true) {
      let columns = []
      if (withstatus) {
        columns.push({
          'field': this.$t('status'),
          'label': this.$t('status'),
          'sticky': true
        })
      }
      for (let mode of table) {
        columns.push({
          'field': mode,
          'label': this.$t(mode),
          'numeric': true
        })
      }
      return columns
    },
    formatDataTable: function (data, cols, datai = null, intons = false) {
      let toReturn = []
      if (this.computed) {
        for (let statut of Object.keys(data)) {
          let catObject = {}
          let i = 0
          for (let cat of cols) {
            if (datai === null) {
              if (intons) {
                catObject[cat] = this.$options.filters.splitNumberTons(data[statut][i])
              } else {
                catObject[cat] = this.$options.filters.splitNumber(data[statut][i])
              }
            } else {
              if (intons) {
                catObject[cat] = '<nobr>' + this.$options.filters.splitNumberTons(data[statut][i]) + ' +/- ' + this.$options.filters.splitNumberTons(datai[statut][i]) + '</nobr>'
              } else {
                catObject[cat] = '<nobr>' + this.$options.filters.splitNumber(data[statut][i]) + ' +/- ' + this.$options.filters.splitNumber(datai[statut][i]) + '</nobr>'
              }
            }
            i += 1
          }
          if (statut === Mission.STATUS_RESEARCHER) {
            catObject[this.$t('status')] = '<nobr>' + this.$t(Mission.STATUS_RESEARCHER) + '</nobr>'
          } else if (statut === Mission.STATUS_ENGINEER) {
            catObject[this.$t('status')] = '<nobr>' + this.$t(Mission.STATUS_ENGINEER) + '</nobr>'
          } else if (statut === Mission.STATUS_STUDENT) {
            catObject[this.$t('status')] = '<nobr>' + this.$t(Mission.STATUS_STUDENT) + '</nobr>'
          } else {
            catObject[this.$t('status')] = '<nobr>' + this.$t(Mission.STATUS_GUEST) + '</nobr>'
          }
          toReturn.push(catObject)
        }
      }
      return toReturn
    },
    formatDataChart: function (data, intons = false) {
      let toReturn = []
      for (let statut of [Mission.STATUS_RESEARCHER, Mission.STATUS_ENGINEER, Mission.STATUS_STUDENT, Mission.STATUS_GUEST]) {
        if (intons) {
          toReturn.push({
            name: this.$t(statut),
            data: data[statut].map(val => val / 1000)
          })
        } else {
          toReturn.push({
            name: this.$t(statut),
            data: data[statut]
          })
        }
      }
      return toReturn
    },
    formatDataiChart: function (data, datai) {
      let toReturn = []
      for (let statut of [Mission.STATUS_RESEARCHER, Mission.STATUS_ENGINEER, Mission.STATUS_STUDENT, Mission.STATUS_GUEST]) {
        toReturn.push({
          data: data[statut].map((obj, i) => {
            return [obj / 1000 - datai[statut][i] / 1000, obj / 1000 + datai[statut][i] / 1000]
          })
        })
      }
      return toReturn
    },
    process: function () {
      if (this.computed) {
        if (this.hasStatutsOption) {
          this.$refs.ProDistanceStatuts.setData(
            this.formatDataChart(this.results.statuts.distances)
          )
          this.$refs.ProEmissionStatuts.setData(
            this.formatDataChart(
              this.results.statuts.total,
              true
            ),
            this.formatDataiChart(
              this.results.statuts.total,
              this.results.statuts.totali
            )
          )
          this.$refs.ProDistanceStatutsMotifs.setData(
            this.formatDataChart(this.results.statutsmotifs.distances)
          )
          this.$refs.ProEmissionStatutsMotifs.setData(
            this.formatDataChart(
              this.results.statutsmotifs.total,
              true
            ),
            this.formatDataiChart(
              this.results.statutsmotifs.total,
              this.results.statutsmotifs.totali
            )
          )
        }
        if (!this.hasStatutsOption && this.hasMotifsOption) {
          this.$refs.ProDistanceMotifs.setData([{
            data: this.results.motifs.distances
          }])
          this.$refs.ProEmissionMotifs.setData(
            [{
              data: this.results.motifs.total
            }],
            [{
              data: this.results.motifs.total.map((obj, i) => {
                return [obj - this.results.motifs.totali[i], obj + this.results.motifs.totali[i]]
              })
            }]
          )
        }
      }
    }
  },
  mounted () {
    if (!this.$store.getters['missions/computed']) {
      this.$store.dispatch('missions/compute')
    }
    this.process()
  }
}
</script>

<style>
.is-sticky {
  background: #fafafa !important;
}
</style>
