<i18n>
{
  "fr": {
    "label-1": "Poste",
    "label-2": "Description",
    "label-3": "Scope",
    "label-4": "Autres",
    "label-5": "Total (t eCO2)",
    "post-1": "Emissions directes des sources fixes de combustion",
    "post-2": "Emissions directes des sources mobiles à moteur thermique",
    "post-3": "Emissions directes des procédés hors énergie",
    "post-4": "Emissions directes fugitives",
    "post-5": "Emissions issues de la biomasse (sols et forêts)",
    "post-6": "Emissions indirectes liées à la consommation d'électricité",
    "post-7": "Emissions indirectes liées à la consommation de vapeur, chaleur ou froid",
    "post-8": "Emissions liées à l'énergie non incluses dans les catégories 'émissions directes de GES' et les 'émissions indirectes associées à l’énergie'",
    "post-9": "Achats de produits ou services",
    "post-10": "Immobilisations de biens",
    "post-11": "Déchets",
    "post-12": "Transport de marchandises amont",
    "post-13": "Déplacements professionnels",
    "post-14": "Actifs en leasing amont",
    "post-15": "Investissements",
    "post-16": "Transport de visiteurs et de clients",
    "post-17": "Transport de marchandises aval",
    "post-18": "Utilisation des produits vendus",
    "post-19": "Fin de vie de produits vendus",
    "post-20": "Franchise aval",
    "post-21": "Leasing aval",
    "post-22": "Déplacements domicile travail",
    "post-23": "Autres émissions indirectes",
    "nc": "Non calculé",
    "nc.short": "n.c.",
    "sub-total": "Sous-total"
  },
  "en": {
    "label-1": "Source",
    "label-2": "Description",
    "label-3": "Scope",
    "label-4": "Others",
    "label-5": "Total (t CO2e)",
    "post-1": "Direct emissions from stationary combustion sources.",
    "post-2": "Direct emissions from mobile combustion sources",
    "post-3": "Direct emissions from non-energy processes",
    "post-4": "Direct fugitive emissions",
    "post-5": "Emissions from biomass (soils, forests)",
    "post-6": "Indirect  emissions from purchased electricity",
    "post-7": "Indirect emissions from steam, heating or cooling",
    "post-8": "Energy-related emissions non included in the «Direct emissions» and «Indirect emissions associated with energy» categories",
    "post-9": "Purchased goods and services",
    "post-10": "Fixed assets",
    "post-11": "Waste",
    "post-12": "Upstream transportation of goods",
    "post-13": "Business travel",
    "post-14": "Upstream leased assets",
    "post-15": "Investments",
    "post-16": "Customer and visitor travel",
    "post-17": "Downstream transportation of goods",
    "post-18": "Use of sold products",
    "post-19": "End of life of sold products",
    "post-20": "Downstream franchises",
    "post-21": "Downstream leased assets",
    "post-22": "Employee commuting",
    "post-23": "Other indirect emissions",
    "nc": "Not computed",
    "nc.short": "n.c.",
    "sub-total": "Subtotal"
  }
}
</i18n>

<template>
  <div>
    <b-table :data="emissionsPostes" hoverable>
      <b-table-column
        v-slot="props"
        field="poste"
        width="150"
        :label="$t('label-1')"
        centered
      >
        <span v-if="props.row.poste!=='Sous-total'">#</span>{{ props.row.poste }}
      </b-table-column>
      <b-table-column
        field="posteDef"
        width="300"
        :label="$t('label-2')"
        v-slot="props"
      >
        <span v-if="props.row.posteDef.length < 27">
          {{ props.row.posteDef }}
        </span>
        <span v-else>
          <b-tooltip multilined :label="props.row.posteDef" type="is-info">
            {{ props.row.posteDef | nomTronque(25) }}
          </b-tooltip>
        </span>
      </b-table-column>
      <b-table-column
        field="scope"
        :label="$t('label-3')"
        centered
        v-slot="props"
      >
        <span class="tag is-success" v-if="props.row.scope==='1'">
          Scope {{ props.row.scope }}
        </span>
        <span class="tag is-warning" v-if="props.row.scope==='2'">
          Scope {{ props.row.scope }}
        </span>
        <span class="tag is-info" v-if="props.row.scope==='3'">
          Scope {{ props.row.scope }}
        </span>
      </b-table-column>
      <b-table-column
        field="co2"
        label="CO2"
        numeric
        v-slot="props"
      >
        <span v-if="!props.row.computed && props.row.co2 !== null">
          <b-tooltip
            dashed
            :label="$t('nc')"
            type="is-info"
          >
            {{ $t('nc.short') }}
          </b-tooltip>
        </span>
        <span v-else-if="props.row.co2 !== null">{{ Math.round(props.row.co2) | splitNumberTons }}</span>
      </b-table-column>
      <b-table-column
        field="ch4"
        label="CH4"
        numeric
        v-slot="props"
      >
        <span v-if="!props.row.computed && props.row.ch4 !== null">
          <b-tooltip
            dashed
            :label="$t('nc')"
            type="is-info"
          >
            {{ $t('nc.short') }}
          </b-tooltip>
        </span>
        <span v-else-if="props.row.ch4 !== null">{{ Math.round(props.row.ch4) | splitNumberTons }}</span>
      </b-table-column>
      <b-table-column
        field="n2o"
        label="N2O"
        v-slot="props"
        numeric
      >
        <span v-if="!props.row.computed && props.row.n2o !== null">
          <b-tooltip
            dashed
            :label="$t('nc')"
            type="is-info"
          >
            {{ $t('nc.short') }}
          </b-tooltip>
        </span>
        <span v-else-if="props.row.n2o !== null">{{ Math.round(props.row.n2o) | splitNumberTons }}</span>
      </b-table-column>
      <b-table-column
        field="autre"
        v-slot="props"
        :label="$t('label-4')"
        numeric
      >
        <span v-if="!props.row.computed && props.row.autre !== null">
          <b-tooltip
            dashed
            :label="$t('nc')"
            type="is-info"
          >
            {{ $t('nc.short') }}
          </b-tooltip>
        </span>
        <span v-else-if="props.row.autre !== null">{{ Math.round(props.row.autre) | splitNumberTons }}</span>
      </b-table-column>
      <b-table-column
        field="total"
        :label="$t('label-5')"
        v-slot="props"
        width="150"
        numeric
      >
        <span v-if="!props.row.computed">
          <b-tooltip
            dashed
            :label="$t('nc')"
            type="is-info"
          >
            {{ $t('nc.short') }}
          </b-tooltip>
        </span>
        <span v-else>{{ Math.round(props.row.total) | splitNumberTons }}</span>
        <span v-if="props.row.computed && props.row.totali !== null"> &plusmn; {{ Math.round(props.row.totali) | splitNumberTons }}</span>
      </b-table-column>
      <b-table-column field="poste" label="" centered>
      </b-table-column>
      <template v-slot:footer>
        <th style="width:40px">
          <div class="th-wrap is-centered"> {{ $t('total') }} </div>
        </th>
        <th>
          <div class="th-wrap"></div>
        </th>
        <th>
          <div class="th-wrap"></div>
        </th>
        <th>
          <div class="th-wrap"></div>
        </th>
        <th>
          <div class="th-wrap"></div>
        </th>
        <th>
          <div class="th-wrap"></div>
        </th>
        <th>
          <div class="th-wrap"></div>
        </th>
        <th>
          <div class="th-wrap is-numeric">
            {{ Math.round(emissionTotale) | splitNumberTons }}
            &plusmn; {{ Math.round(emissionTotaleIncertitude) | splitNumberTons }}
          </div>
        </th>
        <th>
          <div class="th-wrap">
            <b-tooltip
              :label="$t('display')"
              type="is-black"
            >
              <b-button
                size="is-small"
                icon-right="bar-chart"
                @click="plotsVisible=true"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('download')"
              type="is-black"
            >
              <b-button
                size="is-small"
                icon-right="download"
                @click="csvExport()"
              />
            </b-tooltip>
          </div>
        </th>
      </template>
    </b-table>
    <b-modal
      :active.sync="plotsVisible"
      has-modal-card
    >
      <div class="modal-card" style="width: 1100px; height: auto">
        <section class="modal-card-body">
          <plots-regulatory
            :title="graphicTitle"
            :data0="graphicDataTons0"
            :data1="graphicDataTons1"
            :data2="graphicDataTons2"
            :drill0="drillDataTons0"
            :drill1="drillDataTons1"
            :drill2="drillDataTons2"
          />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import '@/plugins/highcharts.js'
import Purchase from '@/models/Purchase.js'

export default {
  name: 'RegulatoryInventory',
  components: {
    'plots-regulatory': () => import('@/components/ges/results/PlotsRegulatory.vue')
  },
  data () {
    return {
      graphicTitle: '',
      graphicData0: 100.0,
      graphicData1: 100.0,
      graphicData2: 100.0,
      drillData0: [],
      drillData1: [],
      drillData2: [],
      plotsVisible: false
    }
  },
  computed: {
    graphicDataTons0: function () {
      return (this.graphicData0 / 1000)
    },
    graphicDataTons1: function () {
      return (this.graphicData1 / 1000)
    },
    graphicDataTons2: function () {
      return (this.graphicData2 / 1000)
    },
    drillDataTons0: function () {
      let drillDataTons0 = []
      for (let source of this.drillData0) {
        drillDataTons0.push([source[0], source[1] / 1000])
      }
      return drillDataTons0
    },
    drillDataTons1: function () {
      let drillDataTons1 = []
      for (let source of this.drillData1) {
        drillDataTons1.push([source[0], source[1] / 1000])
      }
      return drillDataTons1
    },
    drillDataTons2: function () {
      let drillDataTons2 = []
      for (let source of this.drillData2) {
        drillDataTons2.push([source[0], source[1] / 1000])
      }
      return drillDataTons2
    },
    emissionTotale: function () {
      return this.emissionsPostes[5].total + this.emissionsPostes[8].total + this.emissionsPostes[25].total
    },
    emissionTotaleIncertitude: function () {
      return this.emissionsPostes[5].totali + this.emissionsPostes[8].totali + this.emissionsPostes[25].totali
    },
    emissionsPostes: function () {
      return [
        {
          'poste': '1',
          'scope': '1',
          'computed': false,
          'posteDef': this.$t('post-1'),
          'co2': 0,
          'ch4': 0,
          'n2o': 0,
          'autre': 0,
          'total': 0,
          'totali': 0

        },
        {
          'poste': '2',
          'scope': '1',
          'computed': false,
          'posteDef': this.$t('post-2'),
          'co2': 0,
          'ch4': 0,
          'n2o': 0,
          'autre': 0,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '3',
          'scope': '1',
          'computed': false,
          'posteDef': this.$t('post-3'),
          'co2': 0,
          'ch4': 0,
          'n2o': 0,
          'autre': 0,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '4',
          'scope': '1',
          'computed': false,
          'posteDef': this.$t('post-4'),
          'co2': 0,
          'ch4': 0,
          'n2o': 0,
          'autre': 0,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '5',
          'scope': '1',
          'computed': false,
          'posteDef': this.$t('post-5'),
          'co2': 0,
          'ch4': 0,
          'n2o': 0,
          'autre': 0,
          'total': 0,
          'totali': 0
        },
        {
          'poste': this.$t('sub-total'),
          'scope': '1',
          'computed': true,
          'posteDef': '',
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '6',
          'scope': '2',
          'computed': false,
          'posteDef': this.$t('post-6'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '7',
          'scope': '2',
          'computed': false,
          'posteDef': this.$t('post-7'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': this.$t('sub-total'),
          'scope': '2',
          'computed': true,
          'posteDef': '',
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '8',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-8'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '9',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-9'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '10',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-10'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '11',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-11'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '12',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-12'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '13',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-13'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '14',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-14'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '15',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-15'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '16',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-16'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '17',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-17'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '18',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-18'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '19',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-19'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '20',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-20'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '21',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-21'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '22',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-22'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': '23',
          'scope': '3',
          'computed': false,
          'posteDef': this.$t('post-23'),
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        },
        {
          'poste': this.$t('sub-total'),
          'scope': '3',
          'computed': true,
          'posteDef': '',
          'co2': null,
          'ch4': null,
          'n2o': null,
          'autre': null,
          'total': 0,
          'totali': 0
        }
      ]
    }
  },
  methods: {
    csvExport () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += [
        Object.keys(this.emissionsPostes[0]).filter(column => !column.startsWith('_')).join('\t'),
        ...this.emissionsPostes.map(function (item) {
          let toReturn = ''
          for (let colName of Object.keys(item).filter(column => !column.startsWith('_'))) {
            toReturn += item[colName] + '\t'
          }
          return (toReturn)
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'bilanReglementaire_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    setGraphicData () {
      this.drillData0 = []
      this.drillData1 = []
      this.drillData2 = []
      this.graphicData0 = Math.round(this.emissionsPostes[5].total)
      this.graphicData1 = Math.round(this.emissionsPostes[8].total)
      this.graphicData2 = Math.round(this.emissionsPostes[25].total)
      for (let i of [...Array(5).keys()]) {
        if (this.emissionsPostes[i].total > 0) {
          this.drillData0.push([
            this.emissionsPostes[i].posteDef,
            Math.round(this.emissionsPostes[i].total)
          ])
        }
      }
      if (this.emissionsPostes[6].total > 0) {
        this.drillData1.push([
          this.emissionsPostes[6].posteDef,
          Math.round(this.emissionsPostes[6].total)
        ])
      }
      if (this.emissionsPostes[7].total > 0) {
        this.drillData2.push([
          this.emissionsPostes[7].posteDef,
          Math.round(this.emissionsPostes[7].total)
        ])
      }
      let ids = [...Array(16).keys()]
      ids = ids.map(x => x + 9)
      for (let i of ids) {
        if (this.emissionsPostes[i].total > 0) {
          this.drillData2.push([
            this.emissionsPostes[i].posteDef,
            Math.round(this.emissionsPostes[i].total)
          ])
        }
      }
    },
    processBuildings () {
      if (this.$store.getters['buildings/computed']) {
        let emissions = this.$store.getters['buildings/results']
        let index1 = this.emissionsPostes.findIndex(obj => obj.poste === '1')
        let index4 = this.emissionsPostes.findIndex(obj => obj.poste === '4')
        let index6 = this.emissionsPostes.findIndex(obj => obj.poste === '6')
        let index7 = this.emissionsPostes.findIndex(obj => obj.poste === '7')
        let index8 = this.emissionsPostes.findIndex(obj => obj.poste === '8')
        // emissions chauffage
        this.emissionsPostes[index1].co2 += emissions.chauffage.controled.co2c
        this.emissionsPostes[index1].ch4 += emissions.chauffage.controled.ch4c
        this.emissionsPostes[index1].n2o += emissions.chauffage.controled.n2oc
        this.emissionsPostes[index1].n2o += emissions.chauffage.controled.autrec
        this.emissionsPostes[index1].total += emissions.chauffage.controled.totalc
        this.emissionsPostes[index1].totali += emissions.chauffage.controled.totalci
        this.emissionsPostes[index1].computed = true
        this.emissionsPostes[index7].total += emissions.chauffage.uncontroled.totalc
        this.emissionsPostes[index7].totali += emissions.chauffage.uncontroled.totalci
        this.emissionsPostes[index7].computed = true
        this.emissionsPostes[index8].total += emissions.chauffage.controled.totala + emissions.chauffage.uncontroled.totala
        this.emissionsPostes[index8].totali += emissions.chauffage.controled.totalai + emissions.chauffage.uncontroled.totalai
        this.emissionsPostes[index8].computed = true
        // emissions electricite
        this.emissionsPostes[index6].total += emissions.electricite.totalc
        this.emissionsPostes[index6].totali += emissions.electricite.totalci
        this.emissionsPostes[index6].computed = true
        this.emissionsPostes[index8].total += emissions.electricite.totala
        this.emissionsPostes[index8].totali += emissions.electricite.totalai
        this.emissionsPostes[index8].computed = true
        // emissions gaz refrigerants
        this.emissionsPostes[index4].autre += emissions.gazRefrigerant.total
        this.emissionsPostes[index4].total += emissions.gazRefrigerant.total
        this.emissionsPostes[index4].totali += emissions.gazRefrigerant.totali
        this.emissionsPostes[index4].computed = true
      }
    },
    processVehicles () {
      if (this.$store.getters['vehicles/computed']) {
        let emissions = this.$store.getters['vehicles/results']
        let index2 = this.emissionsPostes.findIndex(obj => obj.poste === '2')
        let index8 = this.emissionsPostes.findIndex(obj => obj.poste === '8')
        let index13 = this.emissionsPostes.findIndex(obj => obj.poste === '13')
        this.emissionsPostes[index2].co2 += emissions.controled.co2c
        this.emissionsPostes[index2].ch4 += emissions.controled.ch4c
        this.emissionsPostes[index2].n2o += emissions.controled.n2oc
        this.emissionsPostes[index2].autre += emissions.controled.autrec
        this.emissionsPostes[index2].total += emissions.controled.totalc
        this.emissionsPostes[index2].totali += emissions.controled.totalci
        this.emissionsPostes[index2].computed = true
        this.emissionsPostes[index8].total += emissions.controled.totala
        this.emissionsPostes[index8].totali += emissions.controled.totalai
        this.emissionsPostes[index8].computed = true
        this.emissionsPostes[index13].total += emissions.controled.totalf
        this.emissionsPostes[index13].totali += emissions.controled.totalfi
        this.emissionsPostes[index13].total += emissions.uncontroled.totalc + emissions.uncontroled.totala + emissions.uncontroled.totalf
        this.emissionsPostes[index13].totali += emissions.uncontroled.totalci + emissions.uncontroled.totalai + emissions.uncontroled.totalfi
        this.emissionsPostes[index13].computed = true
      }
    },
    processCommutes () {
      if (this.$store.getters['commutes/computed']) {
        let emissions = this.$store.getters['commutes/results']
        // affecte la valeur au poste demission
        let index22 = this.emissionsPostes.findIndex(obj => obj.poste === '22')
        this.emissionsPostes[index22].total = emissions.total
        this.emissionsPostes[index22].totali = emissions.totali
        this.emissionsPostes[index22].computed = true
      }
    },
    processMissions () {
      if (this.$store.getters['missions/computed']) {
        let emissions = this.$store.getters['missions/results']
        // affecte la valeur au poste demission
        let index13 = this.emissionsPostes.findIndex(obj => obj.poste === '13')
        this.emissionsPostes[index13].total += emissions.total
        this.emissionsPostes[index13].totali += emissions.totali
        this.emissionsPostes[index13].computed = true
      }
    },
    processComputerDevices () {
      if (this.$store.getters['computerdevices/computed']) {
        let emissions = this.$store.getters['computerdevices/results']
        // affecte la valeur au poste demission
        let index10 = this.emissionsPostes.findIndex(obj => obj.poste === '10')
        this.emissionsPostes[index10].total += emissions.total
        this.emissionsPostes[index10].totali += emissions.totali
        this.emissionsPostes[index10].computed = true
      }
    },
    processPurchases () {
      if (this.$store.getters['purchases/computed']) {
        let emissions = this.$store.getters['purchases/results']
        // affecte la valeur au poste d'emission
        for (let scat of Object.keys(emissions.scope3)) {
          let cindex = this.emissionsPostes.findIndex(obj => obj.poste === scat)
          if (cindex !== -1) {
            this.emissionsPostes[cindex].total += emissions.scope3[scat].total
            this.emissionsPostes[cindex].totali += emissions.scope3[scat].totali
          }
        }
        // set as computed all purchases scopes
        for (let scope3 of Purchase.getScope3()) {
          let cindex = this.emissionsPostes.findIndex(obj => obj.poste === scope3.toString())
          if (cindex !== -1) {
            this.emissionsPostes[cindex].computed = true
          }
        }
      }
    },
    resetEmissionsPostes () {
      for (let emission of this.emissionsPostes) {
        if (emission.co2 !== null) {
          emission.co2 = 0
        }
        if (emission.ch4 !== null) {
          emission.ch4 = 0
        }
        if (emission.n2o !== null) {
          emission.n2o = 0
        }
        if (emission.autre !== null) {
          emission.autre = 0
        }
        emission.total = 0
        emission.totali = 0
      }
    },
    roundValues () {
      for (let i of [...Array(5).keys()]) {
        this.emissionsPostes[i].co2 = Math.round(this.emissionsPostes[i].co2)
        this.emissionsPostes[i].ch4 = Math.round(this.emissionsPostes[i].ch4)
        this.emissionsPostes[i].n2o = Math.round(this.emissionsPostes[i].n2o)
        this.emissionsPostes[i].autre = Math.round(this.emissionsPostes[i].autre)
        this.emissionsPostes[i].total = Math.round(this.emissionsPostes[i].total)
        this.emissionsPostes[i].totali = Math.round(this.emissionsPostes[i].totali)
      }
      this.emissionsPostes[6].total = Math.round(this.emissionsPostes[6].total)
      this.emissionsPostes[6].totali = Math.round(this.emissionsPostes[6].totali)
      this.emissionsPostes[7].total = Math.round(this.emissionsPostes[7].total)
      this.emissionsPostes[7].totali = Math.round(this.emissionsPostes[7].totali)
      let ids = [...Array(16).keys()]
      ids = ids.map(x => x + 9)
      for (let i of ids) {
        this.emissionsPostes[i].total = Math.round(this.emissionsPostes[i].total)
        this.emissionsPostes[i].totali = Math.round(this.emissionsPostes[i].totali)
      }
    },
    updateTotaux () {
      this.emissionsPostes[5].total = 0
      this.emissionsPostes[5].totali = 0
      for (let i of [...Array(5).keys()]) {
        this.emissionsPostes[5].total += this.emissionsPostes[i].total
        this.emissionsPostes[5].totali += this.emissionsPostes[i].totali
      }
      this.emissionsPostes[8].total = this.emissionsPostes[6].total + this.emissionsPostes[7].total
      this.emissionsPostes[8].totali = this.emissionsPostes[6].totali + this.emissionsPostes[7].totali
      this.emissionsPostes[25].total = 0
      this.emissionsPostes[25].totali = 0
      let ids = [...Array(16).keys()]
      ids = ids.map(x => x + 9)
      for (let i of ids) {
        this.emissionsPostes[25].total += this.emissionsPostes[i].total
        this.emissionsPostes[25].totali += this.emissionsPostes[i].totali
      }
    },
    process () {
      // reset values
      this.resetEmissionsPostes()
      if (!this.$store.getters['buildings/computed']) {
        this.$store.dispatch('buildings/compute')
      }
      if (!this.$store.getters['vehicles/computed']) {
        this.$store.dispatch('vehicles/compute')
      }
      if (!this.$store.getters['commutes/computed']) {
        this.$store.dispatch('commutes/compute')
      }
      if (!this.$store.getters['missions/computed']) {
        this.$store.dispatch('missions/compute')
      }
      if (!this.$store.getters['computerdevices/computed']) {
        this.$store.dispatch('computerdevices/compute')
      }
      if (!this.$store.getters['purchases/computed']) {
        this.$store.dispatch('purchases/compute')
      }
      this.processBuildings()
      this.processVehicles()
      this.processCommutes()
      this.processMissions()
      this.processComputerDevices()
      this.processPurchases()
      // mise a jour des totaux
      // this.roundValues()
      this.updateTotaux()
      // affichage des graphs
      this.setGraphicData()
    }
  },
  watch: {
    '$i18n.locale': function () {
      this.process()
    }
  },
  mounted () {
    this.process()
  }
}
</script>
