<i18n>
{
  "fr": {
    "tab-1": "Tableau de synthèse (kg eCO2)",
    "title-1": "Soumission des données",
    "title-2": "Soumission impossible",
    "info-1": "Les résultats fournis par GES 1point5 se basent sur la réglementation française qui préconise, pour l'aviation, de prendre en compte les émissions de GES liées à la combustion et à l'amont du combustible, sans inclure les émissions liées aux traînées de condensation. Le forçage radiatif de ces traînées est important même si son ampleur précise est incertaine. Pour cela, GES 1point5 affiche aussi, à titre indicatif, l'<strong>empreinte carbone totale</strong> du laboratoire en <strong>incluant les traînées</strong> dans les émissions des déplacements en avion : ",
    "label-1": "Part de l'empreinte totale",
    "label-2": "Empreinte carbone du laboratoire",
    "label-3": "Empreinte carbone <em>per capita</em>",
    "label-4": "Intensité carbone",
    "label-5": "Soumis",
    "tooltip-1": "Les enseignants-chercheurs ont une quotité d’appartenance au labo de 50% ; cela signifie que les émissions qu’ils /elles génèrent par leurs consommations d’énergie liées au chauffage de leur bureau et à l’électricité ne sont imputées au labo qu’à hauteur de 50%, que ces personnes passent 100% du temps dans leur bureau du labo, ou aient un autre bureau ailleurs). Les autres personnes du labo ont une quotité d’appartenance au labo de 100%.",
    "tooltip-2": "La quotité totale du laboratoire est de",
    "tooltip-3": "personnes",
    "tooltip-4": "L'intensité carbone correspond aux émissions par euro de budget dépensé.",
    "post-1": "Empreinte carbone des bâtiments",
    "post-2": "Empreinte carbone du matériel informatique",
    "post-3": "Empreinte carbone des déplacements",
    "post-4": "Déplacements domicile-travail",
    "post-5": "Déplacements professionnels",
    "post-6": "Les véhicules",
    "post-7": "Les missions",
    "post-8": "Empreinte carbone totale",
    "post-9": "Empreinte carbone des achats",
    "error-1": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Déplacements domicile / travail »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Vous pouvez réaliser l'enquête domicile / travail en suivant les instructions dans l'onglet correspondant à ce module.",
    "error-2": "Veuillez désactiver l'enquête domicile / travail de ce BGES avant de le soumettre.",
    "error-3": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Les missions »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Veuillez demander à votre gestionnaire un export des missions afin de les importer dans l'outil.",
    "error-4": "Des <strong>données d'éléctricité sont manquantes</strong> pour le <strong>module « Les bâtiments »</strong>. Celles-ci sont <strong>requises</strong> pour la soumission.",
    "error-5": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Achats »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Veuillez demander à votre gestionnaire un export des achats afin de les importer dans l'outil."
  },
  "en": {
    "tab-1": "Overview table (kg CO2e)",
    "title-1": "Data submission",
    "title-2": "Data submission not possible",
    "info-1": "The results provided by GES 1point5 are based on the French regulation that advocates, for aviation emissions, to take into account the emissions linked to fuel combustion, and to exclude emissions from condensation trails. The radiative forcing of these contrails is significant even if its magnitude is still uncertain. Therefore, GES 1point5 also displays for information, the <strong>total carbon footprint</strong> of the laboratory <strong>including contrails</strong> in the emissions from air travel : ",
    "label-1": "Share of the total footprint",
    "label-2": "Carbon footprint of the laboratory",
    "label-3": "Carbon footprint <em>per capita</em>",
    "label-4": "Carbon intensity",
    "label-5": "Submitted",
    "tooltip-1": "The teaching staff (lecturers, professors) have a  membership ratio of 50%; this means that the emissions they generate through their energy consumption related to office heating and electricity are only attributed to the lab at 50%, whether they spend 100% of their time in their lab office or have another office elsewhere. The other people in the lab have a lab share of 100%.",
    "tooltip-2": "The total member-equivalent count of the laboratory is",
    "tooltip-3": "members",
    "tooltip-4": "The carbon intensity is the ratio of emissions generated by one euro of budget expenditures.",
    "post-1": "Carbon footprint of buildings",
    "post-2": "Carbon footprint of digital devices",
    "post-3": "Carbon footprint of travels",
    "post-4": "Commuting",
    "post-5": "Professional travel",
    "post-6": "Vehicles",
    "post-7": "Business travel",
    "post-8": "Total carbon footprint",
    "post-9": "Carbon footprint of purchases",
    "error-1": "<strong>No data available</strong> for the <strong>« Commuting » module</strong>. This module is <strong>required</strong> for data submission. <br /> You can carry out the commuting survey by following the instructions in the tab corresponding to this module.",
    "error-2": "Please deactivate the commuting survey of this GHG inventory before submitting the inventory",
    "error-3": "<strong>No data available</strong> for the <strong>« Travel » module</strong>. This module is <strong>required</strong> for data submission. <br /> Please ask your accounting department for an export of the trips in order to import them into the tool.",
    "error-4": "Some <strong> electricity data are missing</strong> for the <strong>« Building » module</strong>. These ones are <strong>required</strong> for data submission.",
    "error-5": "<strong>No data available</strong> for the <strong>« Purchase » module</strong>. This module is <strong>required</strong> for data submission. <br /> Please ask your accounting department for an export of the purchases in order to import them into the tool."
  }
}
</i18n>

<template>
  <div>
    <b-modal
      :can-cancel="['escape', 'x', 'outside']"
      :active.sync="displayModal"
      has-modal-card
    >
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-1') }}
          </p>
        </header>
        <section class="modal-card-body">
          <data-submission
            @data-submitted="forceComputeAllModules"
            :module="currentModule"
          />
        </section>
      </div>
    </b-modal>
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-distance">
                {{ $t('label-2') }}
              </p>
              <div class="title is-size-4 has-text-distance">
                <p>
                  {{ syntheseData.total.total | splitNumberTons }} &plusmn; {{ syntheseData.total.totali | splitNumberTons }}
                  <span class="is-size-6">{{ $t('t.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-carbone">
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-top"
                  dashed type="is-info"
                >
                  <span v-html="$t('label-3')" />
                  <template v-slot:content>
                    {{ $t('tooltip-1') }}
                    <br />
                    {{ $t('tooltip-2') }} <strong>{{ totalPerCapita }} {{ $t('tooltip-3') }}</strong>.
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone">
                <p>
                  {{ emissionsPerCapita | splitNumber }} &plusmn; {{ emissionsiPerCapita | splitNumber }}
                  <span class="is-size-6">{{ $t('kg.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-carbone2">
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-top"
                  dashed type="is-info"
                >
                  {{ $t('label-4') }}
                  <template v-slot:content>
                    {{ $t('tooltip-4') }}
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone2">
                <p>
                  {{ (syntheseData.total.total / budget) * 1000 | splitNumber }} &plusmn; {{ (syntheseData.total.totali / budget) * 1000 | splitNumber }}
                  <span class="is-size-6">{{ $t('g.co2e') }} / €</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
    </div>
    <b-notification
      v-if="Math.round(totalnr) !== Math.round(syntheseData.total.total)"
      :closable="false"
    >
      <i style="font-size: 22px; margin-right: 10px;" class="sui sui-info-circle"></i>
      <span v-html="$t('info-1')"></span> <strong>{{ Math.round(totalnr) | splitNumberTons }} &plusmn; {{ Math.round(totalnri) | splitNumberTons }} {{ $t('t.co2e') }}</strong>.
    </b-notification>
    <div class="b-table">
      <div class="table-wrapper">
        <table class="table is-striped is-hoverable has-mobile-cards">
          <thead>
            <tr>
              <th v-if="isAuthenticated">
                <div class="th-wrap">
                  {{ $t('label-5') }}
                </div>
              </th>
              <th>
                <div class="th-wrap">
                  {{ $t('carbon.footprint') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-numeric">
                  {{ $t('emissions.t.co2e') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-numeric">
                  {{ $t('label-1') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
              <th>
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
                <th>
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr draggable="false" v-for="(module,index) in Object.keys(syntheseData)" :key="index">
              <td v-if="isAuthenticated" class="has-text-centered">
                <b-icon
                  v-if="syntheseData[module].submitted"
                  icon="check"
                  size="is-small"
                  type="is-success"
                />
                <b-icon
                  v-else
                  icon="times"
                  size="is-small"
                  type="is-danger"
                />
              </td>
              <td>
                <strong v-if="syntheseData[module]['_level'] === 1">
                  {{ syntheseData[module]['nom'] }}
                  <purchases-warning v-if="module==='purchases'" ref="purchasesWarning" :isTag="true" />
                </strong>
                <span style=" margin-left: 20px;" v-else-if="syntheseData[module]['_level'] === 2">|-- {{ syntheseData[module]['nom'] }}</span>
                <span style=" margin-left: 40px;" v-else-if="syntheseData[module]['_level'] === 3">|-- {{ syntheseData[module]['nom'] }}</span>
              </td>
              <td class="has-text-right">
                <strong v-if="syntheseData[module]['_level'] === 1">{{ Math.round(syntheseData[module]['total']) | splitNumberTons }} &plusmn; {{ Math.round(syntheseData[module]['totali']) | splitNumberTons }}</strong>
                <span v-else>{{ Math.round(syntheseData[module]['total']) | splitNumberTons }} &plusmn; {{ Math.round(syntheseData[module]['totali']) | splitNumberTons }}</span>
              </td>
              <td class="has-text-right">
                <strong v-if="syntheseData[module]['_level'] === 1">{{ Math.round(syntheseData[module]['total'] / syntheseData.total.total * 10000 / 100) }} %</strong>
                <span v-else>{{ Math.round(syntheseData[module]['total'] / syntheseData.total.total * 10000 / 100) }} %</span>
              </td>
              <td class="has-text-centered pl-0 pr-0" >
                <b-tooltip
                  v-if="syntheseData[module]['_module']"
                  :label="$t('display')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    :disabled="plotsIsDisabled(module)"
                    icon-right="bar-chart"
                    @click="plots(syntheseData[module]['_module'])"
                  />
                </b-tooltip>
              </td>
              <td class="has-text-centered pl-0 pr-0">
                <b-tooltip
                  v-if="syntheseData[module]['_export']"
                  :label="$t('download')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    :disabled="syntheseData[module]['total'] === 0"
                    icon-right="download"
                    @click="csvExport(module)"
                  />
                </b-tooltip>
              </td>
              <td v-if="isAuthenticated" class="has-text-centered pl-0 pr-0">
                <b-tooltip
                  v-if="syntheseData[module]['_submit']"
                  :label="$t('submit')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    :disabled="syntheseData[module].submitted"
                    icon-left="paper-plane"
                    type="is-primary"
                    @click="submitData(module)"
                  />
                </b-tooltip>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal
      :active.sync="plotsVisible"
      has-modal-card
    >
      <div class="modal-card" style="width: 1100px; height: auto">
        <section class="modal-card-body">
          <plots-commutes v-if="activePlots==='plots-commutes'"/>
          <plots-all-travels v-if="activePlots==='plots-all-travels'"/>
          <plots-vehicles v-if="activePlots==='plots-vehicles'"/>
          <plots-devices v-if="activePlots==='plots-devices'"/>
          <plots-purchases v-if="activePlots==='plots-purchases'"/>
          <plots-travels v-if="activePlots==='plots-travels'"/>
          <plots-total
            v-if="activePlots==='plots-total'"
            :title="graphicTitle"
            :data="graphicDataTons"
          />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { commute } from '@/mixins/commute'
import '@/plugins/highcharts.js'
import { mapGetters } from 'vuex'

export default {
  name: 'SyntheseEmpreinte',
  mixins: [commute],
  components: {
    'plots-devices': () => import('@/components/ges/results/PlotsDevices.vue'),
    'plots-vehicles': () => import('@/components/ges/results/PlotsVehicles.vue'),
    'plots-purchases': () => import('@/components/ges/results/PlotsPurchases.vue'),
    'plots-commutes': () => import('@/components/ges/results/PlotsCommutes.vue'),
    'purchases-warning': () => import('@/components/ges/forms/PurchasesWarning.vue'),
    'plots-all-travels': () => import('@/components/ges/results/PlotsAllTravels.vue'),
    'plots-travels': () => import('@/components/ges/results/PlotsTravels.vue'),
    'plots-total': () => import('@/components/ges/results/PlotsTotal.vue'),
    'data-submission': () => import('@/components/ges/results/DataSubmission.vue')
  },
  data () {
    return {
      plotsVisible: false,
      activePlots: null,
      displayModal: false,
      currentModule: null,
      emissionsPerCapita: 0,
      emissionsiPerCapita: 0,
      totalnr: 0,
      totalnri: 0,
      graphicData: [],
      graphicTitle: ''
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    budget () {
      return this.$store.getters['boundaries/budget']
    },
    GHGIyear: function () {
      return this.$store.getters['boundaries/bges']['annee']
    },
    graphicDataTons () {
      let graphicDataTons = []
      for (let source of this.graphicData) {
        graphicDataTons.push({
          'name': source.name,
          'y': source.y / 1000
        })
      }
      return graphicDataTons
    },
    totalPerCapita () {
      return Number(this.$store.getters['boundaries/nbChercheurs']) +
             Number(this.$store.getters['boundaries/nbEnseignants']) / 2 +
             Number(this.$store.getters['boundaries/nbITA']) +
             Number(this.$store.getters['boundaries/nbPostDoc'])
    },
    totalMembers () {
      return Number(this.$store.getters['boundaries/nbChercheurs']) +
             Number(this.$store.getters['boundaries/nbEnseignants']) +
             Number(this.$store.getters['boundaries/nbITA']) +
             Number(this.$store.getters['boundaries/nbPostDoc'])
    },
    syntheseData () {
      return {
        buildings: {
          'nom': this.$t('post-1'),
          'submitted': this.$store.getters['boundaries/buildingsSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 1,
          '_module': null,
          '_submit': true,
          '_export': true
        },
        heating: {
          'nom': this.$t('heating'),
          'submitted': this.$store.getters['boundaries/buildingsSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 2,
          '_module': null,
          '_submit': false,
          '_export': false
        },
        electricity: {
          'nom': this.$t('electricity'),
          'submitted': this.$store.getters['boundaries/buildingsSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 2,
          '_module': null,
          '_submit': false,
          '_export': false
        },
        cooling: {
          'nom': this.$t('refrigerants'),
          'submitted': this.$store.getters['boundaries/buildingsSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 2,
          '_module': null,
          '_submit': false,
          '_export': false
        },
        devices: {
          'nom': this.$t('post-2'),
          'submitted': this.$store.getters['boundaries/devicesSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 1,
          '_module': 'plots-devices',
          '_submit': true,
          '_export': true
        },
        purchases: {
          'nom': this.$t('post-9'),
          'submitted': this.$store.getters['boundaries/purchasesSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 1,
          '_module': 'plots-purchases',
          '_submit': true,
          '_export': true
        },
        travels: {
          'nom': this.$t('post-3'),
          'submitted': this.$store.getters['boundaries/travelsSubmitted'] && this.$store.getters['boundaries/vehiclesSubmitted'] && this.$store.getters['boundaries/commutesSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 1,
          '_module': null,
          '_submit': false,
          '_export': false
        },
        commutes: {
          'nom': this.$t('post-4'),
          'submitted': this.$store.getters['boundaries/commutesSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 2,
          '_module': 'plots-commutes',
          '_submit': true,
          '_export': true
        },
        proTravels: {
          'nom': this.$t('post-5'),
          'submitted': this.$store.getters['boundaries/travelsSubmitted'] && this.$store.getters['boundaries/vehiclesSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 2,
          '_module': 'plots-all-travels',
          '_submit': false,
          '_export': false
        },
        vehicles: {
          'nom': this.$t('post-6'),
          'submitted': this.$store.getters['boundaries/vehiclesSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 3,
          '_module': 'plots-vehicles',
          '_submit': true,
          '_export': true
        },
        missions: {
          'nom': this.$t('post-7'),
          'submitted': this.$store.getters['boundaries/travelsSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 3,
          '_module': 'plots-travels',
          '_submit': true,
          '_export': true
        },
        total: {
          'nom': this.$t('post-8'),
          'submitted': this.$store.getters['boundaries/travelsSubmitted'] && this.$store.getters['boundaries/vehiclesSubmitted'] && this.$store.getters['boundaries/commutesSubmitted'] && this.$store.getters['boundaries/buildingsSubmitted'] && this.$store.getters['boundaries/devicesSubmitted'] && this.$store.getters['boundaries/purchasesSubmitted'],
          'total': 0,
          'totali': 0,
          '_level': 1,
          '_module': 'plots-total',
          '_submit': true,
          '_export': true
        }
      }
    },
    hasMotifsOption: function () {
      return this.$store.getters['missions/hasMotifsOption']()
    },
    hasStatutsOption: function () {
      return this.$store.getters['missions/hasStatutsOption']()
    },
    commutesIsOK: function () {
      return this.$store.getters['commutes/submitOk']
    },
    surveyActive: function () {
      return this.$store.getters['boundaries/bges']['surveyActive']
    },
    travelsIsOK: function () {
      return this.$store.getters['missions/submitOk']
    },
    purchasesIsOK: function () {
      return this.$store.getters['purchases/submitOk']
    },
    buildingsIsOK: function () {
      return this.$store.getters['buildings/submitOk']
    }
  },
  methods: {
    forceComputeAllModules: function () {
      this.displayModal = false
      this.$store.dispatch('buildings/forceComputation')
      this.$store.dispatch('vehicles/forceComputation')
      this.$store.dispatch('commutes/forceComputation')
      this.$store.dispatch('missions/forceComputation')
      this.$store.dispatch('computerdevices/forceComputation')
      this.$store.dispatch('purchases/forceComputation')
      this.computeAllModules()
    },
    computeAllModules: function () {
      this.graphicData = []
      this.totalnr = 0
      this.totalnri = 0
      if (!this.$store.getters['buildings/computed']) {
        this.$store.dispatch('buildings/compute')
      }
      if (!this.$store.getters['vehicles/computed']) {
        this.$store.dispatch('vehicles/compute')
      }
      if (!this.$store.getters['commutes/computed']) {
        this.$store.dispatch('commutes/compute')
      }
      if (!this.$store.getters['missions/computed']) {
        this.$store.dispatch('missions/compute')
      }
      if (!this.$store.getters['computerdevices/computed']) {
        this.$store.dispatch('computerdevices/compute')
      }
      if (!this.$store.getters['purchases/computed']) {
        this.$store.dispatch('purchases/compute')
      }
      this.processBuildings()
      this.processVehicles()
      this.processCommutes()
      this.processMissions()
      this.processComputerDevices()
      this.processPurchases()
      this.graphicTitle = '<strong>' + this.$options.filters.splitNumberTons(Math.round(this.syntheseData.total.total)) + ' ' + this.$t('t.co2e') + ' </strong>'
      // update per capita
      this.emissionsPerCapita = this.syntheseData.total.total - this.syntheseData.buildings.total
      this.emissionsPerCapita = this.emissionsPerCapita / this.totalMembers
      this.emissionsPerCapita += this.syntheseData.buildings.total / this.totalPerCapita
      // update per capita uncertainity
      this.emissionsiPerCapita = this.syntheseData.total.totali - this.syntheseData.buildings.totali
      this.emissionsiPerCapita = this.emissionsiPerCapita / this.totalMembers
      this.emissionsiPerCapita += this.syntheseData.buildings.totali / this.totalPerCapita
    },
    plots: function (plotsModule) {
      this.plotsVisible = true
      this.activePlots = plotsModule
    },
    exportGlobal () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      let self = this
      csvContent += [
        Object.keys(self.syntheseData.buildings).filter(column => !column.startsWith('_')).join('\t'),
        ...Object.keys(self.syntheseData).map(function (key) {
          let toReturn = ''
          for (let colName of Object.keys(self.syntheseData[key]).filter(column => !column.startsWith('_'))) {
            if (colName === 'total' || colName === 'totali') {
              toReturn += Math.round(self.syntheseData[key][colName]) + '\t'
            } else {
              toReturn += self.syntheseData[key][colName] + '\t'
            }
          }
          return (toReturn)
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5_ghgi' + this.GHGIyear + '_total_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportMissions () {
      let emissions = this.$store.getters['missions/results']
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += [
        ['id', 'type', 'mode', 'amount', 'position', 'no.person', 'purpose', 'round.trip', 'geodesic.distance.km', 'distance.km', 'emission.kg.co2e', 'uncertainty.kg.co2e', 'total.distance.km', 'total.emission.kg.co2e', 'total.uncertainty.kg.co2e'].join('\t'),
        ...emissions.meta.map(function (item) {
          let toReturn = item.idMission + '\t' + item.missionType + '\t' + item.modeDeplacement + '\t'
          toReturn += item.nbEffectue + '\t' + item.statut + '\t'
          toReturn += item.nbPersonneVoiture + '\t' + item.motifDeplacement + '\t'
          toReturn += item.isAllerRetour + '\t'
          toReturn += Math.round(item.distance) + '\t' + Math.round(item.corrDistance) + '\t' + Math.round(item.corrtotal) + '\t' + Math.round(item.corrtotali) + '\t'
          toReturn += Math.round(item.distanceTotal) + '\t' + Math.round(item.total) + '\t' + Math.round(item.totali)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5_ghgi' + this.GHGIyear + '_travels_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportDevices () {
      let emissions = this.$store.getters['computerdevices/results']
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += [
        ['type', 'model', 'amount', 'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t'),
        ...emissions.meta.map(function (item) {
          let toReturn = item.type + '\t' + item.model + '\t' + item.amount + '\t'
          toReturn += Math.round(item.total) + '\t' + Math.round(item.totali)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5_ghgi' + this.GHGIyear + '_devices_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportVehicles () {
      let emissions = this.$store.getters['vehicles/results']
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += [
        ['name', 'type', 'engine', 'consumption', 'unit', 'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t'),
        ...emissions.meta.map(function (item) {
          let toReturn = item.nom + '\t' + item.typeVehicule + '\t' + item.motorisation + '\t'
          toReturn += item.consommation + '\t' + item.unite + '\t'
          toReturn += Math.round(item.total) + '\t' + Math.round(item.totali)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5_ghgi' + this.GHGIyear + '_vehicles_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportPurchases () {
      let emissions = this.$store.getters['purchases/results']
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      let self = this
      csvContent += [
        ['code', 'scope.source', 'category', 'description', 'amount.euro', 'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t'),
        ...emissions.meta.map(function (item) {
          let toReturn = item.code.toUpperCase() + '\t' + item.scope3 + '\t'
          toReturn += self.$t(item.category) + '\t' + item.description + '\t' + item.amount + '\t'
          toReturn += Math.round(item.total) + '\t' + Math.round(item.totali)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5_ghgi' + this.GHGIyear + '_purchases_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    exportBuildings () {
      let emissions = this.$store.getters['buildings/results']
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += ['name', 'site', 'superficy', 'occupation', 'is.owned.by.lab',
        'is.electricity.heating', 'heating.type', 'urban.network', 'self.production',
        'self.consumption', 'heating.emission.kg.co2e', 'heating.uncertainty.kg.co2e',
        'electricity.emission.kg.co2e', 'electricity.uncertainty.kg.co2e',
        'refrigerants.emission.kg.co2e', 'refrigerants.uncertainty.kg.co2e'].join('\t') + '\n'
      csvContent += [
        ...emissions.meta.map(function (item) {
          let toReturn = item.nom + '\t' + item.site + '\t' + item.superficie + '\t'
          toReturn += item.occupation + '\t' + item.isOwnedByLab + '\t'
          toReturn += item.chauffageElectrique + '\t' + item.typeChauffage + '\t'
          toReturn += item.reseauChauffageUrbain + '\t' + item.autoProduction + '\t'
          toReturn += item.autoconsommation + '\t'
          toReturn += Math.round(item.htotal) + '\t' + Math.round(item.htotali) + '\t'
          toReturn += Math.round(item.etotal) + '\t' + Math.round(item.etotali) + '\t'
          toReturn += Math.round(item.rtotal) + '\t' + Math.round(item.rtotali)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5_ghgi' + this.GHGIyear + '_buildings_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    csvExport (module) {
      if (module === 'commutes') {
        this.exportCommutes(this.GHGIyear)
      } else if (module === 'missions') {
        this.exportMissions()
      } else if (module === 'devices') {
        this.exportDevices()
      } else if (module === 'vehicles') {
        this.exportVehicles()
      } else if (module === 'purchases') {
        this.exportPurchases()
      } else if (module === 'buildings') {
        this.exportBuildings()
      } else {
        this.exportGlobal()
      }
    },
    plotsIsDisabled: function (poste) {
      let toReturn = (this.syntheseData[poste].total === 0)
      return toReturn
    },
    isOK2Submit: function (module) {
      let isOK2Submit = true
      if (module === 'commutes' && !this.commutesIsOK) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-1')
      } else if (module === 'commutes' && this.surveyActive) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-2')
      } else if (module === 'missions' && !this.travelsIsOK) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-3')
      } else if (module === 'buildings' && !this.buildingsIsOK) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-4')
      } else if (module === 'purchases' && !this.purchasesIsOK) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-5')
      } else if (module === 'total') {
        if (!this.commutesIsOK) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-1')
        } else if (this.surveyActive) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-2')
        } else if (!this.travelsIsOK) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-3')
        } else if (!this.buildingsIsOK) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-4')
        } else if (!this.purchasesIsOK) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-5')
        }
      }
      return isOK2Submit
    },
    submitData: function (module) {
      if (this.isOK2Submit(module)) {
        this.currentModule = module
        this.displayModal = true
      } else {
        let self = this
        this.$buefy.dialog.alert({
          title: self.$t('title-2'),
          canCancel: ['escape', 'outside'],
          message: self.errorMsg,
          confirmText: self.$t('validate')
        })
      }
    },
    processBuildings: function () {
      if (this.$store.getters['buildings/hasItems'] && this.$store.getters['buildings/computed']) {
        let emissions = this.$store.getters['buildings/results']
        this.graphicData.push({
          name: this.$t('heating'),
          y: Math.round(emissions.chauffage.total)
        })
        this.syntheseData.heating.total = emissions.chauffage.total
        this.syntheseData.heating.totali = emissions.chauffage.totali
        this.syntheseData.total.total += emissions.chauffage.total
        this.syntheseData.total.totali += emissions.chauffage.totali
        this.syntheseData.buildings.total += emissions.chauffage.total
        this.syntheseData.buildings.totali += emissions.chauffage.totali
        this.graphicData.push({
          name: this.$t('electricity'),
          y: Math.round(emissions.electricite.total)
        })
        this.syntheseData.electricity.total = emissions.electricite.total
        this.syntheseData.electricity.totali = emissions.electricite.totali
        this.syntheseData.total.total += emissions.electricite.total
        this.syntheseData.total.totali += emissions.electricite.totali
        this.syntheseData.buildings.total += emissions.electricite.total
        this.syntheseData.buildings.totali += emissions.electricite.totali
        this.graphicData.push({
          name: this.$t('refrigerants'),
          y: Math.round(emissions.gazRefrigerant.total)
        })
        this.syntheseData.cooling.total = emissions.gazRefrigerant.total
        this.syntheseData.cooling.totali = emissions.gazRefrigerant.totali
        this.syntheseData.total.total += emissions.gazRefrigerant.total
        this.syntheseData.total.totali += emissions.gazRefrigerant.totali
        this.syntheseData.buildings.total += emissions.gazRefrigerant.total
        this.syntheseData.buildings.totali += emissions.gazRefrigerant.totali
        this.totalnr = emissions.chauffage.total
        this.totalnri = emissions.chauffage.totali
        this.totalnr += emissions.electricite.total
        this.totalnri += emissions.electricite.totali
        this.totalnr += emissions.gazRefrigerant.total
        this.totalnri += emissions.gazRefrigerant.totali
      }
    },
    processVehicles: function () {
      if (this.$store.getters['vehicles/hasItems'] && this.$store.getters['vehicles/computed']) {
        let emissions = this.$store.getters['vehicles/results']
        let index = this.graphicData.findIndex(obj => obj.name === this.$t('post-5'))
        if (index === -1) {
          this.graphicData.push({
            name: this.$t('post-5'),
            y: Math.round(emissions.total)
          })
        } else {
          this.graphicData[index].y += Math.round(emissions.total)
        }
        this.syntheseData.proTravels.total += emissions.total
        this.syntheseData.proTravels.totali += emissions.totali
        this.syntheseData.travels.total += emissions.total
        this.syntheseData.travels.totali += emissions.totali
        this.syntheseData.vehicles.total += emissions.total
        this.syntheseData.vehicles.totali += emissions.totali
        this.syntheseData.total.total += emissions.total
        this.syntheseData.total.totali += emissions.totali
        this.totalnr += emissions.total
        this.totalnri += emissions.totali
      }
    },
    processCommutes: function () {
      if (this.$store.getters['commutes/hasItems'] && this.$store.getters['commutes/computed']) {
        let emissions = this.$store.getters['commutes/results']
        this.graphicData.push({
          name: this.$t('post-4'),
          y: Math.round(emissions.total)
        })
        this.syntheseData.commutes.total = emissions.total
        this.syntheseData.commutes.totali = emissions.totali
        this.syntheseData.travels.total += emissions.total
        this.syntheseData.travels.totali += emissions.totali
        this.syntheseData.total.total += emissions.total
        this.syntheseData.total.totali += emissions.totali
        this.totalnr += emissions.total
        this.totalnri += emissions.totali
      }
    },
    processMissions: function () {
      if (this.$store.getters['missions/hasMissions'] && this.$store.getters['missions/computed']) {
        let emissions = this.$store.getters['missions/results']
        let index = this.graphicData.findIndex(obj => obj.name === this.$t('post-5'))
        if (index === -1) {
          this.graphicData.push({
            name: this.$t('post-5'),
            y: Math.round(emissions.total)
          })
        } else {
          this.graphicData[index].y += Math.round(emissions.total)
        }
        this.syntheseData.proTravels.total += emissions.total
        this.syntheseData.proTravels.totali += emissions.totali
        this.syntheseData.missions.total += emissions.total
        this.syntheseData.missions.totali += emissions.totali
        this.syntheseData.travels.total += emissions.total
        this.syntheseData.travels.totali += emissions.totali
        this.syntheseData.total.total += emissions.total
        this.syntheseData.total.totali += emissions.totali
        this.totalnr += emissions.totalnr
        this.totalnri += emissions.totalnri
      }
    },
    processComputerDevices: function () {
      if (this.$store.getters['computerdevices/hasItems'] && this.$store.getters['computerdevices/computed']) {
        let emissions = this.$store.getters['computerdevices/results']
        this.graphicData.push({
          name: this.$t('computer.devices'),
          y: Math.round(emissions.total)
        })
        this.syntheseData.devices.total += emissions.total
        this.syntheseData.devices.totali += emissions.totali
        this.syntheseData.total.total += emissions.total
        this.syntheseData.total.totali += emissions.totali
        this.totalnr += emissions.total
        this.totalnri += emissions.totali
      }
    },
    processPurchases: function () {
      if (this.$store.getters['purchases/hasItems'] && this.$store.getters['purchases/computed']) {
        let emissions = this.$store.getters['purchases/results']
        this.graphicData.push({
          name: this.$t('purchases'),
          y: Math.round(emissions.total)
        })
        this.syntheseData.purchases.total += emissions.total
        this.syntheseData.purchases.totali += emissions.totali
        this.syntheseData.total.total += emissions.total
        this.syntheseData.total.totali += emissions.totali
        this.totalnr += emissions.total
        this.totalnri += emissions.totali
      }
    }
  },
  watch: {
    '$i18n.locale': function () {
      this.forceComputeAllModules()
    }
  },
  mounted () {
    let self = this
    this.computeAllModules()
    setTimeout(function () {
      self.$refs.purchasesWarning[0].forceComputation()
    }, 5)
  }
}
</script>

<style>
.has-text-distance {
  color: #935458 !important;
}
.has-text-carbone {
  color: #8e6a9e !important;
}
.has-text-carbone2 {
  color: #208dbc !important;
}
.heading .tooltip-content {
  text-transform: none;
}
.heading .b-tooltip.is-multiline.is-large .tooltip-content {
    width: 500px;
}
.b-tooltip.is-multiline .tooltip-content {
    text-align: left !important;
}
</style>
