/* ==========================================================================
Navbar
========================================================================== */

//Navbar
.navbar.is-fresh {
    padding: 20px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 30;
    .container {
        min-height: 4rem;
    }
    &.no-shadow {
        box-shadow: none !important;
    }
    //Responsive menu icon
    .navbar-burger {
        width: 4rem;
        height: 4rem;
        color: #fff;
    }
    //Brand
    .navbar-brand {
        min-height: 4rem;
        img {
            max-height: 36px !important;
            height: 36px;
        }
        //Removing navbar item default hover behaviour
        &:hover {
            .navbar-item {
                background: transparent !important;
            }
        }
    }
    .navbar-end {
        align-items: center;
        font-size: 0.95em;
    }
    //Navbar link
    .navbar-link {
        background-color: transparent !important;
    }
    //Navbar items
    a.navbar-item { :hover {
            color: $smoke-white !important;
        }
    }
    .navbar-end .navbar-item {
        background-color: transparent !important;
        color: $smoke-white;
        border-radius: 50px;
        :hover {
            background-color: $header-grey;
            transition: 0.3s;
        }
        &.has-dropdown {
            padding: 10px 0;
            background-color: #fff;
            .navbar-link {
                color: $smoke-white;
                padding-right: 0.75rem;
                &:after {
                    top: 55%;
                    height: 0.5em;
                    width: 0.5em;
                    border-color: $smoke-white;
                    display: none;
                }
            }
            .navbar-dropdown {
                background-color: #fff;
                top: 3.4rem;
                min-width: 200px;
                margin-top: 2px;
                border-top: 0 !important;
                border-radius: 15px !important;
                box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                animation: fadeInUp 0.30s ease-out;
                .navbar-item {
                    padding: 8px 16px;
                    margin-left: 5px;
                    margin-right: 5px;
                    color: $header-grey;
                    &:hover{
                        color: $smoke-white;
                        background-color: $header-grey !important;
                    }
                }
                overflow: hidden;
            }
            &:hover {
                .navbar-link {
                    background-color: $header-grey !important;
                    border-radius: 50px;
                }
            }
        }
        .signup {
            display: block;
            line-height: 0;
            font-size: .9rem !important;
        }
    }

    //Fixed navbar modifier
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 4rem !important;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
        a {
            color: $blue-grey;
            &:hover {
                color: $primary-hover;
            }
        }
    }
}
.navbar-item:hover {
    .navbar-dropdown {
        display: block;
    }
}
.navbar-fixed {
    background: $header-grey !important;
    padding: 3px 0 !important;
    height: 72px !important;
    transition: all 0.5s;
}

.logbox {
    color: $smoke-white;
    border-radius: 15px;
    background-color:rgba(52,59,64,0.5) !important;
    padding: 3px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid rgb(100,100,100);
}
.logbox:hover {
    background-color:rgba(52,59,64,1) !important;
    border-radius: 15px;
    border:1px solid rgba(52,59,64,1);
    .logbox-dropdown {
        display: block;
        position: absolute;
        color: $smoke-white;
        border-radius: 15px;
        background-color:rgba(52,59,64,1) !important;
        padding:3px 10px;
        margin-top: -25px;
        margin-left: -11px;
        border:1px solid rgba(52,59,64,1);
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center
    }
}
.logbox-label {
    display: none;
    position:absolute;
    width: 160px;
    margin-left:-159px;
    background-color: $header-grey;
    border-radius: 50px 0 0 50px;
    padding: 8px 16px;
    margin-top: -8px;
    z-index: -1;
}
.logbox-ico {
    padding: 7px 0;
}
.logbox-ico:hover {
    .logbox-label {
        display: block;
        animation: fadeInLeft 0.30s ease-out;
    }
}
.logbox a {
    color: $smoke-white;
}

.logbox-ico a:hover {
    color: $header-grey;
    background-color: #fff;
    border-radius: 50px;
    padding: 4px;
    margin-left: -4px;
    margin-right: -4px;
}

.logbox-dropdown {
    display: none;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
.waves2 {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:50px;
    max-height:50px;
  }

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

.subpage-title1 {
    top:50px;
    z-index:1;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 5px;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-grid;
}
.subpage-img {
    max-width: 90px;
    border-radius: 50%;
    background-color: rgba(52, 59, 64, 1);
}
.subpage-title2 {
    background-color:#fff;position: relative;
    top: 73px;
    left:-8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.subpage-title3 {
    color:#fff;
    text-overflow:hidden;
    white-space: nowrap;
    background-color: rgba(52,59,64,0.9);
    position: relative;height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    letter-spacing: 12px;
    padding: 10px 15px 0 30px;
    text-transform: uppercase;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    font-weight: bold;
}