/* ==========================================================================
Sidebar Styles 
========================================================================== */

//Sidebar animated icon trigger
.menu-icon-wrapper {
    position: relative;
    left: 0;
    top: 0;
    //margin: -12px 0px 0px -12px;
    width: 34px;
    height: 34px;
    pointer-events: none;
    transition: 0.1s;
    svg {
        position: absolute;
        top: -18px;
        left: -18px;
        transform: scale(0.07);
        transform-origin: 0 0;
        path {
            stroke: $white;
            stroke-width: 40px;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: transparent;
            transition: stroke-dasharray 0.5s;
            &.path1 {
                stroke-dashoffset: 5803.15px; 
                stroke-dasharray: 2901.57px, 2981.57px, 240px;
            }
            &.path2 {
                stroke-dashoffset: 800px; 
                stroke-dasharray: 400px, 480px, 240px;
            }
            &.path3 {
                stroke-dashoffset: 6993.11px; 
                stroke-dasharray: 3496.56px, 3576.56px, 240px;
            }
        }
    }
    &.open {
        svg {
            path {
                &.path1 {
                    stroke-dasharray: 2901.57px, 5258.15px, 240px;
                }
                &.path2 {
                    stroke-dasharray: 400px, 600px, 0px;
                }
                &.path3 {
                    stroke-dasharray: 3496.56px, 6448.11px, 240px;
                }
            }
        }
    }
    .menu-icon-trigger {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        pointer-events: auto;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
    }
}

//Sidebar
.sidebar-close {
 
}
.sidebar {
    background: rgba(52,59,64,1);
    width: 215px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-160px);
    transition: all .3s;
    z-index: 30;
    overflow-x: hidden;
    overflow-y: auto;
    &.is-active {
        transform: translateX(0);
    }
    .sidebar-header {
        position:fixed;
        width: 215px;
        top:0;
        left:0;
        height:4.5rem;
        padding-top:12px;
        padding-left:160px;
        background: $header-grey;
        color: $smoke-white;
        border-bottom: 1px solid lighten($header-grey, 10%);
        transition: all .3s;
        z-index: 30;
        a {
            &:hover {
                background-color: $header-grey;
            }
        }
    }
    .inner {
        margin-top: 4.5rem;
        position: relative;
        .sidebar-menu {
            margin: 0;
            padding: 0;
            max-width: 400px;
            list-style: none;
            list-style-type: none;
            font-family: 'Ubuntu', sans-serif !important;
            li {
                a {
                    color: $white;
                    padding: 20px 25px;
                    display: block;
                    text-decoration: none;
                    &:hover {
                        padding: 20px 25px;
                        display: block;
                        text-decoration: none;
                        color: $primary-hover;
                    }
                }
                a span {
                    margin-right: 10px;
                }
                &.have-children {
                    li {
                        a {
                            background-color: lighten($header-grey, 5%);
                            padding-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid ligthen($header-grey, 2%);
                            font-size: .9rem;   
                        }
                        &:hover {
                            color: $primary-hover;
                        }
                    }
                    .isparent > span {
                        position: absolute;
                        top: 27px;
                        right: 30px;
                        transition: all .5s;
                        font-weight: 200 !important;
                        font-size: .9rem;
                    }
                }
            }
        }
        li.have-children, li {
            position: relative;
        }
        li.have-children.active > a, li.have-children.active > a span, li.have-children.active > a span:after {
            color: $primary-hover;
        }
        li.active.have-children .isparent > span {
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            color: $primary-hover;
        }
        .sidebar-menu .have-children > ul {
            display: none;
        }
    }
}
