<i18n>
{
  "fr": {
    "contact-coord": "Contacter la coordination de Labos 1point5",
    "contact-dpo": "Contacter le délégué à la protection des données de Labos 1point5",
    "send": "Envoyer",
    "name": "Nom",
    "firstname": "Prénom",
    "message": "Votre message",
    "policy1": "J'affirme avoir pris connaissance de la",
    "policy2": "Politique de confidentialité",
    "policy3": "de"
  },
  "en": {
    "contact-coord": "Contact the coordination of Labos 1point5",
    "contact-dpo": "Contact the Data Protection Officer of Labos 1point5",
    "send": "Send",
    "name": "Name",
    "firstname": "First name",
    "message": "Your message",
    "policy1": "I confirm that I have read and understood the ",
    "policy2": "Privacy policy",
    "policy3": "of"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="erreur"/>
    <form @submit.prevent="validateBeforeSubmit">
      <div class="columns">
        <div class="column is-10">
          <b-select
            expanded
            v-validate="'required'"
            icon="phone"
            v-model="contact"
          >
            <option value="coordination"> {{ $t('contact-coord') }} </option>
            <option value="dpd"> {{ $t('contact-dpo') }} </option>
          </b-select>
        </div>
        <div class="column is-2">
          <button
            type="submit"
            class="button is-primary is-fullwidth"
            :disabled="isDisabled()"
          >
            <span class="icon is-small"><i class="sui sui-paper-plane"></i></span>
            <span> {{ $t('send') }} </span>
          </button>
        </div>
      </div>
      <div class="columns" style="margin-top:0">
        <div class="column">
          <b-field
            :type="{'is-danger': errors.has('email')}"
            :message="errors.first('email')"
          >
            <b-input
              name="email"
              v-validate="'required|email'"
              icon="envelope-open"
              placeholder="Email *"
              maxlength="50"
              v-model="email"
            ></b-input>
          </b-field>
          <div class="columns">
            <div class="column">
              <b-field
                :type="{'is-danger': errors.has('nom')}"
                :message="errors.first('nom')"
              >
                <b-input
                  name="nom"
                  v-validate="'required'"
                  icon="user"
                  :placeholder="$t('name') + ' *'"
                  maxlength="50"
                  v-model="nom"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                :type="{'is-danger': errors.has('prenom')}"
                :message="errors.first('prenom')"
              >
                <b-input
                  name="prenom"
                  v-validate="'required'"
                  icon="user"
                  :placeholder="$t('firstname') + ' *'"
                  maxlength="50"
                  v-model="prenom"
                ></b-input>
              </b-field>
            </div>
          </div>
        </div>
        <div class="column">
          <b-field
            :type="{'is-danger': errors.has('message')}"
            :message="errors.first('message')"
          >
            <b-input
              rows="3"
              class="ta-size"
              name="message"
              v-validate="'required'"
              :placeholder="$t('message') + ' *'"
              maxlength="2000"
              type="textarea"
              v-model="message"
            ></b-input>
          </b-field>
        </div>
      </div>
      <b-field
        style="margin-top:-15px;"
        :type="{'is-danger': errors.has('confidentialite')}"
        :message="{'Veuillez cocher la case afin de transmettre votre message' : errors.firstByRule('confidentialite', 'required')}">
        <b-checkbox
          v-model="confidentialite" name="confidentialite" v-validate="'required:false'">
          {{ $t('policy1') }}
          <router-link target="_blank" class="link" to="/politique-de-confidentialite">
            {{ $t('policy2') }}
          </router-link>
          {{ $t('policy3')}} <em>Labos 1point5</em>.
        </b-checkbox>
      </b-field>
    </form>
  </div>
</template>

<script>
import apiService from '@/services/apiService'

export default {
  name: 'ContactUs',
  components: {
    'serveur-info': () => import('@/components/ServeurInfo.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      email: null,
      prenom: null,
      nom: null,
      message: null,
      confidentialite: false,
      erreur: '',
      contact: 'coordination'
    }
  },
  methods: {
    isDisabled: function () {
      return (!this.email || !this.message || !this.confidentialite)
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          if (this.contact === 'coordination') {
            apiService.addMessage({
              email: this.email,
              prenom: this.prenom,
              nom: this.nom,
              message: this.message
            })
              .then(data => {
                loadingComponent.close()
                this.$router.push({ name: 'merci' })
              })
              .catch((erreur) => {
                loadingComponent.close()
                this.erreur = erreur.response.data
              })
          } else {
            apiService.addMessageDPD({
              email: this.email,
              prenom: this.prenom,
              nom: this.nom,
              message: this.message
            })
              .then(data => {
                loadingComponent.close()
                this.$router.push({ name: 'merci' })
              })
              .catch((erreur) => {
                loadingComponent.close()
                this.erreur = erreur.response.data
              })
          }
        }
      })
    }
  }
}
</script>
<style>
.ta-size textarea {
  height: 114px !important;
}
</style>
