<template>
  <b-autocomplete
    v-model="buffer.nom"
    :data="filteredDisciplines"
    icon="hubzilla"
    v-validate="'required'"
    clearable
    :open-on-focus="true"
    placeholder="Discipline HCERES *"
    field="nom"
    @input="inputChanged"
    @select="selectDiscipline">
      <template slot="empty">Aucune discipline trouvée</template>
    </b-autocomplete>
</template>

<script>
export default {
  name: 'DisciplineInput',
  inject: ['$validator'],
  props: {
    value: {
      type: Object,
      default: function () {
        return {
          pk: null,
          nom: ''
        }
      }
    }
  },
  data () {
    return {
      buffer: Object.assign({}, this.value)
    }
  },
  computed: {
    allDisciplines: function () {
      return this.$store.getters['utils/disciplines']
    },
    filteredDisciplines () {
      return this.allDisciplines.filter((option) => {
        return option.nom
          .toString()
          .toLowerCase()
          .indexOf(this.buffer.nom.toLowerCase()) >= 0
      })
    }
  },
  methods: {
    compare (disciplineA, disciplineB) {
      let comparison = 0
      if (disciplineA.nom > disciplineB.nom) {
        comparison = 1
      } else if (disciplineA.nom < disciplineB.nom) {
        comparison = -1
      }
      return comparison
    },
    selectDiscipline (option) {
      if (option) {
        this.buffer.pk = option.pk
        this.buffer.nom = option.nom
      }
    },
    inputChanged () {
      if (this.filteredDisciplines.length === 1 && this.filteredDisciplines[0].nom === this.buffer.nom) {
        this.buffer.pk = this.filteredDisciplines[0].pk
        this.buffer.nom = this.filteredDisciplines[0].nom
      } else {
        this.buffer.pk = null
      }
      this.$emit('input', this.buffer)
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign({}, this.value)
      },
      deep: true
    }
  },
  created () {
    this.$store.dispatch('utils/getDisciplines')
  }
}
</script>
