<template>
  <div>
    <div class="columns">
      <div class="column">
        <su-service :icon="'user-plus'">
          <template #title>
            Je souhaite rejoindre le GDR <em>Labos 1point5</em>
          </template>
           Les adhésions au GDR sont individuelles, ouvertes à toutes les disciplines et tous les statuts, et aux membres de la recherche publique quelle que soit leur institution de rattachement. L’engagement est pour une durée minimale de un an.
           <br />
           <br />
          <div class="columns">
            <div class="column">
              <b-field
                label="Email *"
                :type="{'is-danger': errors.has('email')}"
                :message="errors.first('email')">
                <b-input
                  name="email"
                  v-validate="'required|email'"
                  icon="envelope-open"
                  placeholder="Email *"
                  maxlength="50"
                  :disabled="buffer.email!=='' && !fullForm"
                  v-model="buffer.email"
                  @input="$emit('input', buffer)"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Genre *"
                :type="{'is-danger': errors.has('genre')}"
                :message="errors.first('genre')">
                <b-select
                  name="genre"
                  expanded
                  v-validate="'required'"
                  icon="neuter"
                  placeholder="Genre *"
                  v-model="buffer.genre"
                  @input="$emit('input', buffer)"
                >
                  <option
                    v-for="(genre,index) in genres"
                    :value="genre"
                    :key="index">
                    {{ genre.nom }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Nom *"
                :type="{'is-danger': errors.has('nom')}"
                :message="errors.first('nom')">
                <b-input
                  name="nom"
                  v-validate="'required'"
                  icon="user"
                  placeholder="Nom *"
                  maxlength="50"
                  v-model="buffer.nom"
                  @input="$emit('input', buffer)"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Prénom *"
                :type="{'is-danger': errors.has('prenom')}"
                :message="errors.first('prenom')">
                <b-input
                  name="prenom"
                  v-validate="'required'"
                  icon="user"
                  placeholder="Prénom *"
                  maxlength="50"
                  v-model="buffer.prenom"
                  @input="$emit('input', buffer)"
                ></b-input>
              </b-field>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <b-field
                label="Année de naissance *"
                :type="{'is-danger': errors.has('naissance')}"
                :message="errors.first('naissance')">
                <b-input
                  name="naissance"
                  v-validate="'required|numeric|min_value:1950|max_value:2005'"
                  icon="calendar"
                  placeholder="Année de naissance *"
                  maxlength="4"
                  v-model="buffer.anneeNaissance"
                  @input="$emit('input', buffer)"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Statut *"
                :type="{'is-danger': errors.has('statut')}"
                :message="errors.first('statut')">
                <b-select
                  name="statut"
                  expanded
                  v-validate="'required'"
                  icon="hubzilla"
                  placeholder="Statut *"
                  v-model="buffer.statut"
                  @input="$emit('input', buffer)"
                >
                  <option
                    v-for="(statut,index) in statuts"
                    :value="statut"
                    :key="index">
                    {{ statut.nom }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Discipline *"
                :type="{'is-danger': errors.has('discipline')}"
                :message="errors.first('discipline')"
              >
                <b-autocomplete
                  name="discipline"
                  v-model="buffer.disciplineCNU"
                  :data="filteredDisciplines"
                  placeholder="Discipline *"
                  :open-on-focus="true"
                  v-validate="'required'"
                  icon="hubzilla"
                  field="nom"
                  clearable
                  @input="$emit('input', buffer)"
                  expanded
                  @select="option => selected = option">
                  <template #empty>Aucune discipline trouvée</template>
                </b-autocomplete>
              </b-field>
            </div>
          </div>
        </su-service>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <l-map :zoom="zoom" :center="center" style="z-index: 0;">
          <l-tilelayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></l-tilelayer>
            <l-marker :lat-lng="currentMarker">
          </l-marker>
        </l-map>
      </div>
      <div class="column">
        <su-service :icon="'flask'">
          <template #title>
            Mon laboratoire
          </template>
          Veuillez saisir les informations de votre laboratoire ainsi que ses tutelles d'appartenance, séparées par des virgules.
          Si votre tutelle n'apparaît pas dans la liste, vous pouvez en ajouter une nouvelle.
          <br />
          <br />
          <b-field
            label="Laboratoire de rattachement *"
            :type="{'is-danger': errors.has('laboratoire')}"
            :message="errors.first('laboratoire')">
            <b-input
              name="laboratoire"
              v-validate="'required'"
              icon="flask"
              placeholder="Laboratoire de rattachement *"
              maxlength="100"
              v-model="buffer.laboratoire"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <b-field
            label="Ville *"
            :type="{'is-danger': errors.has('ville')}"
            :message="errors.first('ville')">
            <b-autocomplete
              v-model="buffer.ville"
              @blur="resetVille()"
              :data="geonamesVilles"
              placeholder="Ville *"
              icon="location-arrow"
              name="ville"
              field="name"
              clearable
              v-validate="'required'"
              maxlength="50"
              @keyup.native="getGenonamesVilles"
              @input="$emit('input', buffer)"
              @select="updateMarker">
              <template slot-scope="props">
                {{ props.option.name }}, {{ props.option.adminName1 }} [{{props.option.countryName}}]
              </template>
              <template slot="empty">Aucune ville trouvée</template>
            </b-autocomplete>
          </b-field>
          <b-field
            label="Tutelles *"
          >
            <tutelle-input
              v-model="buffer.tutelles"
              @input="$emit('input', buffer)"
            />
          </b-field>
        </su-service>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <su-service :icon="'users'">
          <template #title>
            Mon engagement au sein du GDR
          </template>
          Vous pouvez vous inscrire dans un ou plusieurs axe(s) du GDR. Cette inscription
          vous donnera accès aux listes de diffusion internes ainsi qu’à une plateforme d’échanges sécurisée et privée pour
          une durée de un an (et vous pourrez renouveler cette inscription).
          <br />
          Notez qu'un <strong>engagement de temps</strong> à hauteur d'<strong>au moins 5% équivalent temps plein</strong>
          vous est demandé. Par exemple, si vous décidez de consacrer 1 jour par semaine au GDR, déclarez 20%, 1 jour par mois, 5%.
          <br />
          <br />
          <b-field
            label="% Équivalent temps plein d'engagement *"
            :type="{'is-danger': errors.has('percETP')}"
            :message="errors.first('percETP')">
            <b-input
              name="percETP"
              :disabled="!fullForm"
              v-validate="'required|numeric|min_value:5|max_value:100'"
              icon="percent"
              placeholder="Équivalent temps plein d'engagement *"
              v-model="buffer.percETP"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <br />
          <b-checkbox
            :disabled="registrationDisabled"
            @input="$emit('input', buffer)"
            v-model="buffer.equipes"
            native-value="Empreinte"
            v-validate="'required:false'"
          >
            Je souhaite rejoindre l'équipe : « Empreinte »
          </b-checkbox>
          <b-field v-if="isSelected('Empreinte') && fullForm" class="mb-0">
            <b-input
              v-model="buffer.msgEmpreinte"
              v-validate="'required'"
              placeholder="Détaillez ici en quelques mots ce qui vous intéresse et quelles compétences vous pouvez mettre en oeuvre."
              maxlength="500"
              type="textarea"
              rows="2"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <br v-if="!isSelected('Empreinte') || !fullForm" />
          <!-- <b-checkbox
            :disabled="registrationDisabled"
            @input="$emit('input', buffer)"
            v-model="buffer.equipes"
            native-value="Enquête"
            v-validate="'required:false'"
          >
            Je souhaite rejoindre l'axe 2 : « Enquêtes »
          </b-checkbox>
          <b-field v-if="isSelected('Enquête') && fullForm" class="mb-0">
            <b-input
              v-model="buffer.msgEnquete"
              v-validate="'required'"
              maxlength="500"
              placeholder="Détaillez ici en quelques mots ce qui vous intéresse et quelles compétences vous pouvez mettre en oeuvre."
              type="textarea"
              rows="2"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <br v-if="!isSelected('Enquête') || !fullForm" /> -->
          <b-checkbox
            :disabled="registrationDisabled"
            @input="$emit('input', buffer)"
            v-model="buffer.equipes"
            native-value="Expérimentation"
            v-validate="'required:false'"
          >
            Je souhaite rejoindre l'équipe : « Expérimentation »
          </b-checkbox>
          <b-field v-if="isSelected('Expérimentation') && fullForm" class="mb-0">
            <b-input
              v-model="buffer.msgExperimentation"
              v-validate="'required'"
              maxlength="500"
              placeholder="Détaillez ici en quelques mots ce qui vous intéresse et quelles compétences vous pouvez mettre en oeuvre."
              type="textarea"
              rows="2"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <br v-if="!isSelected('Expérimentation') || !fullForm" />
          <b-checkbox
            :disabled="registrationDisabled"
            @input="$emit('input', buffer)"
            v-model="buffer.equipes"
            native-value="Enseignement"
            v-validate="'required:false'"
          >
            Je souhaite rejoindre l'équipe « Enseignement »
          </b-checkbox>
          <b-field v-if="isSelected('Enseignement') && fullForm" class="mb-0">
            <b-input
              v-model="buffer.msgEnseignement"
              v-validate="'required'"
              maxlength="500"
              placeholder="Détaillez ici en quelques mots ce qui vous intéresse et quelles compétences vous pouvez mettre en oeuvre."
              type="textarea"
              rows="2"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <br v-if="!isSelected('Enseignement') || !fullForm" />
          <b-checkbox
            :disabled="registrationDisabled"
            @input="$emit('input', buffer)"
            v-model="buffer.equipes"
            native-value="Communication"
            v-validate="'required:false'"
          >
            Je souhaite rejoindre l'équipe « Communication »
          </b-checkbox>
          <b-field v-if="isSelected('Communication') && fullForm" class="mb-0">
            <b-input
              v-model="buffer.msgCommunication"
              v-validate="'required'"
              maxlength="500"
              placeholder="Détaillez ici en quelques mots ce qui vous intéresse et quelles compétences vous pouvez mettre en oeuvre."
              type="textarea"
              rows="2"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <br v-if="!isSelected('Communication') || !fullForm" />
          <b-checkbox
            :disabled="registrationDisabled"
            @input="$emit('input', buffer)"
            v-model="buffer.equipes"
            native-value="Technique"
            v-validate="'required:false'"
          >
            Je souhaite rejoindre l'équipe « Technique »
          </b-checkbox>
          <b-field v-if="isSelected('Technique') && fullForm" class="mb-0">
            <b-input
              v-model="buffer.msgTechnique"
              v-validate="'required'"
              maxlength="500"
              placeholder="Détaillez ici en quelques mots ce qui vous intéresse et quelles compétences vous pouvez mettre en oeuvre."
              type="textarea"
              rows="2"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <br v-if="!isSelected('Technique') || !fullForm"/>
          <b-checkbox
            @input="$emit('input', buffer)"
            v-if="!fullForm"
            v-model="buffer.equipes"
            native-value="Réflexion"
            v-validate="'required:false'"
          >
            Je souhaite rejoindre l'équipe : « Réflexion »
          </b-checkbox>
          <br v-if="!isSelected('Réflexion') || !fullForm"/>
          <br />
          <b-checkbox @input="$emit('input', buffer)"
            v-if="fullForm"
            v-model="buffer.isInAnnuaire"
            v-validate="'required:false'">
            J'accepte d'apparaitre dans l’annuaire visible publiquement du GDR <em>Labos 1point5</em>.
          </b-checkbox>
        </su-service>
      </div>
    </div>

    <div v-if="fullForm" class="box-blue">
      <b-field
        style="margin-top:0.6rem"
        :type="{'is-danger': errors.has('confidentialite')}"
        :message="{'Veuillez cocher la case afin de vous inscrire.' : errors.firstByRule('confidentialite', 'required')}">
        <b-checkbox v-model="confidentialite" name="confidentialite" v-validate="'required:false'">
          J'affirme avoir pris connaissance de la <router-link class="link" target="_blank" to="/politique-de-confidentialite">
          Politique de confidentialité</router-link> de <em>Labos 1point5</em>.
        </b-checkbox>
      </b-field>
      <b-field
        :type="{'is-danger': errors.has('charte')}"
        :message="{'Veuillez cocher la case afin de vous inscrire.' : errors.firstByRule('charte', 'required')}"
      >
        <b-checkbox v-model="charte" name="charte" v-validate="'required:false'">
          J'affirme avoir pris connaissance de la <router-link class="link" target="_blank" to="/labos1point5-charter">Charte
            </router-link> de <em>Labos 1point5</em>.
        </b-checkbox>
      </b-field>
    </div>
  </div>
</template>

<script>
import { geonames } from '@/mixins/geonames'
import '@/plugins/leaflet.js'

const DEFAULT_MARKER = [46.75, 2.32]

export default {
  name: 'FormulaireGDR',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'l-map': () => import('vue2-leaflet').then(({ LMap }) => LMap),
    'l-tilelayer': () => import('vue2-leaflet').then(({ LTileLayer }) => LTileLayer),
    'l-marker': () => import('vue2-leaflet').then(({ LMarker }) => LMarker),
    'tutelle-input': () => import('@/components/TutelleInput.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  mixins: [geonames],
  props: {
    fullForm: Boolean,
    value: {
      type: Object,
      default: function () {
        return {
          pk: null,
          equipes: [],
          email: '',
          nom: '',
          prenom: '',
          ville: '',
          pays: '',
          disciplineCNU: '',
          genre: null,
          anneeNaissance: '',
          laboratoire: '',
          tutelles: [],
          statut: null,
          percETP: null,
          msgCommunication: '',
          msgEmpreinte: '',
          msgEnquete: '',
          msgExperimentation: '',
          msgTechnique: '',
          msgEnseignement: '',
          commentaire: '',
          latitude: DEFAULT_MARKER[0],
          longitude: DEFAULT_MARKER[1],
          isInAnnuaire: false,
          volontaireGdPublic: false
        }
      }
    }
  },
  data () {
    return {
      buffer: Object.assign({}, this.value),
      confidentialite: false,
      charte: false,
      zoom: 5,
      geonamesVilles: [],
      autoIsSelected: false,
      isFetching: false,
      association: false,
      institutionelle: false,
      autrePrecisions: false,
      rejoindreAnnuaire: false
    }
  },
  computed: {
    registrationDisabled: function () {
      let disabled = !this.buffer.valid
      if (this.fullForm) {
        disabled = false
      }
      return disabled
    },
    currentMarker: function () {
      return [this.value.latitude, this.value.longitude]
    },
    center: function () {
      return [this.value.latitude, this.value.longitude]
    },
    equipes: function () {
      return this.$store.getters['utils/equipes']
    },
    disciplines: function () {
      return this.$store.getters['utils/userDisciplines']
    },
    genres: function () {
      return this.$store.getters['utils/genres']
    },
    statuts: function () {
      return this.$store.getters['utils/statuts']
    },
    filteredDisciplines: function (text) {
      return this.disciplines.filter(option => {
        return (
          option.nom
            .toString()
            .toLowerCase()
            .indexOf(this.buffer.disciplineCNU.toLowerCase()) >= 0
        )
      })
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign({}, this.value)
      },
      deep: true
    }
  },
  methods: {
    isSelected (equipe) {
      return this.buffer.equipes.includes(equipe)
    },
    resetVille () {
      if (!this.autoIsSelected) {
        this.value.ville = ''
      }
    },
    updateMarker (option) {
      if (option) {
        this.value.latitude = parseFloat(option.lat)
        this.value.longitude = parseFloat(option.lng)
        this.value.pays = option.countryName
        this.value.ville = option.name
        this.autoIsSelected = true
      }
    },
    getGenonamesVilles () {
      this.isFetching = true
      this.geonamesVilles = []
      this.autoIsSelected = false
      this.searchGEONames(this.buffer.ville)
        .then(results => {
          results.data.geonames.forEach((item) => {
            if (this.geonamesVilles.filter(obj => obj.name === item.name).filter(obj => obj.countryName === item.countryName).length === 0) {
              this.geonamesVilles.push(item)
            }
          })
          this.isFetching = false
        })
        .catch((error) => {
          this.isFetching = false
          throw error
        })
    },
    isOK () {
      let toReturn = true
      toReturn = (this.confidentialite && this.charte && this.buffer.genre !== null && this.buffer.anneeNaissance !== '' && this.buffer.laboratoire !== '' && this.buffer.statut !== null && this.buffer.tutelles.length > 0 && this.buffer.equipes.length > 0 && this.buffer.percETP >= 5)
      if (toReturn && this.buffer.equipes.length > 0) {
        if (this.isSelected('Empreinte') && this.buffer.msgEmpreinte === '') {
          toReturn = false
        } else if (this.isSelected('Communication') && this.buffer.msgCommunication === '') {
          toReturn = false
        } else if (this.isSelected('Enquête') && this.buffer.msgEnquete === '') {
          toReturn = false
        } else if (this.isSelected('Expérimentation') && this.buffer.msgExperimentation === '') {
          toReturn = false
        } else if (this.isSelected('Technique') && this.buffer.msgTechnique === '') {
          toReturn = false
        } else if (this.isSelected('Enseignement') && this.buffer.msgEnseignement === '') {
          toReturn = false
        }
      }
      return toReturn
    }
  },
  mounted () {
    this.$store.dispatch('utils/getUserDisciplines')
    this.$store.dispatch('utils/getStatuts')
    this.$store.dispatch('utils/getGenres')
  }
}
</script>
