<i18n>
{
  "fr": {
    "send": "Envoyer",
    "subscribe-text": "Inscrivez vous à notre <strong>lettre d'information</strong>. Cela ne vous engage à rien, mais vous permet de rester informé des différentes activités du collectif."
  },
  "en": {
    "send": "Send",
    "subscribe-text": "Subscribe to our <strong>newsletter</strong>. This does not commit you to anything, but allows you to stay informed of the various activities of the collective."
  }
}
</i18n>

<template>
  <form @submit.prevent="validateBeforeSubmit">
    <div class='has-text-centered'>
      <span v-html="$t('subscribe-text')"> </span>
    </div>
    <b-field
      style="margin-top:20px"
      label="Email *"
      :type="{'is-danger': errors.has('email')}"
      :message="errors.first('email')"
    >
      <b-input
        name="email"
        v-validate="'required|email'"
        icon="envelope-open"
        placeholder="Email *"
        maxlength="50"
        v-model="email"
      ></b-input>
    </b-field>
    <div class='has-text-centered'>
      <button
        type="submit"
        class="button is-primary is-fullwidth"
        expanded
      >
        <span class="icon is-small"><i class="sui sui-paper-plane"></i></span>
        <span> {{ $t('send') }} </span>
      </button>
    </div>
  </form>
</template>

<script>
export default {
  name: 'FormulaireNewsletter',
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      email: ''
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          this.$store.dispatch('membres/addMembreNewsletter', {
            email: this.email,
            equipes: [],
            tutelles: [],
            disciplineCNU: null,
            genre: null,
            statut: null
          })
            .then((response) => {
              loadingComponent.close()
              this.$router.push({ name: 'merci' })
            })
        }
      })
    }
  }
}
</script>
