<template>
  <div>
    <div class="columns">
      <div class="column">
        <su-service :icon="'user-plus'">
          <template #title>
            Je souhaite rejoindre l'équipe réflexion du <em>Labos 1point5</em>
          </template>
           Les adhésions sont individuelles, ouvertes à toutes les disciplines et tous les statuts, et aux membres de la recherche publique quelle que soit leur institution de rattachement.
           <br />
           <br />
          <div class="columns">
            <div class="column">
              <b-field
                label="Email *"
                :type="{'is-danger': errors.has('email')}"
                :message="errors.first('email')">
                <b-input
                  name="email"
                  v-validate="'required|email'"
                  icon="envelope-open"
                  placeholder="Email *"
                  maxlength="50"
                  :disabled="buffer.email!=='' && !fullForm"
                  v-model="buffer.email"
                  @input="$emit('input', buffer)"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Genre *"
                :type="{'is-danger': errors.has('genre')}"
                :message="errors.first('genre')">
                <b-select
                  name="genre"
                  expanded
                  v-validate="'required'"
                  icon="neuter"
                  placeholder="Genre *"
                  v-model="buffer.genre"
                  @input="$emit('input', buffer)"
                >
                  <option
                    v-for="(genre,index) in genres"
                    :value="genre"
                    :key="index">
                    {{ genre.nom }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Nom *"
                :type="{'is-danger': errors.has('nom')}"
                :message="errors.first('nom')">
                <b-input
                  name="nom"
                  v-validate="'required'"
                  icon="user"
                  placeholder="Nom *"
                  maxlength="50"
                  v-model="buffer.nom"
                  @input="$emit('input', buffer)"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Prénom *"
                :type="{'is-danger': errors.has('prenom')}"
                :message="errors.first('prenom')">
                <b-input
                  name="prenom"
                  v-validate="'required'"
                  icon="user"
                  placeholder="Prénom *"
                  maxlength="50"
                  v-model="buffer.prenom"
                  @input="$emit('input', buffer)"
                ></b-input>
              </b-field>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <b-field
                label="Année de naissance *"
                :type="{'is-danger': errors.has('naissance')}"
                :message="errors.first('naissance')">
                <b-input
                  name="naissance"
                  v-validate="'required|numeric|min_value:1950|max_value:2005'"
                  icon="calendar"
                  placeholder="Année de naissance *"
                  maxlength="4"
                  v-model="buffer.anneeNaissance"
                  @input="$emit('input', buffer)"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Statut *"
                :type="{'is-danger': errors.has('statut')}"
                :message="errors.first('statut')">
                <b-select
                  name="statut"
                  expanded
                  v-validate="'required'"
                  icon="hubzilla"
                  placeholder="Statut *"
                  v-model="buffer.statut"
                  @input="$emit('input', buffer)"
                >
                  <option
                    v-for="(statut,index) in statuts"
                    :value="statut"
                    :key="index">
                    {{ statut.nom }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column">
              <b-field
                label="Discipline *"
                :type="{'is-danger': errors.has('discipline')}"
                :message="errors.first('discipline')"
              >
                <b-autocomplete
                  name="discipline"
                  v-model="buffer.disciplineCNU"
                  :data="filteredDisciplines"
                  placeholder="Discipline *"
                  :open-on-focus="true"
                  v-validate="'required'"
                  icon="hubzilla"
                  field="nom"
                  clearable
                  @input="$emit('input', buffer)"
                  expanded
                  @select="option => selected = option">
                  <template #empty>Aucune discipline trouvée</template>
                </b-autocomplete>
              </b-field>
            </div>
          </div>
        </su-service>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <l-map :zoom="zoom" :center="center" style="z-index: 0;">
          <l-tilelayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></l-tilelayer>
            <l-marker :lat-lng="currentMarker">
          </l-marker>
        </l-map>
      </div>
      <div class="column">
        <su-service :icon="'flask'">
          <template #title>
            Mon laboratoire
          </template>
          Veuillez saisir les informations de votre laboratoire ainsi que ses tutelles d'appartenance, séparées par des virgules.
          Si votre tutelle n'apparaît pas dans la liste, vous pouvez en ajouter une nouvelle.
          <br />
          <br />
          <b-field
            label="Laboratoire de rattachement *"
            :type="{'is-danger': errors.has('laboratoire')}"
            :message="errors.first('laboratoire')">
            <b-input
              name="laboratoire"
              v-validate="'required'"
              icon="flask"
              placeholder="Laboratoire de rattachement *"
              maxlength="100"
              v-model="buffer.laboratoire"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
          <b-field
            label="Ville *"
            :type="{'is-danger': errors.has('ville')}"
            :message="errors.first('ville')">
            <b-autocomplete
              v-model="buffer.ville"
              @blur="resetVille()"
              :data="geonamesVilles"
              placeholder="Ville *"
              icon="location-arrow"
              name="ville"
              field="name"
              clearable
              v-validate="'required'"
              maxlength="50"
              @keyup.native="getGenonamesVilles"
              @input="$emit('input', buffer)"
              @select="updateMarker">
              <template slot-scope="props">
                {{ props.option.name }}, {{ props.option.adminName1 }} [{{props.option.countryName}}]
              </template>
              <template slot="empty">Aucune ville trouvée</template>
            </b-autocomplete>
          </b-field>
          <b-field
            label="Tutelles *"
          >
            <tutelle-input
              v-model="buffer.tutelles"
              @input="$emit('input', buffer)"
            />
          </b-field>
        </su-service>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <su-service :icon="'social-home'">
          <template #title>
            Mon parcours / mes engagements
          </template>
          Précisez si vous avez un engagement associatif, institutionel ou autre.
          <br />
          <br />
          <b-checkbox v-model="association" name="association" v-validate="'required:false'">
            Je suis engagé dans le monde associatif.
          </b-checkbox>
          <b-input
            v-if="association"
            v-model="buffer.engagementAssociatif"
            placeholder="Je participe ou ai participé à une association de défense de l’environnement ou de l’ESR oui / laquelle."
            maxlength="500"
            rows="2"
            v-validate="'required'"
            type="textarea"
            @input="$emit('input', buffer)"
          ></b-input>
          <br v-if="!association" />
          <b-checkbox v-model="institutionelle" name="institutionelle" v-validate="'required:false'">
            Je suis engagé dans le monde institutionnel.
          </b-checkbox>
          <b-input
            v-if="institutionelle"
            v-model="buffer.engagementInstitutionel"
            placeholder="Je participe ou j’ai des responsabilités dans des groupes de travail institutionnels ou au niveau de mon laboratoire liés aux questions de développement durable, ou de réduction de l’empreinte environnementale de la recherche."
            maxlength="500"
            rows="2"
            v-validate="'required'"
            type="textarea"
            @input="$emit('input', buffer)"
          ></b-input>
          <br v-if="!institutionelle" />
          <b-checkbox v-model="autrePrecisions" name="autrePrecisions" v-validate="'required:false'">
            Autres précisions
          </b-checkbox>
          <b-input
            v-if="autrePrecisions"
            v-model="buffer.engagementAutres"
            placeholder="Autres précisions que je souhaite apporter (participation à un comité national, une instance de direction, un bureau de société savante, etc.)."
            maxlength="500"
            rows="2"
            type="textarea"
            v-validate="'required'"
            @input="$emit('input', buffer)"
          ></b-input>
          <br />
          <br />
          <b-field
            label="Commentaire"
          >
            <b-input
              v-model="buffer.msgReflexion"
              v-validate="'required'"
              maxlength="500"
              placeholder="Détaillez ici en quelques mots ce qui vous intéresse et quelles compétences vous pouvez mettre en oeuvre."
              type="textarea"
              rows="2"
              @input="$emit('input', buffer)"
            ></b-input>
          </b-field>
        </su-service>
      </div>
    </div>
    <div v-if="fullForm" class="box-blue">
      <b-field
        style="margin-top:0.6rem"
        :type="{'is-danger': errors.has('confidentialite')}"
        :message="{'Veuillez cocher la case afin de vous inscrire.' : errors.firstByRule('confidentialite', 'required')}">
        <b-checkbox v-model="confidentialite" name="confidentialite" v-validate="'required:false'">
          J'affirme avoir pris connaissance de la <router-link class="link" target="_blank" to="/politique-de-confidentialite">
          Politique de confidentialité</router-link> de <em>Labos 1point5</em>.
        </b-checkbox>
      </b-field>
      <b-field
        :type="{'is-danger': errors.has('charte')}"
        :message="{'Veuillez cocher la case afin de vous inscrire.' : errors.firstByRule('charte', 'required')}"
      >
        <b-checkbox v-model="charte" name="charte" v-validate="'required:false'">
          J'affirme avoir pris connaissance de la <router-link class="link" target="_blank" to="/labos1point5-charter">Charte
            </router-link> de <em>Labos 1point5</em>.
        </b-checkbox>
      </b-field>
    </div>
  </div>
</template>

<script>
import { geonames } from '@/mixins/geonames'
import '@/plugins/leaflet.js'

const DEFAULT_MARKER = [46.75, 2.32]

export default {
  name: 'FormulaireReflexion',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'l-map': () => import('vue2-leaflet').then(({ LMap }) => LMap),
    'l-tilelayer': () => import('vue2-leaflet').then(({ LTileLayer }) => LTileLayer),
    'l-marker': () => import('vue2-leaflet').then(({ LMarker }) => LMarker),
    'tutelle-input': () => import('@/components/TutelleInput.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  mixins: [geonames],
  props: {
    fullForm: Boolean,
    value: {
      type: Object,
      default: function () {
        return {
          pk: null,
          equipes: [],
          email: '',
          nom: '',
          prenom: '',
          ville: '',
          pays: '',
          disciplineCNU: '',
          genre: null,
          anneeNaissance: '',
          laboratoire: '',
          tutelles: [],
          statut: null,
          engagementAssociatif: '',
          engagementInstitutionel: '',
          engagementAutres: '',
          msgReflexion: '',
          commentaire: '',
          latitude: DEFAULT_MARKER[0],
          longitude: DEFAULT_MARKER[1]
        }
      }
    }
  },
  data () {
    return {
      buffer: Object.assign({}, this.value),
      confidentialite: false,
      charte: false,
      zoom: 5,
      geonamesVilles: [],
      autoIsSelected: false,
      isFetching: false,
      association: false,
      institutionelle: false,
      autrePrecisions: false
    }
  },
  computed: {
    currentMarker: function () {
      return [this.value.latitude, this.value.longitude]
    },
    center: function () {
      return [this.value.latitude, this.value.longitude]
    },
    disciplines: function () {
      return this.$store.getters['utils/userDisciplines']
    },
    genres: function () {
      return this.$store.getters['utils/genres']
    },
    statuts: function () {
      return this.$store.getters['utils/statuts']
    },
    filteredDisciplines: function (text) {
      return this.disciplines.filter(option => {
        return (
          option.nom
            .toString()
            .toLowerCase()
            .indexOf(this.buffer.disciplineCNU.toLowerCase()) >= 0
        )
      })
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign({}, this.value)
      },
      deep: true
    }
  },
  methods: {
    resetVille () {
      if (!this.autoIsSelected) {
        this.value.ville = ''
      }
    },
    updateMarker (option) {
      if (option) {
        this.value.latitude = parseFloat(option.lat)
        this.value.longitude = parseFloat(option.lng)
        this.value.pays = option.countryName
        this.value.ville = option.name
        this.autoIsSelected = true
      }
    },
    getGenonamesVilles () {
      this.isFetching = true
      this.geonamesVilles = []
      this.autoIsSelected = false
      this.searchGEONames(this.buffer.ville)
        .then(results => {
          results.data.geonames.forEach((item) => {
            if (this.geonamesVilles.filter(obj => obj.name === item.name).filter(obj => obj.countryName === item.countryName).length === 0) {
              this.geonamesVilles.push(item)
            }
          })
          this.isFetching = false
        })
        .catch((error) => {
          this.isFetching = false
          throw error
        })
    },
    isOK () {
      return (this.confidentialite && this.charte && this.buffer.genre !== null && this.buffer.anneeNaissance !== '' && this.buffer.laboratoire !== '' && this.buffer.statut !== null)
    }
  },
  mounted () {
    this.$store.dispatch('utils/getUserDisciplines')
    this.$store.dispatch('utils/getStatuts')
    this.$store.dispatch('utils/getGenres')
  }
}
</script>
