<i18n>
{
  "fr": {
    "publiele": "Publié le"
  },
  "en": {
    "publiele": "Published on"
  }
}
</i18n>

<template>
  <div>
    <!--{{pouets}}-->
    <div v-for="(pouet,index) in pouets" :key="index">
      <div v-if="index!=0"> <br/> </div>
      <div class="subtitle is-muted is-size-7 has-text-centered"
           style="margin-top: -5px;
                  z-index: 1000;
                  position: relative;
                  margin-bottom: -22px;
                  background: rgba(0,0,0,0.2);
                  color: whitesmoke;">
        {{ $t('publiele') }} {{pouet.created_at | shortDate}}
        <a class="link" :href=pouet.url target="_blank"><b-icon icon="external-link"></b-icon></a>
      </div>
      <div class="box-blue has-text-left" v-html="pouet.content"
           style="background-color:#484e53;color:#fff;border:none;padding-top:35px">">
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Mastodon',
  data () {
    return {
      pouets: null
    }
  },
  filters: {
    shortDate: function (value) {
      if (value) {
        return value.substring(0, 10)
      }
    }
  },
  mounted () {
    axios
      .get('https://botsin.space/api/v1/accounts/186950/statuses?limit=5')
      .then(response => (this.pouets = response.data))
  }
}
</script>
