<template>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box-blue">
          Il existe deux possibilités d’inscription que vous pouvez formaliser sur cette page.
          <ul style="list-style-type:square;margin-left:25px">
            <li>Si vous souhaitez contribuer aux <strong>travaux scientifiques</strong> sur la question de l’empreinte de
              la recherche, vous pouvez vous inscrire au <strong>Groupement de Recherche</strong>.
            </li>
            <li>Si vous souhaitez participer aux <strong>activités de réflexion</strong> sur la question de la réduction de l’empreinte
              environnementale de la recherche, vous pouvez rejoindre les membres de ce groupe pour participer aux
              discussions et à l’<strong>élaboration des textes</strong> et <strong>prises de position</strong> du collectif sur
              ce sujet.</li>
          </ul>
          Pour toute question, veuillez <router-link class="link" :to="{ name: 'nous-contacter' }">nous contacter</router-link>.
        </div>
      </div>
    </div>
    <br />
    <div class="columns">
      <div class="column is-6">
        <div class="boxicon is-bordered has-text-centered" data-animation="fadeInLeft" style="margin-bottom:0">
          <div class="bicon"><a class="notlink"><b-icon icon="user-plus"></b-icon></a></div>
          <h4>Rejoindre<br/>le GDR <em>Labos 1point5</em></h4>
          <br />
          <div class="content">
            <p>
              Être membre du GDR <em>Labos 1point5</em> signifie :
              <ul style="list-style:square">
                <li>
                  Contribuer aux travaux scientifiques
                </li>
                <li>
                  S'engager à consacrer au moins 5% de votre temps ETP
                </li>
                <li>
                  Avoir accès aux listes de diffusion internes
                </li>
                <li>
                  Avoir accès à une plateforme d’échanges sécurisée
                </li>
                <li>
                  Avoir accès à la newsletter de <em>Labos 1point5</em>
                </li>
              </ul>
            </p>
            <button
              class="button is-primary"
              style="margin-top:25px"
              @click="$router.push('/rejoindre-gdr')"
            >
              <span class="icon is-small"><i class="sui sui-users"></i></span>
              <span>Rejoindre le GDR <em>Labos 1point5</em></span>
            </button>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="boxicon is-bordered has-text-centered" data-animation="fadeInLeft" style="margin-bottom:0">
          <div class="bicon"><a class="notlink"><b-icon icon="lightbulb-o"></b-icon></a></div>
          <h4>Rejoindre<br/>l'équipe réflexion</h4>
          <br />
          <div class="content">
            <p>
              Être membre de l'équipe réflexion vous permet de :
              <ul style="list-style:square;">
                <li>
                  Participer aux discussions du collectif
                </li>
                <li>
                  Participer à l’élaboration des textes et prises de position
                </li>
                <li>
                  Avoir accès à la liste de diffusion de l'équipe réflexion
                </li>
                <li>
                  Avoir accès à la newsletter de <em>Labos 1point5</em>
                </li>
              </ul>
            </p>
            <button
              class="button is-primary is-fullwidth"
              style="margin-top:53px"
              @click="$router.push('/rejoindre-reflexion')"
              type="submit"
            >
              <span class="icon is-small"><i class="sui sui-users"></i></span>
              <span>Rejoindre l'équipe réflexion</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NousRejoindre'
}
</script>

<style lang="css" scoped>
  .boxicon .content {
    text-align: justify !important;
  }
</style>
