<template>
  <b-taginput
    field="nom"
    name="tutelles"
    icon="caret-right"
    :data="filteredTutelles"
    :allow-new="true"
    v-validate="'required'"
    rounded
    v-model="buffer"
    placeholder="Ajouter une tutelle"
    :open-on-focus="true"
    @typing="getFilteredTutelles"
    @input="$emit('input', buffer)"
    autocomplete
  >
    <template slot-scope="props">
      {{props.option.nom}}
    </template>
  </b-taginput>
</template>

<script>
export default {
  name: 'TutelleInput',
  inject: ['$validator'],
  props: {
    value: Array
  },
  data () {
    return {
      filteredTutelles: this.allTutelles,
      buffer: Object.assign([], this.value)
    }
  },
  computed: {
    allTutelles: function () {
      return this.$store.getters['tutelles/tutelles']
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign([], this.value)
      },
      deep: true
    }
  },
  methods: {
    getFilteredTutelles (text) {
      this.filteredTutelles = this.allTutelles.filter((option) => {
        return option.nom
          .toString()
          .toLowerCase()
          .indexOf(text.toLowerCase()) >= 0
      })
    }
  },
  created () {
    this.$store.dispatch('tutelles/getTutelles')
  }
}
</script>
