<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <su-service :icon="'keyboard-o'">
            <template #title>
              L'équipe de conception
            </template>
            <p style="text-align: justify;">
              Cette enquête a été réalisée au sein de l’équipe « Représentations et pratiques »
              de <em>Labos 1point5</em>, sous la coordination de :
              <ul class="thanks">
                <li>Marianne Blanchard : CERTOP, Toulouse</li>
                <li>Milan Bouchet-Valat : INED, Aubervilliers</li>
                <li>Damien Cartron : CMH, Paris</li>
                <li>Jérôme Greffion : IDHES, Nanterre</li>
                <li>Julien Gros : LEST, Aix-en-Provence</li>
                <li>avec la coordination nationale de <em>Labos 1point5</em>.</li>
              </ul>
            </p>
          </su-service>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> <span> Enquête #1</span>
            - <em>Labos 1point5</em> - <span>Janvier 2021</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SUService from '@/components/SUService.vue'
export default {
  name: 'LesEnquetes',
  components: {
    'su-service': SUService
  }
}
</script>

<style lang="css" scoped>
  .thanks {
    list-style-type:square;
    margin-left:20px
  }
  .thanks > li {
    padding-top: 10px;
  }
</style>
