<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px">
            <span style="font-size:1.4rem">
              <strong>Enquête #1: « Les personnels de la recherche face au
                changement climatique »</strong>
            </span>
            <p style="margin-top:7px;text-align: justify;">
              <strong>Cette enquête nationale</strong> par questionnaire en ligne vise à comprendre les pratiques et
              représentations dans le monde de la recherche concernant le changement climatique.
              Pour cela, elle se focalise principalement sur la dimension professionnelle, mais porte
              également sur des aspects plus personnels, qui sont essentiels à la compréhension globale
              des phénomènes étudiés.
            </p>
            <p style="text-align: justify;margin-top:7px">
              L’enquête a été conduite de fin juin à début décembre 2020 auprès de
              <strong>plus de 6000 répondant·es</strong>, tiré·es au sort parmi l’ensemble des personnels
              affiliés à une unité du CNRS, tous statuts et disciplines confondus.
            </p>
            <p style="margin-top:7px;text-align: justify;">
              Elle couvre donc une très large part des
              personnels de l’enseignement supérieur et de la recherche en France, incluant non seulement
              les salarié·es du CNRS mais aussi la plupart des enseignant·es-chercheur·es et doctorant·es
              des universités et grandes écoles.
            </p>
            <p style="text-align: justify;margin-top:7px">
              Le menu ci-contre donne accès à une présentation synthétique du questionnaire et des objectifs
              de l’enquête ainsi qu'aux premiers résultats.
              Le questionnaire complet est téléchargeable
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/BAwwPFDdpe3wEmZ/download">ici</a>.
            </p>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-flag"></i> <span>Objectifs</span>
          </h2>
          <div class="columns" style="margin:50px 10px 35px 10px">
            <div class="column">
              <div class="columns col-border-shaddow">
                <div class="column col-rotate" style="background-color:#d14d65;">
                  <span class="title is-5" style="color:#fff;">Pratiques</span>
                </div>
                <div class="column col-content col-content-1" @click="displayPkoi=true">
                  <figure class="image is-40x40">
                      <i class="sui sui-sliders" style="font-size:40px;"></i>
                  </figure>
                  <div>
                    <b>Mesurer</b><br/>les pratiques<br/>émettrices de gaz<br/> à effet de serre.
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="columns col-border-shaddow">
                <div class="column col-rotate" style="background-color:#8a4869;">
                  <span class="title is-5" style="color:#fff;">Solutions</span>
                </div>
                <div class="column col-content col-content-2" @click="displayPkoi=true">
                  <figure class="image is-40x40">
                    <i class="sui sui-search" style="font-size:40px;"></i>
                  </figure>
                  <div>
                    <b>Explorer</b><br/>des solutions<br/>et leur<br/>acceptabilité.
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="columns col-border-shaddow">
                <div class="column col-rotate" style="background-color:#5f548d;">
                  <span class="title is-5" style="color:#fff;">Opinions</span>
                </div>
                <div class="column col-content col-content-3" @click="displayPkoi=true">
                  <figure class="image is-40x40">
                    <i class="sui sui-comments" style="font-size:40px;"></i>
                  </figure>
                  <div>
                    <b>Recueillir</b><br/>la perception<br/>des<br/>personnels.
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="columns col-border-shaddow">
                <div class="column col-rotate" style="background-color:#3b589f;">
                  <span class="title is-5" style="color:#fff;">Situations</span>
                </div>
                <div class="column col-content col-content-4" @click="displayPkoi=true">
                  <figure class="image is-40x40">
                    <i class="sui sui-users" style="font-size:40px;"></i>
                  </figure>
                  <div>
                    <b>Évaluer</b><br/>la situation<br/>des<br/> répondant·es.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <strong>Les quatre objectifs principaux de l’enquête sont les suivants :</strong>
          <div class="columns">
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                <li style="margin-top:7px"><strong>Mesurer les pratiques</strong> fortement émettrices de gaz à
                  effet de serre, au niveau individuel mais aussi collectif (transports, matériels et consommations
                  énergétiques essentiellement). Comprendre leurs contextes et déterminants. Différencier les usages
                  selon leurs motifs et l’intérêt qu’en retirent les répondant·es. Identifier les changements de
                  pratiques déjà réalisés pour des raisons environnementales.
                </li>
                <li style="margin-top:7px"><strong>Explorer des solutions et leur acceptabilité :</strong> Recueillir
                  les opinions des personnels sur les transformations à introduire dans le monde de la recherche pour
                  diminuer les émissions de gaz à effet de serre, soit en se prononçant sur les propositions
                  réglementaires et d’organisation soit en pointant les marges de réductions à l’échelle individuelle.
                </li>
              </ul>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                <li style="margin-top:7px"><strong>Recueillir la perception des personnels par rapport aux enjeux
                  environnementaux</strong>, au changement climatique et à l'écologie en général.<br/> Identifier
                  d’éventuels engagements professionnels ou personnels dans l’écologie.<br/>Évaluer la connaissance des
                  émissions de gaz à effet de serre liées aux pratiques professionnelles.<br/><br/>
                </li>
                <li style="margin-top:7px"><strong>Évaluer la situation professionnelle et personnelle des
                  répondant·es.</strong> Identifier la position des répondant·es dans le champ scientifique et dans
                  la carrière (discipline, statut, publications, financements, internationalisation). Capter la
                  position sociale des répondant·es et de leur ménage.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> <span> Enquête #1</span>
            - <em>Labos 1point5</em> - <span>Janvier 2021</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'LesEnquetes'
}
</script>

<style lang="css" scoped>
  .boxicon .content {
    text-align: justify !important;
  }
  .col-border-shaddow {
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    background-color:#fff;
    text-align: center;
  }
  .col-rotate {
    transform:rotate(-90deg);
    width:145px;
    height: 48px;
    margin-top: 48px;
    margin-left: -70px;
    margin-right: -82px;
    text-align:center;
    border-radius: 15%;
  }
  .col-content {
    padding-top:4px;
    padding-bottom:4px;
    margin:auto;
  }
  .col-content-1 {
    color:#d14d65;
  }
  .col-content-1:hover {
    background-color:#d14d65;
    opacity: .8;
    color: #fff;
  }
  .col-content-2 {
    color:#8a4869;
  }
  .col-content-2:hover {
    background-color:#8a4869;
    opacity: .8;
    color: #fff;
  }
  .col-content-3 {
    color:#5f548d;
  }
  .col-content-3:hover {
    background-color:#5f548d;
    opacity: .8;
    color: #fff;
  }
  .col-content-4 {
    color:#3b589f;
  }
  .col-content-4:hover {
    background-color:#3b589f;
    opacity: .8;
    color: #fff;
  }
  .col-content-5 {
    color:#0d7eb6;
  }
  .col-content-5:hover {
    background-color:#0d7eb6;
    opacity: .8;
    color: #fff;
  }
</style>
