<template>
  <section>
    <div class="container">
      <div class="box-blue" style="margin-bottom:40px">
        <span style="font-size:1.4rem">
          <strong>Premiers résultats de l’enquête<br/>« Les personnels de la recherche
            face au changement climatique »</strong>
        </span>
        <p style="text-align:right">Version du 14 janvier 2021</p>
        <p style="margin-top:10px;text-align:justify">
          Ce document est complémentaire de la présentation générale de l’enquête.
          Il vise à rendre rapidement
          publiques les réponses à une sélection de questions, sans avoir recours à des
          traitements statistiques avancés et sans fournir d’interprétation.<br/>
          Il s’agit d’un document d’étape qui pourra être modifié et complété par la suite.
        </p>
      </div>
      <iframe src="/static/enquete1_resultats.html" width="100%" height="1250px" style="border-radius:10px;border:1px solid lightgrey"></iframe>
    </div>
  </section>
</template>

<script>

export default {
  name: 'LesEnquetes'
}
</script>

<style lang="css" scoped>
</style>
