<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-blue" style="margin-bottom:40px;text-align:justify">
            <span style="font-size:1.4rem">
              <strong>Présentation du questionnaire <br/>« Les personnels de la
                recherche face au changement climatique »</strong>
            </span>
            <p style="margin-top:7px">L’enquête vise à comprendre les pratiques et
              représentations dans le monde de la recherche concernant le changement
              climatique.<br/>Pour cela, le questionnaire (disponible
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/BAwwPFDdpe3wEmZ/download">ici</a>)
              se focalise
              principalement sur la dimension professionnelle, mais porte également sur
              des aspects plus personnels, qui sont essentiels à la compréhension globale
              des phénomènes étudiés.
            </p>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> <span>Introduction</span>
          </h2>
          <p style="margin-top:7px">On peut regrouper les questions selon
            <strong>quatre axes principaux </strong>:</p>
          <div class="columns">
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                <li style="margin-top:7px"><strong>Mesurer les pratiques</strong> fortement émettrices de gaz à
                  effet de serre, au niveau individuel mais aussi collectif (transports, matériels et consommations
                  énergétiques essentiellement). Comprendre leurs contextes et déterminants. Différencier les usages
                  selon leurs motifs et l’intérêt qu’en retirent les répondant·es. Identifier les changements de
                  pratiques déjà réalisés pour des raisons environnementales.
                </li>
                <li style="margin-top:7px"><strong>Explorer des solutions et leur acceptabilité :</strong> Recueillir
                  les opinions des personnels sur les transformations à introduire dans le monde de la recherche pour
                  diminuer les émissions de gaz à effet de serre, soit en se prononçant sur les propositions
                  réglementaires et d’organisation soit en pointant les marges de réductions à l’échelle individuelle.
                </li>
              </ul>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                <li style="margin-top:7px"><strong>Recueillir la perception des personnels par rapport aux enjeux
                  environnementaux</strong>, au changement climatique et à l'écologie en général.<br/> Identifier
                  d’éventuels engagements professionnels ou personnels dans l’écologie.<br/>Évaluer la connaissance des
                  émissions de gaz à effet de serre liées aux pratiques professionnelles.<br/><br/>
                </li>
                <li style="margin-top:7px"><strong>Évaluer la situation professionnelle et personnelle des
                  répondant·es.</strong> Identifier la position des répondant·es dans le champ scientifique et dans
                  la carrière (discipline, statut, publications, financements, internationalisation). Capter la
                  position sociale des répondant·es et de leur ménage.
                </li>
              </ul>
            </div>
          </div>

          <p style="margin-top:7px;text-align: justify;">L’exploitation des données recueillies cherchera à croiser
            ces différents axes pour en comprendre les interrelations. Elle permettra par exemple
            d’apporter des réponses aux questions suivantes :
          </p>
          <div class="columns">
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                <li style="margin-top:7px">Quelles sont les inégalités qui traversent le monde
                    de la recherche en matière de pratiques émettrices de gaz à effet de serre ?
                    Par exemple, comment se répartissent les déplacements en avion selon les
                    statuts, les disciplines et pour quels motifs et quelles durées de séjour ?
                </li>
                <li style="margin-top:7px">Quels efforts les personnels de la recherche sont-ils
                  prêts à réaliser en matière de réduction des émissions ? Dans quel(s) domaine(s) ?
                  Quelles solutions recommandent-ils/elles et rejettent-ils/elles ? Quels sont les
                  déterminants du soutien aux différentes solutions ?
                </li>
                <li style="margin-top:7px">Dans quelle mesure et dans quels cas la visioconférence
                  peut-elle permettre de réduire les déplacements professionnels ?
                </li>
              </ul>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                <li style="margin-top:7px">A quel point les logiques professionnelles sont-elles si
                  fortes qu’elles poussent à des pratiques en contradiction avec des convictions ou
                  des pratiques écologiques développées dans la sphère personnelle ? Ou que les
                  pratiques professionnelles sont en décalage avec des opinions sur ce que seraient
                  les transformations nécessaires dans le monde de la recherche ?
                </li>
                <li style="margin-top:7px">À quel point les personnels de la recherche sont-ils
                  inquiets des enjeux environnementaux et se sont déjà engagés dans des changements
                  de pratiques ? Peut-on identifier des profils et des secteurs plus engagés dans
                  ces changements que d’autres ?
                </li>
              </ul>
            </div>
          </div>

          <p style="margin-top:7px;text-align: justify;">
            Quelques points sur <strong>la méthode</strong> :
          </p>
          <div class="columns">
            <div class="column">
              <p style="margin-top:7px;text-align: justify;">
                Le questionnaire a été conçu de manière à ne pas dépasser une durée raisonnable
                d’auto-passation, de l’ordre de 30 minutes. Pour ne pas trop augmenter cette durée,
                deux blocs de questions identifiées comme un peu coûteuses en temps ont été placés
                dans des modules, qui ont été alternativement soumis à la moitié des répondant·es.
                Les réponses à ces deux blocs ne pourront être croisées entre elles, ce qui a aussi
                conditionné leur choix.<br/>
                Les questions ont été ordonnées de manière à commencer par les plus consensuelles
                portant sur l’activité professionnelle, pour finir par des questions potentiellement
                plus sensibles et portant sur la vie personnelle.
              </p>
            </div>
            <div class="column">
              <p style="margin-top:7px;text-align: justify;">
                 Comme les questionnaires
                partiellement remplis sont quand même collectés, les quelques questions essentielles
                (statut et opinion par rapport au changement climatique) sont placées au début de
                manière à ce qu’elles soient renseignées même si les répondant·es décrochent en
                cours de questionnaire.<br/>Le quizz est optionnel et apparaît donc après la fin du
                questionnaire.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-info"></i> <span>Informations générales</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Nous avons choisi de commencer le questionnaire par quelques questions
                permettant premièrement d’estimer les biais des non-réponses et, le cas échéant,
                de redresser l’échantillon. Au cas où l’individu abandonnerait le questionnaire
                en cours de route, le sexe, l’âge et le statut professionnel des répondant·es
                permettent a minima de savoir si ces abandons sont aléatoirement répartis ou non
                (le statut d’emploi, le sexe et l’âge sont ils des facteurs qui jouent sur la
                propension à aller au bout du questionnaire ?).
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                Deuxièmement, ils permettent,
                en fonction de l’endroit où la personne s’est arrêtée, de croiser les quelques
                réponses disponibles avec ces variables dont on a pu voir, grâce à une enquête
                sur les sociologues, qu’elles jouaient un rôle important dans les pratiques et
                les représentations qui nous intéressent.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-map-marker"></i> <span>Votre position vis-à-vis de l’environnement et de la recherche</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Cette partie a pour objectif d’identifier rapidement le positionnement des
                répondant·es face à l’enjeu climatique, leur état d’esprit mais aussi leurs
                pratiques de recherche. Ces caractéristiques pourront être ensuite mises en
                rapport à la fois avec les données personnelles (sexe, âge) et professionnelles
                (statut, discipline), mais aussi et surtout reliées aux pratiques effectives
                (déplacements en avion) et à la disposition aux changements.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                Une première série de questions permet d’identifier d’éventuel·les climatosceptiques
                et le degré de préoccupation des répondant·es vis-à-vis de l’enjeu climatique.
                Une deuxième série porte sur le positionnement en tant que chercheur/chercheuse
                des enquêté·es : thèmes de recherche en lien avec l’environnement et renoncement
                à certaines recherches pour des raisons écologiques.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-flask"></i> <span>Vos pratiques et celles de votre laboratoire</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Cette partie cherche à mesurer les efforts faits collectivement dans les
                laboratoires et individuellement par les répondant·es pour diminuer leur
                empreinte carbone. Certaines questions portent sur des “petits gestes”
                (comme le tri des déchets, les achats de proximité, l’impression recto-verso)
                dont l’effet réel sur les émissions est sans doute faible mais qui sont des
                indicateurs d’un premier niveau de mobilisation.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                Deux tableaux concernent des pratiques plus fortement émettrices : l’achat
                et l’utilisation de matériel informatique fortement consommateur d’énergie
                notamment pour leur production (ordinateur, tablette, écrans) ; et
                l’utilisation - pour les personnels concernés - de dispositifs expérimentaux
                plus ou moins énergivores. Un tableau vise à mesurer l’évolution des émissions
                dans différents domaines au cours des 5 dernières années.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-plane"></i> <span>Vos transports à des fins professionnelles</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Cette partie vise à identifier, dans leur diversité, les pratiques en matière
                de transports dans deux domaines qui pèsent a priori assez lourdement dans le
                bilan des émissions de gaz à effet de serre des membres du monde de la
                recherche :
              </p>
              <div class="columns">
                <div class="column is-5" style="margin-top:7px;padding-bottom:0">
                  <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
                    <li>les vols en avion</li>
                  </ul>
                </div>
                <div class="column is-7" style="margin-top:7px;padding-bottom:0">
                  <ul style="list-style-type:square;text-align: justify;">
                    <li>les trajets domicile-travail.</li>
                  </ul>
                </div>
              </div>
              <p style="text-align: justify;">Le but n’est pas
               de réaliser un bilan carbone précis. En revanche, l’un des objectifs est d’identifier
               les types d’enquêté·es ayant les pratiques les plus polluantes.
              </p>
              <p style="text-align: justify;margin-top:7px">
               Il s’agit aussi de
               cerner les motifs à l’origine de ces pratiques polluantes, tels que l’intérêt subjectif
               pour les conférences/congrès à l’étranger, et les freins à privilégier le train et
               le covoiturage.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Dans le détail, concernant l’avion, il s’agit de comptabiliser les vols effectués
                et connaître le(s) motif(s) des séjours et leur durée utile sur place. Toutes ces
                informations permettront notamment de classer les individus selon leur usage de
                l’avion. Nous cherchons également à identifier pourquoi les gens ont choisi l’avion
                plutôt que le train pour des trajets relativement courts.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                Enfin, puisque c’est un
                motif d’usage de l’avion qui s’est très fortement développé au cours des dernières
                décennies (et qui pourrait être un poste d’émission de gaz à effet de serre
                susceptible de décroître sans affecter trop le fonctionnement du monde de la
                recherche), nous interrogeons les enquêté·es sur ce que leur a apporté leur
                dernière conférence/congrès à l’étranger. Dans le cas où ils auraient renoncé à
                un déplacement à l’étranger, nous essayons d’en identifier les raisons, parmi
                lesquelles les raisons environnementales.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Concernant les trajets domicile-travail, le questionnaire permet d’établir un
                panorama précis des modes et temps de transports des enquêté·es et de cerner
                l’importance du recours au télétravail (dans la période pré-confinement).
                Tout comme nous cherchons plus haut à cerner les freins à l’usage du train, une
                question adressée à ceux et celles qui prennent leur voiture seul·e doit permettre
                de pointer les obstacles subjectifs au covoiturage.
              </p>
              <p style="text-align: justify;margin-top:7px">
                La plupart des questions de cette partie ont été placées dans deux modules distincts
                et ont donc été adressées à la moitié de l’effectif seulement.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-television"></i> <span>La visioconférence</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Cette partie cherche à estimer d’une part les usages (et les réticences
                face à l’usage) de la visioconférence et de l’audioconférence.<br>Et d’autre
                part l’effet qu’a pu avoir le confinement sur ces usages et leurs perceptions.
                <br/>On cherche notamment à étudier si les enquêtés ont élargi leurs usages de la
                visioconférence suite au confinement.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                Ainsi nous mesurons l’intensité de la pratique (avant et après le confinement),
                la diversité de ces usages (réunions, conférences, jury, etc.) mais également
                l’évolution de la position personnelle de l’enquêté·e face à la visioconférence.
                Nous cherchons à déterminer assez précisément les freins potentiels à
                l’extension de l’usage de la visioconférence au-delà du confinement.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-flask"></i> <span>Les solutions concrètes dans la recherche</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Cette partie vise à recueillir les opinions des répondant·es concernant les
                solutions qu’il est possible et souhaitable de mettre en œuvre pour réduire
                les émissions de gaz à effet de serre. Les questions portent à la fois sur les
                changements au niveau individuel (ce que l’enquêté·e est prêt·e à faire) et au
                niveau collectif. Elles se placent dans le cadre de la Stratégie nationale bas
                carbone française, qui prévoit une réduction des émissions de gaz à effet de
                serre d’environ un tiers d’ici à 2030.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Il s’agit tout d’abord d’évaluer si les répondant·es estiment que la recherche
                doit s’appliquer cette réduction d’un tiers, ou si son « rôle » justifie une
                dérogation. Le terme « rôle » est délibérément laissé dans le flou : il pourrait
                notamment des dimensions liées à l’écologie (le fait que la recherche peut
                travailler à mesurer le changement climatique, à lutter contre ses causes ou
                à atténuer ses conséquences…), mais aussi d’autres considérations comme la valeur
                intrinsèque de la connaissance ou l’importance de l’innovation pour maintenir
                la croissance économique. Le croisement de cette question assez précise avec
                celle plus large « La recherche publique doit montrer l’exemple en matière de
                réduction de l’empreinte écologique », qui recueille plus de 90% d’accord dans
                les enquêtes existantes, sera intéressant.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Quelle que soit la position de l’enquêté·e, l’existence d’engagements
                internationaux pris par la France justifie que l’on demande s’il/elle est prêt·e
                à réduire ses émissions individuelles dans différents domaines, dans quelle
                proportion, et, pour les dispositifs expérimentaux, par quels moyens.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                Une modalité a été prévue pour les personnes dont les émissions sont très basses
                dans certaines catégories, de manière à éviter une difficulté de réponse : si
                on est à zéro, réduire d’un tiers est-il facile (mathématiquement, un tiers de
                zéro égale zéro) ou doit-on répondre qu’il n’est pas possible d’aller plus bas ?
                On peut souligner que les personnes qui ont déjà réduit leurs émissions de manière
                importante sans pour autant les avoir ramenées à un niveau très bas ne peuvent
                pas être identifiées ici, de même que celles qui ont fait des efforts pour avoir
                une empreinte relativement faible dès le début de leur carrière.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Deux tableaux cherchent à mesurer les risques anticipés par les répondant·es
                concernant la réduction des émissions de gaz à effet de serre liées aux dispositifs
                expérimentaux et aux vols en avion. Ils couvrent à la fois le fond des activités
                de recherche, mais aussi des questions de carrière, de financement et de bureaucratie,
                ainsi que des avantages personnels liés au tourisme.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Suivent ensuite deux questions sur diverses solutions permettant de réduire les
                émissions. La première reprend une liste de solutions envisageables qui font écho
                aux thèmes abordés plus haut dans le questionnaire. La seconde, sur le covoiturage,
                pourra être croisée avec les modes de transport domicile-travail et, pour celles
                et ceux qui prennent la voiture seul·es, sur les raisons pour lesquelles le
                covoiturage n’est pas utilisé.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-leaf"></i> <span>Votre avis personnel par rapport à l’écologie en général</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Cette partie cherche à approfondir le positionnement des répondant·es
                face à l’écologie en général. Elle est placée vers la fin du questionnaire
                de manière à éviter que les personnes les moins sensibles à l’écologie arrêtent
                de répondre avant d’être arrivés aux questions portant plus directement sur la
                recherche.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Deux questions visent à identifier le ressenti face aux risques environnementaux.
                Un tableau servira à construire une échelle d’engagement pour la défense de
                l’environnement.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Deux questions sur le fait de prendre l’avion dans le cadre personnel visent à
                tester le lien entre pratiques personnelles et pratiques professionnelles, de
                manière à tenter d’identifier l’effet propre d’habitudes personnelles d’usage
                de l’avion de pratiques liées aux contingences professionnelles.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify">
                Un tableau permet ensuite de tester certaines vis-à-vis de changements jugés
                souhaitables/utiles.
              </p>
              <p style="text-align: justify;margin-top:7px">
                L’enjeu est de tester quelques grandes oppositions
                (notamment les « petits gestes » vs. une approche plus globale, voire
                contraignante comme les quotas ; le « capitalisme vert » et le développement
                durable vs. un changement radical de mode de production).
              </p>
              <p style="text-align: justify;margin-top:7px">Nous tenterons
                également de confronter les opinions des répondant·es à leurs pratiques.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-user"></i> <span>Votre activité et votre situation personnelle</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                Ces informations complètent, pour les individus qui iront jusqu’au bout du
                questionnaire, celles qui ont été récoltées par les premières questions. Elles
                sont de plusieurs ordres.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Des questions sur des variables susceptibles d’accroître l’impact climatique
                (en particulier dû aux déplacements) : le fait d’avoir des financements élevés,
                le fait d’avoir un profil fortement internationalisé.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Le nombre de publications, en particulier en langue anglaise, nous permettra
                notamment de dégager un lien entre la fréquence des déplacements et la production
                des chercheures.
              </p>
              <p style="text-align: justify;margin-top:7px">
                D’autres questions permettent d’objectiver plus finement la situation
                professionnelle de l’individu (avancée dans la carrière, situation d’emploi,
                en particulier le fait d’être à un moment stratégique de sa carrière, comme
                la recherche d’un poste ou d’une promotion). Ces questions permettent de tester
                notamment deux hypothèses. Premièrement, l’incitation à l’internationalisation
                des carrières peut avoir des effets d'accroissement des déplacements en avion,
                notamment aux moments charnières de l’évaluation des carrières que sont les
                promotions. Deuxièmement, les voyages pourraient être considérés par les
                répondant·es comme une compensation à une rémunération jugée faible, et à
                l’inverse un train de vie élevé peut entraîner des habitudes de déplacements
                peu économes en carbone.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify">
                Des questions concernant le temps partiel et la prise éventuelle d’un congé
                maladie permettront de tenir compte du fait qu’un temps de travail moindre
                sera probablement associé à une moindre intensité de pratiques émettrices de
                gaz à effet de serre.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Des questions cherchent à objectiver la situation personnelle (variables
                socio-démographiques, vie en couple, enfants, revenus, niveau d’instruction
                des parents, etc.) faisant l’hypothèse classique en sociologie que les opinions
                et les pratiques dépendent en partie des caractéristiques socio-démographiques
                et de la socialisation des individus durant leur jeunesse. Une question sur le
                revenu du foyer permettra de saisir ses conditions de vie et de voir si elles
                ont un lien avec les pratiques professionnelles.
              </p>
              <p style="text-align: justify;margin-top:7px">
                Enfin, le recueil des communes de travail et de résidence permet d’apprécier
                plus finement les distances domicile-travail et de mesurer des différences de
                comportements selon le type de zone où les individus travaillent (région
                parisienne, grande métropole, ville moyenne). Les informations concernant
                les communes exactes seront détruites une fois ces variables calculées.
              </p>
            </div>
          </div>

          <h2 class="title is-4 h2-news">
            <i class="sui sui-question-circle-o"></i> <span>Quiz sur les émissions de gaz à effet de serre</span>
          </h2>
          <div class="columns">
            <div class="column">
              <p style="text-align: justify;">
                L’objet de ce quiz est d’évaluer d’une part le degré de connaissance des
                répondant·es concernant l’ampleur des réductions d’émissions à réaliser
                pour limiter le changement climatique, et d’autre part leur perception des
                postes les plus émetteurs. Ces informations sont importantes pour tester
                l’hypothèse commune dans la littérature selon laquelle les comportements des
                individus dépendent à la fois de leur sentiment de l’urgence climatique et de
                leur perception du fait que leurs pratiques sont fortement émettrices ou non.
                Si ces perceptions sont très éloignées de la réalité, mieux informer à propos
                des facteurs d’émissions pourrait aider à changer les pratiques.
              </p>
            </div>
            <div class="column">
              <p style="text-align: justify;">
                Il serait difficile de poser ces questions dans le corps du questionnaire : les
                questions de connaissance peuvent rapidement amener les personnes à décrocher,
                surtout quand il s’agit comme ici de questions pointues auxquelles peu de
                répondant·es sont en mesure de répondre même de manière approximative. Le
                caractère ludique du quiz, qui permet de se tester en sachant que les réponses
                sont données juste après, permet de limiter ce problème, de même que le fait
                de le mettre à la fin et de bien le présenter comme optionnel.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> <span> Enquête #1</span>
            - <em>Labos 1point5</em> - <span>Janvier 2021</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'LesEnquetes'
}
</script>

<style lang="css" scoped>
</style>
