<template>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <su-service :icon="'thumbs-o-up'">
            <template #title>
              Remerciements
            </template>
            <p style="text-align: justify;">
              Nous remercions vivement les plus de 6000 personnes qui ont répondu au
              questionnaire, sans qui l'enquête n'aurait pas été possible.
            </p>
            <p style="text-align: justify;margin-top:7px">
              Les personnes suivantes ont contribué à l’élaboration et/ou aux tests du
              questionnaire par ordre alphabétique :
            </p>
            <div class="columns">
              <div class="column">
                <ul class="thanks">
                  <li>Sébastien Artigaud : LEMAR, Brest</li>
                  <li>Olivier Aumont : LOCEAN, Paris</li>
                  <li>Marc Bardou : CIC, Dijon</li>
                  <li>Pierre Barré : LG ENS, Paris</li>
                  <li>Tamara Ben Ari : CIRED, Nogent sur Marne</li>
                  <li>Olivier Berné : IRAP, Toulouse</li>
                  <li>Odile Blanchard : GAEL, Grenoble</li>
                  <li>Faroudy Boufassa : CESP, Villejuif</li>
                  <li>Claire Bouvard : LBCI, Grenoble</li>
                  <li>Sylvain Bouveret : LIG, Grenoble</li>
                  <li>Luisa Brunori : CHJ, Lille</li>
                  <li>Laurie Ciaramella : IIP, Paris</li>
                  <li>Philippe Ciblat : LTCI, Paris</li>
                  <li>David Clément : LCF, Palaiseau</li>
                  <li>Floriane Clement-Kumar : DYNAFOR, Castanet</li>
                  <li>Émilie Counil : INED, Aubervilliers</li>
                  <li>Paolo Crosetto : GAEL, Grenoble</li>
                  <li>Gaëlle Deletraz : Passages, Pau</li>
                  <li>Thierry Dudok de Wit : LPC2E, Orléans</li>
                  <li>Franck Elie : LPC2E, Orléans</li>
                  <li>Abigail Fallot : Cirad, Montpellier</li>
                  <li>Olivier Gallot-Lavallée : G2ELAB, Grenoble</li>
                  <li>Maxime Garnier : LPS, Orsay</li>
                  <li>Jérôme Garnier : CEA, Saclay</li>
                  <li>Matthieu Garnung‬ : LPC2E, Orléans</li>
                </ul>
              </div>
              <div class="column">
                <ul class="thanks">
                  <li>Philippe Gauron : IJCLab, Orsay</li>
                  <li>Nicolas Gilet : LPC2E, Orléans</li>
                  <li>Céline Guivarch : CIRED, Nogent sur Marne</li>
                  <li>Marine Haddad : INED, Aubervilliers</li>
                  <li>Arnaud Huvet : LEMAR, Brest</li>
                  <li>Vincent Jacques : LCC, Montpellier</li>
                  ‪<li>Matthieu Kretzschmar‬ : LPC2E, Orléans</li>
                  <li>Richard Lalou    : LPED, Marseille</li>
                  <li>Laurent Lamy : CIRED, Nogent sur Marne</li>
                  <li>Jérôme Lang : LAMSAD, Paris</li>
                  <li>Lauriane Lecoq : MMSB, Lyon</li>
                  <li>Tomas Legon : CEMS, Paris</li>
                  <li>Florence Maillochon : CMH, Paris</li>
                  <li>Nicolas Maudet : LIP6, Paris</li>
                  <li>Florence Menegaux : CESP, Villejuif</li>
                  <li>Marie Plessz : CMH, Paris</li>
                  <li>Philippe Quirion : CIRED, Nogent sur Marne</li>
                  <li>Philippe-Emmanuel Roche : Institut Néel, Grenoble</li>
                  <li>Olivier Ragueneau : LEMAR, Brest</li>
                  <li>Claire Revillet : LPC2E, Orléans</li>
                  <li>Virginie Ringa : CESP, Villejuif</li>
                  <li>Alexandra Rouquette : CESP, Villejuif</li>
                  <li>Benoit Tudoux : ISP, Paris</li>
                  <li>Raphaëlle Varraso : CESP, Villejuif</li>
                </ul>
              </div>
            </div>
          </su-service>
        </div>
        <div class="column is-1 news-title">
          <div class="news-title-content">
            <i class="sui sui-newspaper-o"></i> <span> Enquête #1</span>
            - <em>Labos 1point5</em> - <span>Janvier 2021</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SUService from '@/components/SUService.vue'
export default {
  name: 'LesEnquetes',
  components: {
    'su-service': SUService
  }
}
</script>

<style lang="css" scoped>
  .thanks {
    list-style-type:square;
    margin-left:20px
  }
  .thanks > li {
    padding-top: 5px;
  }
</style>
