<i18n>
{
  "fr": {
    "title": "Les bâtiments",
    "info-1": "Définissez l'ensemble des bâtiments occupés par le laboratoire en",
    "info-2": "On ne considère que les parties de bâtiments dédiées aux activités de recherche et au service support du laboratoire. Par conséquent, les salles d’enseignement, par exemple, seront déduites de la surface utile brute occupée.",
    "info-3": "Les données de consommations affichées ci-dessous pour le chauffage et l’électricité tiennent compte de la part de la surface utile brute que vous avez saisie.",
    "no-buildings": "Aucun bâtiment",
    "delete-msg": "Êtes vous sûr de vouloir supprimer le batiment",
    "save-msg": "Les informations de bâtiments ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "useful-area": "Surface utile brute",
    "perc-area": "Part de la SUB",
    "site": "Site"
  },
  "en": {
    "title": "Buildings",
    "info-1": "Define all the buildings occupied by the laboratory in",
    "info-2": "We only consider the spaces of the building that are dedicated to the research activities and to the research support services of the laboratory. Consequently teaching spaces, for example, must be subtracted from the gross useful area occupied. ",
    "info-3": "The consumption data posted below for heating and electricity account for the share of the gross useful area that you have entered. ",
    "no-buildings": "No building",
    "delete-msg": "Are you sure that you want to delete the building ?",
    "save-msg": "The buildings data have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "useful-area": "Gross useful area",
    "perc-area": "Share of the gross useful area",
    "site": "Site"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="module.erreur"/>
    <su-service :icon="'building'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        {{ $t('info-1') }} <strong>{{ BGESyear }}</strong>.
        <br />
        <br />
        {{ $t('info-2') }}
        <br />
        {{ $t('info-3') }}
      </p>
    </su-service>
    <br />
    <b-table
      :data="buildings"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      default-sort="nom"
    >
      <b-table-column
        v-if="sites.length > 0"
        :label="$t('site')"
        field="site"
        sortable
        v-slot="props"
      >
        {{ props.row.site }}
      </b-table-column>
      <b-table-column
        :label="$t('id')"
        field="nom"
        sortable
        v-slot="props"
      >
        {{ props.row.nom }}
      </b-table-column>
      <b-table-column
        :label="$t('useful-area')"
        field="superficie"
        sortable
        numeric
        v-slot="props"
      >
        {{ props.row.superficie }} m2
      </b-table-column>
      <b-table-column
        :label="$t('perc-area')"
        field="occupation"
        sortable
        numeric
        v-slot="props"
      >
        {{ props.row.occupation }}
      </b-table-column>
      <b-table-column
        :label="$t('heating')"
        field="chauffage"
        sortable
        numeric
        v-slot="props"
      >
        {{ Math.round(props.row.getHeatingConsumption()) | splitNumber }} ({{ $t(props.row.typeChauffage) }})
      </b-table-column>
      <b-table-column
        :label="$t('electricity')"
        field="electricite"
        sortable
        numeric
        v-slot="props"
      >
        {{ Math.round(props.row.getElectricityConsumption()) | splitNumber }}
      </b-table-column>
      <b-table-column
        :label="$t('refrigerants')"
        field="gazRefrigerant"
        sortable
        numeric
        v-slot="props"
      >
        {{ props.row | getGazListe }}
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-tooltip
            v-if="BGESsubmitted"
            :label="$t('display')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="search"
              @click="edit(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            v-else
            :label="$t('edit')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="pencil"
              @click="edit(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('delete')"
            type="is-black"
          >
            <b-button
              size="is-small"
              :disabled="BGESsubmitted"
              icon-left="trash"
              @click="del(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('no-buildings') }}</p>
        </div>
      </section>
    </b-table>
    <building-modal
      v-if="building!==null"
      :displayModal="displayModal"
      :building="building"
      :buildings="buildings"
      :modeCreation="modeCreation"
      @close="closeModal"
      @update="update"
      @add="add"
    />
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="BGESsubmitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            :icon-left="validSavedIcon"
            :disabled="!module.isModified"
            type="is-primary"
            @click="valider()"
          >
            <span v-if="isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Building from '@/models/Building.js'
import { mapGetters } from 'vuex'

export default {
  name: 'Buildings',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'building-modal': () => import('@/components/ges/forms/BuildingModal.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      modeCreation: false,
      displayModal: false,
      building: null
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    validSavedIcon: function () {
      let icon = null
      if (this.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    BGESsubmitted: function () {
      return this.$store.getters['boundaries/buildingsSubmitted']
    },
    BGESyear: function () {
      return this.$store.getters['boundaries/bges']['annee']
    },
    buildings: function () {
      return this.$store.getters['buildings/items']
    },
    module: function () {
      return this.$store.getters['buildings/module']
    },
    sitePrincipal: function () {
      return this.$store.getters['user/sitePrincipal']
    },
    sites: function () {
      return this.$store.getters['user/sites']
    }
  },
  filters: {
    getGazListe: function (building) {
      let listeGaz = ''
      for (let gaz of building.gazRefrigerant) {
        listeGaz += gaz.nom.toUpperCase() + ' (' + gaz.cTotale + ' kg), '
      }
      if (listeGaz !== '') {
        listeGaz = listeGaz.substring(0, listeGaz.length - 2)
      } else {
        listeGaz = '0'
      }
      return listeGaz
    }
  },
  methods: {
    valider: function () {
      if (this.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.$store.dispatch('buildings/save')
          .then(data => {
            loadingComponent.close()
            this.$store.commit('buildings/ERREUR', '')
            this.$store.commit('buildings/ISMODIFIED', false)
            if (this.buildings.length === 0) {
              this.$store.commit('buildings/ISVALID', false)
            } else {
              this.$store.commit('buildings/ISVALID', true)
            }
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
          })
          .catch((erreur) => {
            loadingComponent.close()
            this.$store.commit('buildings/ERREUR', erreur.response.data)
            this.$store.commit('buildings/ISVALID', false)
          })
      } else {
        if (this.buildings.length === 0) {
          this.$store.commit('buildings/ISVALID', false)
        } else {
          this.$store.commit('buildings/ISVALID', true)
        }
        this.$store.commit('buildings/ISMODIFIED', false)
      }
    },
    displayAddForm: function () {
      this.modeCreation = true
      this.building = new Building(
        null, '', 0, 100, false, false, null, {
          pk: null,
          cJanvier: 0,
          cFevrier: 0,
          cMars: 0,
          cAvril: 0,
          cMai: 0,
          cJuin: 0,
          cJuillet: 0,
          cAout: 0,
          cSeptembre: 0,
          cOctobre: 0,
          cNovembre: 0,
          cDecembre: 0,
          cTotale: 0,
          isMensuelle: true
        }, [], null, {
          pk: null,
          cJanvier: 0,
          cFevrier: 0,
          cMars: 0,
          cAvril: 0,
          cMai: 0,
          cJuin: 0,
          cJuillet: 0,
          cAout: 0,
          cSeptembre: 0,
          cOctobre: 0,
          cNovembre: 0,
          cDecembre: 0,
          cTotale: 0,
          isMensuelle: true
        }, false, 0, this.sitePrincipal
      )
      this.displayModal = true
    },
    closeModal: function () {
      this.displayModal = false
      this.building = null
    },
    add: function (building) {
      this.$store.dispatch('buildings/add', building)
      this.$store.commit('buildings/ISMODIFIED', true)
      this.closeModal()
    },
    update: function (obj) {
      this.$store.dispatch('buildings/update', obj)
      this.$store.commit('buildings/ISMODIFIED', true)
      this.closeModal()
    },
    edit: function (building) {
      this.modeCreation = false
      this.building = building
      this.displayModal = true
    },
    del: function (building) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('delete') + ' "' + building.nom + '"',
        message: self.$t('delete-msg') + ' <b>' + building.nom + '</b>?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.$store.dispatch('buildings/delete', building)
          self.$store.commit('buildings/ISMODIFIED', true)
        }
      })
    }
  }
}
</script>

<style>
.b-tabs .tabs {
  overflow: visible;
}
.b-tabs .tabs li.is-disabled {
  pointer-events: auto;
}
.b-tabs .tabs li.is-disabled a:active {
  pointer-events: none;
}
span.chauffage-header {
  margin-right: 15px;
}
.table td {
  vertical-align: middle !important;
}
</style>
