<i18n>
{
  "fr": {
    "title-1": "Modifier un bâtiment",
    "title-2": "Ajouter un bâtiment",
    "title-3": "Visualiser un bâtiment",
    "info-1": "Indiquez la surface utile brute (SUB) du bâtiment et la part occupée par votre laboratoire. Soit vous avez l’information précise pour cette part et vous la renseignez, soit vous l’estimez le mieux possible sur la base de vos observations.",
    "info-2": "Saisissez la consommation du bâtiment en chauffage, électricité et fluides frigorigènes. <br /> Par défaut la saisie des données est mensuelle. Si vous avez seulement une donnée annuelle, décochez la case « Consommations mensuelles disponibles ».",
    "info-3": "Pour les consommations de fluides frigorigènes, il est indispensable de connaître le fluide frigorigène utilisé car le pouvoir de réchauffement global de ces gaz est très différent d’un gaz à l’autre.",
    "info-4": "Si vous avez les factures d’entretien des systèmes de réfrigération / climatisation, vous disposez a priori du gaz concerné et des quantités de gaz injectées dans les systèmes pour compenser les fuites.",
    "check-1": "Le chauffage de ce bâtiment est électrique (pour partie ou en totalité).",
    "check-2": "Le laboratoire est propriétaire de l’installation de chauffage non électrique de ce bâtiment.",
    "check-3": "Le bâtiment produit et autoconsomme de l’électricité photovoltaïque.",
    "tooltip-1": "Si l’électricité n’est pas autoconsommée mais revendue sur le réseau, ne pas cocher la case.",
    "tooltip-2": "Hors chauffage électrique qui, lui, est inclus dans les consommations d’électricité.",
    "field-1": "Type de chauffage",
    "field-2": "Réseau de chaleur",
    "field-3": "Consommations mensuelles disponibles en",
    "field-4": "Consommation totale en",
    "field-5": "Autoconsommation totale annuelle en kWh",
    "field-6": "Consommation en kg",
    "field-7": "Site",
    "field-8": "Surface utile brute (m2)",
    "field-9": "Part de la SUB (%)",
    "error-1": "Identifiant déjà utilisé.",
    "error-2": "Réseau de chaleur non valide.",
    "refrigerant": "Fluide frigorigène",
    "no-refrigerant": "Aucun Fluide frigorigène",
    "more": "Plus",
    "less": "Moins"
  },
  "en": {
    "title-1": "Update a building",
    "title-2": "Add a building",
    "title-3": "Visualize building data",
    "info-1": "Enter the gross useful floor area of the building and the share occupied by the laboratory. Either you have the precise share and you enter it, or you assess it as best as you can based on your own observation.",
    "info-2": "Enter the heating, electricity and refrigerant gases consumptions of the building. <br /> By default the data entry is per month. If you only have data per year, uncheck the box « Monthly consumption available ».",
    "info-3": "For refrigerant gases, you must know which refrigerant gas is used, as their global warming potential differs widely",
    "info-4": "If you have the bills relating to the maintenance of the refrigeration / air conditioning systems, you may find therein the gas considered and the quantity injected into the systems to offset leakages.  ",
    "check-1": "The heating system of the building is electric (entirely or partially).",
    "check-2": "The laboratory is the owner of the non-electric heating system of the building.",
    "check-3": "The photovoltaic electricity generated by the building is self-consumed. ",
    "tooltip-1": "If the electricity is not self-consumed but sold to the grid, do not check the box. ",
    "tooltip-2": "Except electric heating, as it is included in the electricity consumption.",
    "field-1": "Heating type",
    "field-2": "District heating",
    "field-3": "Monthly consumption available in",
    "field-4": "Total consumption in",
    "field-5": "Total yearly self-consumption in kWh",
    "field-6": "Consumption in kg",
    "field-7": "Site",
    "field-8": "Gross useful floor area (m2)",
    "field-9": "Share of the gross useful area (%)",
    "error-1": "Name already used",
    "error-2": "Unvalid district heating.",
    "refrigerant": "Refrigerant",
    "no-refrigerant": "No refrigerant",
    "more": "More",
    "less": "Less"
  }
}
</i18n>

<template>
  <b-modal
    :can-cancel="['escape', 'x', 'outside']"
    :active="displayModal"
    @close="closeForm"
    has-modal-card
  >
    <div class="modal-card" style="width: 1000px; height: auto">
      <form @submit.prevent="validateBeforeSubmit">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ modalTitle }}</p>
        </header>
        <section class="modal-card-body">
          <div class="box-blue">
            {{ $t('info-1') }}
          </div>
          <br />
          <div class="columns">
            <div class="column">
              <b-field
                v-if="allBuildings.length === 0"
                :label="$t('id')"
                :type="{'is-danger': errors.has('id')}"
                :message="errors.first('id')"
              >
                <b-input
                  name="id"
                  icon="building"
                  :disabled="BGESsubmitted"
                  v-validate="'required|uniqueID'"
                  maxlength="50"
                  v-model="cbuilding.nom"
                ></b-input>
              </b-field>
              <b-field
                v-else
                :label="$t('id')"
                :type="{'is-danger': errors.has('id')}"
                :message="errors.first('id')"
              >
                <b-autocomplete
                  name="id"
                  icon="building"
                  v-model="cbuilding.nom"
                  :disabled="BGESsubmitted"
                  :open-on-focus="true"
                  :data="allBuildings"
                  v-validate="'required|uniqueID'"
                  field="nom"
                  @typing="reset"
                  @select="option => selectBuilding(option)">
                </b-autocomplete>
              </b-field>
            </div>
            <div class="column" v-show="sites.length > 0">
              <b-field :label="$t('field-7')">
                <b-select
                  expanded
                  :disabled="BGESsubmitted"
                  v-model="cbuilding.site"
                >
                  <option :value="sitePrincipal">{{ sitePrincipal }}</option>
                  <option
                    v-for="(csite,index) in sites"
                    :value="csite"
                    :key="index"
                  >
                    {{ csite }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column">
              <b-field
                :label="$t('field-8')"
                :type="{'is-danger': errors.has('superficie')}"
                :message="errors.first('superficie')">
                <b-input
                  name="superficie"
                  :disabled="BGESsubmitted"
                  v-validate="'required|numeric|min_value:1'"
                  v-model="cbuilding.superficie"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                :label="$t('field-9')"
                :type="{'is-danger': errors.has('occupation')}"
                :message="errors.first('occupation')">
                <b-input
                  name="occupation"
                  :disabled="BGESsubmitted"
                  v-validate="'required|decimal:2|max_value:100|min_value:0.01'"
                  v-model="cbuilding.occupation"
                ></b-input>
              </b-field>
            </div>
          </div>
          <b-checkbox
            :disabled="BGESsubmitted"
            v-model="cbuilding.chauffageElectrique"
          >
            {{ $t('check-1') }}
          </b-checkbox>
          <br />
          <b-checkbox
            :disabled="BGESsubmitted"
            v-model="cbuilding.isOwnedByLab"
          >
            {{ $t('check-2') }}
          </b-checkbox>
          <br />
          <b-checkbox
            :disabled="BGESsubmitted"
            v-model="cbuilding.autoProduction"
          >
            {{ $t('check-3') }}
            <b-tooltip
              multilined
              :label="$t('tooltip-1')"
              type="is-info"
            >
              <b-tag rounded type="is-info">
                <b-icon icon="info"></b-icon>
              </b-tag>
            </b-tooltip>
          </b-checkbox>
          <br />
          <br />
          <div class="box-blue" v-html="$t('info-2')" />
          <br />
          <b-tabs position="is-centered" class="block" style="margin:auto !important" expanded>
            <b-tab-item>
              <template slot="header">
                <span class="icon"><i class="sui sui-thermometer-full"></i></span>
                <span class="chauffage-header"> {{ $t('heating') }} </span>
                <b-tooltip
                  multilined
                  :label="$t('tooltip-2')"
                  type="is-info"
                >
                  <b-tag rounded type="is-info">
                    <b-icon icon="info"></b-icon>
                  </b-tag>
                </b-tooltip>
              </template>
              <div class="columns">
                <div class="column is-one-third">
                  <b-field
                    :label="$t('field-1')"
                    :type="{'is-danger': errors.has('heating')}"
                    :message="errors.first('heating')"
                  >
                    <b-select
                      expanded
                      name="heating"
                      :disabled="BGESsubmitted"
                      :placeholder="$t('field-1')"
                      v-model="cbuilding.typeChauffage"
                      @input="updateNetwork"
                    >
                      <option
                        :selected="index===0"
                        :value="heating"
                        v-for="(heating,index) in heatings"
                        :key="index"
                      >
                        {{ $t(heating) }}
                      </option>
                    </b-select>
                  </b-field>
                </div>
                <div class="column">
                  <b-field
                    :label="$t('field-2')"
                    :type="{'is-danger': errors.has('network')}"
                    :message="errors.first('network')"
                  >
                    <b-autocomplete
                      expanded
                      name="network"
                      v-validate="{ required: cbuilding.typeChauffage === URBAN_NETWORK, isUrbanNetwork: true }"
                      :placeholder="$t('field-2')"
                      :disabled="cbuilding.typeChauffage !== URBAN_NETWORK || BGESsubmitted"
                      v-model="urbanNetwork"
                      :open-on-focus="true"
                      :data="filteredUrbanNetwork"
                      field="description_FR"
                      @select="selectUrbanNetwork"
                      :clearable="true"
                    />
                  </b-field>
                </div>
              </div>
              <consommation-form :disabled="BGESsubmitted" v-model="cbuilding.chauffage">
                <template v-slot:mensuelles>
                  {{ $t('field-3') }} {{ $t(chauffageUnite) }}
                </template>
                <template v-slot:totale>
                  {{ $t('field-4') }} {{ $t(chauffageUnite) }}
                </template>
              </consommation-form>
            </b-tab-item>
            <b-tab-item icon="plug" :label="$t('electricity')">
              <b-field
                v-show="cbuilding.autoProduction"
                :label="$t('field-5')"
                :type="{'is-danger': errors.has('autoconsommation')}"
                :message="errors.first('autoconsommation')"
                style="margin-bottom:25px !important">
                <b-input
                  :disabled="BGESsubmitted"
                  name="autoconsommation"
                  v-validate="'required|numeric'"
                  v-model="cbuilding.autoconsommation"
                ></b-input>
              </b-field>
              <consommation-form :disabled="BGESsubmitted" v-model="cbuilding.electricite">
                <template v-slot:mensuelles>
                  {{ $t('field-3') }} {{ $t('kwh') }}
                </template>
                <template v-slot:totale>
                  {{ $t('field-4') }} {{ $t('kwh') }}
                </template>
              </consommation-form>
            </b-tab-item>
            <b-tab-item icon="snowflake-o" :label="$t('refrigerants')">
              <div class='box-blue'>
                {{ $t('info-3') }}
                <b-collapse :open="false" position="is-bottom" aria-id="contentIdForA11y1">
                  <a class="link" slot="trigger" slot-scope="props" aria-controls="contentIdForA11y1">
                    <b-icon :icon="!props.open ? 'caret-down' : 'caret-up'"></b-icon>
                    {{ !props.open ? $t('more') : $t('less') }}
                  </a>
                  {{ $t('info-4') }}
                </b-collapse>
              </div>
              <br />
              <table
                class="table is-narrow is-striped is-hoverable has-mobile-cards"
                style="width:100%"
              >
                <thead>
                  <tr>
                    <th>
                      <div class="th-wrap">
                        {{ $t('refrigerant') }}
                      </div>
                    </th>
                    <th>
                      <div class="th-wrap">
                        {{ $t('field-6') }}
                      </div>
                    </th>
                    <th style="width: 60px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="is-empty" v-show="cbuilding.gazRefrigerant.length===0">
                    <td colspan="3">
                      <section class="section">
                        <div class="content has-text-grey has-text-centered">
                          <p>
                            <i class="sui sui-ban" style="font-size: 64px;"></i>
                          </p>
                          <p>
                            {{ $t('no-refrigerant') }}
                          </p>
                        </div>
                      </section>
                    </td>
                  </tr>
                  <tr
                    v-for="refrigerant in cbuilding.gazRefrigerant"
                    :key="refrigerant.pk"
                    draggable="false"
                  >
                    <td class="has-text-center">
                      {{ getRefrigerantDescription(refrigerant.nom) }}
                    </td>
                    <td class="has-text-center">
                      {{ refrigerant.cTotale }}
                    </td>
                    <td>
                      <b-button
                        @click="deleteRefrigerant(refrigerant)"
                      >
                        <i class="sui sui-trash" style="font-size: 16px;"></i>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>
                      <b-select
                        expanded
                        :disabled="BGESsubmitted"
                        v-model="crefrigerant.nom"
                      >
                        <option
                          :value="refrigerant"
                          v-for="(refrigerant,index) in refrigerants"
                          :key="index"
                        >
                          {{ getRefrigerantDescription(refrigerant) }}
                        </option>
                      </b-select>
                    </th>
                    <th>
                      <b-field
                          :type="{'is-danger': errors.has('crefrigerantConsommation')}"
                          :message="errors.first('crefrigerantConsommation')">
                        <b-input
                          name="crefrigerantConsommation"
                          v-model="crefrigerant.cTotale"
                          :disabled="BGESsubmitted"
                          v-validate="'required|decimal'"
                        ></b-input>
                      </b-field>
                    </th>
                    <th style="width: 60px;">
                      <b-button
                        :disabled="isNaN(crefrigerant.cTotale) || crefrigerant.cTotale==='' || BGESsubmitted"
                        @click="addRefrigerant"
                      >
                        <i class="sui sui-plus" style="font-size: 16px;"></i>
                        {{ $t('add') }}
                      </b-button>
                    </th>
                  </tr>
                </tfoot>
              </table>
            </b-tab-item>
          </b-tabs>
          <hr />
          <nav class="level">
            <div class="level-left"></div>
            <div class="buttons level-right">
              <b-button
                class="button"
                @click="closeForm()"
                icon-left="close"
              >
                {{ $t('cancel') }}
              </b-button>
              <button
                v-show="modeCreation"
                :disabled="BGESsubmitted"
                type="submit"
                class="button is-primary"
              >
                <span class="icon is-small"><i class="sui sui-plus"></i></span>
                <span> {{ $t('add') }} </span>
              </button>
              <button
                :disabled="BGESsubmitted"
                v-show="!modeCreation"
                type="submit"
                class="button is-primary"
              >
                <span class="icon is-small"><i class="sui sui-refresh"></i></span>
                <span> {{ $t('update') }} </span>
              </button>
            </div>
          </nav>
        </section>
      </form>
    </div>
  </b-modal>
</template>

<script>
import Building from '@/models/Building.js'
import { mapGetters } from 'vuex'

const DEFAULT_REFRIGERANT = 'nf3'

export default {
  name: 'BuildingModal',
  props: {
    displayModal: {
      type: Boolean,
      default: false
    },
    building: {
      type: Object,
      default: function () {
        return {}
      }
    },
    buildings: {
      type: Array,
      default: function () {
        return []
      }
    },
    modeCreation: {
      type: Boolean,
      default: false
    }
  },
  components: {
    'consommation-form': () => import('@/components/ges/forms/ConsommationForm.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      URBAN_NETWORK: Building.urbanNetwork,
      cbuilding: Object.assign({}, this.building),
      crefrigerant: {
        pk: null,
        nom: DEFAULT_REFRIGERANT,
        cTotale: 0
      },
      urbanNetwork: ''
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    refrigerants: function () {
      return Building.getRefrigerants()
    },
    urbanNetworks: function () {
      return Building.getUrbanNetworks()
    },
    heatings: function () {
      return Building.getHeatings()
    },
    BGESsubmitted: function () {
      return this.$store.getters['boundaries/buildingsSubmitted']
    },
    chauffageUnite: function () {
      let unit = 'kwh.lhv'
      if (this.cbuilding.typeChauffage !== null && this.cbuilding.typeChauffage !== Building.urbanNetwork) {
        unit = Building.getHeatingUnit(this.cbuilding.typeChauffage)
      }
      return unit
    },
    allBuildings: function () {
      let usedNom = this.buildings.map(obj => obj.nom)
      return this.$store.getters['user/buildings'].filter(obj => !(usedNom.includes(obj.nom)))
    },
    sites: function () {
      return this.$store.getters['user/sites']
    },
    sitePrincipal: function () {
      return this.$store.getters['user/sitePrincipal']
    },
    modalTitle: function () {
      let title = this.$t('title-1')
      if (this.modeCreation) {
        title = this.$t('title-2')
      } else if (this.BGESsubmitted) {
        title = this.$t('title-3')
      }
      return title
    },
    filteredUrbanNetwork () {
      return this.urbanNetworks.filter(option => {
        return (
          option.description_FR
            .toString()
            .toLowerCase()
            .indexOf(this.urbanNetwork.toLowerCase()) >= 0
        )
      })
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.modeCreation) {
            this.$emit('add', this.cbuilding)
          } else {
            this.$emit(
              'update',
              {
                'from': this.building,
                'to': this.cbuilding
              }
            )
          }
        }
      })
    },
    updateNetwork () {
      if (this.cbuilding.typeChauffage !== this.URBAN_NETWORK) {
        this.cbuilding.reseauChauffageUrbain = null
        this.urbanNetwork = ''
      }
    },
    selectUrbanNetwork (option) {
      if (option) {
        this.cbuilding.reseauChauffageUrbain = option.network
      }
    },
    getRefrigerantDescription (type) {
      return Building.getDescription('refrigerants', type)
    },
    selectBuilding (building) {
      this.cbuilding.pk = building.pk
      this.cbuilding.nom = building.nom
      this.cbuilding.site = building.site
      this.cbuilding.isOwnedByLab = building.isOwnedByLab
      this.cbuilding.chauffageElectrique = building.chauffageElectrique
      this.cbuilding.autoProduction = building.autoProduction
      this.cbuilding.superficie = building.superficie
      this.cbuilding.occupation = building.occupation
      this.cbuilding.typeChauffage = building.typeChauffage
      this.cbuilding.reseauChauffageUrbain = building.reseauChauffageUrbain
    },
    reset () {
      this.cbuilding.pk = null
      this.cbuilding.nom = ''
      this.cbuilding.site = this.sitePrincipal
      this.cbuilding.isOwnedByLab = false
      this.cbuilding.chauffageElectrique = false
      this.cbuilding.autoProduction = false
      this.cbuilding.superficie = 0
      this.cbuilding.occupation = 100
      this.cbuilding.typeChauffage = null
      this.cbuilding.reseauChauffageUrbain = null
    },
    closeForm: function () {
      this.$emit('close')
    },
    addRefrigerant: function () {
      this.cbuilding.gazRefrigerant.push({
        'pk': this.crefrigerant.pk,
        'nom': this.crefrigerant.nom,
        'cTotale': this.crefrigerant.cTotale
      })
      this.crefrigerant.nom = DEFAULT_REFRIGERANT
      this.crefrigerant.cTotale = 0
    },
    deleteRefrigerant: function (gaz) {
      let index = null
      if (gaz.pk === null) {
        index = this.cbuilding.gazRefrigerant.findIndex(obj => obj.nom === gaz.nom)
      } else {
        index = this.cbuilding.gazRefrigerant.findIndex(obj => obj.pk === gaz.pk)
      }
      this.cbuilding.gazRefrigerant.splice(index, 1)
    }
  },
  created () {
    let self = this
    this.$validator.extend('uniqueID', {
      getMessage: field => self.$t('error-1'),
      validate: (value) => {
        if (!this.modeCreation) {
          if (value === this.cbuilding.nom) {
            return true
          } else {
            return this.buildings.filter(obj => obj.nom === value).length === 0
          }
        } else {
          return this.buildings.filter(obj => obj.nom === value).length === 0
        }
      }
    })
    this.$validator.extend('isUrbanNetwork', {
      getMessage: field => self.$t('error-2'),
      validate: (value) => {
        return this.urbanNetworks.map(obj => obj.description_FR).includes(value)
      }
    })
  },
  mounted () {
    if (this.isAuthenticated) {
      this.urbanNetwork = this.urbanNetworks.filter(obj => obj.network === this.building.reseauChauffageUrbain)
      if (this.urbanNetwork.length > 0) {
        this.urbanNetwork = this.urbanNetwork[0].description_FR
      } else {
        this.urbanNetwork = ''
      }
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.$store.dispatch('user/getAllBuildings')
        .then(data => {
          loadingComponent.close()
        })
    }
  }
}
</script>
