<i18n>
{
  "fr": {
    "field-1": "Consommations mensuelles disponibles",
    "field-2": "Consommation totale",
    "field-3": "De janvier à décembre",
    "field-4": "Janvier",
    "field-5": "Février",
    "field-6": "Mars",
    "field-7": "Avril",
    "field-8": "Mai",
    "field-9": "Juin",
    "field-10": "Juillet",
    "field-11": "Août",
    "field-12": "Septembre",
    "field-13": "Octobre",
    "field-14": "Novembre",
    "field-15": "Décembre"
  },
  "en": {
    "field-1": "Monthly consumption available",
    "field-2": "Total consumption",
    "field-3": "From January to December",
    "field-4": "January",
    "field-5": "February",
    "field-6": "March",
    "field-7": "April",
    "field-8": "May",
    "field-9": "June",
    "field-10": "July",
    "field-11": "August",
    "field-12": "September",
    "field-13": "October",
    "field-14": "November",
    "field-15": "December"
  }
}
</i18n>

<template>
  <div>
    <b-checkbox
      v-model="buffer.isMensuelle"
      :disabled="disabled"
      @input="$emit('input', buffer)"
    >
      <span v-if="buffer.isMensuelle">
        <slot name="mensuelles">{{ $t('field-1') }}</slot>
      </span>
      <span v-else>
        <slot name="totale">{{ $t('field-2') }}</slot>
      </span>
    </b-checkbox>
    <br />
    <br />
    <b-field :label="$t('field-3')" v-show="!buffer.isMensuelle">
      <b-input
        required
        :disabled="disabled"
        @input="$emit('input', buffer)"
        v-model="buffer.cTotale"
      ></b-input>
    </b-field>
    <div class="columns is-variable is-1" v-show="buffer.isMensuelle">
      <div class="column is-2">
        <b-field
          :label="$t('field-4')"
          :type="{'is-danger': errors.has('cJanvier')}"
          :message="errors.first('cJanvier')">
          <b-input
            name="cJanvier"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cJanvier"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-5')"
          :type="{'is-danger': errors.has('cFevrier')}"
          :message="errors.first('cFevrier')">
          <b-input
            name="cFevrier"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cFevrier"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-6')"
          :type="{'is-danger': errors.has('cMars')}"
          :message="errors.first('cMars')">
          <b-input
            name="cMars"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cMars"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-7')"
          :type="{'is-danger': errors.has('cAvril')}"
          :message="errors.first('cAvril')">
          <b-input
            name="cAvril"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cAvril"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-8')"
          :type="{'is-danger': errors.has('cMai')}"
          :message="errors.first('cMai')">
          <b-input
            name="cMai"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cMai"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-9')"
          :type="{'is-danger': errors.has('cJuin')}"
          :message="errors.first('cJuin')">
          <b-input
            name="cJuin"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cJuin"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
    </div>
    <div class="columns is-variable is-1" v-show="buffer.isMensuelle">
      <div class="column is-2">
        <b-field
          :label="$t('field-10')"
          :type="{'is-danger': errors.has('cJuillet')}"
          :message="errors.first('cJuillet')">
          <b-input
            name="cJuillet"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cJuillet"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-11')"
          :type="{'is-danger': errors.has('cAout')}"
          :message="errors.first('cAout')">
          <b-input
            name="cAout"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cAout"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-12')"
          :type="{'is-danger': errors.has('cSeptembre')}"
          :message="errors.first('cSeptembre')">
          <b-input
            name="cSeptembre"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cSeptembre"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-13')"
          :type="{'is-danger': errors.has('cOctobre')}"
          :message="errors.first('cOctobre')">
          <b-input
            name="cOctobre"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cOctobre"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-14')"
          :type="{'is-danger': errors.has('cNovembre')}"
          :message="errors.first('cNovembre')">
          <b-input
            name="cNovembre"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cNovembre"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-15')"
          :type="{'is-danger': errors.has('cDecembre')}"
          :message="errors.first('cDecembre')">
          <b-input
            name="cDecembre"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.cDecembre"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  inject: ['$validator'],
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object,
      default: function () {
        return {
          cJanvier: 0,
          cFevrier: 0,
          cMars: 0,
          cAvril: 0,
          cMai: 0,
          cJuin: 0,
          cJuillet: 0,
          cAout: 0,
          cSeptembre: 0,
          cOctobre: 0,
          cNovembre: 0,
          cDecembre: 0,
          cTotale: 0,
          isMensuelle: true
        }
      }
    }
  },
  data () {
    return {
      buffer: Object.assign({}, this.value)
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign({}, this.value)
      },
      deep: true
    }
  }
}
</script>
