<i18n>
{
  "fr": {
    "title": "Les Missions",
    "label-1": "Missions valides",
    "label-2": "Option « motif »",
    "label-3": "Option « statut »",
    "label-4": "Synthèse du fichier",
    "label-5": "Synthèse Globale",
    "error-msg-1": "Format de fichier non pris en charge.",
    "error-msg-2": "La limite du nombre de requêtes sur la base geonames est atteinte, veuillez attendre 1 heure avant de téléverser à nouveau votre fichier de missions.",
    "error-msg-3": "Fichier déjà téléversé",
    "error-msg-4": "Un fichier portant le même nom a déjà été téléversé.",
    "error-msg-5": "Suppression",
    "error-msg-6": "Des missions ne sont pas validées, continuer va entraîner leur suppression. <br /> Êtes vous sûr de vouloir continuer?",
    "error-msg-7": "Les missions téléversées depuis le fichier",
    "error-msg-8": "vont être supprimées. <br />Êtes vous sûr de vouloir continuer?",
    "error-msg-9": "Are you sure you want to delete all the trips data?",
    "error-msg-10": "Fichier invalide ",
    "save-msg": "Les informations de déplacements professionnels ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "info-1": "Définissez l'ensemble des missions financées sur crédits du laboratoire en",
    "info-2": "Une mission est ici définie par un déplacement professionnel n'utilisant pas les véhicules saisis dans l'onglet spécifique de l’outil.",
    "info-3": "Afin d'éviter les doubles comptages, ne compter que les <strong>déplacements professionnels financés sur crédits du laboratoire</strong>.<br /> Donc, si une personne de votre laboratoire s’est déplacée sur invitation, avec prise en charge de ses frais, ses émissions ne sont pas rattachées à votre laboratoire. Et inversement, si votre laboratoire organise un évènement en prenant en charge les déplacements, toutes les émissions de ces personnes extérieures doivent être imputées à votre laboratoire.",
    "info-4": "Les émissions des missions sont évaluées à l'aide d'un ou plusieurs",
    "info-5": "fichiers de missions",
    "info-6": "que vous pouvez téléverser. Chaque fichier doit être encodé en utf8 et doit contenir les colonnes comme présenté dans ce",
    "info-7": "fichier exemple",
    "info-8": "Quand vous ne disposez d'aucune information sur les escales du déplacement, saisissez seulement la ville de départ et la ville d'arrivée. Les distances des déplacements internes à une ville sont estimées à 0 du fait de l’absence de précisions sur les localisations dans la ville.",
    "info-9": "Lorsque des informations manquent ou sont erronées pour certaines missions dans un fichier téléversé, le statut <em>non valide</em> apparaît. En cliquant sur <i class='sui sui-pencil' style='font-size: 16px;'></i>, vous pouvez modifier la saisie de la mission concernée. Si aucune modification n’est opérée, la mission demeurera non validée et sera supprimée du calcul des émissions de GES.",
    "info-10": "Formats des fichiers de missions",
    "info-11": "Téléverser un fichier (.tsv)",
    "info-12": "Ajouter une mission",
    "info-13": "Modifier une mission",
    "info-14": "Définissez les villes de départ et de destination ainsi que le mode de transport utilisé lors de cette mission. Le motif du déplacement ainsi que le statut de l'agent sont optionnels."
  },
  "en": {
    "title": "Business travel",
    "label-1": "Valid trips",
    "label-2": "« Purpose » option",
    "label-3": "« Position » option",
    "label-4": "File overview",
    "label-5": "Overview",
    "error-msg-1": "Incompatible file format ",
    "error-msg-2": "The maximum number of requests on geonames database has been reached, please wait for an hour to upload your business travel file again.",
    "error-msg-3": "File already uploaded",
    "error-msg-4": "A file with the same name has already been uploaded.",
    "error-msg-5": "Delete",
    "error-msg-6": "Some trips data are not valid. If you continue to proceed, they will be deleted. <br />Are you sure you want to proceed?",
    "error-msg-7": "The trips data uploaded from the file",
    "error-msg-8": "will be deleted. <br />Are you sure you want to proceed?",
    "error-msg-9": "The trips data stored in the database will be deleted. Are you sure you want to proceed?",
    "error-msg-10": "Invalid file",
    "save-msg": "The data relating to business travel have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "info-1": "Enter all the business trips that were paid by your laboratory in ",
    "info-2": "A business trip is defined as a professional trip that did not use any vehicle entered in the specific tab « Vehicles » of the tool",
    "info-3": "In order to avoid double counting, please only enter the <strong>business trips that were paid for by your laboratory</strong>. <br /> Therefore, if a staff member was invited and his/her trip was paid by another organization, your laboratory does not bear the related emissions. Conversely, if your laboratory organizes an event and pays for the trips of the guests, your laboratory is responsible for the emissions generated by these trips.",
    "info-4": "The emissions generated by the business trips are estimated through one or several",
    "info-5": "business trip files",
    "info-6": "that you can upload. Every file must be saved in utf8 format and must contain the columns as presented in this",
    "info-7": "sample file",
    "info-8": "When you have no information about the stopovers of the trip, please only enter the departure city and the arrival city. The travel distances within a city are assumed to be zero due to the absence of distance data for sites within a city.",
    "info-9": "When data are missing or incorrect for some trips in an uploaded file, the status is <em>invalid</em>. When clicking on <i class='sui sui-pencil' style='font-size: 16px;'></i>, you can update the data of the related trip. If no update is made, the trip remains invalid and will be deleted from the GHG emission calculation.",
    "info-10": "Formats of the business trips files",
    "info-11": "Upload a file (.tsv)",
    "info-12": "Add a trip",
    "info-13": "Update a trip",
    "info-14": "Define the departure and arrival cities, as well as the mode of tranportation used for this trip. The purpose of the trip and the staff member's position are optional."
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="module.erreur" />
    <su-service :icon="'train'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        {{ $t('info-1') }} <strong>{{ BGESyear }}</strong>. {{ $t('info-2') }}
        <br />
        <span v-html="$t('info-3')"></span>
        <br /><br />
        {{ $t('info-4') }} <a class="link" @click="displayTSV=true"> {{ $t('info-5') }} </a>
        {{ $t('info-6') }}
        <a class='link' target='_blank' href='/static/templateMissions.tsv'> {{ $t('info-7') }} </a>.
        <br />
        {{ $t('info-8') }}
        <br /><br />
        <span v-html="$t('info-9')"></span>
      </p>
    </su-service>
    <br />
    <b-modal
      :active.sync="displayTSV"
      has-modal-card
    >
      <div class="modal-card" style="width: 900px; height: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('info-10') }}
          </p>
        </header>
        <section class="modal-card-body">
          <travels-file-format />
        </section>
      </div>
    </b-modal>
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false">
      <b-progress :value="progressRate" size="is-large" show-value format="percent"></b-progress>
    </b-loading>
    <div class="columns">
      <div class="column">
        <b-notification
          :closable="false"
        >
          <b-field>
            <b-select expanded v-model="currentFile">
              <option v-for="(file,key) in allFiles" :key="key" :value="file.name">
                <template v-if="key !== 0">{{ $t('label-4') }} </template>
                {{ file.name }}
              </option>
            </b-select>
            <p class="control">
              <b-button
                :disabled="BGESsubmitted"
                @click="del"
                icon-left="trash"
              />
            </p>
            <p class="control">
              <b-button
                @click="download"
                icon-left="download"
              />
            </p>
          </b-field>
        </b-notification>
        <div class="columns">
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-1') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span>{{ nbValidMissions(currentFile) }} / {{ nbMissions(currentFile) }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-2') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span v-if="missions.length === 0">-</span>
                      <span v-else-if="hasMotifsOption(currentFile)">
                        <i class="sui sui-check" style="font-size:26px;color:#48c774;" /> {{ $t('yes') }}
                      </span>
                      <span v-else>
                        <i class="sui sui-times" style="font-size:26px;color:#f14668;" /> {{ $t('no') }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-3') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span v-if="missions.length === 0">-</span>
                      <span v-else-if="hasStatutsOption(currentFile)">
                          <i class="sui sui-check" style="font-size:26px;color:#48c774;" /> {{ $t('yes') }}
                      </span>
                      <span v-else>
                        <i class="sui sui-times" style="font-size:26px;color:#f14668;" /> {{ $t('no') }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
        </div>
      </div>
      <div class="column is-4 is-flex is-vcentered">
        <b-upload
          :disabled="BGESsubmitted"
          v-model="dropFile"
          drag-drop
          expanded
          type="is-info"
        >
          <section class="section">
            <div class="content has-text-centered">
              <p>
                <span class="icon">
                  <i style="font-size: 36px" class="sui sui-upload"></i>
                </span>
              </p>
              <p>{{ $t('info-11') }}</p>
            </div>
          </section>
        </b-upload>
      </div>
    </div>
    <br />

    <missions-table @edit="editMission"></missions-table>

    <b-modal
      v-if="mission!==null"
      :active.sync="displayModal"
      has-modal-card
      :can-cancel="['escape', 'x', 'outside']"
    >
      <div class="modal-card" style="width: 1000px; height: auto">
        <header class="modal-card-head">
          <p v-if="modeCreation" class="modal-card-title">{{ $t('info-12') }}</p>
          <p v-else class="modal-card-title">{{ $t('info-13') }}</p>
        </header>
        <section class="modal-card-body">
          <div class="box-blue">
            {{ $t('info-14') }}
          </div>
          <br />
          <mission-form
            :mission="mission"
            :modeCreation="modeCreation"
            @close="closeMissionModal"
            @update="update"
            @add="add"
          />
        </section>
      </div>
    </b-modal>

    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="BGESsubmitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            :icon-left="validSavedIcon"
            :disabled="validerIsDisabled"
            type="is-primary"
            @click="validate()"
          >
            <span v-if="isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import axios from 'axios'
import Mission from '@/models/Mission.js'
import { geonames } from '@/mixins/geonames'
import { missionsCSVParser } from '@/mixins/missionsCSVParser'
import { mapGetters } from 'vuex'

export default {
  name: 'Missions',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'travels-file-format': () => import('@/components/ges/docs/TravelsFileFormat.vue'),
    'mission-form': () => import('@/components/ges/forms/MissionForm.vue'),
    'missions-table': () => import('@/components/ges/forms/MissionsTable.vue')
  },
  mixins: [geonames, missionsCSVParser],
  data () {
    return {
      displayTSV: false,
      dropFile: {},
      isLoading: false,
      geonamesCache: [],
      csvFormat: 'GES1POINT5_FORMAT',
      displayModal: false,
      mission: null,
      totalRequest: 0,
      processedRequests: 0,
      allFiles: [
        {
          'name': this.$t('label-5')
        }
      ],
      modeCreation: false,
      currentFile: this.$t('label-5')
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    progressRate: function () {
      return Math.round(this.processedRequests / this.totalRequest * 100)
    },
    validSavedIcon: function () {
      let icon = null
      if (this.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    BGESsubmitted: function () {
      return this.$store.getters['boundaries/travelsSubmitted']
    },
    BGESyear: function () {
      return this.$store.getters['boundaries/bges']['annee']
    },
    validerIsDisabled: function () {
      let toReturn = false
      if (this.module.erreur !== '') {
        toReturn = true
      } else {
        toReturn = !this.module.isModified
      }
      return toReturn
    },
    hasBeenLoaded: function () {
      let loaded = false
      if (!this.dropFile.name) {
        if (this.$store.getters['missions/hasMissions'] && this.module.isValid) {
          loaded = true
        }
      }
      return loaded
    },
    missions: function () {
      return this.$store.getters['missions/items']
    },
    travelsLoadedFromDatabase: function () {
      return this.$store.getters['missions/missionsLoadedFromDatabase']
    },
    module: function () {
      return this.$store.getters['missions/module']
    }
  },
  watch: {
    dropFile: function () {
      // read the header to define input format
      this.getCSVFormat(this.dropFile).then((csvFormat) => {
        this.csvFormat = csvFormat
        if (csvFormat === 'GESLAB_FORMAT') {
          this.processFile()
          this.currentFile = this.dropFile.name
        } else if (csvFormat === 'GES1POINT5_FORMAT') {
          this.processFile()
          this.currentFile = this.dropFile.name
        } else {
          this.$buefy.dialog.alert({
            title: this.$t('error-msg-10'),
            message: this.$t('error-msg-1')
          })
        }
      })
    }
  },
  methods: {
    nbValidMissions: function (source) {
      if (source === this.$t('label-5')) {
        return this.$store.getters['missions/nbValidMissions'](null)
      } else {
        return this.$store.getters['missions/nbValidMissions'](source)
      }
    },
    nbMissions: function (source) {
      if (source === this.$t('label-5')) {
        return this.$store.getters['missions/nbMissions'](null)
      } else {
        return this.$store.getters['missions/nbMissions'](source)
      }
    },
    hasMotifsOption: function (source) {
      if (source === this.$t('label-5')) {
        return this.$store.getters['missions/hasMotifsOption'](null)
      } else {
        return this.$store.getters['missions/hasMotifsOption'](source)
      }
    },
    hasStatutsOption: function (source) {
      if (source === this.$t('label-5')) {
        return this.$store.getters['missions/hasStatutsOption'](null)
      } else {
        return this.$store.getters['missions/hasStatutsOption'](source)
      }
    },
    download: function () {
      let csvContent = 'data:text/csv;charset=utf-8,'
      let now = new Date()
      let month = now.getMonth() + 1
      csvContent += 'mission\tDate de départ\tVille de départ\tPays de départ\tVille de destination\tPays de destination\tMode de déplacement\tNb de personnes dans la voiture\tAller Retour (OUI si identiques, NON si différents)\tMotif du déplacement (optionnel)\tStatut de l\'agent (optionnel)\n'
      for (let item of this.missions) {
        for (let id of item.idMission) {
          csvContent += id + '\t' + item.dateDepart + '\t' + item.villeDepart + '\t'
          csvContent += item.paysDepart + '\t' + item.villeDestination + '\t' + item.paysDestination + '\t'
          csvContent += item.modeDeplacement + '\t' + item.nbPersonneVoiture + '\t'
          if (item.isAllerRetour) {
            csvContent += 'o\t'
          } else {
            csvContent += 'n\t'
          }
          csvContent += item.motifDeplacement + '\t' + item.statut + '\n'
        }
      }
      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GES1point5Travels_' + now.getFullYear() + '' + month + '' + now.getDate() + '.tsv')
      link.click()
    },
    del: function () {
      let self = this
      let msg = this.$t('error-msg-7') + ' <strong>' + this.currentFile + '</strong> ' + this.$t('error-msg-8')
      let source = this.currentFile
      if (this.currentFile === this.allFiles[0].name) {
        msg = this.$t('error-msg-9')
        source = null
      }
      this.$buefy.dialog.confirm({
        title: self.$t('error-msg-5'),
        message: msg,
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.$store.dispatch('missions/deleteSource', source)
          self.$store.commit('missions/ISMODIFIED', true)
          if (source) {
            let index = self.allFiles.findIndex(obj => obj.name === source)
            self.allFiles.splice(index, 1)
          } else {
            self.allFiles = [
              {
                'name': self.$t('label-5')
              }
            ]
          }
          self.currentFile = self.$t('label-5')
        }
      })
    },
    closeMissionModal: function () {
      this.displayModal = false
      this.mission = null
    },
    update: function (obj) {
      this.$store.dispatch('missions/update', obj)
      this.$store.commit('missions/ISMODIFIED', true)
      this.closeMissionModal()
    },
    add: function (mission) {
      mission.source = 'utilisateur'
      this.$store.dispatch('missions/add', mission)
      this.$store.commit('missions/ISMODIFIED', true)
      if (this.allFiles.filter(obj => obj.name === 'utilisateur').length === 0) {
        this.allFiles.unshift({
          name: 'utilisateur',
          format: 'GES1POINT5_FORMAT'
        })
      }
      this.closeMissionModal()
    },
    editMission: function (mission) {
      this.modeCreation = false
      this.mission = mission
      this.displayModal = true
    },
    displayAddForm: function () {
      this.modeCreation = true
      let d = new Date()
      let cm = d.getMonth() + 1
      let cdate = d.getDate() + '/' + cm + '/' + d.getFullYear()
      this.mission = new Mission(
        [], cdate, '', '', '', '', '', null, 1, null, null, true, null, null, null, null
      )
      this.displayModal = true
    },
    processFile: function () {
      if (this.allFiles.filter(obj => obj.name === this.dropFile.name).length === 0) {
        let reader = new FileReader()
        let hasMotifsOption = true
        let hasStatutOption = true
        let self = this
        reader.addEventListener('load', function (event) {
          let lines = event.target.result.split('\n')
          self.processedRequests = 0
          self.$store.commit('missions/ERREUR', '')
          // first parse the file
          self.$store.commit('missions/ISMODIFIED', true)
          let deplacementsToSave = []
          for (let i = 1; i < lines.length; i++) {
            if (lines[i]) {
              let deplacement = self.parseCSVLine(lines[i], self.csvFormat)
              if (deplacement) {
                if (self.geonamesCache.filter(obj => (obj.name === deplacement.villeDepart && obj.countryCode === deplacement.paysDepart)).length === 0) {
                  self.geonamesCache.unshift({
                    'name': deplacement.villeDepart,
                    'countryCode': deplacement.paysDepart,
                    'countryCodeAdded': null,
                    'lat': null,
                    'lng': null,
                    'erreur': false
                  })
                }
                if (self.geonamesCache.filter(obj => (obj.name === deplacement.villeDestination && obj.countryCode === deplacement.paysDestination)).length === 0) {
                  self.geonamesCache.unshift({
                    'name': deplacement.villeDestination,
                    'countryCode': deplacement.paysDestination,
                    'countryCodeAdded': null,
                    'lat': null,
                    'lng': null,
                    'erreur': false
                  })
                }
                if (deplacement.motifDeplacement === '') {
                  hasMotifsOption = false
                }
                if (deplacement.statut === '') {
                  hasStatutOption = false
                }
                deplacementsToSave.push(deplacement)
              }
            }
          }
          // construit une requette pour toutes les villes non presentes dans le cache
          let allRequests = []
          let icities = []
          let index = 0
          for (let city of self.geonamesCache) {
            if (city.lat === null || city.lng === null) {
              allRequests.unshift(self.searchGEONames(city.name, city.countryCode, 1, 1, true))
              icities.unshift(index)
            }
            index += 1
          }
          self.totalRequest = allRequests.length
          axios.all(allRequests)
            .then(axios.spread((...responses) => {
              // mise a jour du cache
              let index = 0
              for (let icity of icities) {
                try {
                  self.geonamesCache[icity]['lat'] = responses[index].data.geonames[0].lat
                  self.geonamesCache[icity]['lng'] = responses[index].data.geonames[0].lng
                  self.geonamesCache[icity]['countryCodeAdded'] = responses[index].data.geonames[0].countryCode
                } catch {
                  self.geonamesCache[icity]['erreur'] = true
                  if ('status' in responses[index].data) {
                    if (responses[index].data.status.value === 19) {
                      self.$store.commit('missions/ERREUR', self.$t('error-msg-2'))
                    }
                  }
                }
                index += 1
              }
              // mise a jour des deplacements
              for (let deplacement of deplacementsToSave) {
                let erreur = false
                let vDepart = self.geonamesCache.filter(obj => (obj.name === deplacement.villeDepart && obj.countryCode === deplacement.paysDepart))[0]
                let vDestination = self.geonamesCache.filter(obj => (obj.name === deplacement.villeDestination && obj.countryCode === deplacement.paysDestination))[0]
                if (vDepart['erreur'] || vDestination['erreur']) {
                  erreur = true
                }
                if (deplacement.paysDepart === null) {
                  deplacement.setPaysDepart(vDepart['countryCodeAdded'])
                }
                if (deplacement.paysDestination === null) {
                  deplacement.setPaysDestination(vDestination['countryCodeAdded'])
                }
                let motifDeplacement = deplacement.motifDeplacement
                let statut = deplacement.statut
                if (!hasMotifsOption) {
                  motifDeplacement = ''
                }
                if (!hasStatutOption) {
                  statut = ''
                }
                deplacement.computeGeodesicDist(vDepart['lat'], vDepart['lng'], vDestination['lat'], vDestination['lng'])
                deplacement.computeType()
                self.$store.dispatch('missions/add', {
                  'idMission': deplacement.idMission,
                  'dateDepart': deplacement.dateDepart,
                  'villeDepart': deplacement.villeDepart,
                  'paysDepart': deplacement.paysDepart,
                  'villeDestination': deplacement.villeDestination,
                  'paysDestination': deplacement.paysDestination,
                  'localisation': null,
                  'modeDeplacement': deplacement.modeDeplacement,
                  'nbPersonneVoiture': deplacement.nbPersonneVoiture,
                  'motifDeplacement': motifDeplacement,
                  'statut': statut,
                  'isAllerRetour': deplacement.isAllerRetour,
                  'villeDepartLat': vDepart['lat'],
                  'villeDepartLng': vDepart['lng'],
                  'villeDestinationLat': vDestination['lat'],
                  'villeDestinationLng': vDestination['lng'],
                  'distance': deplacement.distance,
                  'missionType': deplacement.missionType,
                  'nbEffectue': deplacement.nbEffectue,
                  'forceInvalid': erreur,
                  'source': self.dropFile.name
                })
              }
              self.allFiles.push({
                name: self.dropFile.name,
                format: self.csvFormat
              })
              self.isLoading = false
            }))
        })
        reader.onloadstart = (ev) => {
          self.isLoading = true
        }
        reader.onerror = (ev) => {
          self.isLoading = false
          self.$store.commit('missions/ERREUR', ev.target.error)
        }
        reader.readAsText(this.dropFile)
      } else {
        let self = this
        this.$buefy.dialog.confirm({
          title: self.$t('error-msg-3'),
          message: self.$t('error-msg-4'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: false
        })
      }
    },
    validate: function () {
      let self = this
      if (this.$store.getters['missions/invalidMissions'].length !== 0) {
        this.$buefy.dialog.confirm({
          title: self.$t('error-msg-5'),
          message: self.$t('error-msg-6'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: ['escape', 'button', 'outside'],
          onConfirm: function () {
            self.$store.dispatch('missions/deleteInvalid')
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },
    subValidate: function () {
      if (this.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.$store.dispatch('missions/save')
          .then(data => {
            loadingComponent.close()
            if (this.missions.length === 0) {
              this.$store.commit('missions/ISVALID', false)
            } else {
              this.$store.commit('missions/ISVALID', true)
            }
            this.$store.commit('missions/ERREUR', '')
            this.$store.commit('missions/ISMODIFIED', false)
            this.allFiles = [
              {
                'name': this.$t('label-5')
              }
            ]
            this.currentFile = this.$t('label-5')
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
          })
          .catch((erreur) => {
            loadingComponent.close()
            this.$store.commit('missions/ISVALID', false)
            this.$store.commit('missions/ERREUR', erreur.response.data)
          })
      } else {
        if (this.missions.length === 0) {
          this.$store.commit('missions/ISVALID', false)
        } else {
          this.$store.commit('missions/ISVALID', true)
        }
        this.$store.commit('missions/ISMODIFIED', false)
      }
    }
  }
}
</script>

<style lang="css">
tr.is-warning {
  background: #fff1f1 !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
</style>
