<i18n>
{
  "fr": {
    "delete-msg-1": "Suppression",
    "delete-msg-2": "Êtes vous sûr de vouloir supprimer la mission?",
    "field-1": "Validité",
    "field-2": "Valide",
    "field-3": "Non valide",
    "field-4": "Départ",
    "field-5": "Destination",
    "field-6": "Mode",
    "field-7": "Distance",
    "field-8": "Quantité",
    "field-9": "A/R",
    "field-10": "Motif",
    "field-11": "Statut",
    "field-12": "Aucune mission"
  },
  "en": {
    "delete-msg-1": "Delete",
    "delete-msg-2": "Are you sure you want to delete the trip?",
    "field-1": "Validity",
    "field-2": "Valid",
    "field-3": "Invalid",
    "field-4": "Departure",
    "field-5": "Destination",
    "field-6": "Mode",
    "field-7": "Distance",
    "field-8": "Quantity",
    "field-9": "Round trip",
    "field-10": "Purpose",
    "field-11": "Position",
    "field-12": "No business trip"
  }
}
</i18n>

<template>
    <b-table
      :data="travels"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="20"
      default-sort="isValid"
    >
      <b-table-column field= "isValid" sortable :label="$t('field-1')" centered v-slot="props">
        <b-tag rounded v-if="props.row.isValid" type="is-success">{{ $t('field-2') }}</b-tag>
        <b-tag rounded v-else type="is-danger">{{ $t('field-3') }}</b-tag>
      </b-table-column>
      <b-table-column field= "villeDepart" sortable :label="$t('field-4')" centered v-slot="props">
        <span v-if="props.row.isFromDatabase()">-</span>
        <span v-else>{{ props.row.villeDepart }} ({{ props.row.paysDepart }})</span>
      </b-table-column>
      <b-table-column field= "villeDestination" sortable :label="$t('field-5')" centered v-slot="props">
        <span v-if="props.row.isFromDatabase()">-</span>
        <span v-else>{{ props.row.villeDestination }} ({{ props.row.paysDestination }})</span>
      </b-table-column>
      <b-table-column field="modeDeplacement" sortable :label="$t('field-6')" centered v-slot="props">
        <b-icon
          :pack="modePack(props.row.modeDeplacement)"
          :icon="modeIcon(props.row.modeDeplacement)"
        ></b-icon> {{ $t(props.row.modeDeplacement) }}
      </b-table-column>
      <b-table-column field="distance" sortable :label="$t('field-7')" centered numeric v-slot="props">
        <span v-if="props.row.distance !== null">{{ Math.round(props.row.distance) }}</span>
        <span v-else>-</span>
      </b-table-column>
      <b-table-column
        field="nbEffectue" :label="$t('field-8')" sortable centered numeric v-slot="props">
        <span v-if="props.row.nbEffectue">
          {{ props.row.nbEffectue }}
        </span>
        <span v-else>
          -
        </span>
      </b-table-column>
      <b-table-column
        field="isAllerRetour" sortable :label="$t('field-9')" centered v-slot="props">
        <b-icon v-if="props.row.isAllerRetour" icon="exchange"></b-icon>
        <b-icon v-else icon="long-arrow-right"></b-icon>
      </b-table-column>
      <b-table-column
        field="motifDeplacement" sortable :label="$t('field-10')" centered v-slot="props"
      >
        <span v-if="props.row.motifDeplacement">
          {{ $t(props.row.motifDeplacement) }}
        </span>
        <span v-else>
          -
        </span>
      </b-table-column>
      <b-table-column
        field="statut" :label="$t('field-11')" sortable centered v-slot="props"
      >
        <span v-if="props.row.statut">
          {{ $t(props.row.statut) }}
        </span>
        <span v-else>
          -
        </span>
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-tooltip
            v-if="!props.row.isFromDatabase()"
            :label="$t('edit')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="pencil"
              @click="edit(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="!props.row.isFromDatabase()"
            :label="$t('delete')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="trash"
              @click="del(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('field-12') }}</p>
        </div>
      </section>
    </b-table>
</template>

<script>
import Mission from '@/models/Mission.js'

export default {
  name: 'MissionsTable',
  computed: {
    travels: function () {
      return this.$store.getters['missions/items']
    }
  },
  methods: {
    edit: function (mission) {
      this.$emit('edit', mission)
    },
    del: function (mission) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('delete-msg-1'),
        message: self.$t('delete-msg-2') + ' <strong>' + mission.idMission + '</strong> ?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.$store.dispatch('missions/delete', mission)
          self.$store.commit('missions/ISMODIFIED', true)
        }
      })
    },
    modeIcon: function (mode) {
      return Mission.getIcon(mode)
    },
    modePack: function (mode) {
      return Mission.getIconPack(mode)
    }
  }
}
</script>

<style lang="css">
tr.is-warning {
  background: #fff1f1 !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
.table td {
  vertical-align: middle !important;
}
</style>
