<i18n>
{
  "fr": {
    "field-1": "Ville de départ",
    "field-2": "Ville de destination",
    "field-3": "Mode",
    "field-4": "Covoiturage",
    "field-5": "Quantité",
    "field-6": "Statut de l'agent",
    "field-7": "Motif du déplacement",
    "field-8": "Trajet aller / retour",
    "field-9": "Trajet simple",
    "field-11": "Distance",
    "field-12": "Emissions"
  },
  "en": {
    "field-1": "Departure city",
    "field-2": "Destination city",
    "field-3": "Travel mode",
    "field-4": "Carpooling",
    "field-5": "No of trips",
    "field-6": "Member position",
    "field-7": "Travel purpose",
    "field-8": "Round trip",
    "field-9": "Single trip",
    "field-10": "Single trip",
    "field-11": "Distance",
    "field-12": "Emissions"
  }
}
</i18n>

<template>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="columns">
      <div class="column">
        <b-notification :closable="false" v-if="!isNaN(distanceMission)">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-distance">
                {{ $t('field-11') }}
              </p>
              <div class="title is-size-2 has-text-distance">
                <p v-if="distanceMission !== null">
                  {{ distanceMission | splitNumber }}
                  <span class="is-size-4">km</span>
                </p>
                <p v-else>
                  ...
                  <span class="is-size-4">km</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false" v-if="!isNaN(distanceMission)">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-carbone">
                {{ $t('field-12') }}
              </p>
              <div class="title is-size-2 has-text-carbone">
                <p v-if="emissionsMission !== null">
                  {{ Math.round(emissionsMission.total) | splitNumber }} &plusmn;
                  {{ Math.round(emissionsMission.totali) | splitNumber }}
                  <span class="is-size-4">{{ $t('kg.co2e') }}</span>
                </p>
                <p v-else>
                  ...
                  <span class="is-size-4">{{ $t('kg.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <b-field
            v-if="!isSimulation"
            :label="$t('id') + '*'"
            :type="{'is-danger': errors.has('idMission')}"
            :message="errors.first('idMission')"
          >
            <b-taginput
              name="idMission"
              v-validate="'required'"
              icon="tags"
              :disabled="!modeCreation"
              v-model="cmission.idMission"
            ></b-taginput>
          </b-field>
          <b-field
            label=""
          >
            <b-switch
              :true-value="$t('field-8')"
              :false-value="$t('field-9')"
              v-model="allerRetour"
              @input="changeAllerRetour"
            >
              {{ allerRetour }}
            </b-switch>
          </b-field>
        </b-notification>
        <b-notification :closable="false">
          <geonames-input
            :label="$t('field-1')"
            v-model="cmission.villeDepart"
            @select="updateVilleDepart"
            :countryCode="cmission.paysDepart"
          />
          <geonames-input
            :label="$t('field-2')"
            v-model="cmission.villeDestination"
            @select="updateVilleDestination"
            :countryCode="cmission.paysDestination"
          />
        </b-notification>
      </div>
      <div class="column">
        <l-map ref="map" :bounds="bounds" style="z-index: 0;">
          <l-tilelayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></l-tilelayer>
          <l-marker :lat-lng="markerVilleDepart" :icon="createIcon(1)"></l-marker>
          <l-marker :lat-lng="markerVilleDestination" :icon="createIcon(2)"></l-marker>
        </l-map>
      </div>
    </div>
    <b-notification :closable="false">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column">
              <b-field
                :label="$t('field-3') + ' *'"
                :type="{'is-danger': errors.has('modeDeplacement')}"
                :message="errors.first('modeDeplacement')"
              >
                <b-select
                  expanded
                  :placeholder="$t('field-3') + ' *'"
                  :icon="modeIcon()"
                  :icon-pack="modePack()"
                  name="modeDeplacement"
                  @input="updateEmissions"
                  v-validate="'required'"
                  v-model="cmission.modeDeplacement"
                >
                  <option
                    :value="mode"
                    v-for="(mode,index) in modesDeplacements"
                    :key="index"
                  >
                    {{ $t(mode) }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column" v-if="nbPersonneVoitureVisible">
              <b-field
                :label="$t('field-4')"
                :type="{'is-danger': errors.has('nbPersonneVoiture')}"
                :message="errors.first('nbPersonneVoiture')"
              >
                <b-input
                  name="nbPersonneVoiture"
                  v-validate="'required|numeric|min_value:1'"
                  @input="updateEmissions"
                  icon="users"
                  type="number"
                  v-model="cmission.nbPersonneVoiture"
                ></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field
                :label="$t('field-5') + '*'"
                :type="{'is-danger': errors.has('nbEffectue')}"
                :message="errors.first('nbEffectue')"
              >
                <b-input
                  name="nbEffectue"
                  @input="updateDistance"
                  v-validate="'required|numeric|min_value:1'"
                  v-model="cmission.nbEffectue"
                  type="number"
                ></b-input>
              </b-field>
            </div>
          </div>
        </div>
        <div
          v-if="!isSimulation"
          class="column"
        >
          <div class="columns">
            <div class="column">
              <b-field
                :label="$t('field-7')"
              >
                <b-select
                  expanded
                  :placeholder="$t('field-7')"
                  v-model="cmission.motifDeplacement"
                >
                  <option
                    :value="purpose"
                    v-for="(purpose,index) in motifsDeplacements"
                    :key="index"
                  >
                    {{ $t(purpose) }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column">
              <b-field
                :label="$t('field-6')"
              >
                <b-select
                  expanded
                  :placeholder="$t('field-6')"
                  v-model="cmission.statut"
                >
                  <option
                    :value="statut"
                    v-for="(statut,index) in statuts"
                    :key="index"
                  >
                    {{ $t(statut) }}
                  </option>
                </b-select>
              </b-field>
            </div>
          </div>
        </div>
      </div>
    </b-notification>
    <hr v-if="!isSimulation">
    <nav
      v-if="!isSimulation"
      class="level"
    >
      <div class="level-left"></div>
      <div class="buttons level-right">
        <b-button
          class="button"
          @click="$emit('close')"
          icon-left="close"
        >
          {{ $t('cancel') }}
        </b-button>
        <button
          type="submit"
          class="button is-primary"
        >
          <span class="icon is-small"><i class="sui sui-plus"></i></span>
          <span v-if='modeCreation'> {{ $t('add') }} </span>
          <span v-else> {{ $t('update') }} </span>
        </button>
      </div>
    </nav>
  </form>
</template>

<script>
import L, { latLngBounds } from 'leaflet'
import icon from '@/assets/images/leaflet-markers/marker-icon-blue-full.png'
import shadow from '@/assets/images/leaflet-markers/marker-shadow.png'
import Mission from '@/models/Mission.js'
import '@/plugins/leaflet.js'
import 'leaflet.geodesic'

L.NumberedDivIcon = L.Icon.extend({
  options: {
    iconUrl: icon,
    number: '',
    shadowUrl: shadow,
    iconSize: new L.Point(25, 41),
    iconAnchor: new L.Point(13, 41),
    popupAnchor: new L.Point(0, -33),
    className: 'leaflet-div-icon'
  },

  createIcon () {
    const div = document.createElement('div')
    const img = this._createImg(this.options.iconUrl)
    const numdiv = document.createElement('div')
    numdiv.setAttribute('class', 'marker-number')
    numdiv.innerHTML = this.options.number || ''
    div.appendChild(img)
    div.appendChild(numdiv)
    div.classList.add('leaflet-div-icon')
    this._setIconStyles(div, 'icon')
    return div
  },

  createShadow () {
    const div = document.createElement('div')
    const img = this._createImg(this.options.shadowUrl)
    div.appendChild(img)
    this._setIconStyles(div, 'icon')
    return div
  }
})

export default {
  name: 'MissionForm',
  props: {
    mission: {
      type: Object,
      default: function () {
        return {}
      }
    },
    modeCreation: {
      type: Boolean,
      default: false
    },
    isSimulation: {
      type: Boolean,
      default: false
    }
  },
  components: {
    'l-map': () => import('vue2-leaflet').then(({ LMap }) => LMap),
    'l-tilelayer': () => import('vue2-leaflet').then(({ LTileLayer }) => LTileLayer),
    'l-marker': () => import('vue2-leaflet').then(({ LMarker }) => LMarker),
    'geonames-input': () => import('@/components/GeonamesInput.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      cmission: Mission.createFromObj(this.mission),
      isFetching: false,
      modesDeplacements: Mission.modesDeplacements,
      motifsDeplacements: Mission.motifsDeplacements,
      statuts: Mission.statuts,
      allerRetour: this.$t('field-8'),
      nbPersonneVoitureVisible: false,
      emissionsMission: null,
      distanceMission: null,
      geodesicLines: null
    }
  },
  computed: {
    BGESyear: function () {
      return this.$store.getters['boundaries/bges']['annee']
    },
    markerVilleDepart: function () {
      if (this.cmission.villeDepartLat !== null) {
        return [this.cmission.villeDepartLat, this.cmission.villeDepartLng]
      } else {
        return [0.0, 0.0]
      }
    },
    markerVilleDestination: function () {
      if (this.cmission.villeDestinationLat !== null) {
        return [this.cmission.villeDestinationLat, this.cmission.villeDestinationLng]
      } else {
        return [0.0, 0.0]
      }
    },
    bounds: function () {
      let shift = 1
      let latDepart = 0.0
      if (this.cmission.villeDepartLat !== null) {
        latDepart = parseFloat(this.cmission.villeDepartLat)
      }
      let latDest = 0.0
      if (this.cmission.villeDestinationLat !== null) {
        latDest = parseFloat(this.cmission.villeDestinationLat)
      }
      let lngDepart = 0.0
      if (this.cmission.villeDepartLng !== null) {
        lngDepart = parseFloat(this.cmission.villeDepartLng)
      }
      let lngDest = 0.0
      if (this.cmission.villeDestinationLng !== null) {
        lngDest = parseFloat(this.cmission.villeDestinationLng)
      }
      if (latDepart > latDest) {
        latDepart += shift
        latDest -= shift
      } else {
        latDepart -= shift
        latDest += shift
      }
      if (lngDepart > lngDest) {
        lngDepart += shift
        lngDest -= shift
      } else {
        lngDepart -= shift
        lngDest += shift
      }
      return latLngBounds([
        [
          parseFloat(latDepart),
          parseFloat(lngDepart)
        ],
        [
          parseFloat(latDest),
          parseFloat(lngDest)
        ]
      ])
    }
  },
  methods: {
    modeIcon: function () {
      return Mission.getIcon(this.cmission.modeDeplacement)
    },
    modePack: function () {
      return Mission.getIconPack(this.cmission.modeDeplacement)
    },
    createIcon (number) {
      return new L.NumberedDivIcon({ number: number.toString() })
    },
    drawGeodesicLines () {
      if (this.$refs.map) {
        const map = this.$refs.map.mapObject
        let newCoords = [
          new L.LatLng(this.markerVilleDepart[0], this.markerVilleDepart[1]),
          new L.LatLng(this.markerVilleDestination[0], this.markerVilleDestination[1])
        ]
        if (this.geodesicLines) {
          this.geodesicLines.setLatLngs(newCoords)
        } else {
          this.geodesicLines = new L.Geodesic(newCoords).addTo(map)
        }
      }
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.modeCreation) {
            this.$emit('add', this.cmission)
          } else {
            this.$emit(
              'update',
              {
                'from': this.mission,
                'to': this.cmission
              }
            )
          }
        }
      })
    },
    changeAllerRetour: function () {
      this.cmission.isAllerRetour = this.allerRetour === this.$t('field-8')
      this.updateDistance()
    },
    updateVilleDepart: function (option) {
      this.cmission.paysDepart = option.countryCode
      this.cmission.villeDepart = option.name
      this.cmission.villeDepartLat = parseFloat(option.lat)
      this.cmission.villeDepartLng = parseFloat(option.lng)
      this.updateDistance()
    },
    updateVilleDestination: function (option) {
      this.cmission.paysDestination = option.countryCode
      this.cmission.villeDestination = option.name
      this.cmission.villeDestinationLat = parseFloat(option.lat)
      this.cmission.villeDestinationLng = parseFloat(option.lng)
      this.updateDistance()
    },
    updateDistance: function () {
      this.cmission.distance = Mission.geodesicDist(
        this.cmission.villeDepartLat,
        this.cmission.villeDepartLng,
        this.cmission.villeDestinationLat,
        this.cmission.villeDestinationLng
      )
      this.drawGeodesicLines()
      if (this.cmission.villeDepartLat !== null && this.cmission.villeDestinationLat !== null) {
        this.distanceMission = Math.round(this.cmission.distance)
        this.distanceMission *= this.cmission.nbEffectue
        if (this.cmission.isAllerRetour) {
          this.distanceMission *= 2
        }
      } else {
        this.distanceMission = null
      }
      this.updateEmissions()
    },
    updateEmissions: function () {
      if (this.cmission.villeDepartLat !== null && this.cmission.villeDestinationLat !== null && this.cmission.modeDeplacement !== null) {
        this.emissionsMission = this.cmission.getCarbonIntensity(this.BGESyear)
      } else {
        this.emissionsMission = null
      }
    },
    updateRoundTrip: function () {
      if (this.cmission.isAllerRetour) {
        this.allerRetour = this.$t('field-8')
      } else {
        this.allerRetour = this.$t('field-9')
      }
    }
  },
  watch: {
    '$i18n.locale': function () {
      this.updateRoundTrip()
    },
    mission: {
      handler () {
        this.cmission = Mission.createFromObj(this.mission)
      },
      deep: true
    },
    'cmission.modeDeplacement': function () {
      if ([Mission.MODE_CAB, Mission.MODE_CAR].includes(this.cmission.modeDeplacement)) {
        this.nbPersonneVoitureVisible = true
      } else {
        this.nbPersonneVoitureVisible = false
      }
    }
  },
  mounted () {
    if (!this.modeCreation) {
      this.$validator.validate()
      this.distanceMission = Math.round(this.cmission.distance)
      this.emissionsMission = this.cmission.getCarbonIntensity(this.BGESyear)
      this.drawGeodesicLines()
    }
    if ([Mission.MODE_CAB, Mission.MODE_CAR].includes(this.cmission.modeDeplacement)) {
      this.nbPersonneVoitureVisible = true
    }
    this.updateRoundTrip()
  }
}
</script>

<style>
.has-text-distance {
  color: #8e6a9e !important;
}
.has-text-carbone {
  color: #208dbc !important;
}
.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon .marker-number {
  position: relative;
  top: -45px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
</style>
