<i18n>
{
  "fr": {
    "title-1": "Modifier un achat",
    "title-2": "Ajouter un achat",
    "title-3": "Visualiser un achat",
    "info-1": "Sélectionnez le code NACRES de l'achat ou faites une recherche par son intitulé. La saisie du montant est en euros.",
    "label-1": "Code NACRES",
    "label-2": "Intitulé NACRES",
    "label-3": "Montant en euros",
    "label-4": "Emissions"
  },
  "en": {
    "title-1": "Edit a purchase",
    "title-2": "Add a purchase",
    "title-3": "View a purchase",
    "info-1": "Select the NACRES code of the purchase or search by its description. The entry of the amount is in euros.",
    "label-1": "NACRES code",
    "label-2": "NACRES description",
    "label-3": "Amount in euros",
    "label-4": "Emissions"
  }
}
</i18n>

<template>
  <b-modal
    :active="displayModal"
    has-modal-card
    @close="closeForm"
    :can-cancel="['escape', 'x', 'outside']"
  >
    <div class="modal-card" style="width: 1000px; height: auto">
      <form @submit.prevent="validateBeforeSubmit">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ modalTitle }}</p>
        </header>
        <section class="modal-card-body">
          <div class="columns">
            <div class="column is-flex is-vcentered">
              <b-notification :closable="false">
                {{ $t('info-1') }}
              </b-notification>
            </div>
            <div class="column is-5">
              <b-notification :closable="false">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading has-text-carbone">
                      {{ $t('label-4') }}
                    </p>
                    <div class="title is-size-2 has-text-carbone">
                      <p v-if="emissions !== null">
                        {{ Math.round(emissions.total) | splitNumber }} &plusmn;
                        {{ Math.round(emissions.totali) | splitNumber }}
                        <span class="is-size-4">{{ $t('kg.co2e') }}</span>
                      </p>
                      <p v-else>
                        ...
                        <span class="is-size-4">{{ $t('kg.co2e') }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </b-notification>
            </div>
          </div>
          <b-notification :closable="false">
            <div class="columns">
              <div class="column is-3">
                <b-field
                  :label="$t('label-1')"
                  :type="{'is-danger': errors.has('code')}"
                  :message="errors.first('code')">
                  <b-autocomplete
                    icon="tag"
                    name="code"
                    clearable
                    :placeholder="$t('label-1') + ' *'"
                    v-model="cpurchase.code"
                    :disabled="BGESsubmitted"
                    :open-on-focus="true"
                    :data="filteredCodes"
                    v-validate="'required'"
                    @typing="reset"
                    @input="updateDescription"
                  />
                </b-field>
              </div>
              <div class="column">
                <b-field
                  :label="$t('label-2')"
                  :type="{'is-danger': errors.has('intitule')}"
                  :message="errors.first('intitule')">
                  <b-autocomplete
                    icon="tag"
                    name="intitule"
                    clearable
                    :placeholder="$t('label-2') + ' *'"
                    v-model="description"
                    :disabled="BGESsubmitted"
                    :open-on-focus="true"
                    :data="filteredDescriptions"
                    @typing="reset"
                    @input="updateCode"
                  />
                </b-field>
              </div>
              <div class="column is-3">
                <b-field
                  :label="$t('label-3')"
                  :type="{'is-danger': errors.has('amount')}"
                  :message="errors.first('amount')">
                  <b-input
                    name="amount"
                    icon="eur"
                    v-validate="'required|decimal'"
                    :disabled="BGESsubmitted"
                    maxlength="50"
                    v-model="cpurchase.amount"
                  ></b-input>
                </b-field>
              </div>
            </div>
          </b-notification>
          <hr v-if="!BGESsubmitted">
          <nav v-if="!BGESsubmitted" class="level">
            <div class="level-left"></div>
            <div class="buttons level-right">
              <b-button
                class="button"
                @click="closeForm()"
                icon-left="close"
              >
                {{ $t('cancel') }}
              </b-button>
              <button
                v-show="modeCreation"
                type="submit"
                class="button is-primary"
              >
                <span class="icon is-small"><i class="sui sui-plus"></i></span>
                <span> {{ $t('add') }} </span>
              </button>
              <button
                v-show="!modeCreation"
                type="submit"
                class="button is-primary"
              >
                <span class="icon is-small"><i class="sui sui-refresh"></i></span>
                <span> {{ $t('update') }} </span>
              </button>
            </div>
          </nav>
        </section>
      </form>
    </div>
  </b-modal>
</template>

<script>
import Purchase from '@/models/Purchase.js'
import { mapGetters } from 'vuex'

export default {
  name: 'PurchaseModal',
  props: {
    displayModal: {
      type: Boolean,
      default: false
    },
    purchase: {
      type: Object,
      default: function () {
        return {}
      }
    },
    modeCreation: {
      type: Boolean,
      default: false
    }
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      cpurchase: Purchase.createFromObj(this.purchase),
      description: ''
    }
  },
  watch: {
    purchase: {
      handler () {
        this.cpurchase = Purchase.createFromObj(this.purchase)
      },
      deep: true
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    BGESsubmitted: function () {
      return this.$store.getters['boundaries/purchasesSubmitted']
    },
    BGESyear: function () {
      return this.$store.getters['boundaries/bges']['annee']
    },
    emissions: function () {
      if (this.cpurchase.isValid()) {
        return this.cpurchase.getCarbonIntensity(this.BGESyear)
      } else {
        return null
      }
    },
    modalTitle: function () {
      let title = this.$t('title-1')
      if (this.modeCreation) {
        title = this.$t('title-2')
      } else if (this.BGESsubmitted) {
        title = this.$t('title-3')
      }
      return title
    },
    filteredCodes: function () {
      return this.codes.filter((option) => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(this.cpurchase.code.toLowerCase()) >= 0
      })
    },
    codes: function () {
      return Purchase.getCodes()
    },
    filteredDescriptions: function () {
      return this.descriptions.filter((option) => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(this.description.toLowerCase()) >= 0
      })
    },
    descriptions: function () {
      return Purchase.getDescriptions()
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.modeCreation) {
            this.$emit('add', this.cpurchase)
          } else {
            this.$emit(
              'update',
              {
                'from': this.purchase,
                'to': this.cpurchase
              }
            )
          }
        }
      })
    },
    closeForm: function () {
      this.$emit('close')
    },
    select (code) {
      this.cpurchase.setCode(code)
    },
    updateDescription (code) {
      this.cpurchase.setCode(code)
      this.description = this.cpurchase.getFactorDescription()
    },
    updateCode (description) {
      let newCode = this.cpurchase.getCodeFromDescription(description)
      if (newCode) {
        this.cpurchase.code = newCode
      }
    },
    reset () {
      this.cpurchase.pk = null
      this.cpurchase.code = ''
      this.description = ''
    }
  },
  mounted () {
    this.description = this.cpurchase.getFactorDescription()
  }
}
</script>
