<i18n>
{
  "fr": {
    "departure-city": "Ville de départ",
    "destination-city": "Ville de destination",
    "travel-mode": "Mode de transport",
    "carpooling": "Covoiturage"
  },
  "en": {
    "departure-city": "Departure city",
    "destination-city": "Destination city",
    "travel-mode": "Travel mode",
    "carpooling": "Carpooling"
  }
}
</i18n>

<template>
  <div>
    <b-field
      :label="$t('travel-mode') + ' *'"
      :type="{'is-danger': errors.has(travelMeanRandName)}"
      :message="errors.first(travelMeanRandName)"
    >
      <b-select
        expanded
        :placeholder="$t('travel-mode') + ' *'"
        :icon="modeIcon"
        :icon-pack="modePack"
        :name="travelMeanRandName"
        @input="$emit('input', buffer)"
        v-validate="'required'"
        v-model="buffer.modeDeplacement"
      >
        <option
          :value="mode"
          v-for="(mode,index) in modesDeplacements"
          :key="index"
        >
          {{ $t(mode) }}
        </option>
      </b-select>
    </b-field>
    <b-field
      v-if="carpoolingVisible"
      :label="$t('carpooling')"
      :type="{'is-danger': errors.has(carpoolingRandName)}"
      :message="errors.first(carpoolingRandName)"
    >
      <b-input
        :name="carpoolingRandName"
        v-validate="'required|numeric|min_value:1'"
        @input="updateCarpooling"
        icon="users"
        type="number"
        v-model="buffer.nbPersonneVoiture"
      ></b-input>
    </b-field>
    <geonames-input
      :label="$t('departure-city')"
      v-model="buffer.villeDepart"
      @select="updateDeparture"
      :countryCode="buffer.paysDepart"
      :readonly="departureIsReadOnly"
    />
    <geonames-input
      :label="$t('destination-city')"
      v-model="buffer.villeDestination"
      @select="updateDestination"
      :countryCode="buffer.paysDestination"
      :readonly="destinationIsReadOnly"
    />
  </div>
</template>

<script>
import Mission from '@/models/Mission.js'
import Travel from '@/models/Travel.js'

export default {
  name: 'TravelSectionForm',
  inject: ['$validator'],
  props: {
    value: {
      type: Object,
      default: function () {
        return {}
      }
    },
    departureIsReadOnly: {
      type: Boolean,
      default: false
    },
    destinationIsReadOnly: {
      type: Boolean,
      default: false
    }
  },
  components: {
    'geonames-input': () => import('@/components/GeonamesInput.vue')
  },
  data () {
    return {
      buffer: Object.assign({}, this.value),
      modesDeplacements: Travel.modesDeplacements,
      carpoolingVisible: false,
      sections: 1,
      activeSection: 0
    }
  },
  computed: {
    travelMeanRandName: function () {
      return 'travel-mean' + Math.floor(Math.random() * 1000000)
    },
    carpoolingRandName: function () {
      return 'carpooling' + Math.floor(Math.random() * 1000000)
    },
    modeIcon: function () {
      return Mission.getIcon(this.buffer.modeDeplacement)
    },
    modePack: function () {
      return Mission.getIconPack(this.buffer.modeDeplacement)
    }
  },
  methods: {
    updateDeparture: function (option) {
      this.buffer.paysDepart = option.countryCode
      this.buffer.villeDepart = option.name
      this.buffer.villeDepartLat = parseFloat(option.lat)
      this.buffer.villeDepartLng = parseFloat(option.lng)
      this.$emit('input', this.buffer)
      this.$emit('update-departure', this.buffer)
    },
    updateDestination: function (option) {
      this.buffer.paysDestination = option.countryCode
      this.buffer.villeDestination = option.name
      this.buffer.villeDestinationLat = parseFloat(option.lat)
      this.buffer.villeDestinationLng = parseFloat(option.lng)
      this.$emit('input', this.buffer)
      this.$emit('update-destination', this.buffer)
    },
    updateCarpooling: function () {
      this.$emit('input', this.buffer)
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign({}, this.value)
      },
      deep: true
    },
    'buffer.modeDeplacement': function () {
      if ([Mission.MODE_CAB, Mission.MODE_CAR].includes(this.buffer.modeDeplacement)) {
        this.carpoolingVisible = true
      } else {
        this.carpoolingVisible = false
      }
    }
  },
  mounted () {
    if ([Mission.MODE_CAB, Mission.MODE_CAR].includes(this.buffer.modeDeplacement)) {
      this.carpoolingVisible = true
    }
  }
}
</script>
