<i18n>
{
  "fr": {
    "title-1": "Modifier un véhicule",
    "title-2": "Ajouter un véhicule",
    "title-3": "Visualiser un véhicule",
    "info-1": "Sélectionnez le type de véhicule (véhicules routiers, bateaux ou encore aéronefs) ainsi que sa motorisation.",
    "info-2": "Par défaut la saisie des données (consommation d’énergie, distance parcourue, durée d'utilisation) est mensuelle. Si vous avez seulement une donnée annuelle, décochez la case « Consommations / Heures de vol mensuelles disponibles ».",
    "check-1": "Le laboratoire a le contrôle opérationnel de ce véhicule.",
    "tooltip-1": "Le laboratoire a le contrôle opérationnel du véhicule si il le possède, le loue dans le cadre d'un contrat de leasing ou l'exploite. Si le véhicule est mis à disposition par un prestataire extérieur sans que le laboratoire puisse décider du type de véhicule qu'il souhaite, le laboratoire n'en a pas le contrôle opérationel.",
    "field-1": "Heures de vol mensuelles disponibles",
    "field-2": "Distances mensuelles disponibles en",
    "field-3": "Consommations mensuelles disponibles en",
    "field-4": "Heures de vol totales",
    "field-5": "Distance totale en",
    "field-6": "Consommation totale en",
    "field-7": "Puissance totale (en CV)",
    "field-8": "# moteurs",
    "field-9": "Type d'aéronef"
  },
  "en": {
    "title-1": "Update a vehicle",
    "title-2": "Add a vehicle",
    "title-3": "View a vehicle",
    "info-1": "Select the type of vehicle (road vehicle, ship, aircraft) as well as the type of engine.",
    "info-2": "By default, the data entry (energy consumption, distance traveled, duration of use) is per month. If you only have data per year, uncheck the box « Monthly consumption /flight hours available ».",
    "check-1": "The laboratory operationally controls this vehicle",
    "tooltip-1": "The laboratory operationally controls the vehicle if it owns it, leases it or controls its use. If the vehicle is provided by an external company and the laboratory cannot decide which type of vehicle to operate, the laboratory does not operationnally control the vehicle.",
    "field-1": "Monthly flight hours available",
    "field-2": "Monthly distances available in",
    "field-3": "Monthly consumption available in",
    "field-4": "Total flight hours",
    "field-5": "Total distance in",
    "field-6": "Total consumption in",
    "field-7": "Total power (HP)",
    "field-8": "# engines",
    "field-9": "Type of aircraft"
  }
}
</i18n>

<template>
  <b-modal
    :active="displayModal"
    has-modal-card
    @close="closeForm"
    :can-cancel="['escape', 'x', 'outside']"
  >
    <div class="modal-card" style="width: 1000px; height: auto">
      <form @submit.prevent="validateBeforeSubmit">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ modalTitle }}</p>
        </header>
        <section class="modal-card-body">
          <div class="box-blue">
            {{ $t('info-1') }}
            <br />
            {{ $t('info-2') }}
          </div>
          <br />
          <b-checkbox
            :disabled="BGESsubmitted"
            v-model="cvehicle.controleOperationnel"
          >
            {{ $t('check-1') }}
            <b-tooltip multilined :label="$t('tooltip-1')" type="is-info">
              <b-tag rounded type="is-info">
                <b-icon icon="info"></b-icon>
              </b-tag>
            </b-tooltip>
          </b-checkbox>
          <hr>
          <div class="columns">
            <div class="column">
              <b-field
                v-if="allVehicles.length === 0"
                :label="$t('id')"
                :type="{'is-danger': errors.has('nom')}"
                :message="errors.first('nom')">
                <b-input
                  name="nom"
                  :icon="typeIcon()"
                  :icon-pack="typeIconPack()"
                  v-validate="'required|uniqueID'"
                  :disabled="BGESsubmitted"
                  maxlength="50"
                  v-model="cvehicle.nom"
                ></b-input>
              </b-field>
              <b-field
                v-else
                :label="$t('id')"
                :type="{'is-danger': errors.has('nom')}"
                :message="errors.first('nom')">
                <b-autocomplete
                  :icon="typeIcon()"
                  :icon-pack="typeIconPack()"
                  v-model="cvehicle.nom"
                  :open-on-focus="true"
                  v-validate="'required|uniqueID'"
                  :data="allVehicles"
                  field="nom"
                  :disabled="BGESsubmitted"
                  @typing="reset()"
                  @select="option => selectedVehicle(option)">
                </b-autocomplete>
              </b-field>
            </div>
            <div class="column">
              <b-field
                :label="$t('type')"
                :type="{'is-danger': errors.has('typeVehicule')}"
                :message="errors.first('typeVehicule')">
                <b-select
                  expanded
                  @input="typeVehiculeChanged"
                  name="typeVehicule"
                  v-validate="'required'"
                  :disabled="BGESsubmitted"
                  v-model="cvehicle.typeVehicule"
                >
                  <option
                    :value="ctype"
                    v-for="(ctype,index) in typesVehicule"
                    :key="index"
                  >
                    {{ $t(ctype) }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column">
              <b-field
                :label="labelType"
                :type="{'is-danger': errors.has('motorisation')}"
                :message="errors.first('motorisation')">
                <b-select
                  expanded
                  @input="motorisationChanged"
                  :disabled="disabledMotorisation || BGESsubmitted"
                  name="motorisation"
                  v-model="cvehicle.motorisation"
                >
                  <option
                    :value="cmotorisation"
                    v-for="(cmotorisation,index) in motorisations"
                    :key="index"
                  >
                    {{ $t(cmotorisation) }}
                  </option>
                </b-select>
              </b-field>
            </div>
            <div class="column" v-if="cvehicle.motorisation.startsWith('plane')">
              <b-field
                :label="$t('field-7')"
                :type="{'is-danger': errors.has('puissance')}"
                :message="errors.first('puissance')">
                <b-input
                  name="puissance"
                  v-validate="'required|numeric'"
                  :disabled="BGESsubmitted"
                  maxlength="50"
                  v-model="cvehicle.puissance"
                ></b-input>
              </b-field>
            </div>
            <div class="column" v-if="cvehicle.motorisation.startsWith('helicopter')">
              <b-field
                :label="$t('field-8')"
                :type="{'is-danger': errors.has('nbMoteurs')}"
                :message="errors.first('nbMoteurs')">
                <b-select
                  :disabled="cvehicle.motorisation==='helicopter.pistons' || BGESsubmitted"
                  expanded
                  name="nbMoteurs"
                  v-validate="'required|numeric'"
                  v-model="cvehicle.nbMoteurs"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </b-select>
              </b-field>
            </div>
            <div class="column" v-if="cvehicle.motorisation.startsWith('helicopter')">
              <b-field
                label="Shaft power"
                :type="{'is-danger': errors.has('shp')}"
                :message="errors.first('shp')">
                <b-input
                  name="nbMoteurs"
                  :disabled="BGESsubmitted"
                  v-validate="'required|numeric'"
                  maxlength="50"
                  v-model="cvehicle.shp"
                ></b-input>
              </b-field>
            </div>
          </div>
          <hr>
          <consommation-form :disabled="BGESsubmitted" v-model="cvehicle.consommation">
            <template
              v-if="cvehicle.typeVehicule==='aircraft'"
              v-slot:mensuelles
            >
              {{ $t('field-1') }}
            </template>
            <template
              v-else-if="vehiclesWithKM.includes(cvehicle.typeVehicule)"
              v-slot:mensuelles
            >
              {{ $t('field-2') }} {{ $t(cvehicle.unite) }}
            </template>
            <template
              v-else
              v-slot:mensuelles
            >
              {{ $t('field-3') }} {{ $t(cvehicle.unite) }}
            </template>
            <template
              v-if="cvehicle.typeVehicule==='aircraft'"
              v-slot:totale
            >
              {{ $t('field-4') }}
            </template>
            <template
              v-else-if="vehiclesWithKM.includes(cvehicle.typeVehicule)"
              v-slot:totale
            >
              {{ $t('field-5') }} {{ $t(cvehicle.unite) }}
            </template>
            <template
              v-else
              v-slot:totale
            >
              {{ $t('field-6') }} {{ $t(cvehicle.unite) }}
            </template>
          </consommation-form>
          <hr />
          <nav class="level">
            <div class="level-left"></div>
            <div class="buttons level-right">
              <b-button
                class="button"
                @click="closeForm()"
                icon-left="close"
              >
                {{ $t('cancel') }}
              </b-button>
              <button
                v-show="modeCreation"
                type="submit"
                :disabled="BGESsubmitted"
                class="button is-primary"
              >
                <span class="icon is-small"><i class="sui sui-plus"></i></span>
                <span> {{ $t('add') }} </span>
              </button>
              <button
                v-show="!modeCreation"
                :disabled="BGESsubmitted"
                type="submit"
                class="button is-primary"
              >
                <span class="icon is-small"><i class="sui sui-refresh"></i></span>
                <span> {{ $t('update') }} </span>
              </button>
            </div>
          </nav>
        </section>
      </form>
    </div>
  </b-modal>
</template>

<script>
import Vehicle from '@/models/Vehicle.js'
import { mapGetters } from 'vuex'

const DEFAULT_TYPE = 'car'
const DEFAULT_MOTORISATION = 'gasoline'
const DEFAULT_UNIT = 'km'
const DEFAULT_NBMOTEURS = 1

export default {
  name: 'VehicleModal',
  props: {
    displayModal: {
      type: Boolean,
      default: false
    },
    vehicle: {
      type: Object,
      default: function () {
        return {}
      }
    },
    vehicles: {
      type: Array,
      default: function () {
        return []
      }
    },
    modeCreation: {
      type: Boolean,
      default: false
    }
  },
  components: {
    'consommation-form': () => import('@/components/ges/forms/ConsommationForm.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      cvehicle: Object.assign({}, this.vehicle),
      vehiclesWithKM: ['car', 'motorbike', 'bike', 'scooter']
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    allVehicles: function () {
      let usedNom = this.vehicles.map(obj => obj.nom)
      return this.$store.getters['user/vehicles'].filter(obj => !(usedNom.includes(obj.nom)))
    },
    labelType: function () {
      if (this.cvehicle.motorisation.startsWith('plane')) {
        return this.$t('field-9')
      } else if (this.cvehicle.motorisation.startsWith('helicopter')) {
        return this.$t('field-9')
      } else {
        return this.$t('engine')
      }
    },
    BGESsubmitted: function () {
      return this.$store.getters['boundaries/vehiclesSubmitted']
    },
    typesVehicule: function () {
      return Vehicle.getTypes()
    },
    motorisations: function () {
      return Vehicle.getEngines(this.cvehicle.typeVehicule)
    },
    motorisationUnites: function () {
      return Vehicle.getUnits(
        this.cvehicle.typeVehicule,
        this.cvehicle.motorisation
      )
    },
    disabledMotorisation: function () {
      return this.motorisations.length === 1
    },
    modalTitle: function () {
      let title = this.$t('title-1')
      if (this.modeCreation) {
        title = this.$t('title-2')
      } else if (this.BGESsubmitted) {
        title = this.$t('title-3')
      }
      return title
    }
  },
  methods: {
    typeIcon: function () {
      return Vehicle.getIcon(this.cvehicle.typeVehicule)
    },
    typeIconPack: function () {
      return Vehicle.getIconPack(this.cvehicle.typeVehicule)
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.modeCreation) {
            this.$emit('add', this.cvehicle)
          } else {
            this.$emit(
              'update',
              {
                'from': this.vehicle,
                'to': this.cvehicle
              }
            )
          }
        }
      })
    },
    typeVehiculeChanged: function () {
      this.cvehicle.motorisation = this.motorisations[0]
      this.cvehicle.unite = this.motorisationUnites
    },
    motorisationChanged: function () {
      this.cvehicle.unite = this.motorisationUnites
      if (this.cvehicle.motorisation === 'helicopter.pistons') {
        this.cvehicle.nbMoteurs = 1
      }
    },
    selectedVehicle (vehicle) {
      this.cvehicle.pk = vehicle.pk
      this.cvehicle.nom = vehicle.nom
      this.cvehicle.typeVehicule = vehicle.typeVehicule
      this.cvehicle.motorisation = vehicle.motorisation
      this.cvehicle.unite = vehicle.unite
      this.cvehicle.puissance = vehicle.puissance
      this.cvehicle.nbMoteurs = vehicle.nbMoteurs
      this.cvehicle.shp = vehicle.shp
      this.cvehicle.controleOperationnel = vehicle.controleOperationnel
    },
    closeForm: function () {
      this.$emit('close')
    },
    reset () {
      this.cvehicle.pk = null
      this.cvehicle.nom = ''
      this.cvehicle.typeVehicule = DEFAULT_TYPE
      this.cvehicle.motorisation = DEFAULT_MOTORISATION
      this.cvehicle.unite = DEFAULT_UNIT
      this.cvehicle.puissance = 0
      this.cvehicle.nbMoteurs = DEFAULT_NBMOTEURS
      this.cvehicle.shp = 0
      this.cvehicle.controleOperationnel = true
    }
  },
  mounted () {
    if (this.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.$store.dispatch('user/getAllVehicles')
        .then(data => {
          loadingComponent.close()
        })
    }
  },
  created () {
    this.$validator.extend('uniqueID', {
      getMessage: field => 'Identifiant déjà utilisé.',
      validate: (value) => {
        if (!this.modeCreation) {
          if (value === this.cvehicle.nom) {
            return true
          } else {
            return this.vehicles.filter(obj => obj.nom === value).length === 0
          }
        } else {
          return this.vehicles.filter(obj => obj.nom === value).length === 0
        }
      }
    })
  }
}
</script>
