<i18n>
{
  "fr": {
    "serie-1": "Services et investissements publics",
    "serie-2": "Alimentation",
    "serie-3": "Biens et services privés",
    "serie-4": "Logement",
    "serie-5": "Mobilité",
    "cat-1": "Emissions moyennes d'un Français en 2017 *",
    "cat-2": "Objectif Accord de Paris *",
    "cat-3": "Emissions de vos déplacements domicile / travail",
    "km-walking": "km en marche",
    "km-bike": "km en vélo",
    "km-ebike": "km en vélo électrique",
    "km-scooter": "km en trottinette électrique",
    "km-2wheeler": "km en deux roues motorisées",
    "km-car": "km en voiture",
    "km-bus": "km en bus",
    "km-tram": "km en tramway",
    "km-train": "km en train",
    "km-rer": "km en RER / transilien",
    "km-subway": "km en métro",
    "engine": "motorisation",
    "days": "jour(s)"
  },
  "en": {
    "serie-1": "Public investments and services",
    "serie-2": "Food",
    "serie-3": "Private goods and services",
    "serie-4": "Housing",
    "serie-5": "Transportation",
    "cat-1": "Average annual emissions of a French citizen",
    "cat-2": "Emission target in the Paris Agreement",
    "cat-3": "Your commuting-related emissions",
    "km-walking": "km walking",
    "km-bike": "km by bike",
    "km-ebike": "km by electrically assisted bike",
    "km-scooter": "km by electric scooter",
    "km-2wheeler": "km by motorized two-wheeler",
    "km-car": "km by car",
    "km-bus": "km by bus",
    "km-tram": "km by tramway",
    "km-train": "km by train",
    "km-rer": "km by Paris suburban express railway including RER",
    "km-subway": "km by subway",
    "engine": "engine",
    "days": "day(s)"
  }
}
</i18n>

<template>
  <div>
    <highcharts ref="chart" :options="options"></highcharts>
    <b-notification :closable="false">
      * Source
      <a
        target="_blank"
        class="link"
        href="https://www.carbone4.com/wp-content/uploads/2019/06/Publication-Carbone-4-Faire-sa-part-pouvoir-responsabilite-climat.pdf"
      >Carbone 4</a>, 2019. <em>Faire sa part ? Pouvoir et responsabilité des individus,
        des entreprises et de l'État face à l'urgence climatique.</em>
    </b-notification>
  </div>
</template>

<script>
import '@/plugins/highcharts.js'

export default {
  name: 'BGESInformation',
  props: {
    userDeplacements: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      options: {
        chart: {
          type: 'bar'
        },
        title: {
          text: ''
        },
        legend: {
          reversed: true
        },
        credits: {
          enabled: false
        },
        series: [],
        xAxis: {
          categories: []
        },
        yAxis: {
          title: {
            text: ''
          }
        },
        tooltip: {
          valueSuffix: ' tCO2e'
        },
        plotOptions: {
          series: {
            stacking: 'normal',
            dataLabels: {
              enabled: true
            },
            groupPadding: 0,
            pointPadding: 0.1,
            borderWidth: 0
          }
        },
        exporting: {
          enabled: false
        }
      }
    }
  },
  methods: {
    getDeplacementLabel (deplacementdt, year) {
      let label = year + ' | ' + deplacementdt.getNbDayType1() + this.$t('days') + ': '
      if (deplacementdt.marche !== 0) {
        label += deplacementdt.marche + ' ' + this.$t('km-walking') + ', '
      }
      if (deplacementdt.velo !== 0) {
        label += deplacementdt.velo + ' ' + this.$t('km-bike') + ', '
      }
      if (deplacementdt.veloElectrique !== 0) {
        label += deplacementdt.veloElectrique + ' ' + this.$t('km-ebike') + ', '
      }
      if (deplacementdt.trotinetteElectrique !== 0) {
        label += deplacementdt.trotinetteElectrique + ' ' + this.$t('km-scooter') + ', '
      }
      if (deplacementdt.deRouesMotorise !== 0) {
        label += deplacementdt.deRouesMotorise + ' ' + this.$t('km-2wheeler') + ', '
      }
      if (deplacementdt.voiture !== 0) {
        label += deplacementdt.voiture + ' ' + this.$t('km-car')
        label += ' (' + deplacementdt.motorisation + '), '
      }
      if (deplacementdt.bus !== 0) {
        label += deplacementdt.bus + ' ' + this.$t('km-bus') + ', '
      }
      if (deplacementdt.tramway !== 0) {
        label += deplacementdt.tramway + ' ' + this.$t('km-tram') + ', '
      }
      if (deplacementdt.train !== 0) {
        label += deplacementdt.train + ' ' + this.$t('km-train') + ', '
      }
      if (deplacementdt.rer !== 0) {
        label += deplacementdt.rer + ' ' + this.$t('km-rer') + ', '
      }
      if (deplacementdt.metro !== 0) {
        label += deplacementdt.metro + ' ' + this.$t('km-subway') + ', '
      }
      label = label.slice(0, -2)
      if (deplacementdt.has2TypeDay) {
        label += ' | ' + deplacementdt.nbDayType2 + this.$t('days') + ': '
        if (deplacementdt.marche2 !== 0) {
          label += deplacementdt.marche2 + ' ' + this.$t('km-walking') + ', '
        }
        if (deplacementdt.velo2 !== 0) {
          label += deplacementdt.velo2 + ' ' + this.$t('km-bike') + ', '
        }
        if (deplacementdt.veloElectrique2 !== 0) {
          label += deplacementdt.veloElectrique2 + ' ' + this.$t('km-ebike') + ', '
        }
        if (deplacementdt.trotinetteElectrique2 !== 0) {
          label += deplacementdt.trotinetteElectrique2 + ' ' + this.$t('km-scooter') + ', '
        }
        if (deplacementdt.deRouesMotorise2 !== 0) {
          label += deplacementdt.deRouesMotorise2 + ' ' + this.$t('km-2wheeler') + ', '
        }
        if (deplacementdt.voiture2 !== 0) {
          label += deplacementdt.voiture2 + ' ' + this.$t('km-car')
          label += ' (' + deplacementdt.motorisation2 + '), '
        }
        if (deplacementdt.bus2 !== 0) {
          label += deplacementdt.bus2 + ' ' + this.$t('km-bus') + ', '
        }
        if (deplacementdt.tramway2 !== 0) {
          label += deplacementdt.tramway + ' ' + this.$t('km-tram') + ', '
        }
        if (deplacementdt.train2 !== 0) {
          label += deplacementdt.train2 + ' ' + this.$t('km-train') + ', '
        }
        if (deplacementdt.rer2 !== 0) {
          label += deplacementdt.rer2 + ' ' + this.$t('km-rer') + ', '
        }
        if (deplacementdt.metro2 !== 0) {
          label += deplacementdt.metro2 + ' ' + this.$t('km-subway') + ', '
        }
      }
      return label
    },
    setData () {
      this.options.series = [
        {
          name: this.$t('serie-1'),
          data: [1.0, 0.3],
          color: '#beab9d'
        }, {
          name: this.$t('serie-2'),
          data: [2.0, 0.6],
          color: '#f5a342'
        }, {
          name: this.$t('serie-3'),
          data: [2.1, 0.6],
          color: '#92a542'
        }, {
          name: this.$t('serie-4'),
          data: [2.9, 0.2],
          color: '#80c1f5'
        }, {
          name: this.$t('serie-5'),
          data: [2.9, 0.3],
          color: '#00507f'
        }
      ]
      this.options.xAxis.categories = [this.$t('cat-1'), this.$t('cat-2')]
      for (let dept of this.userDeplacements) {
        let emi = dept.commute.getEmissionsTotale(dept.year)
        this.options.series[0].data.push(0)
        this.options.series[1].data.push(0)
        this.options.series[2].data.push(0)
        this.options.series[3].data.push(0)
        this.options.series[4].data.push(Math.round((emi / 1000) * 100) / 100)
        this.options.xAxis.categories.push(this.getDeplacementLabel(dept.commute, dept.year))
      }
    }
  },
  watch: {
    '$i18n.locale': function () {
      this.setData()
    }
  },
  mounted () {
    this.setData()
  }
}
</script>
