<template>
  <div>
    <su-service :icon="'bullhorn'">
      <template #title>
        Décarboner en 2050 - Cycle d’automne 2021 (12 octobre, 16 novembre, 14 décembre)
      </template>
      Le <strong>séminaire <em>Labos 1point5</em></strong> est organisé selon des cycles saisonniers et thématiques.
      L’idée est de s’appuyer sur des séminaires mensuels, en distanciel, pour “éclairer”
      une réflexion commune au sein de l’équipe réflexion, et plus largement au sein de
      <em>Labos 1point5</em>.
      <br />
      <strong>Le format (13h-14h30)</strong> : 45' d'exposé (13h-13h45) + 45' de questions
      (modérées) et de débat (libre).
      Les séminaires seront complétés par des discussions lors des réunions de l’équipe réflexion.
    </su-service>
    <br />
    <su-service :icon="'users'">
      <template #title>
        Comité d’organisation
      </template>
      Patrick Hennebelle, Olivier Berné, Julien Boé, Freddy Bouchet, Faustine Cantalloube, Malgorzata Grybos,
      Tomas Legon, Elen Riot et Ségolène Vandevelde.
    </su-service>
    <br />
    <br />
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">14/12/2021</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <p class="image is-256x200">
          <iframe style="width:300px"
            src="https://tube.nuagelibre.fr/videos/embed/watch/ad4e927f-04e2-49e3-86d2-ddb579ce866c"
            frameborder="0"
            width="100%"
            height="auto"
            sandbox="allow-same-origin allow-scripts"
            allowfullscreen="allowfullscreen">
          </iframe>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong>Philippe Coulangeon et/ou son équipe </strong>
            <br/>
            <small class="article-title">
              <b>
                La transition écologique à l’épreuve de la question sociale.
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://tube.nuagelibre.fr/videos/watch/ad4e927f-04e2-49e3-86d2-ddb579ce866c"
            >
              <span class="icon is-small">
                <i class="sui sui-play-circle-o"></i>
              </span> Vidéo
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            Nous étions habitués à penser les questions de justice sociale dans les termes du
            partage des fruits de la croissance. Les impératifs de la transition écologique et
            les disparités d’impact environnemental des modes de vie nous invitent de plus en
            plus à les reformuler sous l’angle de la répartition du poids de ses externalités, qui
            conditionne très étroitement le potentiel de conversion des habitudes et des pratiques.
            Cette présentation s’appuie pour l’essentiel sur les conclusions d’un livre à paraître
            en janvier 2022. Ce livre s’appuie à titre principal, mais non exclusif, sur les données
            de l’enquête « Styles de vie et environnement » (SVEN) menée auprès d’un échantillon
            représentatif de la population française en 2017 dans le cadre du panel ELIPSS. L’ouvrage
            s’efforce de mesurer et comprendre la distribution sociale des représentations et des
            attitudes à l’égard de l’environnement, mais aussi celle des impacts environnementaux
            associés aux styles de vie des différentes catégories de population. Il analyse les
            conditions sociales d’émergence des préoccupations environnementales, en resituant les
            données de l’enquête SVEN dans les évolutions de longue période observées en France et
            à l’étranger à partir d’autres sources.
          </p>
        </div>
      </div>
    </article>
    <br />
    <br />
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">16/11/2021</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <p class="image is-256x200">
          <iframe style="width:300px"
            src="https://tube.nuagelibre.fr/videos/embed/watch/6bb68cc3-313f-4ca3-8813-3ef3a5133ada"
            frameborder="0"
            width="100%"
            height="auto"
            sandbox="allow-same-origin allow-scripts"
            allowfullscreen="allowfullscreen">
          </iframe>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong>Quentin Perrier </strong>
            <br/>
            <small class="article-title">
              <b>
                Les instruments de la décarbonation.
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://tube.nuagelibre.fr/videos/watch/6bb68cc3-313f-4ca3-8813-3ef3a5133ada"
            >
              <span class="icon is-small">
                <i class="sui sui-play-circle-o"></i>
              </span> Vidéo
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            Cette présentation passera en revue les grands instruments et mesures de politiques publiques
            permettant de décarboner nos économies : normes, taxes, quotas, subventions, etc. L’objectif
            sera de souligner leurs forces, leurs faiblesses et la bonne façon de les utiliser. Cette
            déclinaison s’appuiera sur des cas concrets dans les différents secteurs émissifs (bâtiment,
            transport, agriculture et alimentation, industrie), afin d’illustrer la diversité et la
            complémentarité de ces instruments.
          </p>
        </div>
      </div>
    </article>
    <br/>
    <br/>
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">12/10/2021</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <p class="image is-256x200">
          <iframe style="width:300px"
            src="https://tube.nuagelibre.fr/videos/embed/watch/017a82bb-cf63-497f-9524-705794da788a"
            frameborder="0"
            width="100%"
            height="auto"
            sandbox="allow-same-origin allow-scripts"
            allowfullscreen="allowfullscreen">
          </iframe>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong> Philippe Quirion </strong>
            <br/>
            <small class="article-title">
              <b>
                Les scénarios de décarbonation, des scénarios énergie-climat pour évaluer les futurs
                possibles. Trois exemples à partir du scénario négaWatt.
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://tube.nuagelibre.fr/videos/watch/017a82bb-cf63-497f-9524-705794da788a"
            >
              <span class="icon is-small">
                <i class="sui sui-play-circle-o"></i>
              </span> Vidéo
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            L'utilité des scénarios énergie-climat ne consiste pas à prévoir l'avenir mais à fournir
            des cadres cohérents qui sont nécessaires pour évaluer des futurs possibles. Ces évaluations
            peuvent utiliser différents critères. Parmi les multiples types de scénarios, ceux basés sur
            une modélisation biophysique plutôt que seulement en termes monétaires sont préférables. En
            effet, eux seuls permettent de traiter les questions les plus importantes, comme l'impact sur
            la santé. Je présente trois exemples d'évaluation, qui concernent le coût, l'emploi et la santé,
            en utilisant le scénario négaWatt, un scénario énergie-climat pour la France à l'horizon 2050.
          </p>
        </div>
      </div>
    </article>
    <br />
  </div>
</template>

<script>
export default {
  name: 'Automne2021',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>

<style scoped>
  .titley {
    text-align: center;
  }
  .titley::before {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #4280b0;
      margin: 8px 10px;
  }
  .titley::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #4280b0;
      margin: 8px 10px;
  }
  .article-title {
    background-color:rgba(52, 59, 64, 0.7);
    color:white;
  }
  .article-abstract {
    position: relative;
    overflow: hidden;
    border-left: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
  }
</style>
