<template>
  <div>
    <su-service :icon="'bullhorn'">
      <template #title>
        Technologie et sobriété - Cycle d’hiver 2022 (18 janvier, 8 février, 8 mars, 12 avril)
      </template>
      Le <strong>séminaire <em>Labos 1point5</em></strong> est organisé selon des cycles saisonniers et thématiques.
      L’idée est de s’appuyer sur des séminaires mensuels, en distanciel, pour “éclairer”
      une réflexion commune au sein de l’équipe réflexion, et plus largement au sein de
      <em>Labos 1point5</em>.
      <br />
      <strong>Le format (13h-14h30)</strong> : 45' d'exposé (13h-13h45) + 45' de questions
      (modérées) et de débat (libre).
      Les séminaires seront complétés par des discussions lors des réunions de l’équipe réflexion.
    </su-service>
    <br />
    <su-service :icon="'users'">
      <template #title>
        Comité d’organisation
      </template>
      Patrick Hennebelle, Olivier Berné, Julien Boé, Freddy Bouchet, Faustine Cantalloube, Malgorzata Grybos,
      Tomas Legon, Elen Riot et Ségolène Vandevelde.
    </su-service>
    <br />
    <br />
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">12/04/22</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <iframe style="width:300px"
          src="https://tube.nuagelibre.fr/videos/embed/watch/aae26866-3ef3-48cb-931e-bd14cf676b82"
          frameborder="0"
          width="100%"
          height="auto"
          sandbox="allow-same-origin allow-scripts"
          allowfullscreen="allowfullscreen">
        </iframe>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong>Emmanuel Combet</strong>
            <br/>
            <small class="article-title">
              <b>
                Présentation des quatre nouveaux scenarios de l’ADEME.
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://tube.nuagelibre.fr/videos/watch/aae26866-3ef3-48cb-931e-bd14cf676b82"
            >
              <span class="icon is-small">
                <i class="sui sui-play-circle-o"></i>
              </span> Vidéo
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            Fin 2021, l’Ademe a publié « Transition(s) 2050 » : quatre chemins vers une neutralité carbone en France en 2050. Ce large
            travail de prospective a été produit dans le but de susciter et nourrir les débats publics à venir, notamment les débats de
            l’élection présidentielle de 2022 mais aussi sur la future Stratégie Energie-Climat de 2023. Ces travaux, conduits pendant plus de
            2 ans, ont mobilisé de très nombreuses expertises. Si les quatre scénarios ne sont pas les seuls possibles, ils couvrent un spectre
            de récits possibles qui peuvent susciter le débat sur la stratégie de transformation écologique faisable et désirable : « Génération
            frugale », « Coopération territoriale », « Technologies vertes », « Pari réparateur ». Ce séminaire sera l’occasion d’offrir un
            panorama des résultats, mais aussi de discuter de la méthode, de l’utilité de l’exercice et des perspectives pour des travaux
            futurs. L’ensemble des éléments publiés sont accessibles ici : <a target="_blank" class="link" href="http://transitions2050.ademe.fr/">http://transitions2050.ademe.fr/</a>
          </p>
        </div>
      </div>
    </article>
    <br />
    <br />
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">08/03/22</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <iframe style="width:300px"
          src="https://tube.nuagelibre.fr/videos/embed/watch/c8a2cfe7-f900-40a0-8601-f89a3df01a01"
          frameborder="0"
          width="100%"
          height="auto"
          sandbox="allow-same-origin allow-scripts"
          allowfullscreen="allowfullscreen">
        </iframe>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong>Françoise Berthoud</strong>
            <br/>
            <small class="article-title">
              <b>
                Le numérique : une matérialité virtuelle ?
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://tube.nuagelibre.fr/videos/watch/c8a2cfe7-f900-40a0-8601-f89a3df01a01"
            >
              <span class="icon is-small">
                <i class="sui sui-play-circle-o"></i>
              </span> Vidéo
            </a>
            &
            <a
              class="link"
              target="_blank"
              href="/static/seminaires/1p5ReflexionsMars2022.pdf"
            >
              <span class="icon is-small">
                <i class="sui sui-file-pdf-o"></i>
              </span> Présentation
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            Dans cet exposé, la matérialité du monde numérique sera abordée et quelques pistes proposées pour réduire son empreinte
            afin de rester dans les limites planétaires seront examinées : économie circulaire, découplage, utilisation du numérique pour
            réduire les émissions de CO 2 d'autres secteurs, dématérialisation, optimisation, efficacité, etc. La présentation sera clôturée
            par un petit voyage virtuel aux pays de la "naissance" et de la "mort" de ces bijoux technologiques, pays où les réalités
            dépassent l'imaginaire de nos dystopies.
          </p>
        </div>
      </div>
    </article>
    <br />
    <br />
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">08/02/22</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <iframe style="width:300px"
          src="https://tube.nuagelibre.fr/videos/embed/watch/f974ba97-4a88-42d4-83c2-e5e5edd9ab98"
          frameborder="0"
          width="100%"
          height="auto"
          sandbox="allow-same-origin allow-scripts"
          allowfullscreen="allowfullscreen">
        </iframe>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong>Mathilde Szuba</strong>
            <br/>
            <small class="article-title">
              <b>
                Rationnement: les logiques politiques et sociales d'une organisation de la sobriété.
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://tube.nuagelibre.fr/videos/watch/f974ba97-4a88-42d4-83c2-e5e5edd9ab98"
            >
              <span class="icon is-small">
                <i class="sui sui-play-circle-o"></i>
              </span> Vidéo
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            La sobriété n’est pas qu’une question individuelle ou privée, c’est aussi un domaine d’action publique. Face à des pénuries
            temporaires touchant des ressources considérées comme essentielles, les sociétés européennes du XX siècle ont à plusieurs
            reprises réagi via des réponses collectives et des politiques publiques spécialement destinées à organiser la sobriété. Le
            rationnement fait partie de ces mesures. Il tient une part notable dans le répertoire des politiques publiques de régulation
            des consommations. La fréquence avec laquelle les sociétés européennes ont eu recours au rationnement illustre clairement
            le fait que, face à la nécessité d’organiser la sobriété, les institutions politiques ont un rôle important à jouer, qui est à la fois
            administratif et politique. À travers le rationnement, elles prennent en charge, en lieu et place du libre marché,
            l’administration du ravitaillement et l’organisation de la distribution des biens essentiels. Mais elles sont aussi en charge de
            fixer les critères de ce que sera une répartition juste des ressources. Là où le marché attribuait les biens selon l’offre et la
            demande, les autorités doivent définir de nouvelles règles de répartition, ce qui nécessite de hiérarchiser les besoins qui
            s’expriment et de faire un arbitrage politique entre des conceptions variées et parfois antagonistes de la justice.
          </p>
        </div>
      </div>
    </article>
    <br/>
    <br/>
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">18/01/22</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <iframe style="width:300px"
          src="https://tube.nuagelibre.fr/videos/embed/watch/e2dfa5f4-725b-48da-acb2-2bd29a5c154a"
          frameborder="0"
          width="100%"
          height="auto"
          sandbox="allow-same-origin allow-scripts"
          allowfullscreen="allowfullscreen">
        </iframe>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong> Arnaud Saint-Martin </strong>
            <br/>
            <small class="article-title">
              <b>
                Sociologie politique des sciences. Quelques éléments de mise en perspective théorique
                et historique.
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://tube.nuagelibre.fr/videos/watch/e2dfa5f4-725b-48da-acb2-2bd29a5c154a"
            >
              <span class="icon is-small">
                <i class="sui sui-play-circle-o"></i>
              </span> Vidéo
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            Cet exposé propose d’introduire des questions générales de sociologie des sciences, à commencer par celle de l’autonomie
            du champ scientifique. Les grands axes de cette recherche sociologique sur les structures et institutions de la science seront
            présentés, ainsi que les cadres d’analyse les plus robustes des rapports sciences/société – notamment sous l’angle des
            politiques des sciences. Ce sera l’occasion d’introduire les notions-clés d’ethos et de champ, dont l’usage déborde d’ailleurs
            le seul périmètre de la sociologie des sciences. Ces caractérisations permettront d’aborder des mobilisations historiques en
            faveur de l’autonomie scientifique, dans un contexte de remise en cause de la science. Peut-être ces restitutions susciteront-
            elles in fine une réflexion collective sur le genre d’organisation et de projet (politique ?) que constitue <em>Labos1 point5</em>.
          </p>
        </div>
      </div>
    </article>
    <br />
  </div>
</template>

<script>
export default {
  name: 'Hiver2021',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>

<style scoped>
  .titley {
    text-align: center;
  }
  .titley::before {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #4280b0;
      margin: 8px 10px;
  }
  .titley::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #4280b0;
      margin: 8px 10px;
  }
  .article-title {
    background-color:rgba(52, 59, 64, 0.7);
    color:white;
  }
  .article-abstract {
    position: relative;
    overflow: hidden;
    border-left: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
  }
</style>
