<template>
  <section>
    <div class="container">
      <b-notification :closable="false">
        Journée <em>Labos 1point5</em> <strong> « S’engager ensemble pour réduire l’empreinte de nos
        activités de recherche »</strong> - <em>6 novembre 2020</em>
        <br />
        Plus de <strong>700 participants</strong> pour cette première journée du collectif. Un grand merci pour cette belle journée !
        <br />
        Vous pouvez retrouver les vidéos et présentations de cette journée sur cette page.
      </b-notification>
      <br />
      <b-tabs>
        <b-tab-item label="Le programme">
          <br />
          <div class="columns is-vcentered">
            <div class="column hours-o is-2 " align="right">
              8h30
            </div>
            <div class="column">
              <span class="title">Ouverture des connexions</span>
            </div>
          </div>
          <div class="columns is-vcentered">
            <div class="column hours-o is-2" align="right">
              9h00
            </div>
            <div class="column">
              <span class="title">Bienvenue - présentation de la journée et point technique</span>
              <br />
              Équipe organisatrice du colloque
              <br />
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/gKDmGqNJD6xC5zX"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
            </div>
          </div>
          <div class="columns is-vcentered">
            <div class="column hours-o is-2" align="right">
              9h15
            </div>
            <div class="column">
              <span class="title">Introduction</span>
              <br />
              Céline Guivarch (CIRED, Haut Conseil pour le Climat)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/1bbcae97-c89a-42a3-b3b1-6e7a5bab9049"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
            </div>
          </div>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-1">
                <span></span>
                <span>Session 1 : Présentation du collectif <em>Labos 1point5</em></span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns is-vcentered">
            <div class="column hours-s1 is-2" align="right">
              9h30
            </div>
            <div class="column">
              <span class="title"><em>Labos 1point5</em> : structuration, historique et projets</span>
              <br />
              Olivier Berné (CNRS) & Tamara Ben-Ari (INRAE)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/909f5a55-261f-4c7a-b731-520830a1cd59"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/NkCTq2Xs8QYXxY3"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
            </div>
          </div>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-2">
                <span></span>
                <span>Session 2 : Les équipes <em>Labos 1point5</em> et leurs réalisations</span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s2 is-2" align="right">
              10h00
            </div>
            <div class="column">
              <span class="title">Estimer et comprendre l'empreinte carbone de la recherche en France</span>
              <br />
              Odile Blanchard (Université Grenoble Alpes) & Jérôme Mariette (INRAE)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/99d72c56-9ea6-47ee-8cac-34ad4089ec97"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/bGnCM6YiS9EZgS2"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
              <br />
              <br />
              <span class="title">Représentations et pratiques de la communauté scientifique dans le contexte de l’urgence climatique : une approche de sociologie quantitative</span>
              <br />
              Milan Bouchet-Valat (Ined) & Jérôme Greffion (Université Paris Nanterre) & Julien Gros (CNRS)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/92357cfa-3e09-4847-97ce-ad4fb610ce11"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/WRYwDDGPmaGzFr3"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
              <br />
              <br />
              <span class="title">Accompagner et faciliter les trajectoires de réduction au sein des laboratoires</span>
              <br />
              Olivier Raguenau (CNRS) & Olivier Aumont (IRD)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/4dcc97a3-097e-4855-be47-7d051115a10f"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/XaJpo7kyxF35eRB"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
              <br />
              <br />
              <span class="title">Quels rôles pour pour l'enseignement supérieur et la recherche dans la crise climatique ? Bilan du groupe réflexion</span>
              <br />
              Patrick Hennebelle (CEA) & Xavier Capet (CNRS)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/fe15fb8c-8907-493e-ba50-e82ad23ec108"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/MmWc9kEWtRKyYZK"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
              <br />
              <br />
              <span class="title">De la communication aux outils numériques : réfléchir à nos pratiques</span>
              <br />
              Estelle Carciofi (CIRED) & Gérald Salin (INRAE)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/b705038b-820f-4a57-b548-1e612e686836"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/EEXyGgx6mxMsTpB"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
            </div>
          </div>
          <br />
          <div class="columns">
            <div class="column hours-s2 is-2" align="right">
              11h50
            </div>
            <div class="column">
              <span class="title">GES 1point5 : présentation & démonstration</span>
              <br />
              GES 1point5 est un outil permettant d'estimer l'empreinte carbone d'un laboratoire.
              <br />
              Odile Blanchard (Université Grenoble Alpes) & Jérôme Mariette (INRAE)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/e9641516-93ac-461d-9788-f8fc9878c061"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/TaCeZZ9T8EAnC8f"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
            </div>
          </div>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-3">
                <span></span>
                <span>Session Méridienne : Découvrir la communauté autour de moi</span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns is-vcentered">
            <div class="column hours-s3 is-2" align="right">
              12h10
            </div>
            <div class="column">
              <span class="title">Pause déjeuner</span>
              <br />
              Convivialité dans des agoras locales virtuelles. Rencontrer les
              gens autour de vous, trouver des synergies dans votre région pendant des discussions
              informelles dans des salons virtuels régionaux.
            </div>
          </div>
          <div class="columns is-vcentered">
            <div class="column hours-s3 is-2" align="right">
              13h00
            </div>
            <div class="column">
              <span class="title">A tout moment à partir de 13h</span>
              <br />
              Vous pouvez rejoindre en observateur la session inauguratrice du jeu sérieux
              « Ma Terre en 180 minutes » (MT180').
            </div>
          </div>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-4">
                <span></span>
                <span>Session 3 :  S’inspirer pour agir avec <em>Labos 1point5</em> (et au-delà)</span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s4 is-2" align="right">
              14h30
            </div>
            <div class="column">
              <span class="title">Session posters Initiatives</span>
              <br />
              Session posters pour présenter des initiatives classées dans trois
              types d’engagement (« Footprint Reduction Level ») :
              <br />
              <br />
              <div class="columns" style="margin:25px 10px">
                <div class="column is-offset-1 is-3">
                  <div class="columns col-border-shaddow">
                    <div class="column col-rotate" style="background-color:#8a4869;">
                      <span class="title is-5" style="color:#fff;">FRL 1</span>
                    </div>
                    <div class="column col-content col-content-2">
                      <figure class="image is-40x40">
                        <i class="sui sui-leaf" style="font-size:40px;"></i>
                      </figure>
                      <div>
                        <b>FRL 1</b><br/>Sensibilisation & premiers gestes
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column is-3">
                  <div class="columns col-border-shaddow">
                    <div class="column col-rotate" style="background-color:#5f548d;">
                      <span class="title is-5" style="color:#fff;">FRL 2</span>
                    </div>
                    <div class="column col-content col-content-3">
                      <figure class="image is-40x40">
                        <i class="sui sui-thumbs-up" style="font-size:40px;"></i>
                      </figure>
                      <div>
                        <b>FRL 2</b><br/>Engagement & bilan GES
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column is-3">
                  <div class="columns col-border-shaddow">
                    <div class="column col-rotate" style="background-color:#3b589f;">
                      <span class="title is-5" style="color:#fff;">FRL 3</span>
                    </div>
                    <div class="column col-content col-content-4">
                      <figure class="image is-40x40">
                        <i class="sui sui-cogs" style="font-size:40px;"></i>
                      </figure>
                      <div>
                        <b>FRL 3</b><br/>Action & réduction des GES
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              Pour plus d’information, cliquez <a class="link" href="https://cloud.le-pic.org/s/K6Ys8PLMYYcKg3Z#pdfviewer" target="_blank">ici</a>.
              <br />
              <br />
              Et en parallèle <span class="title">Exercice interactif d'inspiration à l'action</span>
              <br />
              « Freins et leviers pour un changement de comportement »
              <br />
              Anouck Hubert (Facilitations & Transitions SAS)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/6b6935b6-6c2d-4ce9-a4f3-df3ac61c6782"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/MYo49Qd7b5sDsD2"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
            </div>
          </div>
          <br />
          <div class="columns is-vcentered">
            <div class="column hours-s4 is-2" align="right">
              15h30
            </div>
            <div class="column">
              <span class="title">Pause-café virtuelle</span>
            </div>
          </div>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-5">
                <span></span>
                <span>Session 4 : Assemblée générale du collectif <em>Labos 1point5</em></span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s5 is-2" align="right">
              15h45
            </div>
            <div class="column">
              <span class="title">Présentation de l’association</span>
              <br />
              <span class="title">Discussion avec les participants, les objectifs, moyens et stratégie à moyen terme du collectif</span>
              <br />
              Philippe Roche (CNRS) & Olivier Berné (CNRS)
              <br />
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/HB4oFkKPi5reyfs"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Status de l’association</a>
              <br />
              <br />
              <span class="title">Point d’information sur la loi de programmation de la recherche (LPR)</span>
              <br />
              Bruno Andreotti (Université de Paris)
              <br />
              <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/2ec40bc5-d0e5-48e8-96b7-5bd857ae10b2"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
              &
              <a class="link" target="_blank" href="https://cloud.le-pic.org/s/AXFGXdS5wBCwAfD"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
            </div>
          </div>
          <br />
          <div class="columns is-vcentered">
            <div class="column hours-s5 is-2" align="right">
              17h00
            </div>
            <div class="column">
              <span class="title"> Clôture de la journée</span>
              <br />
              Olivier Berné (CNRS) & Tamara Ben-Ari (INRAE)
            </div>
          </div>
        </b-tab-item>
        <b-tab-item label="Les posters initiatives">
          <br />
          <div class="columns">
            <div class="column">
              <b-notification :closable="false">
                La session posters <strong>“Initiatives” (session 3)</strong> aura lieu dans un salon virtuel qui s’appelle <a class="link" target="_blank" href="https://gather.town">Gather Town</a>. Vous pourrez vous y rendre en cliquant sur ce <a target="_blank" class="link" href="https://gather.town/app/4Gx04zGbAYETn8tT/Labos1point5">lien</a>.
                <br />
                Le <strong>mot de passe</strong> pour y accéder vous sera <strong>communiqué lors de la journée <em>Labos 1point5</em></strong>.
                <br />
                <br />
                Dans cette salle vous trouverez des supports numérotés avec les initiatives qui sont résumées dans ce tableau. Quand vous êtes devant un support vous pouvez accéder au contenu et discuter avec le porteur.
                <br />
                N’hésitez pas à consulter <a targer="_blank" class="link" href="https://cloud.le-pic.org/s/XR7knsreDyFfDMo#pdfviewer">le tuto</a> que nous mettons à disposition.
              </b-notification>
            </div>
            <div class="column is-3">
              <a @click="isImageModalActive = true"><img src="@/assets/images/newsletters/J1P5_posters.png"></a>
            </div>
          </div>
          <b-table
            :data="sessions"
            :striped="true"
            :hoverable="true"
          >
            <b-table-column field="numero" label="Numéro">
              <template v-slot:header="{ column }">
                {{ column.label }}
              </template>
              <template v-slot="props">
                {{ props.row.numero }}
              </template>
            </b-table-column>
            <b-table-column field="titre" label="Titre">
              <template v-slot:header="{ column }">
                {{ column.label }}
              </template>
              <template v-slot="props">
                {{ props.row.titre }}
              </template>
            </b-table-column>
            <b-table-column field="presentateur" label="Présentateur">
              <template v-slot:header="{ column }">
                {{ column.label }}
              </template>
              <template v-slot="props">
                {{ props.row.presentateur }}
              </template>
            </b-table-column>
            <b-table-column centered field="link" label="Poster">
              <template v-slot:header="{ column }">
                {{ column.label }}
              </template>
              <template v-slot="props">
                <a v-if="props.row.link!=''" class="link" target="_blank" :href="props.row.link"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span></a>
                <a v-else>-</a>
              </template>
            </b-table-column>
          </b-table>
        </b-tab-item>
         <b-tab-item label="Le CR collaboratif">
          <br />
          <b-notification :closable="false">
            <strong>Compte rendu collaboratif</strong> de la journée initié par André Estevez-Torres (merci à lui) et réalisé par les participants.
          </b-notification>
          <p style="margin-top:25px;text-align: justify;">
            Le collectif <em>Labos 1point5</em> a été fondé en mars 2019 avec la volonté d’emmener l’ensemble de la
            communauté de recherche française dans une démarche de transformation axée sur la réduction de son empreinte environnementale.
            Il est composé de 6 équipes de travail rassemblant plus de 400 personnes. Ces équipes sont:
          </p>
          <div class="columns">
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px">
                <li style="margin-top:7px">Coordination</li>
                <li style="margin-top:7px">Empreinte</li>
                </ul>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px">
                <li style="margin-top:7px">Enquête</li>
                <li style="margin-top:7px">Réflexion</li>
              </ul>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px">
                <li style="margin-top:7px">Expérimentation</li>
                <li style="margin-top:7px">Communication</li>
                </ul>
            </div>
            <div class="column">
              <ul style="list-style-type:square;margin-left:25px">
                <li style="margin-top:7px">Technique</li>
              </ul>
            </div>
          </div>
          <p style="margin-top:7px;text-align: justify;">
            Vous pouvez rejoindre <em>Labos 1point5</em> <router-link class="link" to="/nous-rejoindre">ici</router-link>.
          </p>
          <p style="margin-top:7px;text-align: justify;">
            Olivier Berné et Tamara Ben Ari ont parlé de l'historique du collectif, les choix stratégiques et d'organisation qui
            ont porté le collectif pendant sa première année et demi d'existence. Dans le paysage existant, <em>Labos 1point5</em>
            se différencie par une approche qui part de la base et qui prend le temps de renseigner et de comprendre la question
            de l'empreinte de nos activités de recherche. Actuellement il se compose de plus de 2000 membres de toutes disciplines
            et institutions de recherche, et de près de 400 personnes qui travaillent dans 6 équipes et sur différents projets
            transverses.  Un résumé de la littérature sur l'impact carbone de la recherche, en particulier l'utilisation de l'avion
            a  été présenté ainsi que les projets à moyen terme du collectif. Un large projet interdisciplinaire est en cours de
            construction au sein de <em>Labos 1point5</em>, pour produire des données quantitatives ainsi qu'une réflexion de fond
            sur sur le processus de réduction de l'impact environemental de la recherche. Un GDR est en cours de création pour
            abriter ces travaux avec plusieurs stages de M2 ainsi qu'une thèse de sociologie des sciences. Un exemple du type de
            travaux menés est donné, à titre prospectif, à la fin de la présenation, avec des résultats en cours de consolidation.
          </p>
          <p style="margin-top:7px;text-align: justify;">
            L'estimation de l'empreinte carbone des laboratoires est un des projets phares du collectif, mené par l'équipe empreinte.
            Odile Blanchard et Jérôme Mariette ont présenté l'outil web GES 1point5, disponible
            <router-link class="link" to="/ges-1point5">ici</router-link>.
            A l'heure actuelle, il permet d'estimer l’empreinte carbone des bâtiments d'un laboratoire  (due aux consommations d'énergie,
            de chauffage et de fluides frigorigènes) et l'empreinte carbone des déplacements des personnels (véhicules des laboratoires,
            missions, déplacements domicile-travail). C'est l'outil de référence recommandé par le CNRS. Cet outil sera étendu à
            l'impact du numérique dans le courant de l'année 2021. Un module pour les achats est également en réflexion mais demandera
            un travail conséquent du fait de diversité de ces derniers. GES 1point5 est pensé comme un outil de diagnostic et
            d'animation pédagogique en vue de la réduction des émissions de gaz à effet de serre des laboratoires, mais aussi
            comme un outil pour la recherche : il ouvre la voie à des analyses statistiques sur les émissions des laboratoires
            visant en premier lieu à l'estimation de l'empreinte carbone de la recherche publique française, mais aussi à permettre
            la construction de scenarios de réduction des émissions. A une autre échelle, une version "GES 1point5 universités" est
            envisagée, en partenariat avec quelques universités pilotes. Les personnes intéressées à contribuer à ces développements,
            peuvent contacter <a class="link" href="mailto:odile.blanchard@univ-grenoble-alpes.fr">Odile Blanchard</a> ou
            <a class="link" href="mailto:jerome.mariette@inrae.fr">Jérôme Mariette</a>.
          </p>
          <p style="margin-top:7px;text-align:justify;">
            Un deuxième objectif du collectif est de faire de la recherche sur l'empreinte écologique de l'Enseignement supérieur et
            la recherche (ESR) (équipe enquête). Milan Bouchet-Valat, Jérôme Greffion et Julien Gros ont présenté des résultats
            préliminaires d'une enquête sociologique intitulée « Les personnels de la recherche face au changement climatique »
            (questionnaire disponible <a class="link" target="_blank" href="https://cloud.le-pic.org/s/BAwwPFDdpe3wEmZ">ici</a>).
            L'enquête a porté sur un échantillon de 6000
            répondants parmi 30000 personnels affiliés à des unités CNRS tirés au sort dans une base de 130 000 personnels de tous
            organismes de recherche mais rattachés à une UMR. 85% des répondants sont plutôt d'accord ou tout à fait d'accord sur la
            nécessité de changer la pratique des métiers de recherche face à l'urgence climatique, avec 85% considérant qu'il faut
            réduire le poids des conférences internationales dans les évaluations de carrière (dont 60% considérant que c'est une
            action prioritaire). L'exploitation des données commence à peine, les personnes motivé.es sont encouragé.es à rejoindre
            l'équipe enquête.
          </p>
          <p style="margin-top:7px;text-align:justify;">
            Un troisième objectif de <em>Labos 1point5</em> est d'accompagner les laboratoires dans le mouvement de réduction de
            l'empreinte carbone. Olivier Aumont a témoigné sur le processus menant à la mise en place, dans le laboratoire LOCEAN
            à Paris, de mesures visant une réduction de 25% des émissions d'ici 2026. L'objectif de ce témoignage est de proposer
            un exemple d'expérimentation et d'en faire un retour partiel d'expérience. La mesure principale est de plafonner les
            droits d'émissions de chaque membre du labo pour les déplacements professionnels
            (<a class="link" target="_blank" href="https://colibris-wiki.org/empreinteClocean/?TexteVote">https://colibris-wiki.org/empreinteClocean/?TexteVote</a>). Des droits d'émission qui, par ailleurs, décroissent au
            fur et à mesure du temps, de 10 tCO2 par personne en 2021 à 2.5 tCO2 en 2026, avec des dispositions prises pour limiter
            l'impact sur les plus jeunes et sur les déplacements liés aux missions en mer. Le laboratoire a aussi voté une motion qui
            l'engage sur une réduction de 50% des émissions d'ici 2030. Ces mesures ont été votées à une très large majorité par le
            laboratoire. Olivier a insisté sur l'importance du collectif dans le processus, de la bienveillance et du respect des
            opinions différentes ainsi que sur le temps d'appropriation du sujet qui peut être long.
            Olivier Ragueneau a présenté l'initiative 'expérimentation', conduite avec Audrey Sabbagh, qui vise à explorer différentes
            modalités de réduction de l'empreinte carbone de laboratoires volontaires parmi, entre autres: pédagogie/sensibilisation,
            jeu sérieux, quota, taxe, compensation, monnaie carbone, etc. Il s’agira dans un premier temps d’accompagner, de faciliter
            et d’observer les délibérations et les modalités de prise de décisions qui devront se tenir dans les laboratoires
            volontaires, en vue de choisir l’une des modalités à tester et dans un deuxième temps de documenter et de commencer
            à évaluer les effets des différentes options choisies dans ces laboratoires, en termes d’émissions de CO2 et de conséquences
            pour la pratique de la recherche elle-même. Les hypothèses de travail sont les suivantes : (1) La participation à une
            expérimentation nationale permet de stimuler la tenue de débats sécurisés et l’engagement dans des changements de
            pratiques générant des réductions effectives d’émissions de CO2 ; (2) Cette expérimentation conduite à grande échelle
            dans le domaine de l’ESR est susceptible de produire un effet d’entrainement sur d’autres pans des activités humaines,
            à partir d’actions intenses de communication la concernant et de l’implication des membres de l’ESR dans de nombreuses
            institutions sur les territoires (tissu associatif, collectivités territoriales…).
          </p>
          <p style="margin-top:7px;text-align: justify;">
            Patrick Hennebelle et Xavier Capet ont présenté les initiatives du groupe réflexion, qui vise à articuler la réflexion
            et à organiser les débats de fond au sein du collectif. Le groupe a notamment produit un texte 'Sur la responsabilité de
            l'ESR' (<a class="link" target="_blank" href="https://labos1point5.org/nos-textes">nos textes</a>).
            A noter également l'idée d'instaurer un nouveau droit, celui de pouvoir
            consacrer un jour par semaine à la transition environnementale dans le cadre du travail, idée portée par Vincent Guillet.
            Ce droit pourrait être d'abord mis en place dans le cadre de l'ESR puis étendu à tous les salariés. Une première
            expérimentation est à l'oeuvre à Montpellier. (plus d'infos :
            <a class="link" target="_blank" href="https://www.youtube.com/watch?v=IPItYRdfog8&feature=youtu.be">ici</a>).
            Enfin, une réflexion a commencé sur la manière d'enseigner les enjeux du dérèglement climatique dans le supérieur.
            Le groupe 'Enseignement' a déjà commencé à produire des supports de cours sur ce sujet ainsi qu'une réflexion de fond
            sur l'enseignement des désordres climatiques lui même, et les difficultés associées pour les enseignants comme pour les
            étudiants.
          </p>
          <p style="margin-top:7px;text-align: justify;">
            Pour finir la matinée de présentations, Estelle Carciofi a donné un aperçu des efforts du collectif en matière de
            communication et Gérald Salin a rappelé les principaux impacts environnementaux du numérique. C'est l'achat des terminaux
            qui contribue à 80% au bilan carbone du numérique (5% pour les réseaux et 15% pour les data centers). La gestion des
            données, pour réduire le nombre de dispositifs de stockage, ainsi que l'augmentation de la durée des vie des terminaux
            sont des leviers importants pour réduire l'impact du numérique.
          </p>
          <p style="margin-top:7px;text-align: justify;">
            La deuxième partie de la journée a commencé avec la présentation du jeux sérieux « Ma Terre en 180 minutes ». Elle a
            continué avec la présentation des posters et vidéos d'autres initiatives sur la plateforme virtuelle
            <a class="link" target="_blank" href="https://gather.town/app/4Gx04zGbAYETn8tT/Labos1point5">Gather town</a>, une
            façon très 90's de discuter en ligne avec les collègues
            autour des posters. Les initiatives présentées sont détaillées
            <router-link class="link" to="/info-news/journee-l1p5-2020">ici</router-link>.
          </p>
          <p style="margin-top:7px;text-align: justify;">
            Philippe Roche a présenté la façon dont le collectif va s'organiser dans la suite. D'un côté il sera constitué en
            association loi 1901, à laquelle chaque personnel de l'ESR pourra adhérer. De l'autre, un GDR sera créé.
          </p>
          <p style="margin-top:7px;text-align: justify;">
            Enfin, Bruno Andreotti a fait un point d'information sur la Loi de programmation de la recherche. Il a notamment
            montré, graphiques à l'appui, que la LPR ne prévoit aucun effort supplémentaire d'investissement dans la recherche.
            Le faible accroissement des salaires des permanents se fera donc au détriment d'une réduction du nombre d'emplois
            permanents et au bénéfice d'un accroissement des non-permanents. Par ailleurs, le budget de l'Université par étudiant
            est amené à se réduire dans les 10 prochaines années. En outre, si on prend en compte les économies faites par l'Etat
            à la suite de la réforme des retraites à venir, alors le budget de l'ESR sera strictement constant (en euros 2020)
            pendant les 10 prochaines années. Le Sénat a fait des propositions pour augmenter le budget de l'ESR au dessus de cet
            effort. On en saura le résultat lundi 8/11. Il a également montré comment les réformes de l'ESR depuis 15 ans sont
            contenues dans un article de Aghion et Cohen de 2004. Il a notamment appelé à mener une bataille culturelle pour proposer
            un ESR construit sur d'autres bases que celles de la managérisation, la compétition et la contractualisation. Il est à
            noter qu'il serait pertinent pour <em>Labos 1point5</em> d'aider à la reflexion sur les indicateurs actuellement retenus
            pour définir une recherche de qualité.
          </p>
         </b-tab-item>
      </b-tabs>
    </div>
    <b-modal :active.sync="isImageModalActive">
      <p class="image">
        <img src="@/assets/images/newsletters/J1P5_posters.png">
      </p>
    </b-modal>
  </section>
</template>

<script>
export default {
  name: 'JourneeL1P5_2020',
  data () {
    return {
      isImageModalActive: false,
      sessions: [
        {
          'numero': '1',
          'titre': 'Theoretical Computer Scientists for Future',
          'presentateur': 'Antoine AMARILLI',
          'link': 'https://cloud.le-pic.org/s/bAWMGG5YxJJ2ZSm'
        },
        {
          'numero': '2',
          'titre': 'Estimating, monitorig and minimizing the travel footprint associated with the development of the Athena X-ray Integral Field Unit',
          'presentateur': 'Didier BARRETT',
          'link': 'https://cloud.le-pic.org/s/Be4mprpDQgSqDkL'
        },
        {
          'numero': '3',
          'titre': 'Critère environnemental dans un appel d’offre',
          'presentateur': 'Samuel CALVET',
          'link': 'https://cloud.le-pic.org/s/QSq4jbaZyeNDx2X'
        },
        {
          'numero': '4',
          'titre': 'Labos1point5: Equipe Communication Médias - Veille',
          'presentateur': 'Estelle CARCIOFI',
          'link': 'https://cloud.le-pic.org/s/GS4S4yk7ofWNsi5'
        },
        {
          'numero': '5',
          'titre': 'Action CARBON CARE - Laboratoire L2EP',
          'presentateur': 'Loic CHEVALLIER',
          'link': 'https://cloud.le-pic.org/s/yrELwYowWJXpor7'
        },
        {
          'numero': '6',
          'titre': 'Education à la Transition Ecologique',
          'presentateur': 'Christophe COILLOT',
          'link': 'https://cloud.le-pic.org/s/Cw2AgogW4y9Q9P9'
        },
        {
          'numero': '7',
          'titre': 'Réduction de l\'empreinte carbone des activités de recherche: charte de laboratoire éco-responsable',
          'presentateur': 'George COMTE',
          'link': ''
        },
        {
          'numero': '8',
          'titre': 'Groupe de reflexion & action "Zero Touillette"',
          'presentateur': 'Morgane COSTES-THIRE',
          'link': 'https://cloud.le-pic.org/s/n5AiNmAGNza2xxr'
        },
        {
          'numero': '9',
          'titre': 'Participation de l’IRIT au Concours Usages Bâtiment Efficace',
          'presentateur': 'Véronique DEBATS',
          'link': 'https://cloud.le-pic.org/s/x4Wg9tDmE69RtMk'
        },
        {
          'numero': '10',
          'titre': 'Empreinte carbone d’un laboratoire de biophysique expérimentale, avec achats',
          'presentateur': 'André ESTEVEZ-TORRES',
          'link': 'https://cloud.le-pic.org/s/BPbjRY5aXSGq7oH'
        },
        {
          'numero': '11',
          'titre': 'Présentation de l’ECOPOLIEN (Atelier d’écologie politique francilien)',
          'presentateur': 'André ESTEVEZ-TORRES',
          'link': ''
        },
        {
          'numero': '12',
          'titre': 'Écoresponsabilité et informatique',
          'presentateur': 'Fabrice JAMMES',
          'link': 'https://cloud.le-pic.org/s/LEdAb4PYMzroNpb'
        },
        {
          'numero': '13',
          'titre': 'Outil de mesure des émissions CO2 pour les missions',
          'presentateur': 'Emmanuel LELLOUCH',
          'link': 'https://cloud.le-pic.org/s/pBNKxScCmx2DGms'
        },
        {
          'numero': '14',
          'titre': 'Présentation du GDS EcoInfo',
          'presentateur': 'Didier MALLARINO',
          'link': 'https://cloud.le-pic.org/s/nNxoGJ7cXX5DoyB'
        },
        {
          'numero': '15',
          'titre': 'GreenLab CIMI-ParisComité pour un laboratoire éco-responsable',
          'presentateur': 'Carine MARINACH',
          'link': 'https://cloud.le-pic.org/s/aB5fEwcH2d95Lqe'
        },
        {
          'numero': '16',
          'titre': 'IBCP & Cie – Conscience et initiatives écologiques (Lyon)',
          'presentateur': 'Juliette MARTIN',
          'link': 'https://cloud.le-pic.org/s/dHM3GB5rApapTzD'
        },
        {
          'numero': '17',
          'titre': 'Manifeste environnemental et bilan GES de l’IGE',
          'presentateur': 'Thierry Pellarin',
          'link': 'https://cloud.le-pic.org/s/J3sACkFZ6nmMwJw'
        },
        {
          'numero': '18',
          'titre': 'Changement climatique & moi au CIRAD - Projet de recherche DiFUSE',
          'presentateur': 'Mariline POUPAUD',
          'link': 'https://cloud.le-pic.org/s/4EdPt5WyqTW4RNZ'
        },
        {
          'numero': '19',
          'titre': 'Labos1point5: Equipe Expérimentation',
          'presentateur': 'Olivier RAGUENEAU',
          'link': 'https://cloud.le-pic.org/s/42Q28fWcNdiyoKs'
        },
        {
          'numero': '20',
          'titre': 'Cyber World Cleanup Day - Nettoyage déchets numériques',
          'presentateur': 'Bertrand SAUTEREAU',
          'link': 'https://cloud.le-pic.org/s/bkizKiATmGHcAJJ'
        },
        {
          'numero': '21',
          'titre': 'Nettoyage des déchets physiques',
          'presentateur': 'Bertrand SAUTEREAU',
          'link': ''
        },
        {
          'numero': '22',
          'titre': 'La Cellule Verte du CEREGE',
          'presentateur': 'Irene SCHIMMELPFENNIG',
          'link': 'https://cloud.le-pic.org/s/wLPsP2f7sBS2z7t'
        },
        {
          'numero': '23',
          'titre': 'Comment atteindre la sobriété énergétique des bâtiments et du parc immobilier',
          'presentateur': 'Jacques SCHMITT',
          'link': 'https://cloud.le-pic.org/s/eA5Z2H6q2RNoZts'
        },
        {
          'numero': '24',
          'titre': 'Vers une réduction de l’empreinte carbone du LOCEAN',
          'presentateur': 'Yona SILVY',
          'link': 'https://cloud.le-pic.org/s/3E27Hb2rdxex99A'
        },
        {
          'numero': '25',
          'titre': 'LMD – Climaction et bilan carbone',
          'presentateur': 'Aymeric SPIGA',
          'link': 'https://cloud.le-pic.org/s/bLb4cXfiJi6gTxe'
        },
        {
          'numero': '26',
          'titre': 'Bilan gaz à effet de serre 2019 de la Station Biologique de Roscoff',
          'presentateur': 'Corinne VERHULST',
          'link': 'https://cloud.le-pic.org/s/xN6iRrMR6icHCPf'
        },
        {
          'numero': '27',
          'titre': 'La Station Biologique de Roscoff s’engage sur une trajectoire de réduction de son empreinte carbone',
          'presentateur': 'Corinne VERHULST',
          'link': 'https://cloud.le-pic.org/s/Q2w8JwBc8eT6fnS'
        },
        {
          'numero': '28',
          'titre': 'LSCE : Groupe de Travail Empreinte Écologique et Bilan carbone',
          'presentateur': 'Lucille ZRIBI',
          'link': 'https://cloud.le-pic.org/s/mTgTDiYWJQazcMQ'
        },
        {
          'numero': '29',
          'titre': 'La commission durable du LIMSI',
          'presentateur': 'Emmanuelle FRENOUX',
          'link': 'https://cloud.le-pic.org/s/RXTbDem2bNc3rn8'
        },
        {
          'numero': '30',
          'titre': 'Bilan GES',
          'presentateur': 'Geraldine Sarret',
          'link': 'https://cloud.le-pic.org/s/eZ3YRazLHePCzeK'
        },
        {
          'numero': '31',
          'titre': 'GreenTeam',
          'presentateur': 'Oriana Lavielle',
          'link': 'https://cloud.le-pic.org/s/pRJZCyXodtoYyRF'
        },
        {
          'numero': '32',
          'titre': 'Inciter et soutenir le CROUS de Bourgogne-Franche-Comté à engager écologiquement sa restauration collective',
          'presentateur': 'Julien Montillaud',
          'link': 'https://cloud.le-pic.org/s/Cow4Ztt8r6A6y9d'
        },
        {
          'numero': '33',
          'titre': 'Consortium empreinte Carbone de la SBR',
          'presentateur': 'Laure Guillou',
          'link': 'https://cloud.le-pic.org/s/2ZNgNSm2kyMPKkt'
        },
        {
          'numero': '34',
          'titre': 'Ecolab/bilan carbone',
          'presentateur': 'Ivo Vanzetta',
          'link': 'https://cloud.le-pic.org/s/DBkAJXZniXcA5p2'
        }
      ]
    }
  }
}
</script>

<style lang="css">
  #webinare_frame {
    height: 800px !important
  }
  #framaform_frame {
    height: 1650px !important
  }
  .title {
    font-size: 20px;
  }
  .hours-o {
    font-size: 25px;
    font-weight: bold;
    color: #d14c65;
    border-right: solid #d14c65;
  }
  .hours-s1 {
    font-size: 25px;
    border-right: solid #a24456;
    font-weight: bold;
    color: #a24456;
  }
  .hours-s2 {
    border-right: solid #7e4c72;
    font-size: 25px;
    font-weight: bold;
    color: #7e4c72;
  }
  .hours-s3 {
    font-size: 25px;
    font-weight: bold;
    color: #594f8b;
    border-right: solid #594f8b;
  }
  .hours-s4 {
    font-size: 25px;
    font-weight: bold;
    color: #2a509b;
    border-right: solid #2a509b;
  }
  .hours-s5 {
    font-size: 25px;
    font-weight: bold;
    color: #0780b4;
    border-right: solid #0780b4;
  }
  .boxicon .content {
    text-align: justify !important;
  }
  .col-border-shaddow {
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    background-color:#fff;
    text-align: center;
  }
  .col-rotate {
    transform:rotate(-90deg); width:185px;
    height: 48px;
    margin-top: 38px;
    margin-left: -70px;
    margin-right: -70px;
    text-align:center;
    border-radius: 15%;
  }
  .col-content {
    padding-top:4px;
    padding-bottom:4px;
    cursor:pointer;
    margin:auto;
  }
  .col-content-1 {
    color:#d14d65;
  }
  .col-content-1:hover {
    background-color:#d14d65;
    opacity: .8;
    color: #fff;
  }
  .col-content-2 {
    color:#8a4869;
  }
  .col-content-2:hover {
    background-color:#8a4869;
    opacity: .8;
    color: #fff;
  }
  .col-content-3 {
    color:#5f548d;
  }
  .col-content-3:hover {
    background-color:#5f548d;
    opacity: .8;
    color: #fff;
  }
  .col-content-4 {
    color:#3b589f;
  }
  .col-content-4:hover {
    background-color:#3b589f;
    opacity: .8;
    color: #fff;
  }
  .col-content-5 {
    color:#0d7eb6;
  }
  .col-content-5:hover {
    background-color:#0d7eb6;
    opacity: .8;
    color: #fff;
  }
  .divider {/* minor cosmetics */
    display: table;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    width: 100%; /* divider width */
    margin-top: 40px; /* spacing above/below */
  }
  .divider span { display: table-cell; position: relative; }
  .divider span:first-child, .divider span:last-child {
    width: 0%;
    top: 19px; /* adjust vertical align */
    -moz-background-size: 100% 4px; /* line width */
    background-size: 100% 4px; /* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
  }
  .divider-1 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#a24456));
    background-image: -webkit-linear-gradient(180deg, transparent, #a24456);
    background-image: -moz-linear-gradient(180deg, transparent, #a24456);
    background-image: -o-linear-gradient(180deg, transparent, #a24456);
    background-image: linear-gradient(90deg, transparent, #a24456);
  }
  .divider-1 span:nth-child(2) {
    color: #a24456;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-1 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a24456), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #a24456, transparent);
    background-image: -moz-linear-gradient(180deg, #a24456, transparent);
    background-image: -o-linear-gradient(180deg, #a24456, transparent);
    background-image: linear-gradient(90deg, #a24456, transparent);
  }
  .divider-2 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#7e4c72));
    background-image: -webkit-linear-gradient(180deg, transparent, #7e4c72);
    background-image: -moz-linear-gradient(180deg, transparent, #7e4c72);
    background-image: -o-linear-gradient(180deg, transparent, #7e4c72);
    background-image: linear-gradient(90deg, transparent, #7e4c72);
  }
  .divider-2 span:nth-child(2) {
    color: #7e4c72;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-2 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7e4c72), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #7e4c72, transparent);
    background-image: -moz-linear-gradient(180deg, #7e4c72, transparent);
    background-image: -o-linear-gradient(180deg, #7e4c72, transparent);
    background-image: linear-gradient(90deg, #7e4c72, transparent);
  }
  .divider-3 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#594f8b));
    background-image: -webkit-linear-gradient(180deg, transparent, #594f8b);
    background-image: -moz-linear-gradient(180deg, transparent, #594f8b);
    background-image: -o-linear-gradient(180deg, transparent, #594f8b);
    background-image: linear-gradient(90deg, transparent, #594f8b);
  }
  .divider-3 span:nth-child(2) {
    color: #594f8b;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-3 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#594f8b), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #594f8b, transparent);
    background-image: -moz-linear-gradient(180deg, #594f8b, transparent);
    background-image: -o-linear-gradient(180deg, #594f8b, transparent);
    background-image: linear-gradient(90deg, #594f8b, transparent);
  }
  .divider-4 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#2a509b));
    background-image: -webkit-linear-gradient(180deg, transparent, #2a509b);
    background-image: -moz-linear-gradient(180deg, transparent, #2a509b);
    background-image: -o-linear-gradient(180deg, transparent, #2a509b);
    background-image: linear-gradient(90deg, transparent, #2a509b);
  }
  .divider-4 span:nth-child(2) {
    color: #2a509b;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-4 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a509b), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #2a509b, transparent);
    background-image: -moz-linear-gradient(180deg, #2a509b, transparent);
    background-image: -o-linear-gradient(180deg, #2a509b, transparent);
    background-image: linear-gradient(90deg, #2a509b, transparent);
  }
  .divider-5 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#0780b4));
    background-image: -webkit-linear-gradient(180deg, transparent, #0780b4);
    background-image: -moz-linear-gradient(180deg, transparent, #0780b4);
    background-image: -o-linear-gradient(180deg, transparent, #0780b4);
    background-image: linear-gradient(90deg, transparent, #0780b4);
  }
  .divider-5 span:nth-child(2) {
    color: #0780b4;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-5 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0780b4), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #0780b4, transparent);
    background-image: -moz-linear-gradient(180deg, #0780b4, transparent);
    background-image: -o-linear-gradient(180deg, #0780b4, transparent);
    background-image: linear-gradient(90deg, #0780b4, transparent);
  }
</style>
