<template>
  <section>
    <div class="container">
      <b-notification :closable="false">
        2e Journée <em>Labos 1point5</em>&nbsp;<strong>« S’engager ensemble pour réduire l’empreinte de nos activités de recherche »</strong> - 1er juin 2022, en ligne ou en présentiel à Paris (voir Informations pratiques).
        <br />
        Les inscriptions sont gratuites mais obligatoires en remplissant le formulaire disponible <a class="link" href="https://framaforms.org/journee-labos-1point5-2022-1649766988" target="_blank">ici</a>
        <br />
        Pour toutes questions et informations vous pouvez envoyer un email à <a href="mailto:journee@labos1point5.org" class="link">journee@labos1point5.org</a>.
      </b-notification>
      <b-tabs @input="redrawMap()">
        <b-tab-item label="Le programme">
          <br />
          <b-notification :closable="false">
            Pour les personnes participant en <strong>présentiel</strong> : amphi 15 et patio de Sorbonne Université à Paris (voir Informations pratiques). <a href="https://premc.org/2e-journee-Labos-1point5/">Pour les personnes participant en <strong>visio</strong>, aller sur cette page</a> (le mot de passe sera envoyé la veille aux inscrits)<br />
            <br />
            Avec la présence de <strong>Léo Coutellec</strong>, maître de conférences en éthique et épistémologie de sciences contemporaines à l’Université Paris-Saclay
          </b-notification>
          <br />
          <div class="columns is-vcentered">
            <div class="column hours-o is-2 " align="right">
              8h30
            </div>
            <div class="column">
              <span class="title">Accueil</span>
            </div>
          </div>
          <br />
          <div class="columns">
            <div class="column hours-o is-2" align="right">
              9h00
            </div>
            <div class="column">
              <span class="title">Ouverture de la journée</span>
              <br />
              Mot d'accueil : <strong>Mélissa Ridel</strong>, vice-doyenne enjeux environnementaux, Faculté des sciences et ingénierie, Sorbonne Université
              <br />
              Allocution d'ouverture : <strong>Valérie Masson Delmotte</strong>, CEA, LSCE, coprésidente du groupe nᵒ 1 du GIEC
            </div>
          </div>
          <br />
          <div class="columns">
            <div class="column hours-o is-2" align="right">
              9h20
            </div>
            <div class="column">
              <span class="title">Présentation générale de Labos 1point5</span>
              <br />
              <em>Labos 1point5 : quelles perspectives après 3 années d'existence ?</em> <br />Tamara Ben Ari (INRAe, iEES), co-fondatrice du collectif  et directrice du GDR Labos 1point5<br /><br />
              <em>Présentation des activités de l'équipe Réflexion et du séminaire Labos 1point5</em><br /> Patrick Hennebelle (CEA, AIM) et Elen Riot (Université de Reims Champagne Ardennes, REGARDS)
             <br />
            </div>
          </div> <!-- fin div columns -->
          <br />
          <div class="columns is-vcentered">
            <div class="column hours-o is-2 " align="right">
              10h20
            </div>
            <div class="column">
              <span class="title">Pause</span>
            </div>
          </div>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-2">
                <span></span>
                <span>Retours d'expérience de laboratoires</span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s2 is-2" align="right">
              10h40
            </div>
            <div class="column">
              <span class="title">Présentation de l'expérimentation Labos 1point5</span>
              <br />Audrey Sabbagh (Université Paris Cité, MERIT)
              <br /><br />
              <span class="title">Table ronde 1 : Comment engager le laboratoire dans la démarche de réduction de son empreinte carbone ?</span>
              <br />
              Intervenants : Thierry Bontems (CNRS, PACTE), Louis Dupaigne (Université Lyon 1, Institut Camille Jordan), Géraldine Sarret (CNRS, ISTerre), Laure Vieu (CNRS, IRIT) <br />Animation : Corinne Verhulst (Sorbonne Université, Station Biologique de Roscoff)
              <br /><br />
              <span class="title">Table ronde 2 : Quelle dynamique suite à la mise en place de dispositifs de réduction de l’empreinte carbone ?</span>
              <br />
              Intervenants : Sébastien Artigaud (Université de Bretagne Occidentale, LEMAR), Serge Janicot (IRD, LOCEAN), Thierry Pellarin (CNRS, IGE), Sophie Schbath (INRAe / MaIAGE)<br />Animation : LSCE
              <br /><br />
            </div>
          </div>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-3">
                <span></span>
                <span>Pause déjeuner</span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns is-vcentered">
            <div class="column hours-s3 is-2" align="right">
              12h30
            </div>
            <div class="column">
              <span class="title">Déjeuner</span>
              <br />
              Posters et animations. Repas proposé avec option vegan.
            </div>
          </div>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-4">
                <span></span>
                <span>Enseignement</span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s4 is-2" align="right">
              14h00
            </div>
            <div class="column">
              <span class="title">Présentation des actions des groupes de travail</span><br /><em>Présentation du fonctionnement de l’équipe, des différents groupes de travail et des points marquants</em><br />Guillaume Blanc (Université Paris-Cité et IJCLab)
            </div>
          </div>

          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-5">
                <span></span>
                <span>Questions de recherche dans le GDR</span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s5 is-2" align="right">
              14h45
            </div>
            <div class="column">
              <span class="title">Équipe empreinte : état de l'art et travaux en cours</span><br />Odile Blanchard (Université Grenoble Alpes, GAEL), André Estevez Torres (CNRS, LJP), Jérôme Mariette (INRAe, MIAT), Olivier Aumont (IRD,  LOCEAN)<br /><br />
              <span class="title">Équipe expérimentation : travaux en cours</span><br />Olivier Ragueneau (CNRS, LEMAR) <br /><br />
              <span class="title">Les frontières de l'engagement scientifique</span><br />Antoine Hardy (Centre Emile Durkheim)
            </div>
          </div>
          <br />
          <div class="columns is-vcentered">
            <div class="column hours-s5 is-2" align="right">
              17h00
            </div>
            <div class="column">
              <span class="title">Conclusion et perspectives</span><br /> <strong>Leo Coutellec</strong> (Université Paris-Saclay, CESP) et Tamara Ben Ari (INRAe, iEES)
            </div>
          </div>
          <br />
          <div class="columns is-vcentered">
            <div class="column hours-s5 is-2" align="right">
              17h30
            </div>
            <div class="column">
              <span class="title">Fin</span>
            </div>
          </div>
          <br />
          <b-notification :closable="false">
            Organisation : Marion Avet (INRAe, GDR Labos 1point5), Odile Blanchard (Université Grenoble Alpes, GAEL), Maximilien Chaumon (CNRS, ICM), Anne-Laure Ligozat (ENSIIE, LISN)
          </b-notification>
        </b-tab-item>

        <b-tab-item label="Les ateliers du 31 mai">
          <b-notification :closable="false">
            Les ateliers auront lieu en <strong>présentiel</strong> : <em>Sorbonne Université Campus Pierre et Marie Curie 4 place Jussieu 75005 Paris </em>.<br />
          </b-notification>
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-2">
                <span></span>
                <span>Ateliers BGES (durée 2h) </span>
                <span></span>
              </div>
                <br />
               Salle : 101 barre 24-34 (rendez-vous dans cette salle pour le début des deux ateliers)
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s2 is-2 " align="right">
              13h30
            </div>
            <div class="column">
              <span class="title">
                Découverte de GES 1point5 par la pratique
              </span> (20 places)
              <br />
              Cet atelier s'adresse à des personnes qui n'ont pas encore ou ont à peine commencé le bilan gaz à effet de serre de leur laboratoire. Une première demi-heure sera consacrée à la description générale de l'outil GES 1point5. Vous serez ensuite invité.e à utiliser GES 1point5 pour vous familiariser avec les principales fonctionnalités de l'outil. Un jeu de données fictives vous sera fourni.
              <br />
              <br />
              Apportez votre ordinateur portable SVP ; aucun ordinateur ne pourra être fourni.
              <br />
              <br />
              Animation : Odile Blanchard
            </div>
          </div> <!-- fin div columns -->
          <br />
          <div class="columns">
            <div class="column hours-s2 is-2 " align="right">
              13h30
            </div>
            <div class="column">
              <span class="title">
                Résolution de problèmes rencontrés par les laboratoires utilisant <em>GES 1point5</em>
              </span> (10 places)
              <br />
              Cet atelier s'adresse à des personnes qui utilisent déjà GES 1point5 pour le bilan GES de  leur laboratoire et qui rencontrent diverses difficultés. Une première demi-heure sera consacrée à la description générale de l'outil GES 1point5. Vous serez ensuite invité.e à  exposer vos difficultés. Les animateurs / animatrices tenteront de les résoudre, en partageant les solutions avec  tou.te.s les participant.e.s.
              <br />
              <br />
              Apportez  les données de votre laboratoire et votre ordinateur portable SVP ; aucun ordinateur ne pourra être fourni.
              <br />
              <br />
              Animation : Jérôme Mariette, Anne-Laure Ligozat
            </div>
          </div> <!-- fin div columns -->
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-3">
                <span></span>
                <span>Ateliers Expérimentation (durée 2h)</span>
                <span></span>
              </div>
                <br />
               Salle : 110 barre 24-34
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s3 is-2 " align="right">
              13h30
              <br />
              &
              <br />
              16h00
            </div>
            <div class="column">
              <span class="title">
                Faciliter la décision collective dans le cadre de la réduction des émissions GES d’un laboratoire
              </span> (15 places)
              <br />
              Comment faciliter la prise de décision collective dans un laboratoire quand on cherche à réduire les émissions de GES des activités de recherche ? Cet atelier vous propose une introduction à la posture du facilitateur et l’expérimentation de quelques outils d'intelligence collective qui peuvent être utiles et adaptés lorsque l'on cherche à prendre collectivement des décisions sur un sujet complexe et potentiellement clivant, comme la réduction de l'empreinte carbone d'un laboratoire.
              <br />
              C'est finalement une situation-problème que nous rencontrons très souvent dans notre vie professionnelle, personnelle et/ou dans nos engagements associatifs par exemple. Aussi les               réflexions et outils abordés dans cet atelier pourront-ils être réinvestis dans d'autres contextes.
              <br />
              <br />
              Animation : Anouck Hubert
            </div>
          </div> <!-- fin div columns -->
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-4">
                <span></span>
                <span>Atelier Enseignement (durée 2h)</span>
                <span></span>
              </div>
                <br />
               Salle : 101 barre 24-34
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s4 is-2 " align="right">
              16h00
            </div>
            <div class="column">
              <span class="title">Lecture commentée du diaporama “Changement climatique” réalisé par le groupe </span> (60 places) <br />
              Durant cet atelier, nous passerons en revue, ensemble, l’exposé intitulé Le réchauffement climatique préparé par Françoise Billebaud, Guillaume Blanc, François Dulac, Marie-Alice Foujols, Malgorzata Grybos, Patrick Hennebelle, Roland Lehoucq.
              <br />
              <br />
              L'exposé (diaporama, document complémentaire et vidéo) est disponible <a class="link" href="https://labos1point5.org/l-enseignement">ici</a><br />
              Nous préciserons comment tenir à jour certaines figures et nous répondrons aux questions posées en amont de l’atelier (contact : <a class="link" href="mailto:Marie-Alice.Foujols@ipsl.fr">Marie-Alice.Foujols.at.ipsl.fr</a>) ou pendant l’atelier.
              <br />
              <br />
              Animation : Marie-Alice Foujols
            </div>
          </div> <!-- fin div columns -->
          <div class="columns">
            <div class="column is-offset-2">
              <div class="divider divider-5">
                <span></span>
                <span>Atelier Art-Science (durée 2h)</span>
                <span></span>
              </div>
                <br />
               Salle : 112 barre 24-34
            </div>
          </div>
          <div class="columns">
            <div class="column hours-s5 is-2 " align="right">
              16h00
            </div>
            <div class="column">
              <span class="title">Atelier d’écriture collective pour rêver une recherche compatible avec un monde à 1.5 °C</span> (15 places) <br />
              Nous nous proposons, au cours de cet atelier, d’inventer ensemble un  récit collectif de ce que serait un laboratoire de recherche qui aurait  réduit son impact écologique. Comment fonctionnerait ce laboratoire ?  Quelles mesures aurait-il mises en place ? Comment  les chercheurs de ce laboratoire feraient-ils leur recherche ? Et quels  dispositifs auraient été mis en place dans ce laboratoire pour faire un  suivi de cet impact écologique ?
              <br />
              <br />
              Animation : Ivan Magrin-Chagnolleau
            </div>
          </div> <!-- fin div columns -->
        </b-tab-item>

        <b-tab-item
          label="Informations pratiques"
        >
          <b-notification :closable="false">
            <a href="https://premc.org/2e-journee-Labos-1point5/">En visio à partir de cette page</a> (le mot de passe sera envoyé la veille aux inscrits) ou en présentiel à Sorbonne Université à Paris : bâtiment 24-34 pour les ateliers du 31 mai et amphi 15 et patio pour la journée du mercredi 1er juin
          </b-notification>
          <div class="columns">
            <div class="column is-9">
              <a @click="showImage=true">
                <img src="@/assets/images/journees/plan_sorbonne_univ.png" style="padding-left:0px;max-width:100%"/>
              </a>
            </div>
            <div class="column">
              <br />
              <br />
              <br />
              <br />
              <h2>Adresse</h2>
              <strong>Sorbonne Université</strong>
              <br />
              Campus Pierre et Marie Curie
              <br />
              4 place Jussieu 75005 Paris
              <br />
              <br />
              <br />
              <h2>Contact</h2>
              <a href="mailto:journee@labos1point5.org" class="link">journee@labos1point5.org</a>
            </div>
          </div>
        </b-tab-item>
        <b-tab-item label="Les posters">
          <br />
          <div class="columns">
            <div class="column">
            </div>
          </div>
          <b-table
            :data="sessions"
            :striped="true"
            :hoverable="true"
          >
            <b-table-column field="numero" label="Numéro">
              <template v-slot:header="{ column }">
                {{ column.label }}
              </template>
              <template v-slot="props">
                {{ props.row.numero }}
              </template>
            </b-table-column>
            <b-table-column field="titre" label="Titre">
              <template v-slot:header="{ column }">
                {{ column.label }}
              </template>
              <template v-slot="props">
                {{ props.row.titre }}
              </template>
            </b-table-column>
            <b-table-column centered field="link" label="Poster">
              <template v-slot:header="{ column }">
                {{ column.label }}
              </template>
              <template v-slot="props">
                <a v-if="props.row.link!=''" class="link" target="_blank" :href="props.row.link"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span></a>
                <a v-else>-</a>
              </template>
            </b-table-column>
          </b-table>
        </b-tab-item>
      </b-tabs>
    </div> <!-- fin div container -->
    <b-modal v-model="showImage">
      <p class="image is-4by3">
        <img src="@/assets/images/journees/plan_sorbonne_univ.png">
      </p>
    </b-modal>
  </section>
</template>

<script>
import '@/plugins/leaflet.js'

export default {
  name: 'JourneeL1P5_2022',
  data () {
    return {
      showImage: false,
      sessions: [
        {
          'numero': '1',
          'titre': 'CESAER Labo bas carbone',
          'presentateur': 'Valentin Bellassen',
          'link': 'https://cloud.le-pic.org/s/qPDDAoEYk9A5wTJ'
        },
        {
          'numero': '2',
          'titre': 'Premier bilan GES de l’ICMPE',
          'presentateur': 'Mathilde Laurent-Brocq',
          'link': 'https://cloud.le-pic.org/s/Cqn824MQx9ZAx6g'
        },
        {
          'numero': '3',
          'titre': 'BGES2019 Laboratoire de Chimie Physique – Matière et Rayonnement',
          'presentateur': 'Emmanuelle Jal',
          'link': 'https://cloud.le-pic.org/s/zbsdHbMpMSDRzJx'
        },
        {
          'numero': '4',
          'titre': 'Carbon footprint ITES',
          'presentateur': 'Laurence Jouniaux',
          'link': 'https://cloud.le-pic.org/s/anmZoMNcibJpgZj'
        },
        {
          'numero': '5',
          'titre': 'Bilan GES LHYGES 2019',
          'presentateur': 'Laurence Jouniaux',
          'link': 'https://cloud.le-pic.org/s/PDCBH4gtLn8SKcE'
        },
        {
          'numero': '6',
          'titre': 'Laboratoire d\'informatique de Grenoble',
          'presentateur': 'Bernard Tourancheau',
          'link': 'https://cloud.le-pic.org/s/ba7g3oYHNyFa9kS'
        },
        {
          'numero': '7',
          'titre': 'Collectif développement durable du LIENSs',
          'presentateur': 'Benjamin Musnier',
          'link': 'https://cloud.le-pic.org/s/YJwZGaCsx4mK8iA'
        },
        {
          'numero': '8',
          'titre': 'Institut des Nanosciences de Paris Sorbonne Université & CNRS',
          'presentateur': '',
          'courriel': '',
          'link': 'https://cloud.le-pic.org/s/cTAixyMnkJqcYXL'
        },
        {
          'numero': '9',
          'titre': 'Réduction de l\'empreinte environnementale - LaBRI',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/BjQADEPxjGR3jbA'
        },
        {
          'numero': '10',
          'titre': 'La transition... Les premiers pas du Labo pacea',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/o396YRrAaF5HEa6'
        },
        {
          'numero': '11',
          'titre': 'La démarche de transition Pacte',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/QEt8NFkgApXqwEY'
        },
        {
          'numero': '12',
          'titre': 'Analyse et réduction de l\'empreinte carbone dans les laboratoires d\'histologie : de l\'information à l\'application de gestes réflexes',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/kzE2fYk2F7agxRE'
        },
        {
          'numero': '13',
          'titre': 'IRIT Laboratoire pilote de l’Expé-1point5 depuis janvier 2021',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/ZrpAM2zbTsK4f2G'
        },
        {
          'numero': '14',
          'titre': 'Point d\'étape d\'un labo pilote, l\'Institut Camille Jordan',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/NBj6HMizcZb7wXd'
        },
        {
          'numero': '15',
          'titre': 'Réduire ensemble l\'empreinte carbone en enseignement et en recherche',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/P8E4YF4MBN9SrJX'
        },
        {
          'numero': '16',
          'titre': 'Analyse du sondage sur les suggestions d\'actions à mettre en place pour réduire notre  impact carbone liée à notre activité  professionnelle',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/roGkzqfMB7ix3E8'
        },
        {
          'numero': '17',
          'titre': 'Analyse du sondage sur des sujets plus ouverts pour réduire notre empreinte carbone liée à notre activité professionnelle',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/CAFHbBi7wiF83Xz'
        },
        {
          'numero': '18',
          'titre': 'IBCP & Cie - Conscience et initiatives écologiques (Lyon)',
          'presentateur': '',
          'link': 'https://cloud.le-pic.org/s/ERTBBs2bsJNfPz4'
        }
      ]
    }
  }
}
</script>

<style lang="css">
  #webinare_frame {
    height: 800px !important
  }
  #framaform_frame {
    height: 1650px !important
  }
  .title {
    font-size: 20px;
  }
  .hours-o {
    font-size: 20px;
    font-weight: bold;
    color: #d14c65;
    border-right: solid #d14c65;
  }
  .hours-s1 {
    font-size: 25px;
    border-right: solid #a24456;
    font-weight: bold;
    color: #a24456;
  }
  .hours-s2 {
    border-right: solid #7e4c72;
    font-size: 20px;
    font-weight: bold;
    color: #7e4c72;
  }
  .hours-s3 {
    font-size: 20px;
    font-weight: bold;
    color: #594f8b;
    border-right: solid #594f8b;
  }
  .hours-s4 {
    font-size: 20px;
    font-weight: bold;
    color: #2a509b;
    border-right: solid #2a509b;
  }
  .hours-s5 {
    font-size: 20px;
    font-weight: bold;
    color: #0780b4;
    border-right: solid #0780b4;
  }
  .hours-s6 {
    font-size: 20px;
    font-weight: bold;
    color: #3d9bb4;
    border-right: solid #3d9bb4;
  }
  .boxicon .content {
    text-align: justify !important;
  }
  .col-border-shaddow {
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    background-color:#fff;
    text-align: center;
  }
  .col-rotate {
    transform:rotate(-90deg); width:185px;
    height: 48px;
    margin-top: 38px;
    margin-left: -70px;
    margin-right: -70px;
    text-align:center;
    border-radius: 15%;
  }
  .col-content {
    padding-top:4px;
    padding-bottom:4px;
    cursor:pointer;
    margin:auto;
  }
  .col-content-1 {
    color:#d14d65;
  }
  .col-content-1:hover {
    background-color:#d14d65;
    opacity: .8;
    color: #fff;
  }
  .col-content-2 {
    color:#8a4869;
  }
  .col-content-2:hover {
    background-color:#8a4869;
    opacity: .8;
    color: #fff;
  }
  .col-content-3 {
    color:#5f548d;
  }
  .col-content-3:hover {
    background-color:#5f548d;
    opacity: .8;
    color: #fff;
  }
  .col-content-4 {
    color:#3b589f;
  }
  .col-content-4:hover {
    background-color:#3b589f;
    opacity: .8;
    color: #fff;
  }
  .col-content-5 {
    color:#0d7eb6;
  }
  .col-content-5:hover {
    background-color:#0d7eb6;
    opacity: .8;
    color: #fff;
  }
  .divider {/* minor cosmetics */
    display: table;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    width: 100%; /* divider width */
    margin-top: 40px; /* spacing above/below */
  }
  .divider span { display: table-cell; position: relative; }
  .divider span:first-child, .divider span:last-child {
    width: 0%;
    top: 19px; /* adjust vertical align */
    -moz-background-size: 100% 4px; /* line width */
    background-size: 100% 4px; /* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
  }
  .divider-1 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#a24456));
    background-image: -webkit-linear-gradient(180deg, transparent, #a24456);
    background-image: -moz-linear-gradient(180deg, transparent, #a24456);
    background-image: -o-linear-gradient(180deg, transparent, #a24456);
    background-image: linear-gradient(90deg, transparent, #a24456);
  }
  .divider-1 span:nth-child(2) {
    color: #a24456;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-1 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a24456), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #a24456, transparent);
    background-image: -moz-linear-gradient(180deg, #a24456, transparent);
    background-image: -o-linear-gradient(180deg, #a24456, transparent);
    background-image: linear-gradient(90deg, #a24456, transparent);
  }
  .divider-2 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#7e4c72));
    background-image: -webkit-linear-gradient(180deg, transparent, #7e4c72);
    background-image: -moz-linear-gradient(180deg, transparent, #7e4c72);
    background-image: -o-linear-gradient(180deg, transparent, #7e4c72);
    background-image: linear-gradient(90deg, transparent, #7e4c72);
  }
  .divider-2 span:nth-child(2) {
    color: #7e4c72;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-2 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7e4c72), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #7e4c72, transparent);
    background-image: -moz-linear-gradient(180deg, #7e4c72, transparent);
    background-image: -o-linear-gradient(180deg, #7e4c72, transparent);
    background-image: linear-gradient(90deg, #7e4c72, transparent);
  }
  .divider-3 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#594f8b));
    background-image: -webkit-linear-gradient(180deg, transparent, #594f8b);
    background-image: -moz-linear-gradient(180deg, transparent, #594f8b);
    background-image: -o-linear-gradient(180deg, transparent, #594f8b);
    background-image: linear-gradient(90deg, transparent, #594f8b);
  }
  .divider-3 span:nth-child(2) {
    color: #594f8b;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-3 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#594f8b), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #594f8b, transparent);
    background-image: -moz-linear-gradient(180deg, #594f8b, transparent);
    background-image: -o-linear-gradient(180deg, #594f8b, transparent);
    background-image: linear-gradient(90deg, #594f8b, transparent);
  }
  .divider-4 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#2a509b));
    background-image: -webkit-linear-gradient(180deg, transparent, #2a509b);
    background-image: -moz-linear-gradient(180deg, transparent, #2a509b);
    background-image: -o-linear-gradient(180deg, transparent, #2a509b);
    background-image: linear-gradient(90deg, transparent, #2a509b);
  }
  .divider-4 span:nth-child(2) {
    color: #2a509b;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-4 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a509b), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #2a509b, transparent);
    background-image: -moz-linear-gradient(180deg, #2a509b, transparent);
    background-image: -o-linear-gradient(180deg, #2a509b, transparent);
    background-image: linear-gradient(90deg, #2a509b, transparent);
  }
  .divider-5 span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#0780b4));
    background-image: -webkit-linear-gradient(180deg, transparent, #0780b4);
    background-image: -moz-linear-gradient(180deg, transparent, #0780b4);
    background-image: -o-linear-gradient(180deg, transparent, #0780b4);
    background-image: linear-gradient(90deg, transparent, #0780b4);
  }
  .divider-5 span:nth-child(2) {
    color: #0780b4;
    padding-right: 20px;
    width: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .divider-5 span:last-child { /* color changes in here */
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0780b4), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #0780b4, transparent);
    background-image: -moz-linear-gradient(180deg, #0780b4, transparent);
    background-image: -o-linear-gradient(180deg, #0780b4, transparent);
    background-image: linear-gradient(90deg, #0780b4, transparent);
  }
</style>

<style scoped>
  h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: 'Poppins', sans-serif;
  }
  h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #6c8fd6;
    margin: 4px 10px;
  }
</style>
