<template>
  <section>
    <div class="container">
      <su-service :icon="'bullhorn'">
        <template #title>
          Webinaire de lancement du GDR Labos 1point5
        </template>
        <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/44c3464b-2801-46dd-9415-72d221b3d0e3"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
        &
        <a class="link" target="_blank" href="/static/Présentation_GDR_KickOff_full_Small_22112021.pdf"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
        <br /><br />
        Le webinaire présente l’organisation du GDR, son mode de fonctionnement ainsi
        que les travaux et objectifs des équipes.
        <ul style="list-style-type:square;margin-left:25px">
          <li>9h20 - 30 : Accueil</li>
          <li>9h30 - 45 : <strong>Présentation générale</strong> du GDR, sa genèse et son organisation (Tamara Ben-Ari)</li>
          <li>9h45 - 55 : Communication et technique : Les outils du <strong>travail collaboratif</strong> (Tamara Ben-Ari)</li>
          <li>10h00 - 10h15 : Équipe <strong>empreinte</strong>, travaux et objectifs (Odile Blanchard et Jérôme Mariette)</li>
          <li>10h15 -10h30 : Équipe <strong>expérimentation</strong>, travaux et objectifs (Audrey Sabbagh et Olivier Ragueneau)</li>
          <li>10h30 - 10h45 : Équipe <strong>enseignement</strong>, travaux et objectifs (Guillaume Blanc et Marie-Alice Foujols)</li>
        </ul>
      </su-service>
      <br /><br />
      <div class="has-text-centered">
        <iframe style="height:500px"
          src="https://tube.nuagelibre.fr/videos/embed/44c3464b-2801-46dd-9415-72d221b3d0e3"
          frameborder="0"
          width="90%"
          height="500px"
          sandbox="allow-same-origin allow-scripts"
          allowfullscreen="allowfullscreen">
        </iframe>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'KickOff2021',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>
