<template>
  <div>
    <su-service :icon="'bullhorn'">
      <template #title>
        Transmission - Cycle de printemps 2022 (16 mai, 14 juin, 05 juillet)
      </template>
      Le <strong>séminaire <em>Labos 1point5</em></strong> est organisé selon des cycles saisonniers et thématiques.
      L’idée est de s’appuyer sur des séminaires mensuels, en distanciel, pour “éclairer”
      une réflexion commune au sein de l’équipe réflexion, et plus largement au sein de
      <em>Labos 1point5</em>.
      <br />
      <strong>Le format (13h-14h30)</strong> : 45' d'exposé (13h-13h45) + 45' de questions
      (modérées) et de débat (libre).
      Les séminaires seront complétés par des discussions lors des réunions de l’équipe réflexion.
    </su-service>
    <br />
    <su-service :icon="'users'">
      <template #title>
        Comité d’organisation
      </template>
      Patrick Hennebelle, Olivier Berné, Julien Boé, Freddy Bouchet, Faustine Cantalloube, Malgorzata Grybos,
      Tomas Legon, Elen Riot et Ségolène Vandevelde.
    </su-service>
    <br />
    <br />
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">16/05/22</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <p class="image is-256x200">
          <iframe style="width:300px"
            src="https://tube.nuagelibre.fr/videos/embed/watch/cb10e604-1c81-45fc-bc8c-d4b5c49cde2d"
            frameborder="0"
            width="100%"
            height="auto"
            sandbox="allow-same-origin allow-scripts"
            allowfullscreen="allowfullscreen">
          </iframe>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong>Sophie Dubuisson Quellier</strong>
            <br/>
            <small class="article-title">
              <b>
                Climat et société : au-delà des approches par les changements de comportements
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://tube.nuagelibre.fr/videos/watch/cb10e604-1c81-45fc-bc8c-d4b5c49cde2d"
            >
              <span class="icon is-small">
                <i class="sui sui-play-circle-o"></i>
              </span> Vidéo
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            Il est de plus en plus convenu que les enjeux de transition écologique sont très largement
            sociaux. Mais cette perspective débouche souvent sur une approche très individualisante du
            changement. Il est attendu que les individus changent leurs comportements pour les rendre
            compatibles avec les enjeux climatiques. S'ils ne le font pas c'est parce qu'ils ne sont pas
            suffisamment informés ou doutent de la réalité du réchauffement climatique. II s'agirait alors
            d'amplifier les efforts pour former et informer, avec l'hypothèse qu'il existe un lien direct
            entre la connaissance et l'action. Pour mobiliser la société, il reste nécessaire de considérer
            les dimensions plus collectives du changement social. Les sciences sociales montrent combien
            les pratiques individuelles sont encastrées dans des dimensions collectives qui les structurent
            et les contraignent. Prendre en compte les savoirs de ces disciplines permet de traiter les dimensions
            sociales des enjeux climatiques en considérant que les changements de pratiques ne pourront advenir que
            lorsque les cadres collectifs qui structurent les actions et les décisions, tels que les normes, les
            infrastructures matérielles, les régimes de valeur, auront été modifiés.
          </p>
        </div>
      </div>
    </article>
    <br />
    <br />
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">14/06/22</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <a
          class="link"
          target="_blank"
        >
          <img style="width:300px" src="@/assets/images/upcomingEvent.jpg">
        </a>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong>Julie Sansoulet</strong>
            <br/>
            <small class="article-title">
              <b>
                Planet@liment, un projet de sensibilisation aux alimentations pour un monde durable
              </b>
            </small>
            <br />
            <a
              class="link"
              target="_blank"
              href="https://inrae-fr.zoom.us/webinar/register/WN_3AzxShESTTqXlLpp8-l-xw"
            >
              <span class="icon is-small">
                <i class="sui sui-pencil"></i>
              </span> Inscription
            </a>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            L’alimentation est un enjeu social et politique reconnu par différents types d’acteurs – élus,
            industriels, société civile, agriculteurs et chercheurs. Nos sociétés contemporaines confrontées
            à des mutations, notamment d’ordre climatique, doivent s’orienter vers des modes de production et
            de consommation plus durables. Il devient ainsi indispensable de repenser notre conception de l’alimentation
            et de prendre conscience de son caractère multidimensionnel et transdisciplinaire. Planet@liment, un projet
            ambitieux de sensibilisation à l’alimentation durable, alliant médiateurs et scientifiques, accompagne
            utilement cette réflexion. Multi acteurs et multi supports, Planet@liment est porté par l’IRD
            Occitanie pendant 2 ans. Il a comme partenaires la Chaire UNESCO Alimentations du Monde, l’Académie de
            Montpellier, deux associations de médiation scientifiques, Kimiyo et Les Ateliers Ludosophiques. De
            multiples outils multimédias et immersifs sont développés par ce consortium de partenaires et dans les
            régions méditerranéennes et tropicales, aux compétences disciplinaires et statuts complémentaires : (i) des
            animations autour d’une exposition (papier et digitale) et des fresques murales liées à une application
            de réalité augmentée (dessins 3D, vidéos, sons, photos), (ii) des jeux de rôle immersif, (iii) des ateliers
            transgénérationnels reliant des aînés et des plus jeunes, des médiateurs, des chefs et des chercheurs, (iv) des
            formations continues des enseignants du secondaire et (v) des ateliers et modes d’enseignements alternatifs en
            lien avec les scolaires (conférences de chercheurs, dispositif apprenti-chercheur) (vi) des collaborations avec les
            influenceurs de la toile et le développement de médias sociaux jeunes (TikTok, Instagram et Youtube). Une
            diffusion large, libre et ouverte est prévue vers les établissements d’enseignement, les structures de médiation
            scientifique et le grand public.
          </p>
        </div>
      </div>
    </article>
    <br />
    <br />
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-3 titley">05/07/22</h2>
      </div>
    </div>
    <article class="media">
      <figure class="media-left">
        <a
          class="link"
          target="_blank"
        >
          <img style="width:300px" src="@/assets/images/upcomingEvent.jpg">
        </a>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align:justify">
            <strong>Quantité critique</strong>
            <br/>
            <small class="article-title">
              <b>
                Titre à venir
              </b>
            </small>
          </p>
          <p class="article-abstract" style="text-align:justify;">
            Résumé à venir aussi.
          </p>
        </div>
      </div>
    </article>
    <br />
  </div>
</template>

<script>
export default {
  name: 'Printemps2022',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>

<style scoped>
  .titley {
    text-align: center;
  }
  .titley::before {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #4280b0;
      margin: 8px 10px;
  }
  .titley::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #4280b0;
      margin: 8px 10px;
  }
  .article-title {
    background-color:rgba(52, 59, 64, 0.7);
    color:white;
  }
  .article-abstract {
    position: relative;
    overflow: hidden;
    border-left: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
  }
</style>
