<template>
  <section>
    <div class="container">
      <div class="box-blue">
        Présentation de Tamara Ben Ari et d’Olivier Berné de Labos 1point5 lors du séminaire interne du CNRS
        du <span class="subtitle is-muted is-size-6">02-03-2020</span> sur les impacts des pratiques de la recherche sur l’environnement. Les diapositives présentées sont disponibles
        au format <a class="link" target="_blank" href="/static/Pres_Labos1point5_Jan2020_CNRSv1_light.pdf">
        <span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> pdf</a>.
      </div>
      <br /><br />
      <div class="has-text-centered">
        <iframe style="height:500px"
          src="https://tube.nuagelibre.fr/videos/embed/9b3e6496-2e37-4ad9-b675-bd3f120c6b13"
          frameborder="0"
          width="90%"
          height="500px"
          sandbox="allow-same-origin allow-scripts"
          allowfullscreen="allowfullscreen">
        </iframe>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SeminaireDDCNRS'
}
</script>
