<template>
  <section>
    <div class="container">
      <su-service :icon="'bullhorn'">
        <template #title>
          Tutoriel GES 1point5
        </template>
        <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/4344c15f-d3e1-40ab-af4e-f22ebee8f73d"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
        &
        <a class="link" target="_blank" href="/static/2021_11_29_TutorielGES1point5_compressed.pdf"><span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> Présentation</a>
        <br /><br />
        Le tutoriel s'adresse à la fois aux référents des laboratoires qui utilisent
        déjà l'outil et à toute personne qui souhaiterait initier la démarche dans son
        laboratoire. Déroulement :
        <ul style="list-style-type:square;margin-left:25px">
          <li>présentation des fonctionnalités de l'outil et des développements récents, dont
            le module Empreinte carbone du matériel informatique : 3/4 h ;
          </li>
          <li>échanges avec les participant.e.s : 3/4h ;</li>
        </ul>
      </su-service>
      <br /><br />
      <div class="has-text-centered">
        <iframe style="height:500px"
          src="https://tube.nuagelibre.fr/videos/embed/4344c15f-d3e1-40ab-af4e-f22ebee8f73d"
          frameborder="0"
          width="90%"
          height="500px"
          sandbox="allow-same-origin allow-scripts"
          allowfullscreen="allowfullscreen">
        </iframe>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'TutorielGES1point5',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>
