<template>
  <section>
    <div class="container">
      <div class="box-blue">
        Présentation d'Odile Blanchart et Jérôme Mariette de GES 1point5 lors du webinaire
        du <span class="subtitle is-muted is-size-6">21-10-2020</span>. Les diapositives présentées sont disponibles
        au format <a class="link" target="_blank" href="/static/webinaireGES1point5.pdf">
        <span class="icon is-small"><i class="sui sui-file-pdf-o"></i></span> pdf</a>.
      </div>
      <br /><br />
      <div class="has-text-centered">
        <iframe style="height:500px"
          src="https://tube.nuagelibre.fr/videos/embed/df497abe-3181-471e-b439-0f88738a6094"
          frameborder="0"
          width="90%"
          height="500px"
          sandbox="allow-same-origin allow-scripts"
          allowfullscreen="allowfullscreen">
        </iframe>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'WebinaireGES1point5'
}
</script>
