<i18n>
{
  "fr": {
    "title-notes": "Notes",
    "subtit-notes-1": "Préalable à la réalisation du BGES de votre laboratoire",
    "notes-1-1": "Pour effectuer le BGES de son laboratoire, il convient d’avoir une adhésion (au moins relative) du personnel et le soutien de son directeur/trice.",
    "notes-1-2": "Dans ce but, ",
    "notes-1-b": "avant",
    "notes-1-3": " de commencer à travailler sur la collecte des données, il est vivement recommandé d’échanger avec votre directeur/trice en amont sur l’intérêt de faire le BGES du laboratoire, puis d’organiser, en sa présence, une réunion d’information à destination de l’ensemble du personnel. La construction du BGES d’un laboratoire nécessite une démarche et une réflexion collective et n'a en aucun cas vocation à identifier des laboratoires \"vertueux\" et d’autres \"moins vertueux\". ",
    "notes-1-4": "Exemple de présentation :",
    "notes-1-a": "Pourquoi et comment faire le bilan GES d'un laboratoire",
    "subtit-notes-2": "Utilisation de l’outil pour d’autres structures ou projets que les laboratoires de recherche",
    "notes-2-1": "L’outil a vocation à estimer l’empreinte carbone des laboratoires de recherche français, pour in fine estimer l’empreinte carbone de la recherche française.",
    "notes-2-2": "A cette fin, les directeurs/trices d’unité sont invité.e.s à habiliter une ou plusieurs personnes à effectuer le BGES du laboratoire et à transmettre les données relatives au BGES à ",
    "l1p5": "Labos 1point5",
    "notes-2-3": "Cela dit, tel que conçu, l’outil peut aussi être utilisé dans d’autres situations et par d’autres structures. Il peut, par exemple, permettre d’estimer l’empreinte carbone d’un projet de recherche ou l’empreinte carbone d’une équipe de recherche. Dans ce contexte ",
    "notes-2-4": " ne stocke pas les données saisies et il convient à la structure qui réalise son BGES d’enregistrer ses résultats dans son propre système informatique."
  },
  "en": {
    "title-notes": "Notes",
    "subtit-notes-1": "Prerequisites for carrying out the GHGI of your laboratory",
    "notes-1-1": "In order to carry out the GHGI in your laboratory, you need to have (at least relative) support from the staff and your director.",
    "notes-1-2": "To this end, ",
    "notes-1-b": "before",
    "notes-1-3": " starting to work on data collection, it is strongly recommended that you discuss with your director the advantages of carrying out the GHGI of your laboratory, and then organise an information meeting for all the staff in his or her presence. The construction of a laboratory's GHGI requires a collective approach and reflection and is in no way intended to identify \"virtuous\" laboratories and others that are \"less virtuous\". ",
    "notes-1-4": "Example of a presentation:",
    "notes-1-a": "Why and how to do a GHG inventory of a laboratory (in French)",
    "subtit-notes-2": "Use of the tool for structures or projects other than research laboratories",
    "notes-2-1": "The tool is intended to estimate the carbon footprint of French research laboratories, in order to ultimately estimate the carbon footprint of French research.",
    "notes-2-2": "To this end, unit directors are invited to authorise one or more persons to carry out the GHGI of the laboratory and to transmit the related data to ",
    "l1p5": "Labos 1point5",
    "notes-2-3": "However, as designed, the tool can also be used in other situations and by other structures. For example, it can be used to estimate the carbon footprint of a research project or the carbon footprint of a research team. In this context, ",
    "notes-2-4": " does not store the data entered, and it is up to the organisation carrying out its GHGI to record its results in its own IT system."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'warning'">
      <template #title>
        {{ $t('title-notes') }}
      </template>
      <p>
        <b>{{ $t('subtit-notes-1') }}</b><br/>
        {{ $t('notes-1-1') }}<br />
        {{ $t('notes-1-2') }}<b>{{ $t('notes-1-b') }}</b>{{ $t('notes-1-3') }}<br/>
        {{ $t('notes-1-4') }}
        <a class="link" href="/static/Pourquoi_faire_Bges_labo_Blanchard_15122020.pdf" target="_blank">{{ $t('notes-1-a') }}</a>.
        <br />
        <br />
        <b>{{ $t('subtit-notes-2') }}</b><br/>
        {{ $t('notes-2-1') }}<br/>
        {{ $t('notes-2-2') }}<em>{{ $t('l1p5') }}</em>.<br/>
        {{ $t('notes-2-3') }}<em>{{ $t('l1p5') }}</em>{{ $t('notes-2-4') }}
      </p>
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'Notes',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  props: ['header']
}
</script>
