<i18n>
{
  "fr": {
    "title-1": "Les BGES",
    "title-2": "Supprimer BGES",
    "info-1": "L'ensemble des BGES de votre laboratoire sont listés dans le tableau ci-dessous. Depuis ce tableau, vous pouvez ajouter, charger et supprimer un BGES.",
    "info-2": "Aucun BGES",
    "info-3": "Êtes vous sûr de vouloir supprimer le BGES",
    "field-1": "Année",
    "tooltip-1": "Charger le BGES",
    "tooltip-2": "Supprimer le BGES"
  },
  "en": {
    "title-1": "The GHG inventories",
    "title-2": "Delete GHGI",
    "info-1": "All the GHG inventories (GHGIs) of your laboratory are listed in the table below. From this table, you can add, upload and delete a GHGI." ,
    "info-2": "No GHG inventory",
    "info-3": "Are you sure that you want to delete the GHGI",
    "field-1": "Year",
    "tooltip-1": "Load the GHGI",
    "tooltip-2": "Delete the GHGI"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'thermometer'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      {{ $t('info-1') }}
    </su-service>
    <br />
    <b-table
      :data="allBGES"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
    >
      <b-table-column :label="$t('field-1')" sticky v-slot="props">
        {{ props.row.annee }}
      </b-table-column>
      <b-table-column :label="$t('heating')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.emissions.buildings.chauffage.total) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.emissions.buildings.chauffage.totali) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('electricity')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.emissions.buildings.electricite.total) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.emissions.buildings.electricite.totali) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('refrigerants')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.emissions.buildings.gazRefrigerant.total) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.emissions.buildings.gazRefrigerant.totali) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('vehicles')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.emissions.vehicles.total) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.emissions.vehicles.totali) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('travels')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.emissions.missions.total) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.emissions.missions.totali) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('commutes')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.emissions.deplacements_dt.total) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.emissions.deplacements_dt.totali) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('computer.devices')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.emissions.devices.total) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.emissions.devices.totali) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('purchases')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.emissions.purchases.total) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.emissions.purchases.totali) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('total')" numeric v-slot="props">
        <nobr>
          {{ getTotal(props) | splitNumberTons }} &plusmn; {{ getTotali(props) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-tooltip
            :label="$t('tooltip-1')"
            type="is-black"
          >
            <b-button
              size="is-small"
              type="is-primary"
              icon-left="cloud-download"
              @click="loadBGES(props.row.pk)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('tooltip-2')"
            type="is-black"
            position="is-left"
          >
            <b-button
              size="is-small"
              :disabled="deleteDisabled(props.row)"
              icon-right="trash"
              @click="deleteBGES(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('info-2') }}</p>
        </div>
      </section>
    </b-table>
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            @click="createBGES()"
          >
            {{ $t('add') }}
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'AllGHGI',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  computed: {
    allBGES: function () {
      return this.$store.getters['gesadmin/allBGES']
    }
  },
  methods: {
    deleteDisabled (bges) {
      return bges.buildingsSubmitted || bges.commutesSubmitted || bges.travelsSubmitted || bges.vehiclesSubmitted || bges.devicesSubmitted || bges.purchasesSubmitted
    },
    deleteBGES (bges) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('title-2') + ' ' + bges.annee,
        message: self.$t('info-3') + ' <b> ' + bges.annee + '</b> ?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.$store.dispatch('boundaries/deleteBGES', bges.pk)
            .then(data => {
              self.$store.dispatch('gesadmin/getAllBGESFull')
                .then(data => {
                  loadingComponent.close()
                })
                .catch((erreur) => {
                  loadingComponent.close()
                })
            })
            .catch((erreur) => {
              loadingComponent.close()
            })
        }
      })
    },
    createBGES () {
      this.$store.dispatch('boundaries/resetBGES')
      this.$router.push('/ges-1point5/0')
    },
    loadBGES (bgesID) {
      this.$router.push('/ges-1point5/' + bgesID)
    },
    getTotal: function (props) {
      return Math.round(props.row.emissions.vehicles['total']) +
        Math.round(props.row.emissions.buildings['chauffage']['total']) +
        Math.round(props.row.emissions.buildings['electricite']['total']) +
        Math.round(props.row.emissions.buildings['gazRefrigerant']['total']) +
        Math.round(props.row.emissions.missions['total']) +
        Math.round(props.row.emissions.deplacements_dt['total']) +
        Math.round(props.row.emissions.devices['total']) +
        Math.round(props.row.emissions.purchases['total'])
    },
    getTotali: function (props) {
      return Math.round(props.row.emissions.vehicles['totali']) +
        Math.round(props.row.emissions.buildings['chauffage']['totali']) +
        Math.round(props.row.emissions.buildings['electricite']['totali']) +
        Math.round(props.row.emissions.buildings['gazRefrigerant']['totali']) +
        Math.round(props.row.emissions.missions['totali']) +
        Math.round(props.row.emissions.deplacements_dt['totali']) +
        Math.round(props.row.emissions.devices['totali']) +
        Math.round(props.row.emissions.purchases['totali'])
    }
  }
}
</script>

<style>
.is-sticky {
  background: #fafafa !important;
}
.table td {
  vertical-align: middle !important;
}
.table th {
  vertical-align: middle !important;
}
</style>
