<template>
  <div class="container">
    <su-service :icon="'quote-left'">
      <template #title>
        Enseigner la transition environnementale dans le supérieur
      </template>
      <em>Pour affronter les crises environnementales à venir et permettre des transitions<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label='Nous entendons par transitions l’ensemble des crises à venir selon diverses
            échelles de temps : climatique (réchauffement), énergétique (fin annoncé d’un modèle basé
            sur les énergies fossiles), de la biodiversité (extinction massive en cours), de la
            pollution (écosystèmes à bout de souffle), humaine (modèle de société à revoir?),
            sanitaire (comme celle du covid-19), etc.'
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>
        les plus douces possibles, l’ensemble des citoyens doit être formé aux enjeux qui y sont
        liés. Pour cela, l’enseignement supérieur se trouve être en première ligne : il s’agit
        d’un service public accessible gratuitement (ou
        <a class="link" target="_blank" href="https://www.campusfrance.org/fr/cout-etudes-superieures-france-frais-inscription">presque</a>)
        à l’ensemble des citoyens a priori sans distinction<a class="link" target="_blank" href="https://www.liberation.fr/debats/2018/04/17/parcoursup-ne-reproduit-pas-les-inegalites-sociales-il-les-aggrave_1644010"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label='L’université reste un reflet des inégalités de la société, elle n’a pas les moyens
            (la volonté ?) de les combler. Cliquez pour voir un exemple.'
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>.<br/>
        Pour que la communauté de l’enseignement supérieur (enseignants, enseignants-chercheurs,
        chercheurs) parvienne à s’emparer pleinement et collégialement de la problématique,
        elle doit franchir quelques obstacles que nous essayons d’identifier dans ce document
        pour ensuite proposer des pistes pour les contourner.</em>
      <br /><br />
      <a class='link' target='_blank' href='/static/textes/Enseignement_superieur_avril2021.pdf'>Télécharger</a> le texte.
      <br />
      <br />
      <p style="margin-bottom:7px;font-size:larger;letter-spacing:4px">
        État des lieux
      </p>
      <strong>Enseignement (et recherche<router-link class='link' to='/nos-textes/TransitionLPPR'><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          type="is-info">
          <sup><strong>*</strong></sup>
          <template v-slot:content>
            Cliquer pour voir le texte complémentaire de <em>Labos1point5</em> : « Enseignement
            supérieur et recherche : après la crise, réduire la production, la compétition et
            l’empreinte environnementale ».
          </template>
        </b-tooltip></router-link>) centré sur la monodisciplinarité</strong>
      <p style="margin-top:7px">
        L’enseignement supérieur au niveau des universités forme une grande partie des citoyens
        dans une multitude de domaines : sciences, littératures, droit, sciences humaines et
        sociales, économie et gestion, histoire, langues, etc. Ces formations sont principalement
        assurées par des enseignants-chercheurs titulaires<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label='Deux corps : maître de conférences et professeur des universités.'
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>
         (fonctionnaires) et contractuels<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label='Souvent précaires, voir le chapitre III de La destruction de l’université
            française, Christophe Granger, éd. La fabrique, 2015.'
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>
        (doctorants, vacataires, <a class="link" target="_blank" href="https://www.education.gouv.fr/attache-temporaire-d-enseignement-et-de-recherche-ater-12767">ATER</a>,
        etc.) et par des enseignants (<a class="link" target="_blank" href="https://www.enseignementsup-recherche.gouv.fr/cid22652/personnels-enseignants-du-second-degre-affectes-dans-le-superieur-conditions-d-affectation.html">PRAG</a>, etc.).<br/>
      </p>
      <p style="margin-top:7px">
        Ce qui fait la valeur d’un enseignement dispensé par un ou une enseignant-chercheur (EC) est
        qu’il se nourrit (en partie<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label='Cela dépend des disciplines et du niveau : un cours de physique de première
            année de Licence n’aura pas la même imprégnation du travail de recherche qu’un
            cours de Master. De même qu’un cours de physique classique de Licence et qu’un
            cours de sociologie au même niveau.'
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>) de son travail de recherche. La réciproque est parfois
        aussi possible : le travail de recherche va s’alimenter de l’enseignement. Il s’agit là
        d’une synergie fondamentale dans la transmission des savoirs situés à la pointe des
        connaissances. L’EC est le mieux à même de synthétiser et transmettre les savoirs de son
        champ d’expertise,selon le niveau (Licence ou Master) et la discipline. Ses capacités de
        synthèse des connaissances mises en œuvre dans le travail de production scientifique
        (bibliographie, regard critique sur les résultats, tri selon l’importance des concepts…)
        lui confèrent une vraie valeur ajoutée qui le rend apte à enseigner en dehors de sa
        spécialité.
      </p>
      <p style="margin-top:7px">
        Le cloisonnement historique des disciplines est par exemple reflété par les 81 sections
        du Conseil National des Universités (<a class="link" target="_blank" href="https://www.conseil-national-des-universites.fr/cnu/#/">CNU</a>)
        qui décident<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label='Les décisions sur les carrières (promotions) peuvent aussi se faire
            localement au sein de l’université.'
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>
        des carrières des EC. Les
        enseignements sont, de fait, très disciplinaires, malgré quelques formations qui parfois
        transcendent les frontières, comme les doubles-Licences sélectives, entre deux disciplines
        proches (physique et chimie ou mathématiques et informatique, par exemple). Les cursus
        standards, Licence et Master, sont généralement (théoriquement) non sélectifs<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Néanmoins, qu'on le veuille ou non, une formation en physique, par exemple,
          est forcément sélective à un moment ou à un autre. La sélection, dans ce cas, se fait
          sur les résultats, plus qu’à l’admission."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>.
      </p>
      <p style="margin-top:7px;">
        <strong>Une reconnaissance parcellaire</strong>
      </p>
      <p style="margin-top:7px">
        Les UFR (Unité de Formation et de Recherche) ont, en principe<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Cette liberté peut cependant ne pas s’exercer selon l’intérêt des
          étudiants ou de la société dans son ensemble (luttes de pouvoir internes, contraintes
          budgétaires, etc.), ce qui peut limiter les changements possibles ou souhaitables."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>, la liberté de choisir les
        formations<a class="link" target="_blank" href="https://blogs.mediapart.fr/philippe-blanchet/blog/120720/une-certification-privee-en-anglais-imposee-pour-valider-licences-bts-et-dut"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label='Néanmoins, cette « liberté » est de plus en plus limitée par les cadrages
            nationaux de plus en plus précis. Comme par exemple la nouvelle (2020) obligation
            d’une certification en langue pour obtenir son diplôme (cliquez pour voir un exemple).'
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>
        et les EC, celle de fixer le programme des formations dont ils sont responsables.
      </p>
      <p style="margin-top:7px">
        Il existe peu de formations intégrant les enjeux des transitions
        environnementales<a class="link" target="_blank" href="https://eduscol.education.fr/cid143130/enseignement-scientifique-bac-2021.html"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Depuis 2019-2020 les lycéens ont une formation transverse (maths, SVT, physique)
            au climat et à l’énergie (cliquez pour plus d'information). Néanmoins cette formation
            reste qualitative et superficielle. Compte tenu de l’importance du problème et de sa
            complexité, il faut des formations supplémentaires dans le supérieur."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>
        comme l’a pointé le rapport du Shift
        Project<a class="link" target="_blank" href="https://theshiftproject.org/article/nouveau-rapport-mobiliser-superieur-climat/"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Sur 4 universités dont les formations ont été épluchées, seulement 8 % abordent
            les enjeux climat-énergie en 2019 ; plus généralement 76 % des formations dispensées
            dans les établissements du supérieur n’abordent pas ces enjeux (cliquez pour voir la
            source)."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>. Parfois optionnelles, mais rarement
        obligatoires dans un tronc commun, ces formations, forcément
        interdisciplinaires<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="L’interdisciplinarité est l’étude d’un même sujet par le regard de différentes
          disciplines ; la multidisciplinarité est la juxtaposition des points de vue
          disciplinaires sur un objet d’étude ; la transdisciplinarité est l’étude d’un sujet de
          manière réflexive par plusieurs disciplines."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>, doivent
        franchir un premier écueil, celui des barrières disciplinaires. Les EC doivent
        ainsi faire l’effort de se former sur ces sujets qui souvent dépassent le cadre de leur
        propre discipline, afin de pouvoir les enseigner, ce qui représente un premier obstacle.
        Cet effort est d’autant plus important à faire qu’il n’est pas reconnu, voire fortement
        soumis à dissuasion, notamment car les EC sont essentiellement évalués sur leur travail
        de recherche focalisé sur leur discipline (publications).
      </p>
      <p style="margin-top:7px">
        Le travail d’enseignement, fixé statutairement à 192héqTD/an<a class="link" target="_blank" href="https://academia.hypotheses.org/5344"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Cela date de la mise en place du statut des enseignants-chercheurs en 1984,
          résultat d’une conversion des anciens statuts, qui décomptaient les heures
          d’enseignement de manière hebdomadaires environ 3h pour les professeurs, et 6h
          pour les maîtres de conférences (et maîtres assistants) (cliquez pour voir la source)."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>
        (<a class="link" target="_blank" href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006064492&dateTexte=20170323">légifrance article7</a>)
        de présence devant les
        étudiants, ne fait pas l’objet d’évaluations qualitatives au niveau national, même si
        cela peut être le cas ponctuellement, localement. L’ensemble des évaluations d’un EC
        (concours de changement de corps<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Typiquement le corps des maîtres de conférences et celui des professeurs
            d’université."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>, changement de grade<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Par exemple, à l’intérieur du corps des maîtres de conférence, il y a
            deux classes ou grades, normale et hors-classe. Chaque classe comporte des échelons."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>, examen de l’<a class="link" target="_blank" href="https://fr.wikipedia.org/wiki/Habilitation_universitaire#En_France">Habilitation à
        Diriger des Recherches</a><a class="link" target="_blank" href="https://cache.media.enseignementsup-recherche.gouv.fr/file/Assises_esr/24/0/Assises-ESR-Rapport-Vincent-Berger-_237240.pdf"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          class="tooltipxlarge"
          label="D’après le rapport des Assises de l’enseignement supérieur et de la
            recherche de 2012 : « L’habilitation à diriger des recherches a également
            fait l’objet de nombreuses critiques. Elle n’est qu’une « super-thèse »
            parfois, un simple recueil de titres et travaux dans d’autres cas, le format
            dépendant beaucoup de l’université ou de la discipline. Elle n’exige jamais
            réellement de développement permettant d’attester les compétences spécifiques
            liées à l’encadrement ou la direction – en dépit de nos espérances. Elle est
            ainsi bien mal nommée. On observe statistiquement que l’HDR accroît l’inégalité
            entre les femmes et les hommes. L’HDR empêche de reconnaître à sa juste valeur
            le travail d’encadrement de doctorants par les jeunes chercheurs, puisque ce
            travail doit rester en quelque sorte clandestin : seuls les titulaires de l’HDR
            sont autorisés à encadrer. L’HDR favorise donc par là le mandarinat. On atteint
            véritablement un paradoxe – à moins que ce ne soit plus prosaïquement
            l’hypocrisie – lorsque dans certaines disciplines, il est pourtant communément
            admis qu’il faut avoir encadré officieusement un doctorant avant d’être
            autorisé à soutenir son HDR ! »
            (cliquez pour voir la source)."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>, etc.) prend essentiellement en compte les CV « recherche »
        et « responsabilités administratives », occultant trop souvent le volet « enseignement »,
        du moment que les « heures » sont faites. Ce qui va constituer un second obstacle  pour
        consacrer du temps à la création de contenus adaptés au regard des enjeux de transition.
      </p>
      <p style="margin-top:7px">
        Concernant les différentes activités de recherche reconnues, l’éventail est très limité
        et peut avoir un intérêt limité au niveau national. Ainsi, la participation des EC aux
        commissions internationales de normalisation <a class="link" target="_blank" href="https://fr.wikipedia.org/wiki/Organisation_internationale_de_normalisation">ISO</a>
        ne sont pas reconnues alors qu’elles
        apportent une visibilité à la France<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Voir : Les opportunités liées à l’implication des chercheurs universitaires
            dans la normalisation française,  Rapport réalisé au nom du Collectif des
            chercheurs pour la Normalisation Française avec le support du Ministère du
            Redressement Productif, mars 2013."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>. Aux États-Unis, le
        <a class="link" target="_blank" href="https://www.nist.gov/">NIST</a> est un laboratoire centré
        sur les normes, qui pilote des recherches de haut
        niveau<a class="link" target="_blank" href="https://www.pourlascience.fr/sd/physique/le-prix-nobel-de-physique-2012-a-serge-haroche-et-david-wineland-11451.php"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Le prix Nobel de Physique 2012 a d’ailleurs été décerné à Serge Haroche, et
          conjointement à David J. Wineland du NIST, pour ses travaux qui ont permis de mesurer
          et de manipuler des systèmes quantiques individuels (cliquez pour voir la source)."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>, souvent en collaboration
        avec des industriels, et qui aide l’état et les entreprises américaines à améliorer
        leurs produits et leurs services.
      </p>
      <p style="margin-top:7px">
        Un troisième écueil pourrait venir d’une part de l’intérêt que portent les étudiants
        eux-mêmes à ce type de questions transitionnelles, et d’autre part de celui des
        établissements. Ce dernier est effectivement très disparate, entre des universités
        qui intègrent ces enjeux transitionnels à la fois dans la vie du campus et dans les
        enseignements<a class="link" target="_blank" href="https://www.universite-paris-saclay.fr/luniversite/nos-projets-identitaires"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Cliquez pour voir l'exemple de l’université Paris-Saclay."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>
        et d’autres qui les ignorent totalement<a class="link" target="_blank" href="https://u-paris.fr/valeurs/"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Cliquez pour voir l'exemple de l’université Paris dans le giron de la précédente."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>. Les étudiants, bien que généralement soucieux de leur insertion
        professionnelle, sont demandeurs de telles formations<a class="link" target="_blank" href="https://refedd.org/manifeste-enseignement-superieur-durable/"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Cliquez pour voir par exemple : Le Manifeste Étudiant pour un Enseignement
            Supérieur Durable"
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>
        <a class="link" target="_blank" href="https://manifeste.pour-un-reveil-ecologique.org/fr"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-left:5px;margin-top:-5px"
          label="Cliquez pour voir par exemple : le Manifeste Étudiant pour un Réveil Écologique."
          type="is-info">
          <sup><strong>**</strong></sup>
        </b-tooltip></a>.
        Mais le monde professionnel devrait se mettre en accord avec les enjeux, soit en
        créant de nouveaux métiers, ce qui justifie ce type de formations, soit en s’adaptant
        à la demande étudiante.
      </p>
      <p style="margin-top:7px;">
        <strong>Autonomie réductrice de changements</strong>
      </p>
      <p style="margin-top:7px;">
        La LRU<a class="link" target="_blank" href="https://fr.wikipedia.org/wiki/Loi_relative_aux_libert%C3%A9s_et_responsabilit%C3%A9s_des_universit%C3%A9s"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Cliquez pour voir la loi relative aux Libertés et Responsabilités des Universités."
          type="is-info"><sup><strong>*</strong></sup>
        </b-tooltip></a> (2009) d’une part, les fusions d’établissements d’autre part (2015-...),
        ont accru le travail administratif, réunions de comités divers et variés, évaluations
        de formations, etc., à différentes strates au sein des universités. Le travail
        administratif besogneux qui en résulte kidnappe une bonne partie du temps qui pourrait
        être mis à contribution pour organiser l’avenir de l’université face aux enjeux
        environnementaux et sociaux.
      </p>
      <p style="margin-top:7px;">
        La LRU a en outre mis un frein à la mobilité inter-établissement des EC, qui n’était,
        auparavant, déjà pas aisée, car très bureaucratique. L’enrichissement qui résulte de
        la mobilité des EC entre établissements est ainsi sapé, en grande partie<b-tooltip
          multilined
          size="is-large is-light"
          class="tooltipxlarge"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="La mobilité existe, mais très réduite : le changement de corps, par le
            passage du concours de professeur des universités pour les maîtres de conférences,
            est une façon de procéder, mais rare et aléatoire. La mutation est difficile : les
            postes sont rares et préférentiellement ouverts pour des recrutements. Reste
            l’échange de poste, possible, mais administrativement très lourd. Les rapports
            sociaux du MESRI donnent quelques chiffres sur la mobilité : 224 EC ont changé
            d’université en 2018  par mutation (Source : Bilan social du MESRI 2018-2019
             - https://cache.media.enseignementsup-recherche.gouv.fr/file/Bilan_social/93/5/Bilan_social_ESR_2018_019_1365935.pdf)
            , 221 en 2017 (Source : Bilan social du MESRI 2017-2018
            - https://cpesr.fr/quelques-sources-de-donnees/),
            271 en 2016 (Source : Bilan social du MESRI 2016-2017), 265 en 2015 (Source :
            Bilan social du MESRI 2015-2016), 276 en 2014 (Source : Bilan social du MESRI
            2014-2015). Pas de données avant 2014."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>. Il ne reste
        plus qu’à essayer de co-construire dans le microcosme alloué, souvent sans en dépasser
        les frontières. Même si des initiatives existent pour les transcender, comme
        l’association « Enseigner la physique à l’université et dans le supérieur »
        (EPUS), en cours de montage.
      </p>
      <p style="margin-top:7px;">
        Ces barrières statutaires et administratives sont autant de ressauts à surmonter pour
        proposer des enseignements nouveaux et pluridisciplinaires, inédits avec l’ampleur
        souhaitable, mais indispensables pour préparer la société de demain.
      </p>
      <br/>
      <p style="margin-bottom:7px;font-size:larger;letter-spacing:4px">
        Redéfinir le champ des possibles
      </p>
      <p style="margin-top:7px;">
        Malgré le contexte général et les différents obstacles, il existe une marge de manœuvre
        dont les EC peuvent et doivent se saisir dans l’intervalle de leurs
        <a class="link" target="_blank" href="https://fr.wikipedia.org/wiki/Libert%C3%A9_acad%C3%A9mique">
          libertés académiques</a><b-tooltip
          multilined
          size="is-large is-light"
          class="tooltipxlarge"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Voir aussi : Les libertés universitaires (II), Olivier
            Beaud, Commentaire 2010/2, n° 130, pp. 469-476."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>. C’est ainsi qu’ils doivent s’emparer des thématiques liées aux enjeux
        environnementaux (ainsi que sociaux et économiques subséquents) pour les enseigner à
        divers niveaux : de manière généraliste en Licence, de manière plus spécialisée en
        Master. Des formations spécifiques et approfondies, de la Licence au Master, pourraient
        également être mises en place. Les formations continues des enseignants du primaire et du
        secondaire, du supérieur (et oui, parfois les connaissances des EC restent cloisonnées
        et il faut veiller à les aider à les ouvrir à des perspectives plus globales), des
        journalistes, des citoyens de manière générale, sont tout autant fondamentales et
        peuvent être assurées à l’université.
      </p>
      <p style="margin-top:7px;">
        Ces formations doivent être pluri- et interdisciplinaires<a class="link" target="_blank"
        href="https://www.nature.com/news/how-to-solve-the-world-s-biggest-problems-1.18367"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="La pluridisciplinarité juxtapose le regard de différentes disciplines sur un même
          objet d’étude tandis que l’interdisciplinarité mélange ce regard pour aller vers la
          solution (cliquez pour voir, par exemple : Heidi Ledfrod, « How to solve the world's biggest problems »,
          Nature, no 525,‎ 16 septembre 2015, p. 308-311)."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>, car les transitions
        le sont par essence, mettant en jeu des disciplines habituellement cloisonnées :
        sociologie, psychologie, philosophie, économie, gestion, politique, chimie, géologie,
        biologie, écologie, climatologie, physique, etc. La création de sections CNU dévolues
        à cet aspect de l’évolution de la société pourrait permettre à ce genre d’initiatives
        d’apparaître plus facilement.
      </p>
      <p style="margin-top:7px;">
        Pour que ces formations voient le jour de manière systématique et pérenne, le travail
        pédagogique des enseignants doit être valorisé au sein de leur communauté, en particulier
        lorsqu’ils font l’effort de se former à ces nouveaux enjeux. Les EC doivent revoir leur
        charge de travail, et refuser des dépassements de volume horaire d’enseignement, dans
        l’objectif principal de conserver la qualité et leur liberté pédagogique.
      </p>
      <p style="margin-top:7px;">
        Leur engagement vers ces thématiques, en dehors de leur zone de confort puisque hors
        thématique disciplinaire, doit être pris en compte dans l’évaluation de la carrière.
        De manière générale, le travail pédagogique, et en particulier l’enseignement lié à la
        transition environnementale doit être valorisé au même titre que le travail de
        recherche : un polycopié de cours doit être une publication comme une autre ; la
        création d’un cours, la mise en place d’une expérimentation pédagogique sont également
        des aspects dont il faut tenir compte.
      </p>
      <p style="margin-top:7px;">
        Les pistes décrites ici sont directement accessibles aux EC, sans formuler la demande
        à qui que ce soit, en mobilisant leurs libertés académiques. Cette approche de terrain
        est aussi une manière d’engager la transition sans que les efforts deviennent l’objet
        de certifications ad-hoc et hors sol.  En revanche, certains leviers sont plus
        difficilement accessibles.
      </p>
      <p style="margin-top:7px;">
        La mobilité des EC entre établissements doit être facilitée pour un meilleur brassage
        des idées : le cloisonnement, malgré la création récente de monstres universitaires,
        n’est pas sain, surtout quand il faut inventer de nouvelles manières d’enseigner,
        qui transcendent les frontières disciplinaires. Les EC doivent en outre s’emparer de
        ces enjeux de transitions pour les porter au cœur des instances organisationnelles des
        universités.
      </p>
      <p style="margin-top:7px;">
        Pour aller plus loin, explorons. Les EC doivent être déchargés des tâches
        administratives chronophages : gestion éventuelle des emplois du temps, réservation
        des salles, préparation des salles pour les TP, administrations des évaluations,
        etc. Pour cela des BIATSS<a class="link" target="_blank"
        href="https://www.education.gouv.fr/statistiques-bilans-et-etudes-relatifs-aux-personnels-ingenieurs-administratifs-techniques-sociaux-8057"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Personnels des Bibliothèques, Ingénieurs, des filières Administratives,
            Techniques, Sociale et de Santé : cliquez pour voir la source."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a> doivent être recrutés comme support à l’enseignement.
      </p>
      <p style="margin-top:7px;">
        Enfin, pour ne pas négliger l’aspect recherche, un rééquilibrage de la charge
        d’enseignement doit être fait, pour aller vers 120héqTD/an<a class="link" target="_blank"
        href="https://www.service-public.fr/particuliers/vosdroits/F471"><b-tooltip
          multilined
          size="is-large is-light"
          class="tooltipxlarge"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="D’un point de vue technique, le temps de travail annuel est de 1607h
            (cliquez pour voir la source). L'activité d'enseignement étant supposée
            représenter la moitié du temps de travail d'un EC, ce total de 1607h, donc
            de 800h pour l'enseignement, devrait imposer un plafond maximal de 160héqTD/an,
            compte tenu du temps de préparation « standard » (mais largement sous-évalué)
            de 4h pour chaque heure de présence devant les étudiants. De plus, cela ne
            tiendrait toujours pas compte des « trous » dans l’emploi du temps. Faire
            de la recherche, comme préparer un enseignement, nécessite des plages de
            temps long. Il est difficile ou peu efficace de passer d’une activité à
            l’autre pour quelques heures par-ci par-là. C’est en tenant compte de cet
            aspect que le temps de présence devant les étudiants doit être revu significativement
            à la baisse, pour améliorer l’efficacité globale du travail des enseignants-chercheur.
            120héqTD/an, c’est 600h/an de travail d'enseignement, et donc une marge de
            manœuvre plus importante pour gérer son emploi du temps efficacement."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a><a class="link" target="_blank"
          href="https://academia.stackexchange.com/questions/91364/is-100-hours-per-year-of-teaching-a-heavy-load-for-a-lecturer"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-left:5px;margin-top:-5px"
          label="Par ailleurs, 120héqTD/an de charge d’enseignement est plus proche des standards
            internationaux pour les enseignants-chercheurs (cliquer pour voir un exemple)."
          type="is-info">
          <sup><strong>**</strong></sup>
        </b-tooltip></a>, non modulable,
        ce qui permettrait des enseignements de meilleure qualité et une activité de
        recherche plus fournie. Pour cela, des
        <a class="link" target="_blank" href="https://www.enseignementsup-recherche.gouv.fr/cid22657/maitres-de-conferences.html">maîtres de conférences</a>
        doivent être recrutés<a class="link" target="_blank"
          href="https://cache.media.enseignementsup-recherche.gouv.fr/file/2020/57/1/NI_05_1276571.pdf"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Le nombre d’étudiants entrant à l’université croît chaque année, cette augmentation
            devrait se poursuivre jusqu’en 2028 au moins (cliquez pour voir la source), à raison
            d’environ 7000 étudiants en plus par an."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a><a class="link" target="_blank"
          href="https://www.enseignementsup-recherche.gouv.fr/cid22654/demographie-des-enseignants-de-l-enseignement-superieur.html"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-left:5px;margin-top:-5px"
          label="En 2013, 1500 000 étudiants à l’université et 91000 enseignants dont 57000
            enseignants-chercheurs (cliquez pour voir la source), soit un ratio de 1 enseignant
            pour 16 étudiants. Pour subvenir à la croissance démographique il faut 425 enseignants
            de plus chaque année. Et pour passer à 120heqTD/an, il faut 60% d’EC en plus."
          type="is-info">
          <sup><strong>**</strong></sup>
        </b-tooltip></a>.
        Mais les EC n’ont certainement pas la main ni sur le recrutement des BIATSS ni
        sur celui des maîtres de conférences (MCF). Les universités ont ce pouvoir dans
        la limite du plafond d’emplois fixé par le Ministère de l’Enseignement Supérieur,
        de la  Recherche et de I’Innovation (MESRI)<a class="link" target="_blank"
          href="https://www.themeta.news/%F0%9F%8D%80-frederique-vidal-chercheuse-ep-2/?origine=1"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="« J’ai augmenté les plafonds d’emploi et mis les moyens nécessaires à
            disposition pour pouvoir recruter. Mais ce n’est pas mon rôle de dire que dans
            telle université, il manque par exemple dix postes. » Frédérique Vidal, Ministre
            de l’Enseignement Supérieur et de la Recherche, 8 janvier 2021, TheMetaNews
            (cliquez pour voir la source)."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a>! De fait, rien que pour assurer les
        missions actuelles (avec une charge de 192héqTD) des EC, les effectifs ne sont pas
        suffisants : le taux d’encadrement à l’université est extrêmement faible, 4,5
        enseignants pour 100 étudiants, en <a class="link" target="_blank"
          href="https://twitter.com/JulienGossa/status/1303809557685248000">baisse continuelle</a>,
        contre environ 8 en écoles
        d’ingénieurs ou 10 à l’<a class="link" target="_blank"
        href="https://github.com/cpesr/RFC/blob/main/TauxDEncadrement/tauxdencadrement.md">École Normale Supérieure</a>.
        Et cela ne va s’améliorer : le nombre de postes de MCF aux concours a
        <a class="link" target="_blank"
        href="http://rogueesr.fr/wp-content/uploads/2020/10/Note_programmation_budgetaire.pdf">baissé d’un facteur deux en 10 ans</a>,
        quand le nombre d’étudiants n’a cessé d’augmenter. La LPR<a class="link" target="_blank"
          href="http://blog.educpros.fr/julien-gossa/2020/11/05/lppr-une-erreur-historique-lourde-et-annoncee/"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Loi de Programmation de la Recherche adoptée fin 2020. De nombreuses
            références montrent la nature mortifère de cette loi pour l’ESR.
            Cliquez pour voir un exemple."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></a><a class="link" target="_blank"
          href="https://universiteouverte.org/loi-pluriannuelle-de-programmation-de-la-recherche/"><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-left:5px;margin-top:-5px"
          label="Loi de Programmation de la Recherche adoptée fin 2020. De nombreuses
            références montrent la nature mortifère de cette loi pour l’ESR.
            Cliquez pour voir un exemple."
          type="is-info">
          <sup><strong>**</strong></sup>
        </b-tooltip></a>
        va accroître ce décalage (malgré
        ses <a class="link" target="_blank"
        href="https://twitter.com/JulienGossa/status/1303809557685248000">ambitions</a>affichées) et favoriser la précarité ce qui ne va certainement pas
        dans le bon sens, celui d’une université capable d’absorber les chocs transitionnels
        à venir et de les anticiper.
      </p>
      <br/>
      <p style="margin-bottom:7px;font-size:larger;letter-spacing:4px">
        Conclusion
      </p>
      <p style="margin-top:7px;">
        Ces propositions vont dans le sens d’une meilleure résilience de l’enseignement
        supérieur face aux transitions à venir. Indépendamment de l’enseignement spécifique
        (mais nécessaire) des enjeux transitionnels, une réappropriation des libertés
        (au sens de retrouver le temps adéquat pour un enseignement ET une recherche de
        qualité) du métier d’EC est indispensable. Elle nécessite forcément des moyens
        (qui existent, la question réside seulement dans leur destination),
        mais également (et surtout !) une prise de conscience collective de ce que devrait
        être le métier d’enseignant-chercheur.
      </p>
    </su-service>
    <br/>
    <su-service :icon="'pencil'">
      <template #title>
        Collectif <em>Labos 1point5</em>
      </template>
    </su-service>
  </div>
</template>

<script>
import SUService from '@/components/SUService.vue'

export default {
  name: 'TransitionLPPR',
  components: {
    'su-service': SUService
  }
}
</script>

<style>
.tooltipxlarge .tooltip-content{
  width:725px !important;
}
</style>
