<i18n>
{
  "fr": {
    "texte-fondateur": "Texte fondateur"
  },
  "en": {
    "texte-fondateur": "Mission statement"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'lightbulb-o'">
      <template #title>
        Équipe « Réflexion / think tank »
      </template>
      Cette équipe est en charge de faire vivre et d’articuler la réflexion intellectuelle et d’organiser les débats de fond au sein du
      collectif et au-delà. Plus généralement, cette équipe produira des mémos/textes/rapports sur divers sujets touchant à la question
      de la transition écologique dans la recherche et dans les enseignements. Une procédure de soumission au collectif et de validation
      interne a été mise en place et mobilise l'ensemble du collège électoral.
    </su-service>
    <br />
    <su-service :icon="'group'">
      <template #title>
        {{ membresEReflexion.length }} membres
      </template>
      <span v-for="(membre, index) in membresEReflexion" :key="index">
        {{ membre.prenom | capitalize}} {{ membre.nom | capitalize}},
      </span>
    </su-service>
  </div>
</template>

<script>
import SUService from '@/components/SUService.vue'

export default {
  name: 'EquipeReflexion',
  components: {
    'su-service': SUService
  },
  computed: {
    membresEReflexion: function () {
      return this.shuffleArray(this.$store.getters['membres/membresEReflexion'])
    }
  },
  methods: {
    shuffleArray (myarray) {
      for (let i = myarray.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * i)
        const temp = myarray[i]
        myarray[i] = myarray[j]
        myarray[j] = temp
      }
      return myarray
    }
  },
  mounted () {
    this.$store.dispatch('membres/getMembresEquipes', {
      'equipe': 'Réflexion'
    })
  }
}
</script>
