<template>
  <div class="container">
    <su-service :icon="'quote-left'">
      <template #title>
        Quelques réflexions à l’usage de nos collègues qui souhaitent
        mais n’osent (encore) enseigner la transition écologique
      </template>
      <em>La présence de plus en plus fréquente des questions environnementales
        et climatiques dans le débat public, conjointement à des initiatives étudiantes
        réclamant une plus grande place pour ces questions dans leurs formations, a ouvert
        une brèche dans les programmes du supérieur. Désormais, l’enseignement des enjeux
        climatiques et environnementaux y a gagné une légitimité nouvelle, comme en
        témoignent des initiatives pédagogiques de grande ampleur (voir par exemple l’initiative du
        <a class='link' target='_blank' href='https://campus-transition.org/'>Campus de la Transition</a>, ou celle du projet
        <a class='link' target='_blank' href='https://www.groupe-insa.fr/nos-actualites/shift-project-groupe-insa-lancent-climatsup-insa'>ClimatSup Insa</a>).
        <br/>Les auteur·rices
        de ce texte en ont fait l’expérience :  il fallait il y a encore quelques années
        déployer un argumentaire parfois dense pour justifier du bien-fondé de ce type
        d’enseignements. Dorénavant, dans des établissements de plus en plus nombreux,
        les directions de l’enseignement accueillent ces initiatives à bras ouverts,
        quand elles n’en sont pas elles-mêmes à la source. Il y a ainsi une opportunité
        à saisir par des enseignant.es désireu·x·ses de faire avancer la cause environnementale,
        et ils·elles sont nombreu·x·ses à en juger par le succès de collectifs récents dans
        le secteur de la recherche et l’enseignement supérieur autour de ces questions
        (Labos 1point5, Atécopol, Sciences Citoyennes). Toutefois, se saisir de ces enjeux
        et les transmettre aux étudiant·es présente plusieurs défis, et parfois même des cas
        de conscience.</em>
      <br /><br />
      <a class='link' target='_blank' href='/static/texte/Reflexions_enseignements_climat_VF.2.pdf'>Télécharger</a> le texte.
      <br />
      Ce texte a été <a class='link' target='_blank' href='https://aoc.media/opinion/2021/10/28/pour-un-enseignement-de-la-transition-ecologique/'>publié sur le site d'AOC</a> le 29 octobre 2021.
      <br />
      <br />
      <strong>Un domaine à réserver aux spécialistes du climat ?</strong>
      <p style="margin-top:7px">
        Prenons comme cas d’étude un·e enseignant·e amené·e à former ses étudiant·es aux enjeux
        environnementaux et climatiques, que ce soit par souci de préparer réellement ses étudiant·es
        au futur qui est en train de se dessiner, ou encore par volonté de remettre du sens dans un
        métier au sein duquel le
        <a class='link' target='_blank' href='https://www.lemonde.fr/sciences/article/2019/10/14/le-blues-des-chercheurs-francais_6015488_1650684.html'>malaise ne cesse de s'accroitre</a>.
        Le premier cas de conscience qui
        pourrait survenir est celui de la question de la légitimité. Faut-il être spécialiste du
        climat ou des changements globaux pour être légitime à enseigner ces questions ? Un élément de
        réponse se trouve sans doute dans ce que nous rappellent les travaux du GIEC : tous les secteurs
        de nos sociétés et de nos économies, des énergies à la santé en passant par les transports, la
        construction ou l’agroalimentaire, vont être affectés par le dérèglement climatique, que ce soit
        par les nouvelles orientations nécessaires aux réductions des émissions de CO2 ou par les conséquences
        du réchauffement en cours. Ce constat implique que les causes et les enjeux de ces dérèglements
        soient enseignés au sein de toutes les filières. Il doit être pris à bras le corps par les
        enseignant·es de toutes les spécialités afin de tenter d’appréhender au mieux la façon dont
        elles sont traversées par les enjeux climatiques. Pour un enseignant en informatique, cela
        consisterait probablement à se pencher en premier lieu sur les impacts humains et écologiques
        du numérique. Pour une enseignante en génie civil, cela impliquerait de prendre en compte les
        niveaux d’émissions ou au contraire de stockage du CO2 pour différents matériaux, comme le béton
        ou le bois. Ces problématiques sectorielles peuvent constituer une porte d’entrée permettant d’élargir
        ensuite le champ de ses réflexions, et d’aborder progressivement le défi climatique et social pris
        dans sa globalité. Ainsi, cet enseignant en informatique se mettra peut-être à réfléchir aux méthodes
        de productions d’énergie décarbonée, aux méthodes d’analyse en
        <a class='link' target='_blank' href='https://www.ademe.fr/expertises/consommer-autrement/passer-a-laction/dossier/lanalyse-cycle-vie/quest-lacv'>cycle de vie</a>,
        ou encore aux conditions
        de travail des « travailleurs du clic » en intelligence artificielle. Quant à cette enseignante en
        génie civil, ses réflexions la conduiront peut-être à aborder la question de la raréfaction des
        ressources, du métabolisme urbain, des matériaux biosourcés...
     </p>
      <p style="margin-top:7px">
        Concernant le constat initial, à savoir l’état des lieux du réchauffement climatique et ses
        projections futures, il ne nous semble pas nécessaire d’être climatologue pour pouvoir en transmettre
        l’essentiel. Nous sommes régulièrement amené·es pour des besoins d’enseignements à nous autoformer
        et à transmettre des connaissances dans des domaines dont nous ne sommes pas spécialistes. Il n’y
        a pas de raison que le réchauffement climatique constitue une exception. En l'occurrence, cela est
        d’ailleurs largement facilité par le matériel pédagogique dense qui est publiquement disponible
        (à commencer par les résumés des rapports du GIEC, les rapports du Haut Conseil pour le Climat,
        les ressources de l’<a class='link' target='_blank' href='https://www.oce.global/fr'>Office for Climate Education</a>, ...)
        ou le sera sous peu<b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label='l’équipe « Enseignement » du collectif Labos 1point5 travaille à la production de support pédagogique qui seront bientôt disponibles'
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip>.
      </p>
      <p style="margin-top:7px">
        Enfin, et nous en avons fait personnellement l'expérience, il est particulièrement enrichissant de
        s’instruire en même temps que les étudiant·es, en utilisant des pédagogies adaptées. Dans de tels
        contextes, nous apportons à nos étudiant·es des conseils méthodologiques (comment faire des recherches
        dans la littérature scientifique ; comment gérer les informations contradictoires entre différentes
        sources ; comment savoir si une source est fiable, etc.), et nous apprenons en même temps qu’elles
        et eux sur des thématiques que nous souhaitons approfondir, au gré de nos réflexions du moment.
      </p>
      <br/>
      <strong>Neutralité et spirale du silence</strong>
      <p style="margin-top:7px">
        Un deuxième cas de conscience qui peut apparaître à la mise en place d’une formation sur le climat
        est celui de la neutralité. Enseigner les enjeux de la transition climatique, c’est remettre en cause
        des pans entiers de la société dans laquelle nous vivons. Expliquer par exemple qu’il n’y a aucun élément
        factuel permettant de soutenir l’hypothèse d’une croissance verte (le découplage entre croissance
        économique et émissions de CO2 dans des proportions suffisantes pour tenir les objectifs de l’Accord
        de Paris - voir <a class='link' target='_blank' href='https://eeb.org/library/decoupling-debunked/'>ici</a> ou
        <a class='link' target='_blank' href='https://www.tandfonline.com/doi/abs/10.1080/13563467.2019.1598964?journalCode=cnpe20'>là</a>),
        ou encore que l’effet rebond (voir <a class='link' target='_blank' href='https://www.theguardian.com/environment/blog/2011/feb/22/rebound-effect-climate-change'>ici</a> ou
        <a class='link' target='_blank' href='https://www.sciencedirect.com/science/article/pii/S221462962100075X'>là</a>),
        devrait susciter une certaine prudence face aux discours qui tiennent du solutionnisme technologique,
        c’est remettre en question certains enseignements largement répandus dans les départements d’économie,
        de développement durable, de management ou d’ingénierie. Dans ce contexte, l’enseignant qui souhaite
        développer un cours — disons lucide — sur le climat, ne risque-t-il pas d’être perçu par ses collègues
        ou de se percevoir lui-même comme militant ou sortant d’une posture de neutralité ?  Une enseignante
        proposant un tel cours ne risque-t-elle pas de se mettre à dos une partie de ses collègues, voire même
        de sa hiérarchie ?
      </p>
      <p style="margin-top:7px">
        D’une part, il y a sur cette question de la neutralité un malentendu qu’il faut lever, et ce chantier
        clé est déjà bien entamé. La plupart des personnes qui invoquent la « neutralité » dans ce contexte
        font souvent une confusion entre deux concepts très différents. Le premier est la neutralité axiologique,
        qui est <em>possible et souhaitable</em>, et consiste à ne pas déformer les résultats d’expériences scientifiques
        en fonction de ses propres valeurs. Le deuxième est un concept qui sert surtout de prétexte pour une
        mise à distance des scientifiques face à leurs responsabilités sociétales, mais n’a aucune base
        épistémologique : comme nos collègues des sciences humaines l’ont établi depuis
        <a class='link' target='_blank' href='https://encyclo-philo.fr/neutralite-scientifique-a'>bien longtemps</a>,
        il n’y a pas de « science neutre » ou « scientifiques neutres ». Ainsi, un cours d’histoire n’est
        jamais neutre, pas plus qu’un cours sur les objets connectés ou une maquette pédagogique : choisir,
        dans une maquette, d’inclure un cours sur le marketing plutôt que sur le greenwashing, un cours sur
        la théorie orthodoxe en économie plutôt que sur la décroissance, ou un cours sur le béton armé plutôt
        que sur l’auto-construction en terre-paille n’est bien évidemment pas neutre, et illustre non seulement
        les valeurs des personnes qui prennent ces décisions, mais également leur vision du futur.
        L’enseignant·e qui sera en charge de tels cours ne peut pas invoquer une quelconque
        « neutralité de l’enseignement ».
      </p>
      <p style="margin-top:7px">
        À l’heure de l’urgence écologique, les notions d’engagement ou de militantisme peuvent même également
        être vus d’un autre œil : nous sommes aujourd’hui en présence d’éléments scientifiques convergents et
        solides qui attestent que nos sociétés (principalement les sociétés occidentales), dans leur fonctionnement
        actuel, mettent en péril le vivant et se mettent elles-mêmes en péril. Dans ce contexte, ce qui pourrait
        être vu comme un enseignement engagé et militant, c’est bien plus le fait de ne pas intégrer ce constat
        à nos enseignements et de ne pas discuter et proposer des fonctionnements alternatifs plus respectueux
        de la planète et du vivant ! Ainsi, on peut considérer qu’un cours sur les objets connectés sans discussion
        de leurs impacts socio-écologiques ou sans questionnement critique sur leur finalité est d’une certaine
        façon un cours militant pour le business-as-usual, et à ce titre dangereux pour l’humanité. Ne pas agir
        face à l’urgence constitue bel et bien un choix, qui peut potentiellement être assumé, mais dont on ne
        peut nier l'existence : c’est ainsi que, dans un autre contexte, face à une agression dans l’espace public,
        ne pas réagir d’une manière ou d’une autre n’est pas être dans une posture de neutralité, mais est un
        choix que le droit qualifie de non-assistance à personne en danger.
      </p>
      <p style="margin-top:7px">
        Enfin, et c’est sans doute un point important de nos expériences individuelles, il nous faut dire que
        cette crainte de soulever l’opposition de collègues et de la hiérarchie n’a bien souvent pas été justifiée.
        Nous sommes là en présence d’une belle illustration de la notion de
        <a class='link' target='_blank' href='https://www.cairn.info/revue-hermes-la-revue-1989-1-page-181.htm?contenu=resume'>« spirale du silence »</a>
        développée en sciences politiques : au sein d’un groupe social ou d’une institution, quand ils anticipent d’avoir un
        positionnement minoritaire qui risquerait de les isoler, alors les membres du groupe ou de l’institution
        préfèrent ne pas exprimer cette position. L’effet pervers de cette règle apparaît au passage à l’échelle
        collective : toutes celles et ceux qui se trouvent dans cette situation adoptent cette attitude, et au
        final, la position dominante du groupe ou de l’institution n’est pas nécessairement l’opinion réellement
        dominante, mais celle qui est anticipée comme telle. Dans ce type de contexte, porter une voix qu’on
        pense être minoritaire peut justement avoir des retombées surprenantes. Elle peut permettre d’inciter
        d’autres membres à exprimer leur adhésion à cette position, et in fine, trouver des alliés parfois
        inattendus et plus nombreux qu’espérés. Gardons à l’esprit que des positions que nous imaginons
        minoritaires ne le sont pas toujours : ainsi, dans l’enquête « Les personnels de la recherche face au
        changement climatique » plus de 90 % des personnels de la recherche sont d’accord avec l’affirmation
        selon laquelle, si les choses continuent au rythme actuel, nous allons bientôt vivre une catastrophe
        écologique majeure<router-link class='link' to='/les-enquetes/enquete1-resultat'><b-tooltip
          multilined
          size="is-large is-light"
          style="cursor:pointer;text-shadow:0px 0px 1px #4FC1EA;margin-top:-5px"
          label="Enquête conduite de fin juin à début décembre 2020 auprès de plus de 6 000
                répondant·es, tiré·es au sort parmi l’ensemble des personnels affiliés à une
                unité du CNRS, tous statuts et disciplines confondus.
                Cliquez pour accéder à l'enquête."
          type="is-info">
          <sup><strong>*</strong></sup>
        </b-tooltip></router-link>.
      </p>
      <br/>
      <strong>Susciter l’action et non le désespoir</strong>
      <p style="margin-top:7px">
        La question de la légitimité et celle de la neutralité maintenant traitées, venons-en à ce qui devrait
        constituer le questionnement central dans la préparation d’un enseignement sur le climat : comment
        partager un constat sombre, celui de l’état du dérèglement climatique et des trajectoires sur lesquelles
        nous nous situons, tout en faisant en sorte que ce message suscite l’action, et non le désespoir ou
        encore le déni ?
      </p>
      <p style="margin-top:7px">
        Le principal écueil consiste sans doute à se focaliser exclusivement sur les niveaux actuels et futurs
        de réchauffement climatique, les mécanismes, et les innombrables impacts négatifs que ceux-ci auront
        et ont déjà sur les écosystèmes et les sociétés. Délivrer un tel message, avec lucidité et honnêteté,
        est probablement nécessaire pour une prise de conscience, mais ne pas proposer de marges de manœuvre à
        notre portée présente le risque d’avoir un effet contre-productif sur les changements de comportements
        (ce qu’on appelle parfois l’à-quoi-bonisme) et peut même engendrer une forme de déni : face à une
        perspective écrasante et présentée comme inéluctable, le déni peut finalement s’apparenter à une
        réaction saine.
      </p>
      <p style="margin-top:7px">
        L’enjeu est donc de présenter de manière rigoureuse l’état du dérèglement climatique et de ses
        impacts, tout en laissant une large part aux pistes permettant d’éloigner la perspective d’une
        catastrophe. Identifier ces marges de manœuvre n’est pas toujours aisé : cela nécessite, pour les
        secteurs d'activités pertinents au vu des parcours et des formations, de présenter les principaux
        postes d’émissions de gaz à effet de serre et leurs contributions respectives, mais également de
        connaître ou d’imaginer les alternatives à développer et déployer. Cela implique enfin d’identifier
        les freins aux changements aux niveaux individuel et socio-politique et d’imaginer les moyens pour
        les lever, en articulant engagement professionnel et engagement citoyen. Il y a ici, tant pour les
        enseignant.es que pour les apprenant.es, un formidable enjeu intellectuel collectif et individuel.
        Collectif : celui d’inventer de nouveaux modèles de société compatibles avec les limites de la planète.
        Individuel : celui de se réaliser pleinement, en tant que (futur·e) professionnel·le, mais aussi en
        tant que citoyen·ne, en prenant sa part dans cette transformation.
      </p>
      <br/>
      <strong>Conclusion</strong>
      <p style="margin-top:7px;">
        Alors même que la demande se fait pressante, une large majorité des étudiant·es du supérieur ne sont
        toujours pas formé·es à ce qui constitue l’enjeu majeur des décennies à venir. Un enseignement
        supérieur à hauteur des enjeux environnementaux ne verra pas le jour sans une forte implication
        des établissements et de leurs directions. Dans l’attente, et afin de le voir advenir, il nous
        revient à nous, personnels de l’enseignement supérieur et de la recherche, de profiter des interstices,
        des espaces de liberté à notre disposition (et malgré les attaques dont elle fait régulièrement l’objet,
        l’université en reste un) pour faire avancer la prise en compte des enjeux dans les
        <router-link class='link' to='/reflexion/EnseignerTransition'>formations</router-link>.
        Nous le devons également à cette jeunesse mobilisée, qui sur le front du climat comme sur celui de
        la crise sanitaire, a toutes les raisons de se sentir sacrifiée par ses
        <a class='link' target='_blank' href='https://reporterre.net/Les-jeunes-sont-terrifies-par-la-crise-climatique-Et-l-inaction-des-gouvernants'>décideurs</a>.
        Faisons a minima en sorte qu’elle ne se sente pas de surcroît abandonnée par le corps enseignant.
      </p>
    </su-service>
    <br/>
    <su-service :icon="'pencil'">
      <template #title>
        Rédacteurs
      </template>
      Ce texte a été rédigé par <strong>Kévin Jean</strong>, <strong>Julian Carrey</strong>, <strong>Marie-Alice Foujols</strong>
      et <strong>Guillaume Blanc</strong> et a également profité des discussions au sein du groupe « Enseignement » du collectif <em>Labos1point5</em>.
    </su-service>
  </div>
</template>

<script>
import SUService from '@/components/SUService.vue'

export default {
  name: 'TransitionLPPR',
  components: {
    'su-service': SUService
  }
}
</script>

<style>
.tooltipxlarge .tooltip-content{
  width:725px !important;
}
</style>
