<template>
  <div class="container">
    <su-service :icon="'quote-left'">
      <template #title>
        Pour une éthique environnementale de la recherche
      </template>
      <a class='link' target='_blank' href='/static/textes/Labos1point5_CollectifTexteEthique.pdf'>Télécharger</a> le texte.
      <br />
      Ce texte a été publié dans <a class='link' target='_blank' href='https://www.lemonde.fr/sciences/article/2022/03/16/le-monde-academique-doit-definir-une-ethique-environnementale-de-la-recherche_6117692_1650684.html'>le Cahier Science&#38;Médecine du Monde</a> du mardi 15 mars 2022.
      <br />
      <br />
      <div class="adapterimg" style="background:url('/static/textes/Labos1point5_CollectifTexteEthique.jpg') repeat scroll 0% 0%;">
      </div>
      <strong>Introduction</strong>
      <p style="margin-top:7px">
        Conscients de l'urgence écologique, les personnels de plus de 300
        laboratoires de recherche en France sont engagés dans un processus
        réflexif sur leurs pratiques et leurs missions. Ils réalisent
        actuellement des bilans de gaz à effet de serre (GES), accompagnés
        par le travail du collectif <em>Labos 1point5</em>. Nombreux sont ceux qui,
        dans la foulée de cette mesure, ont engagé un processus d’expérimentation,
        toujours avec <em>Labos 1point5</em>, au cours duquel les personnels débattent,
        mettent en place et évaluent des solutions de transition et de
        réduction des émissions de GES. Cet effort ne relève pas pour
        l’instant de décisions politiques ou administratives, mais de
        l’initiative de laboratoires. Loin d’être vécu comme une contrainte,
        cet exercice répond à une demande de la communauté : se réapproprier
        les lieux d’exercice du travail scientifique et faire face aux nombreux
        défis environnementaux, dont le changement climatique.
      </p>
      <br/><br/>
      <strong>Appel à la communauté de recherche</strong>
      <div class="columns">
        <div class="column">
          <p style="text-align: justify;margin-top:7px;margin-right:5px">
            Nous invitons à présent les membres de la communauté de toutes
            disciplines à aller plus loin et à définir collectivement une éthique
            environnementale de la recherche. Notre objectif est d’imaginer un
            nouvel horizon pour le monde académique, qui s'affranchisse d’une
            compétition frénétique reposant sur l’illusion d’une énergie abondante
            et sans limites. Il ne s’agit pas d’une simple démarche de gestion
            opérée à système constant, mais d’une transformation systémique
            profonde des pratiques et d’une réincarnation des valeurs portées
            par les scientifiques, afin de redonner toute sa place à la coopération
            entre les individus et les établissements. Il s’agit aussi de sortir
            de l'ère du « productivisme scientifique », dont les impacts sur
            l’environnement, l’intégrité scientifique et la santé mentale des
            personnels de recherche sont délétères.
          </p>
          <p style="margin-top:15px;margin-right:5px">
            Cette transformation doit se faire dans un cadre respectueux des
            valeurs et des règles de conduite constitutifs de ce que l’on peut
            appeler, de façon large, « l'éthique scientifique ». Celle ci concerne
            l’intégrité scientifique (on ne publie que ses propres résultats,
            sans les manipuler), la collégialité, le refus des conflits d’intérêts
            et du copinage (par exemple dans les décisions de publication ou
            d’attribution de ressources financières) ou encore l’encadrement
            strict de certaines conditions de recherche (comme l’utilisation
            des animaux à des fins scientifiques). Au même titre que le droit
            commun ou la réglementation, l’éthique scientifique encadre / cadre
            la liberté académique, c’est-à-dire la liberté d'élaborer des
            théories, d'expérimenter et de vérifier des résultats, sans
            influence ni pression des pouvoirs économiques, politiques ou
            religieux. Pour faire face aux bouleversements écologiques et
            continuer à exercer nos métiers, nous affirmons que cette éthique
            scientifique doit désormais être complétée par une éthique
            environnementale de la recherche. Notre objectif ici n’est pas de
            statuer sur son contenu précis, mais de proposer à ce stade <strong>deux
            principes</strong>.
          </p>
        </div>
        <div class="column">
          <p style="text-align: justify;margin-top:7px;margin-left:5px">
            <strong>Le premier, c’est que le processus d’élaboration de cette éthique
            environnementale de la recherche doit être conduit par les personnels
            des laboratoires dans leur diversité</strong>, en respectant la collégialité
            et l’autonomie du champ scientifique vis-à-vis des pouvoirs
            politiques, financiers, religieux. Il doit également être ouvert
            aux messages venant de toutes les composantes sociales ou naturelles
            qui sont « parties prenantes » dans le processus de construction du
            savoir, c'est-à-dire dont la vie sera touchée, en bien ou en mal,
            par les résultats de la science.
          </p>
          <p style="margin-top:15px;margin-left:5px">
            <strong>Le second principe, c’est d’inclure dans nos discussions non
            seulement les pratiques, mais encore les finalités du travail
            scientifique.</strong> D’une part, en ce qui concerne les pratiques, un
            impératif éthique est de réduire l’empreinte environnementale des
            activités de recherche. Il s’agit notamment de réfléchir à la
            limitation des trajets en avion, des matériels jetables en plastique
            dans les laboratoires, ou encore au bien-fondé de construire de
            nouveaux complexes de recherche sur des terres fertiles ou de
            nouveaux télescopes au sommet de montagnes vierges. Étant donné
            la croissance exponentielle de l’impact environnemental du numérique,
            ses objectifs et ses usages scientifiques doivent aussi être
            analysés et redéfinis. D’autre part, il relève de la responsabilité
            individuelle et collective des scientifiques d’évaluer les impacts
            potentiels sur l’environnement de leurs propres travaux et de
            placer la limite entre des sujets à traiter et d’autres à laisser
            de côté en raison de leur impact négatif. La conséquence de ce
            deuxième principe est que les institutions devront offrir aux
            scientifiques la possibilité de modifier leurs pratiques, de
            réorienter leurs recherches ou activités, en plaçant la logique
            compétitive au second plan pour, cette fois, être en accord avec
            l’éthique environnementale de la recherche.
          </p>
        </div>
      </div>
      <br/>
      <strong>En conclusion</strong>
      <div class="columns">
        <div class="column">
          <p style="text-align: justify;margin-top:7px;margin-right:5px">
            Nous avons un cadre de travail pour accueillir ces réflexions : le
            collectif <em>Labos 1point5</em> et le groupement de recherche soutenu par
            INRAE et le CNRS que nous avons créé en mai 2021. Nous espérons que
            les travaux qu’ils mèneront sur ce sujet, qui puisent leur origine
            dans les résultats des recherches scientifiques actuelles, puissent
            contribuer à l’inscription de certains fondements de l’éthique
            environnementale dans la loi.
          </p>
        </div>
        <div class="column">
          <p style="text-align: justify;margin-top:7px;margin-left:5px">
            C’est au prix de cet effort de tous et
            toutes que la science, dans toute sa diversité, pourra continuer à
            produire des connaissances qui ne déferont pas le monde qu’elle
            prétend décrire.
          </p>
        </div>
      </div>
    </su-service>
    <br/>
    <su-service :icon="'pencil'">
      <template #title>
        Collectif <em>Labos 1point5</em>
      </template>
    </su-service>
  </div>
</template>

<script>
import SUService from '@/components/SUService.vue'

export default {
  name: 'TransitionLPPR',
  components: {
    'su-service': SUService
  }
}
</script>

<style>
.tooltipxlarge .tooltip-content{
  width:725px !important;
}

.adapterimg {
  float: right;
  background-size: 100% 100% !important;
  width: 470px;
  height: 320px;
  border-radius: 0 0 0 50%;
  border: 1px solid darkgray;
  shape-outside: margin-box;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 12px;
}
</style>
