<template>
  <div class="container">
    <su-service :icon="'quote-left'">
      <template #title>
        Sur la Responsabilité de l’ESR en ces temps incertains
      </template>
      <a class='link' target='_blank' href='/static/textes/Labos1point5_ResponsabiliteESR.pdf'>Télécharger</a> le texte.
      <br />
      <br />
      <strong>Introduction : positionnement</strong>
      <div style='padding-top:7px; text-indent: 30px;'>
        La société semble actuellement enfermée dans un triste choix entre une adaptation à la mondialisation,
        devenue véritable injonction et différentes formes de replis sur soi. Nous proposons ici de
        contribuer, en tant que membres de l’Enseignement Supérieur et de la Recherche (ESR), à une troisième
        voie qui est celle d’une nouvelle grande transformation3. Nous pensons en effet qu’il en va de notre
        responsabilité de scientifiques d’exprimer que des transformations profondes de nos sociétés sont à
        engager de manière urgente ; que la sobriété matérielle doit être placée au cœur de ces transformations
        et que la communauté scientifique a un rôle déterminant à jouer dans cette perspective transformatrice
        et ce, à différents niveaux. Plusieurs arguments majeurs justifient ce positionnement aux yeux des
        auteurs de ce texte.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Le premier d’entre eux est que nous avons déjà dépassé les limites planétaires en matière de changement
        climatique, d’effondrement de la biodiversité et d’altération des grands cycles biogéochimiques comme
        celui de l’azote. Les travaux du Groupe d'experts intergouvernemental sur l'évolution du climat (GIEC)
        comme ceux de l’IPBES (Intergovernmental Science-Policy Platform on Biodiversity and Ecosystem
        Services) démontrent, par la synthèse de milliers de travaux, que ces bouleversements menacent les
        populations les plus vulnérables sur tous les continents, voire l’existence même de notre espèce à la
        surface de notre précieuse planète.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Le deuxième argument est lié à l’épuisement ou à la rareté de nombreuses matières premières
        essentielles au fonctionnement de l’économie productiviste actuelle, y compris celles requises par les
        transitions numériques et écologiques. Clairement, une croissance infinie dans un monde de ressources
        finies est impossible. Les travaux de nombreux·ses collègues, qu’ils·elles soient économistes,
        historien·ne·s ou d’autres disciplines, nous montrent en particulier qu’il n’est pas raisonnable de
        tout miser sur un découplage entre la croissance économique (telle que mesurée par le PIB) et celle de
        nos atteintes à l’environnement (estimée à l’aide des empreintes écologiques). Depuis deux siècles,
        les seules périodes au cours desquelles les émissions mondiales de CO2 ont diminué sont les grandes
        guerres mondiales ou aux grandes crises économiques ; nous allons bientôt, hélas, pouvoir y ajouter
        les crises sanitaires comme celle que nous traversons actuellement.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        De nombreux arguments complémentaires (échelle de temps des déploiements technologiques, effets
        rebonds associés, creusement des inégalités liées à leur accessibilité…) mettent en garde contre la
        tentation d’une transition principalement basée sur le dépassement techno-scientifique des limites
        planétaires contre lesquelles nos sociétés butent aujourd’hui. La croyance selon laquelle les sociétés
        humaines seraient nécessairement capables de résoudre par la seule technoscience les problèmes
        auxquels elles sont confrontées, qu'ils résultent de leurs actions ou non, est un leurre. Cette
        croyance, historiquement entretenue par la communauté scientifique, contribue à retarder l’engagement
        des transformations requises. Des développements technologiques seront certes nécessaires, ils ne
        seront néanmoins pas suffisants et devraient s’intégrer dans une vision plus large de l’innovation.
        Celle-ci devrait inclure une dimension sociale et institutionnelle et tenir compte de la nécessaire
        frugalité, les low tech permettant d’éviter de nouvelles impasses.
      </div>
      <br />
      <strong>Propositions : les trois dimensions de notre responsabilité</strong>
      <div style='padding-top:7px; text-indent: 30px;'>
        Dans une perspective transformatrice, la responsabilité du monde de la recherche est fondamentale,
        eu égard au rôle qu’il a toujours joué dans le développement, l’émancipation matérielle et
        intellectuelle. Notre proposition s’articule autour de trois dimensions complémentaires permettant
        de donner à cette responsabilité qui nous incombe un caractère des plus concrets ; trois formes
        d’action par lesquelles la recherche académique peut contribuer à une transformation profonde des
        sociétés humaines pour mieux intégrer l’existence de limites planétaires avec des exigences d’équité,
        de solidarité écologique, et de justice sociale au service du bien commun. La démarche est par
        essence, inter- et transdisciplinaire, au sens d’une coopération accrue entre grands champs
        scientifiques comme entre sciences et société, en hybridant différents types de savoirs
        (scientifiques, de pratique, vernaculaires…). Elle esquisse ce qui pourrait fonder une éthique
        renouvelée de la recherche, reposant sur trois piliers présentés ci-dessous : quête de soutenabilité
        des pratiques de recherche ; élaboration d’une recherche concrète et engagée, avec et au bénéfice
        de la société en transformation, en particulier sur les territoires ; et questionnement sur le sens
        et les grandes orientations de la recherche comme de la société. Elle est au premier chef, une
        réponse aux mobilisations et messages des mouvements climat-environnement et en particulier, ceux
        des plus jeunes, qui la rendent possible.
      </div>
      <br />
      <em>Réduire l’impact environnemental des pratiques de recherche</em>
      <div style='padding-top:7px; text-indent: 30px;'>
        La première dimension est celle de l’incarnation de la transformation à l’intérieur de l’ESR. Elle
        vise à limiter fortement les impacts environnementaux des pratiques de la recherche elle-même.
        Question de cohérence, de crédibilité aussi. Le collectif Labos 1point51 s’engage dans cette voie
        en développant des outils pour établir des diagnostics, tant qualitatifs que quantitatifs, à
        travers des enquêtes et le développement d’outils destinés à calculer les émissions de CO2 liées
        aux différentes activités de la recherche, dans toutes ses formes et toutes ses spécificités.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Pour aller plus loin, une expérimentation est en cours d’élaboration à l’échelle nationale. Au
        sein de laboratoires pilotes volontaires, dans le respect du niveau d’engagement collectif souhaité,
        elle permettra (i) à chaque labo de définir l’ambition de la réduction qu’il souhaite atteindre,
        (ii) de tester différentes modalités pour y parvenir (mesures incitatives telles que des taxes ou
        plus contraignantes comme la mise en place de quotas…) et (iii) de sécuriser, par le biais d’un cadre
        scientifiquement posé, les délibérations qui devront avoir lieu dans les laboratoires volontaires
        pour trancher entre les différentes options qui ne sauraient, ni plus ni moins que dans la société,
        faire consensus. Ces délibérations pourront certainement s’enrichir d’échanges fructueux avec la
        société civile, en proie aux mêmes questionnements dans ses dimensions professionnelles,
        associatives, ou personnelles.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Chacune des étapes de cette expérimentation, depuis la mise en place des discussions jusqu’à
        l’analyse de ses résultats, fera l’objet d’une documentation rigoureuse et d’analyses émanant de
        nombreuses disciplines (de la climatologie à la philosophie en passant par l’économie et le droit,
        la science politique, les sciences de la communication ou encore les études des sciences et techniques
        en société) pour en faire un véritable projet interdisciplinaire à l’échelle nationale, voire au-delà
        si les conditions le permettent.
      </div>
      <br />
      <em>Accompagner les territoires dans la transformation</em>
      <div style='padding-top:7px; text-indent: 30px;'>
        Sans vouloir aucunement rompre avec – et même plutôt en s’appuyant sur - l’indispensable liberté
        académique des chercheur·se·s, ni diminuer l’importance des recherches fondamentales et
        disciplinaires, nous affirmons ici que l’urgence des situations, tant environnementales que
        sociales, nécessite un engagement massif de la communauté scientifique aux côtés de la société dans
        une perspective transformative. Il s’agit là de la deuxième dimension dans laquelle notre
        responsabilité de scientifiques nous engage. Notre contribution se nourrira bien sûr des
        enseignements tirés de la transformation de nos propres pratiques, telle qu’exposée ci-dessus. Elle
        revêtira des aspects théoriques autant que pratiques.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Les formes d’interactions entre science et société sont diverses et variées, depuis la vulgarisation
        jusqu’à l’expertise et l’aide à la décision, en passant par les sciences participatives et la
        co-construction des questions de recherche, le domaine du soin ayant montré l’exemple depuis
        longtemps. Elles doivent permettre à chaque membre de l’ESR qui le souhaite de s’y engager, quelle
        que soit sa discipline ou son champ de recherche de prédilection. Nous l’illustrons ici à travers
        l’exemple du champ émergent des sciences dites de la soutenabilité (ou de la résilience), appliquées
        à la transformation socio-écologique des territoires2. Cette approche nécessite tout d’abord de
        stimuler l’interdisciplinarité entre les grands champs des sciences humaines et sociales et des
        sciences de l’environnement pour appréhender le fonctionnement et les trajectoires des
        socio-écosystèmes.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Elle nécessite également un travail transdisciplinaire pour le commun1, mené par des scientifiques
        et des acteur·rice·s des territoires urbains, ruraux ou côtiers, ultra-marins et métropolitains :
        tissu associatif, monde de l’économie sociale et solidaire, tiers-lieux de recherche et d’innovation,
        collectivités territoriales… que l’on rassemble aujourd’hui sous le vocable de tiers-secteur de la
        recherche2. Ensemble, ils identifient des problématiques, des enjeux qu’ils·elles vont aborder en
        combinant leurs connaissances, à égalité de contribution3, pour dépasser l’habituelle tension entre
        préservation et exploitation et transformer la relation de l’humain à son environnement, dans une
        perspective plus soutenable pour l’un·e comme pour l’autre. L’approche par territoires nous semble
        particulièrement prometteuse, telle qu’elle est par exemple conduite dans les Zones Ateliers et les
        Observatoires Hommes-Milieux autour de l’étude des trajectoires des socio-écosystèmes. Dans la
        lignée des travaux du GIEC et de l’IPBES à l’échelle globale, cette approche favorise le nécessaire
        rapprochement entre scientifiques et politiques, par exemple dans le cadre de missions permanentes
        d’expertises interdisciplinaires de dimension régionale, comme c’est le cas en Nouvelle Aquitaine
        (Acclimaterra) ou en Bretagne (Breizh COP).
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Quel que soit le domaine de recherche concerné, cette approche systémique implique de prendre du
        temps et des risques, d’aller vers « l’Autre », qu’il·elle vienne d’une autre discipline ou d’un
        autre pan de la société civile. Ce pas de côté est extrêmement chronophage, il nous confronte à une
        forme de réappropriation du temps et plus fondamentalement encore, à la redéfinition de nos
        priorités et de nos partenariats. Ainsi, c’est toute la question du sens de la recherche qui, au
        final, se trouve posée.
      </div>
      <br />
      <em>Repenser le sens de la recherche</em>
      <div style='padding-top:7px; text-indent: 30px;'>
        Cette troisième dimension, réflexive et prospective, consiste à penser et redéfinir le sens et les
        objectifs-mêmes de notre activité. Nous complétons ainsi sous l’angle de la responsabilité, les
        réflexions émanant de collectifs comme Sciences Citoyennes, RogueESR ou différents ateliers
        d’écologie politique, partis de Toulouse et émergeant dans plusieurs villes universitaires. Les
        deux premiers points présentés ci-dessus constituent un matériau précieux pour cela, en nous
        interrogeant sur nos impacts environnementaux, la liberté académique, l’évolution de la recherche,
        de ses pratiques et de son utilité. Mais, soumi·se·s comme une grande partie de l’humanité à des
        tendances rationalisantes et accélératrices, potentiellement totalisantes, et observant la perte
        de sens et la destruction des liens que cette dérive induit (entre humains, entre humains et
        nature), nous entendons ne pas en rester là.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        La rationalisation, administrative et technique, technocratique, a envahi peu à peu tous les
        domaines de nos sociétés modernes. Nous, humains, sommes aujourd’hui gouverné·e·s par les nombres.
        Des pans entiers de nos activités, ceux-là même que l’on pensait à l’abri, se sont laissés envahir :
        le droit, le politique, l’éducation… jusqu’au soin même ! L’accélération - et ses moteurs sociaux et
        culturels que sont la compétition et la promesse d’éternité - génère un sentiment de famine temporelle
        et vient renforcer une certaine forme de dépossession de nos vies et du sens de notre existence,
        individuelle et collective.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        L’ESR n’y échappe pas. L’évolution marchande de l’université remet en cause ses fondements mêmes
        tels que décrits par un Humboldt ou un Russel il y a deux siècles. Nous sommes de plus en plus
        nombreux·ses à prendre conscience de ce point culminant d’un monde académique qui s’épuise en épuisant
        la Terre dans une course effrénée à la publication et aux contrats pour, au fond, gagner quelques
        places au classement de Shanghai, faire progresser des H-index, ou pouvoir déambuler dignement plutôt
        que complexé·e dans les conférences internationales où la quête collective de connaissances cède le
        pas aux soifs individuelles de reconnaissance et de prestige.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Ce sont ces dérives récentes vers une science ultra-quantitative et désincarnée qu’il nous faut
        interroger pour mieux les inverser. Mais la position de l’ESR est ambigüe et la question de la
        responsabilité ressurgit avec force. Impossible d’un côté d’attribuer à la science et l’innovation
        un rôle majeur dans la question du développement sans que l’ESR accepte d’un autre côté de prendre
        sa part, historique, à l’aliénante évolution de nos sociétés modernes. C’est bien parce que
        l’ESR joue un rôle essentiel dans le progrès et sa définition même, faite d’émancipation matérielle
        mais aussi intellectuelle, qu’il doit contribuer à accompagner la société dans cette grande
        transformation, en se transformant lui-même au premier chef. L’heure est donc à une profonde remise
        en question et il n’est pas anodin que celle-ci soit rendue nécessaire, tant par les injonctions à
        mieux jouer le “jeu” de la compétition et de l’innovation que par un mouvement inverse porté par
        l’émergence d’une conscience socio-écologique collective au sein de l’ESR. Le choc de ces visions
        entre, d’un côté, l’adaptation forcée de la recherche publique au marché de la connaissance et de
        l’autre, l’accompagnement d’une transformation de la société guidée par un esprit techno-critique
        et des principes écologiques et démocratiques, produit pour partie la mobilisation actuelle contre
        la LPPR et nous conduit à proposer ces grandes lignes d’une vision renouvelée de la recherche.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        A ce stade, les trois dimensions de la responsabilité de l’ESR s’interpénètrent, et l’action et la
        réflexion se révèlent intimement couplées. La quête concrète de soutenabilité des pratiques de
        recherche et l’accompagnement de la transformation de la société nous semblent des antidotes puissants
        contre un « incontrôlable évanouissement du sens ». L’ensemble rend évidente la nécessité de repenser
        en profondeur la place et les modalités actuelles de l’évaluation de la recherche pour, notamment,
        favoriser la qualité (des connaissances scientifiques produites et de leur utilité pour la société)
        plutôt que la quantité (de publications, de reunions, de participation à des conférences, de projets
        ou de contrats décrochés, de brevets déposés ou de start-ups nouvellement créées). Toute aussi
        importante, la formation des jeunes devrait constituer au plus vite un chantier de refondation en
        quête, par exemple, des bons équilibres entre la discipline, l’inter-discipline et l’interaction
        sciences-société, ou des moyens de passer à grande échelle de la compétition individuelle à
        l’émulation collective au service du commun.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Par-delà ces considérations scientifiques, nous voyons dans les prises de risque associées à toutes
        ces évolutions, dans tous ces pas de côté, un engagement positif de résistance au mouvement de repli
        sur soi que l’on observe actuellement dans de nombreux endroits du monde. Collectivement, dans ce
        moment si particulier pour l’humanité, nous tentons de « penser ce que nous faisons » pour tenir à
        distance les tendances totalitaires qui finiraient par nous en empêcher.
      </div>
      <br />
      <strong>Conclusion : engagement</strong>
      <div style='padding-top:7px; text-indent: 30px;'>
        Les communautés climat-environnement-société, accompagnées d’organisations non gouvernementales,
        de collectifs, de politiques, de citoyen·ne·s … ont accompli une prouesse : faire du dérèglement
        climatique et des crises écologiques et sociales des sujets sur lesquels une discussion de société
        informée et responsable est désormais possible, si ce n’est tous ensemble, du moins avec une très
        grande diversité de concitoyen·ne·s. Sans cesser la sensibilisation, il s’agit maintenant pour la
        communauté la plus large de nourrir la réflexion collective de connaissances et de perspectives tirées
        avec humilité des sciences sociales, naturelles, ou de l’ingénieur en étroite interaction avec le
        tiers secteur de la recherche. Ce sont tous nos rapports à la nature, à la technique, au travail, à
        la connaissance comme à la transmission, au “faire société”, à l’idée de progrès et d’un avenir
        commun, qui sont à repenser dans ce nouvel état d’esprit.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Il faut bien admettre, en préalable, que nous ne savons pas exactement où nos pensées et nos
        recherches nous mèneront. Nous savons en revanche où nous ne voulons pas aller et n’entendons pas,
        face à de tels enjeux, nous retrancher derrière une illusoire neutralité axiologique du savant. Les
        temps sont fortement incertains, il va nous falloir expérimenter2 pour passer de l’adaptation avec
        laquelle nous avons démarré cet écrit à la transformation3 que nous souhaitons à la fois stimuler,
        accompagner et incarner. Les raisons d’y croire ne manquent pas. Les points d’appui sont nombreux dans
        l’héritage scientifique, social, politique, et culturel qui nous revient. La confiance qu’une large
        part de la jeunesse manifeste à notre égard est le signe que l’enseignement et la formation sont
        propices à un renouveau des contenus et méthodes, qui auront inévitablement un profond effet à
        moyenne échéance.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        La sortie du confinement et les leçons qui devront être tirées de l’actuelle crise sanitaire liée
        au Covid-19 - en particulier pour ce qui est de réaliser toute l’importance du lien à l’autre et
        de la solidarité - le rendu des propositions de la Convention Citoyenne pour le Climat, la forte
        mobilisation contre la nouvelle loi de programmation pluriannuelle de la recherche cet hiver 2020,
        font des mois à venir une fenêtre d’opportunité possiblement unique pour intensifier réflexions et
        actions dans les trois dimensions esquissées ci-dessus. Conscient·e·s des enjeux, nous nous y
        engageons.
      </div>
    </su-service>
    <br/>
    <su-service :icon="'pencil'">
      <template #title>
        Signataires
      </template>
      O. Ragueneau, X. Capet, V. Guillet, T. BenAri, O. Berné, O. Aumont, G. Guimbretière, E. Lhoste, X. Anglaret, Camille Noûs.
      <br />
      <br />
      O. Ragueneau, Sciences de la Soutenabilité, Laboratoire des Sciences de l’Environnement marin, Université de Brest, membre du collectif Labo1point5
      <br />
      X. Capet, Laboratoire d’océanographie et de climat (LOCEAN), Sorbonne Université, membre du collectif Labo1point5
      <br />
      V. Guillet, Institut d’Astrophysique Spatiale, Université Paris-Saclay, membre du collectif Labo1point5
      <br />
      T. Ben Ari, Centre international de recherche sur l'environnement et le développement (CIRED), coordinatrice du collectif Labo1point5
      <br />
      O. Berné, Institut de Recherches en astrophysique et planétologie, Université de Toulouse, coordinateur du collectif Labo1point5
      <br />
      O. Aumont, Laboratoire d’océanographie et de climat (LOCEAN), Sorbonne Université, membre du collectif Labo1point5
      <br />
      G. Guimbretière, Laboratoire de l’Atmosphère et des Cyclones, Université de la Réunion, membre du collectif Labo 1point5
      <br />
      E. F. Lhoste, Laboratoire interdisciplinaire sciences, innovations, sociétés, Université Gustave Eiffel, membre du collectif Labo1point5
      <br />
      X. Anglaret, Centre INSERM 1219, Université de Bordeaux, membre du collectif Labo1point5
      <br />
      C. Noûs, membre du laboratoire Cogitamus et du collectif Labo1point5
    </su-service>
  </div>
</template>

<script>
import SUService from '@/components/SUService.vue'

export default {
  name: 'TransitionLPPR',
  components: {
    'su-service': SUService
  }
}
</script>
