<template>
  <div class="container">
    <su-service :icon="'quote-left'">
      <template #title>
        Après la crise, réduire la production, la compétition et l’empreinte environnementale
      </template>
      Ce texte a été publié dans les pages Chronique «le fil vert» du journal <a target="_blank" class="link" href="https://www.liberation.fr/terre/2020/06/26/des-propositions-pour-une-reforme-environnementale-de-la-recherche_1791411">Libération</a> [26 juin 2020].
      <br />
      <a class='link' target='_blank' href='/static/textes/Labos1point5_TransitionLPPR.pdf'>Télécharger</a> le texte.
      <br />
      <br />
      La crise de la Covid-19 et celle de l’urgence climatique ont en commun le fait qu’elles révèlent
      les limites d’un modèle de société fondé sur la com-pétition et les objectifs de production.
      Ce constat appelle à la construction d’un projet alternatif de société impliquant tous les secteurs.
      Dans cette entreprise,  le  monde  académique  (enseignement  supérieur  et  recherche) doit jouer
      un rôle d’éclaireur, d’une part en produisant et transmettant les connaissances permettant de décrire
      le monde et les crises qu’il traverse, d’autre part en opérant une transition pour réduire l’empreinte
      de ses ac-tivités sur le climat et l’environnement. Le monde académique dispose de libertés qui lui
      permettent d’engager cette transformation sans attendre, en se réappropriant collectivement les
      institutions et leur fonctionnement. C’est ce que nous invitons la communauté à faire.
      <br />
      <br />
      <strong>Constat et hypothèse</strong>
      <div style='padding-top:7px; text-indent: 30px;'>
        Le constat général documenté par les pouvoirs publics et partagé par une grande partie de la
        communauté de l’enseignement supérieur et de la recherche, représentée au sein des collectifs et
        des syndicats, est celui d’un secteur touché par :
      </div>
      <div style='padding-top:7px'>
        <ul style="list-style-type:square;margin-left:25px">
          <li>Une augmentation générale de la charge bureaucratique ;</li>
          <li>Un assèchement des ressources propres dans les laboratoires et les établissements d’enseignement supérieur ;</li>
          <li>Une diminution des personnels et postes permanents dans tous les corps de métier ;</li>
          <li>Une augmentation du nombre de personnels contractuels et de la précarité ;</li>
          <li>Le sentiment de ne plus être en mesure d’assurer correctement les missions premières du secteur, voire une perte de sens.</li>
        </ul>
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Ces évolutions résultent d’une tendance internationale, soutenue par les pouvoirs publics français et
        européens, qui associe objectifs de production scientifique et d’excellence académique,
        internationali-sation et mise en compétition des personnels et des établissements de recherche et
        d’enseignement supé-rieur. Cette mise en compétition est organisée par le biais de financements
        attribués par appels à projets (via l’agence nationale de la recherche pour les scientifiques, et
        via les initiatives d’excellence pour les établissements, par ex.). Elle est adossée à une évaluation
        gestionnaire des personnes et établissements, basée sur le nombre de publications, de brevets,
        d’interventions en conférences, d’étudiants étrangers, de financements obtenus, ainsi que sur les
        classements internationaux (type Shanghai) qui reposent sur ces indicateurs. Cette évaluation
        quantitative contribue à déconnecter le monde académique de ses objectifs: on ne cherche plus à
        produire et transmettre des connaissances mais à publier à tout prix, à être bien placé dans le
        classement de Shanghai, à obtenir un financement, etc.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Cette organisation alliant objectifs quantitatifs et compétition est actuellement le modèle
        dominant au niveau international. Nous formulons l’hypothèse qu’il y a un lien direct entre ce
        mode de fonctionne-ment et l’empreinte environnementale de la recherche et de l’enseignement
        supérieur, en particulier son empreinte carbone, autrement dit que ce mode d’organisation
        productiviste et compétitif se traduit par une utilisation intensive des ressources naturelles.
        Nous ajoutons que ce fonctionnement contribue à un malaise général au sein de la communauté car
        ses membres se sentent déconnectés des buts originels de l’enseignement et de la recherche d’une
        part, et en contradiction avec les enjeux climatiques d’autre part.
      </div>
      <div style='padding-top:7px; text-indent: 30px;'>
        Pour ces raisons, nous pensons qu’il faut orienter le secteur vers une sortie de ce modèle, et
        nous pensons que c’est aux personnels du monde académique eux-mêmes, appuyés par d’autres
        composantes de la société civile, que revient la tâche de cette réorientation.
      </div>
      <br />
      <strong>Réappropriation</strong>
      <div style='padding-top:7px; text-indent: 30px;'>
        Sortir du modèle décrit ci-dessus implique des transformations profondes s’inscrivant dans une
        re-définition plus large du fonctionnement de la société. Néanmoins, nous disposons au sein de
        notre secteur d’une certaine liberté, ce qui est unique et peut nous permettre dans le contexte
        décrit ci-dessus d’œuvrer collectivement à une réappropriation des institutions et de leurs
        fonctionnements, dans le but de diminuer la mise en compétition, l’évaluation quantitative et
        l’empreinte environnementale du monde académique. Pour ce faire, nous invitons les membres de la
        communauté à :
      </div>
      <div style='padding-top:7px'>
        <ul style="list-style-type:square;margin-left:25px">
          <li>
            Contribuer à la caractérisation et à la quantification de l’empreinte environnementale de
            la re-cherche, avec le soutien de Labos 1point5, dans les laboratoires. Dans un deuxième temps,
            identifier des trajectoires de réduction compatibles avec les engagements nationaux ;
          </li>
          <li>
            Contribuer localement à faire vivre une vision alternative de la recherche, plus sobre, plus
            collaborative et moins compétitive. Les débats peuvent être engagés en parallèle à la mesure de
            l’empreinte du laboratoire, comme cela a déjà été expérimenté dans plusieurs laboratoires ;
          </li>
          <li>
            Engager, avec les acteurs locaux, des recherches transdisciplinaires dédiées à la transition
            socio-écologique (sciences de la soutenabilité), en particulier à l’échelle des territoires
            sur lesquels une forte demande d’accompagnement scientifique émerge sur les questions d’adaptation
            au changement clima-tique, par exemple en contribuant aux recherches participatives et citoyennes
            (c’est-à-dire conduites avec/par des organisations du tiers-secteur de la recherche) ;
          </li>
          <li>
            S’opposer aux réformes qui viseraient à augmenter la compétition, la production et ainsi l’empreinte
            environnementale de la recherche, en collaboration avec les collectifs, sociétés savantes, syndicats
            et acteurs de l’enseignement supérieur et de la recherche mobilisés sur ces questions ;
          </li>
          <li>
            S’opposer collectivement à toutes les formes d’évaluation quantitatives (h-index, nombre de
            publications, nombre de conférences invitées, etc.) ;
          </li>
          <li>
            Soutenir les modes de publication à but non lucratif, en accès libre, et contribuer à une
            réappropriation de l’édition scientifique par la communauté.
          </li>
        </ul>
      </div>
    </su-service>
    <br/>
    <su-service :icon="'pencil'">
      <template #title>
        Collectif <em>Labos 1point5</em>
      </template>
    </su-service>
  </div>
</template>

<script>
import SUService from '@/components/SUService.vue'

export default {
  name: 'TransitionLPPR',
  components: {
    'su-service': SUService
  }
}
</script>
