<i18n>
{
  "fr": {
    "the-decypherings": "Les décryptages",
    "commutes-simulator": "Le simulateur domicile-travail",
    "travels-simulator": "Le simulateur missions",
    "ghg-applications": "Applications"
  },
  "en": {
    "the-decypherings": "The decypherings",
    "commutes-simulator": "Commutes simulator",
    "travels-simulator": "Travels simulator",
    "ghg-applications": "Applications"
  }
}
</i18n>

<template>
  <section class="hero mb-20"
    :class="(home)?'has-bg-img-home':'has-bg-img'"
    :style="(home)?'min-height:575px':''"
  >
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar is-fresh">
        <div class="container">
          <div class="navbar-brand">
            <router-link class="navbar-item" to="/">
              <img
                src="../assets/labos1p5_logo_white.png"
                alt=""
              />
            </router-link>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbar-menu" class="navbar-menu is-static">
            <div class="navbar-end">
              <div class="navbar-item has-dropdown">
                <router-link class="navbar-link" to="/">
                  <b-icon icon="home" type="is-white" size="is-small"></b-icon>
                </router-link>
              </div>
              <div class="navbar-item has-dropdown">
                <a class="navbar-link">
                  Collectif
                </a>
                <div class="navbar-dropdown">
                  <router-link class="navbar-item" to="/le-gdr">Le Groupement De Recherche</router-link>
                  <router-link class="navbar-item" to="/reflexion">L'équipe réflexion</router-link>
                </div>
              </div>
              <div class="navbar-item has-dropdown">
                <a class="navbar-link">
                  Recherches
                </a>
                <div class="navbar-dropdown">
                  <router-link class="navbar-item" to="/nos-objectifs">Nos objectifs</router-link>
                </div>
              </div>
              <div class="navbar-item has-dropdown">
                <a class="navbar-link">
                  Vidéos
                </a>
                <div class="navbar-dropdown">
                  <router-link class="navbar-item" to="/les-seminaires">Les séminaires</router-link>
                  <router-link class="navbar-item" to="/l-enseignement">L’enseignement</router-link>
                </div>
              </div>
              <div class="navbar-item has-dropdown">
                <a class="navbar-link">
                  Outils
                </a>
                <div class="navbar-dropdown">
                  <router-link class="navbar-item" to="/ges-1point5">GES 1point5</router-link>
                  <router-link class="navbar-item" to="/commutes-simulator">{{ $t('commutes-simulator') }}</router-link>
                  <router-link class="navbar-item" to="/travels-simulator">{{ $t('travels-simulator') }}</router-link>
                </div>
              </div>
              <div class="navbar-item has-dropdown">
                <a class="navbar-link">
                  Ressources
                </a>
                <div class="navbar-dropdown">
                  <router-link class="navbar-item" to="/les-enquetes">Nos enquêtes</router-link>
                  <!--<router-link class="navbar-item" to="/les-infographies">Les infographies</router-link>-->
                  <router-link class="navbar-item" to="/les-decryptages">{{ $t('the-decypherings') }}</router-link>
                  <router-link class="navbar-item" to="/la-litterature">La littérature</router-link>
                  <router-link class="navbar-item" to="/les-initiatives">Les initiatives</router-link>
                </div>
              </div>
              <div class="navbar-item has-dropdown">
                <a class="navbar-link">
                  Actualités
                </a>
                <div class="navbar-dropdown">
                  <router-link class="navbar-item" to="/on-parle-de-nous">On parle de nous</router-link>
                  <router-link class="navbar-item" to="/info-news">Nos Infos & News</router-link>
                </div>
              </div>
              <div class="logbox">
                <a v-if="!isAuthenticated" @click="displayUserMenu()">
                  <b-icon icon="user-o"></b-icon>
                </a>
                <a v-else>
                  <b-icon icon="bars"></b-icon>
                </a>
                <div class="logbox-dropdown" v-if="isAuthenticated">
                  <b-icon icon="barrrs"></b-icon>
                  <ul>
                    <li v-if="isSuperUser">
                      <div class="logbox-ico">
                        <div class="logbox-label">Administration</div>
                        <router-link to="/administration/ges-1point5-admin">
                          <b-icon icon="cogs"></b-icon>
                        </router-link>
                      </div>
                    </li>
                    <li>
                      <div class="logbox-ico">
                        <div class="logbox-label">Mon compte</div>
                        <router-link to="/administration/my-account">
                          <b-icon icon="user"></b-icon>
                        </router-link>
                      </div>
                    </li>
                    <li>
                      <div class="logbox-ico">
                        <div class="logbox-label">Mon laboratoire</div>
                        <router-link to="/administration/my-laboratory">
                          <b-icon icon="flask"></b-icon>
                        </router-link>
                      </div>
                    </li>
                    <li>
                      <div class="logbox-ico">
                        <div class="logbox-label">Me déconnecter</div>
                        <a @click="logOut()">
                          <b-icon icon="sign-out"></b-icon>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <b-modal :active.sync="isAuthModalOpen" width="500px">
                <auth-modal/>
              </b-modal>
              <language-switcher class="navbar-item"/>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div v-if=home class="container has-text-centered">
        <h1 class="main-title">
          {{ titre }}
        </h1>
        <h2 class="main-subtitle">
          {{ soustitre }}
        </h2>
      </div>
    </div>
    <div style="display: flex;margin: auto;z-index:10">
      <div v-if=!home class="subpage-title1">
        <img class="subpage-img" src="../assets/LogoRond_BlancPourEcran.png">
      </div>
      <div v-if=!home  class="subpage-title2">
        <div  class="subpage-title3">
          {{ titre }}
        </div>
      </div>
    </div>
    <!--Waves Container-->
    <div v-if=home>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <div v-else style="margin-top:-35px">
      <svg class="waves2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g>
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!--Waves end-->
  </section>
</template>

<script>
import LanguageSwitcher from '@/layout/LanguageSwitcher.vue'
import AuthModal from '@/layout/AuthModal.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'MainNavbar',
  components: {
    'language-switcher': LanguageSwitcher,
    'auth-modal': AuthModal
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    isAuthModalOpen: {
      get: function () {
        return this.$store.getters['authentication/isAuthModalOpen']
      },
      set: function (value) {
        this.$store.dispatch('authentication/closeAuthModal')
      }
    },
    isSuperUser: function () {
      return this.$store.getters['user/isSuperUser']
    },
    titre: function () {
      if (this.$i18n.locale === 'en' && this.$route.meta.titreEN) {
        return (this.$route.meta.titreEN)
      } else if (this.$i18n.locale === 'es' && this.$route.meta.titreES) {
        return (this.$route.meta.titreES)
      } else {
        if (this.$route.name === 'ges-1point5-id' && this.$store.getters['boundaries/bgesAnnee']) {
          return (this.$route.meta.titreFR + ' - BGES ' + this.$store.getters['boundaries/bgesAnnee'])
        } else {
          return (this.$route.meta.titreFR)
        }
      }
    },
    soustitre: function () {
      if (this.$i18n.locale === 'en' && this.$route.meta.soustitreEN) {
        return (this.$route.meta.soustitreEN)
      } else if (this.$i18n.locale === 'es' && this.$route.meta.soustitreES) {
        return (this.$route.meta.soustitreES)
      } else {
        return (this.$route.meta.soustitreFR)
      }
    },
    home: function () {
      if (this.$route.meta.home) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    displayUserMenu () {
      if (!this.isAuthenticated) {
        this.$store.dispatch('authentication/openAuthModal')
      }
    },
    logOut () {
      this.$store.dispatch('authentication/authLogout')
        .then(() => {
          this.$router.push('/').catch(() => {})
        })
    }
  },
  mounted () {
    if (this.isAuthenticated) {
      this.$store.dispatch('user/isSuperUser')
    }
  }
}
</script>
